@media (max-width: 1240px) {
    .cards__menu {
        display: none;
    }

    .cards__main-box {
        grid-template-columns: 50% 50%;
    }

    .cards__grid {
        grid-template-columns: 1fr 1fr;
    }

    .cards__main-box {
        display: unset;
    }
}

@media (max-width: 978px) {
    .cards__grid {
        grid-template-columns: 100%;
    }


}

@media (max-width: 768px) {
    .header {
        background-image: url(../img/header-bg-small.png);
        background-size: unset;
        padding-top: 228px;
    }
    .header::after {
        top: -212px;
    }
}

@media (max-width: 576px) {
    .header__search-block {
        padding: 24px 20px;
    }

    .header__flexbox {
        flex-direction: column;
    }

    .header::after {
        top: -215px;
    }

    .header__input {
        display: none;
    }

    .header__input-576 {
        display: block;
        margin-bottom: 8px;
    }

    .header__input-576::placeholder {
        font-size: 14px;
    }

    .header__text {
        display: none;
    }

    .header__btn {
        justify-content: center;
        font-size: 14px;
    }

    .header__btn-additionally {
        font-size: 14px;
        text-align: center;
    }

    .cards {
        padding-top: 16px;
    }

    .cards__add-new {
        font-size: 14px;
    }

    .cards__count {
        font-size: 14px;
    }

    .cards__filter {
        font-size: 14px;
    }

    .cards__btn {
        font-size: 12px;
    }

    .cards__title {
        font-size: 16px;
    }

    .cards__item-name,
    .cards__item-value {
        font-size: 12px;
    }

    .cards__item:not(:first-child) {
        padding-left: 12px;
    }

    .cards__item:not(:last-child) {
        padding-right: 35px;
    }

    .green-btn {
        font-size: 14px;
        padding: 8px 32px;
    }

    .cards__price {
        font-size: 16px;
    }

    .cards__grid {
        gap: 14px;
        margin-bottom: 14px;
    }

    .cards__more-btn {
        justify-content: center;
        width: 100%;
    }
}