@media (max-width: 1240px) {
    .instruction__main-flexbox {
        flex-wrap: wrap;
        gap: 32px;
    }
    .instruction__card-blocks {
        justify-content: unset;
        gap: 30px;
    }
    .instruction__main-flexbox {
        justify-content: unset;
    }
    .instruction__flexbox_basis-3 {
        flex-basis: 652px;
    }

}

@media (max-width: 681px) {
    .container {
        padding: 0 30px;
    }
.instruction__flexbox_basis-1 {
    flex-basis: unset;
}
.instruction__flexbox_basis-2 {
    flex-basis: unset;
}
.instruction__flexbox_basis-3 {
    flex-basis: unset;
}   
.instruction__card-blocks {
    flex-direction: column;
}
.instruction__card-block-list {
    border: 1px solid #CFD3D9;
    border-radius: 8px;
    padding: 16px;
}
.instruction__card_padding-576 {
    padding: 32px;
}
.instruction__input {
    max-width: unset;
}
.instruction__form-btn {
    max-width: unset;
}
.instruction__card {
    min-width: unset;
}
}

@media (max-width: 400px) {
    .container {
        padding: 0 15px;
    }
    .instruction__card {
        padding: 16px;
        width: 100%;
    }
    .instruction__card_padding {
        padding: 16px 16px 0;
    }
    .instruction__card_padding-576 {
        padding: 16px;
    }
}
