@media (max-width: 1240px) {
    .instruction__main-flexbox {
        flex-wrap: wrap;
        gap: 20px;
    }
    .instruction__card-blocks {
        justify-content: unset;
        gap: 30px;
    }
    .instruction__main-flexbox {
        justify-content: unset;
    }
    .instruction__flexbox_basis-3 {
        flex-basis: 641px;
    }

}

@media (max-width: 669px) {
.instruction__flexbox_basis-1 {
    flex-basis: 318px;
}
.instruction__flexbox_basis-2 {
    flex-basis: 318px;
}
.instruction__flexbox_basis-3 {
    flex-basis: 318px;
}   
.instruction__card-blocks {
    flex-direction: column;
}
.instruction__card-block-list {
    border: 1px solid #CFD3D9;
    border-radius: 8px;
    padding: 16px;
}
.instruction__card_padding-576 {
    padding: 32px;
}
.instruction__input {
    max-width: unset;
}
.instruction__form-btn {
    max-width: unset;
}
}
