html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.instruction {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ECF0F4;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1186px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.instruction {
  padding: 72px 0;
}

.instruction__descr {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #1F4977;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.instruction__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  color: #111111;
  margin-bottom: 40px;
}

.instruction__main-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.instruction__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instruction__flexbox_basis-1 {
  -ms-flex-preferred-size: 302px;
      flex-basis: 302px;
}

.instruction__flexbox_basis-2 {
  -ms-flex-preferred-size: 318px;
      flex-basis: 318px;
}

.instruction__flexbox_basis-3 {
  -ms-flex-preferred-size: 472px;
      flex-basis: 472px;
}

.instruction__card {
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
  min-width: 302px;
}

.instruction__card_padding {
  padding: 32px 32px 0;
}

.instruction__card-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 12px;
  color: #111111;
}

.instruction__card-title_mb {
  margin-bottom: 24px;
}

.instruction__card-title span {
  background-color: #1F4977;
  padding: 2px 8px;
  border-radius: 100px;
  color: #FFFFFF;
  margin-right: 10px;
}

.instruction__card-text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 24px;
  color: #CFD3D9;
}

.instruction__card-text span {
  margin-top: 15px;
  display: block;
}

.instruction__btn {
  padding: 7px 0;
  max-width: 142px;
  width: 100%;
  background-color: #ECF0F4;
  color: #1F4977;
  border-radius: 6px;
  position: relative;
  margin-bottom: 12px;
}

.instruction__btn::before {
  content: "";
  background-image: url(../img/pointinghand.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 17px;
  right: -8px;
  top: 9px;
}

.instruction__btn::after {
  content: "";
  position: absolute;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  width: 43px;
  height: 28px;
  right: -65px;
  top: 10px;
  margin-left: 14px;
}

.instruction__card-down {
  padding: 16px;
  border: 1px solid #CFD3D9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
}

.instruction__text {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #111111;
  margin-bottom: 12px;
}

.instruction__text-inside_padding {
  display: block;
  padding: 7px;
  border: 1px solid #CFD3D9;
  max-width: 163px;
  width: 100%;
}

.instruction__text-inside {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.instruction__card-list {
  padding: 16px 16px 0;
  border: 1px solid #CFD3D9;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  position: relative;
}

.instruction__card-item_abs {
  position: absolute;
  max-width: 20px;
  top: 16px;
  right: 16px;
}

.instruction__list-third-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.instruction__letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #CFD3D9;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instruction__letter_bg {
  background-color: #ECF0F4;
  color: #1F4977;
  position: relative;
}

.instruction__letter_bg::after {
  content: "";
  background-image: url(../img/pointinghand.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 17px;
  right: -8px;
  bottom: -8px;
}

.instruction__item-third-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.instruction__card-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instruction__card-block-list {
  padding: 16px 16px 0;
  border: 1px solid #CFD3D9;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.instruction__card-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instruction__text-inside_color {
  color: #CFD3D9;
}

.instruction__text-inside_border {
  background-color: #CFD3D9;
  min-width: 24px;
  min-height: 16px;
  text-align: center;
}

.instruction__card-text_mb {
  margin-bottom: 12px;
}

.instruction__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.instruction__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #CFD3D9;
}

.instruction__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #CFD3D9;
}

.instruction__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #CFD3D9;
}

.instruction__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #CFD3D9;
}

.instruction__input {
  max-width: 198px;
  width: 100%;
  height: 32px;
  padding-left: 12px;
  border: 1px solid #CFD3D9;
}

.instruction__form-btn {
  padding: 7px 0;
  max-width: 198px;
  width: 100%;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #1F4977;
  position: relative;
}

.instruction__form-btn::before {
  content: "";
  background-image: url(../img/pointinghand.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 17px;
  right: 18px;
  bottom: -8px;
}
/*# sourceMappingURL=style.css.map */