/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 380px) {
	.logo .logo-img {
		width: 120px;
		max-width: 100%;
	}
	.head-icon img {
		width: 100px;
		margin: 10px 0;
	}
	.header .head-logo img {
		/*height: 42px;
		width: 108px;*/
		margin-top: 10px;
	}
	.slogan {
		font-size: 16px;
	}
	.head-icon {
		text-align: right;
		padding-top: 5px;
	}
	.head-icon .trust img {
		width: 18px;
		margin: 0 0 0 5px;
	}
	.head-icon .trust span {
		font-size: 12px;
	}
	.head-icon .fast img {
		width: 18px;
		margin: 0 0 0 5px;
	}		
	.head-icon .fast span {
		font-size: 12px;
	}
	.rating-text {
		font-size: 8px;
	}
	.star {
		width: 75px;
		max-width: 100%;
	}	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 451px) {
	.benefits .data a {
		width: 100%;
		display: block;
	}
	.benefits .data h3 {
		font-size: 20px;
	}
}
@media only screen and (max-width : 380px) {
	.benefits .data h3 {
		font-size: 18px;
	}
	
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 360px) and (max-width : 480px) {
	.logo .logo-link .logo-img {
		width: 120px;
		max-width: 100%;
	}
	.block-logo .ld-icons {
		margin: 0;
	}
	.star {
		width: 75px;
	}
	.rating-text {
		font-size: 8px;
	}
	/* .container .popup__failure  {
		background-image: url(../img/123.png);
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 300px;
		height: 100%;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} */
	.popup {
		background-color: transparent;
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.my-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/13.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	max-width: 600px;
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container .popup__failure-title {
	text-align: center;
}
.container .popup__failure-text {
	text-align: center;
}
.container .popup__failure-button {
	text-align: center;
}
.popup {
	display: none;
}
.popup--show {
	display: block;
}
.container .popup__success-title {
	display: block;
}
.container .popup__success-button {
	text-align: center;
}
.container .popup__success-main-text {
	font-size: 22px;
	max-width: 380px;
	line-height: 1.5;
	margin-bottom: 10px;
	position: relative;
	top: unset;
	text-align: center;
}
.container .popup__success-texts {
	margin-top: unset;
}
.container .popup__success-subtext {
	text-align: center;
}
.container .popup__success-button  {
	padding: 12px 0;
	font-size: 20px;
	max-width: 240px;
	width: 100%;
}
@media(max-width: 800px) {
	.popup {
		background-color: transparent;
	}
	.container .popup__failure {
        background-image: url(https://www.brazino-cdnsrv-cst.org/files/landing/167/_next/static/media/popup-fail.0baa11dc.avif);
        height: 500px;
		max-width: 90%;
		width: 100%;
        padding-top: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
	.container .popup__failure-title {
        margin-bottom: 30px;
        font-size: 25px;
        max-width: 420px;
        line-height: 1.3;
    }
	.container .popup__failure-text {
        margin-bottom: 30px;
        position: static;
        top: unset;
        color: #fff;
        font-size: 20px;
        max-width: 300px;
    }
	.container .popup__failure-button {
        width: 230px;
        font-size: 20px;
        padding: 16px;
        position: static;
        top: unset;
    }
	
	.container .popup__failure-title {
        font-size: 24px;
        text-align: center;
        max-width: 67%;
    }
	.container .popup__failure-text {
        font-size: 20px;
        text-align: center;
        max-width: 70%;
    }
	.container .popup__failure-button {
        max-width: 230px;
        width: 63%;
        font-size: 20px;
        padding: 12px 0;
        position: static;
        text-align: center;
    }
}

@media(max-width: 530px) {
	.container .popup__failure-title {
        margin-bottom: 30px;
        font-size: 16px;
        text-align: center;
        max-width: 67%;
        line-height: 1.3;
    }
	.container .popup__failure-text {
        margin-bottom: 30px;
        position: static;
        top: unset;
        color: #fff;
        font-size: 17px;
        text-align: center;
        max-width: 70%;
    }
	.container .popup__failure-button {
        max-width: 230px;
        width: 63%;
        font-size: 15px;
        padding: 12px 0;
        position: static;
        text-align: center;
    }
	.container .popup__success-title {
		font-size: 40px;
	}
	.container .popup__success-main-text {
		font-size: 16px;
	}
	.container .popup__success-button {
		font-size: 16px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.icons .data .mindep span {
		font-size: 24px;
	}
	.icons .data .license span img {
		width: 32px;
	}
	.star {
		width: 100px;
	}
	
}
@media only screen and (min-width : 576px) {
	.benefits .data h3 {
		font-size: 24px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.p-logos ul {
		width: 100%;
	}
	.p-logos .data {
		overflow: hidden;
	}
	.p-logos:before {
		content: "";
		display: none;
	}
	.p-logos:after {
		content: "";
		display: none;
	}
	.data ul.anime {
		-webkit-animation: none;
		animation: none;
	}
	ul.anime:hover {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
	}
	.pay1, .pay2 {
        position: absolute;
        width: 96px;
    }
	.pay1 {
		top: -20px;
		left: -20px;
	}
	.pay2 {
		top: -20px;
		right: -20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.h3, h3 {
		font-size: 2rem;
	}
	.block-info {
		display: inline;
	}
	.logo {
		min-height: 244px;
		flex-direction: column;
  		justify-content: space-between;
	}
	.logo .logo-link {
		min-height: 176px;
	}
	.logo .logo-link .logo-img {
		width: 150px;
        max-width: 100%;
	}
	.block-logo .ld-icons {
		display: none;
	}
	.ld-icons-desktop {
		display: block;
	}
	.ld-icons-desktop .mindep, .ld-icons-desktop .license {
		font-size: 12px;
    	text-transform: uppercase;
	}
	.ld-icons-desktop .license img {
		max-width: 48px !important;
		width: 48px !important;
	}
	.stars {
		margin-top: 10px;
	}
	.benefits .data img {
		width: 36px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.benefits .data a {
		width: 100%;
		display: block;
	}

	.benefits.cashback-alone .data img {
		width: 24px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.desk-title {
		margin-bottom: 12px !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.anime {
		animation: none;
	}
	.ld-icons-desktop .mindep span {
		font-size: 28px !important;
	}
	.benefits .data h3 {
		font-size: 28px;
	}
}