@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
  position: relative;
  scrollbar-gutter: stable;
  background-color: #FFF;
}

dialog {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
  text-decoration: underline;
}

p {
  cursor: default;
  margin: 0;
}

span {
  cursor: default;
}

strong {
  cursor: default;
}

img {
  max-width: 100%;
}

li {
  cursor: default;
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  cursor: default;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1646px;
  padding: 0 70px;
  margin-right: auto;
  margin-left: auto;
}

.overflow {
  overflow: auto;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.white-block {
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
}
@media (max-width: 1024px) {
  .white-block {
    border: 1px solid #B8B7B7;
  }
}

.dd {
  position: relative;
}
.dd__list {
  background-color: #fff;
  display: none;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  right: 0;
  transform: translateX(calc(100% + 100px));
  top: -30px;
  gap: 50px;
  z-index: 2;
}
@media (max-width: 1240px) {
  .dd__list {
    transform: translateX(calc(100% + 30px));
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .dd__list {
    transform: unset;
    gap: 30px;
    top: calc(100% + 8px);
  }
}
.dd__link {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
@media (max-width: 1240px) {
  .dd__link {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .dd__link {
    font-size: 18px;
  }
}

.bread-crumbs {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.bread-crumbs a {
  border: none;
  padding-bottom: 0;
}

.pagination {
  position: absolute;
}
.pagination .swiper-pagination-bullet {
  border: 1px solid #FFFFFF;
  max-width: 150px;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  opacity: 1;
}
@media (max-width: 1024px) {
  .pagination .swiper-pagination-bullet {
    max-width: 60px;
  }
}
.pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left: 70px;
}
@media (max-width: 1240px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 35px;
  }
}
@media (max-width: 1240px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 30px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}
@media (max-width: 1240px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin: 0 15px 0 0;
}
@media (max-width: 1240px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 10px 0 0;
  }
}

.swiper-btns {
  max-width: 136px;
  width: 100%;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 33px;
}
@media (max-width: 576px) {
  .swiper-btns {
    max-width: 93px;
  }
}
.swiper-btns .swiper-btn {
  padding: 15px 20px;
}
@media (max-width: 576px) {
  .swiper-btns .swiper-btn {
    padding: 7px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-btns .swiper-btn svg {
    width: 9px;
    height: 16px;
  }
}

.link-icon path {
  transition: fill 0.25s ease;
}

.link-icon:hover path {
  fill: #000000;
}

.dd.active .dd__list {
  display: flex;
}

.link {
  transition: color 0.25s ease;
}

.link:hover {
  color: #EE7300 !important;
}

.tag-link {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
}

.underline-link {
  transition: color 0.25s ease, border-color 0.25s ease;
}

.underline-link:hover {
  color: #EE7300 !important;
  border-color: #EE7300 !important;
}

.underline-link-svg {
  display: flex;
}
.underline-link-svg span {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.25s ease;
}
@media (max-width: 576px) {
  .underline-link-svg span {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .underline-link-svg svg {
    width: 18px;
    height: 18px;
  }
}
.underline-link-svg svg g path {
  transition: stroke 0.25s ease;
}

.underline-link-svg:hover span {
  color: #EE7300;
}
.underline-link-svg:hover svg g path {
  stroke: #EE7300;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.orange-btn {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 12px 20px;
  width: 100%;
  background-color: #EE7300;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.orange-btn:hover {
  background-color: #000000;
}

.red span::before {
  background-color: #CC0029;
}

.green span::before {
  background-color: #00CC3A;
}

.yellow span::before {
  background-color: #FFFF00;
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
}

.content.open {
  grid-template-rows: 1fr;
}

.text-wrapper {
  min-height: 0;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 35px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 30px;
  }
}
.hero {
  position: relative;
}
.hero__texts {
  padding-top: 376px;
  position: relative;
  z-index: 2;
  padding-bottom: 140px;
}
@media (max-width: 1240px) {
  .hero__texts {
    padding-top: 150px;
  }
}
@media (max-width: 576px) {
  .hero__texts {
    padding-top: 123px;
  }
}
.hero .swiper-wrapper {
  box-sizing: border-box;
}
.hero-swiper__card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 960px;
}
@media (max-width: 1240px) {
  .hero-swiper__card {
    min-height: 770px;
  }
}
@media (max-width: 576px) {
  .hero-swiper__card {
    min-height: 635px;
  }
}
.hero__swiper-1 h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 72px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 6px;
}
@media (max-width: 1024px) {
  .hero__swiper-1 h2 {
    font-size: 52px;
  }
}
@media (max-width: 576px) {
  .hero__swiper-1 h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.hero__swiper-1 h2 span {
  color: #EE7300;
}
.hero__swiper-1 p {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
  max-width: 712px;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .hero__swiper-1 p {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .hero__swiper-1 p {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .hero__swiper-1 a svg {
    width: 48px;
    height: 48px;
  }
}
.hero__btns {
  position: absolute;
  z-index: 2;
  bottom: 82px;
  right: 75px;
}
@media (max-width: 1240px) {
  .hero__btns {
    right: 35px;
  }
}
@media (max-width: 576px) {
  .hero__btns {
    right: 30px;
    bottom: 40px;
  }
}
.hero .abs-container {
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
@media (max-width: 576px) {
  .hero .abs-container {
    bottom: 40px;
  }
}

.hero-2-swiper__card {
  position: relative;
  overflow: hidden;
  min-height: 960px;
  padding-top: 151px;
  padding-bottom: 184px;
}
.hero-2-swiper__card-bg {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position: center;
  z-index: 0;
  will-change: transform;
}
.hero-2-swiper__card .container {
  position: relative;
  z-index: 1;
}
@media (max-width: 1240px) {
  .hero-2-swiper__card {
    min-height: 770px;
  }
}
@media (max-width: 576px) {
  .hero-2-swiper__card {
    min-height: 635px;
    padding-top: 70px;
  }
}
.hero-2-swiper__card span {
  display: block;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
  padding-bottom: 17px;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .hero-2-swiper__card span {
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 70px;
  }
}
.hero-2-swiper__card h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 64px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
}
@media (max-width: 1024px) {
  .hero-2-swiper__card h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .hero-2-swiper__card h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .hero-2-swiper__card a svg {
    width: 48px;
    height: 48px;
  }
}
.hero-2 .swiper-wrapper {
  box-sizing: border-box;
}
.hero-2 .hero-2__top-texts {
  max-width: 1132px;
  margin-bottom: 125px;
  margin-left: auto;
}
@media (max-width: 576px) {
  .hero-2 .hero-2__top-texts {
    margin-bottom: 50px;
  }
}
.hero-2 .hero-2__flex {
  display: flex;
  align-items: flex-end;
  gap: 72px;
}
.hero-2 .hero-2__flex span {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-bottom: unset;
  border: unset;
}
@media (max-width: 576px) {
  .hero-2 .hero-2__flex span {
    display: none;
  }
}
.hero-2__btns {
  position: absolute;
  z-index: 2;
  bottom: 82px;
  right: 75px;
}
@media (max-width: 1240px) {
  .hero-2__btns {
    right: 35px;
  }
}
@media (max-width: 576px) {
  .hero-2__btns {
    right: 30px;
    bottom: 40px;
  }
}
.hero-2 .abs-container {
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
@media (max-width: 768px) {
  .hero-2 .abs-container {
    bottom: 40px;
  }
}

.news {
  padding-top: 98px;
  padding-bottom: 92px;
}
@media (max-width: 576px) {
  .news {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.news__flex {
  margin-bottom: 68px;
}
.news__flex h2 {
  font-size: 24px;
}
@media (max-width: 576px) {
  .news__flex {
    margin-bottom: 30px;
  }
}
.news__flex-2 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1024px) {
  .news__flex-2 {
    flex-direction: column;
  }
}
.news__block {
  max-width: 570px;
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .news__block {
    max-width: 100%;
    border-bottom: 1px solid #B8B7B7;
    padding-bottom: 30px;
  }
}
.news__block a {
  position: absolute;
  inset: 0;
}
.news__img {
  border-radius: 12px;
  width: 100%;
  height: 377px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .news__img {
    height: 229px;
    margin-bottom: 28px;
  }
}
.news__flex-3 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.news__flex-3 span {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  color: #000;
  line-height: 120%;
  letter-spacing: 0%;
}
@media (max-width: 576px) {
  .news__flex-3 span {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .news__flex-3 {
    gap: 20px;
    align-items: stretch;
  }
}
.news__date strong {
  display: block;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;
}
.news__texts h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  color: #000;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 6px;
  transition: color 0.25s ease;
}
@media (max-width: 576px) {
  .news__texts h3 {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .news__texts span {
    display: block;
    text-align: right;
    margin-top: auto;
  }
}
@media (max-width: 576px) {
  .news__texts {
    display: flex;
    flex-direction: column;
  }
}
.news__block:hover h3 {
  color: #EE7300;
}
.news .divider {
  width: 1px;
  height: auto;
  background-color: #B8B7B7;
}
.news__list {
  max-width: 573px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 1024px) {
  .news__list {
    max-width: 100%;
    gap: 30px;
  }
}
.news__item {
  padding-bottom: 48px;
  border-bottom: 1px solid #B8B7B7;
  position: relative;
}
@media (max-width: 1024px) {
  .news__item {
    padding-bottom: 30px;
  }
}
.news__item a {
  position: absolute;
  inset: 0;
}
.news__item:hover h3 {
  color: #EE7300;
}

.objects {
  padding-bottom: 95px;
}
@media (max-width: 576px) {
  .objects {
    padding-bottom: 30px;
  }
}
.objects__flex {
  margin-bottom: 47px;
}
@media (max-width: 576px) {
  .objects__flex {
    margin-bottom: 10px;
  }
}
.objects__flex h2 {
  font-size: 24px;
}
.objects .swiper-slide {
  max-width: 469px;
}
@media (max-width: 576px) {
  .objects .swiper-slide {
    max-width: 257px;
  }
}
.objects__card {
  position: relative;
}
.objects__card h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
  transition: color 0.25s ease;
}
@media (max-width: 576px) {
  .objects__card h3 {
    font-size: 16px;
  }
}
.objects__card span {
  display: flex;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 576px) {
  .objects__card span {
    font-size: 14px;
  }
}
.objects__card img {
  margin-top: 16px;
  border-radius: 12px;
  margin-bottom: 18px;
  max-width: 469px;
  width: 100%;
  height: 313px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 576px) {
  .objects__card img {
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 257px;
    height: 176px;
  }
}
.objects__card a {
  position: absolute;
  inset: 0;
}
.objects__card:hover h3 {
  color: #EE7300;
}
.objects .status {
  display: flex;
  align-items: stretch;
  gap: 11px;
}
.objects .status::before {
  content: "";
  display: block;
  width: 5px;
  height: auto;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto 0;
}

details, main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}
.footer {
  background-color: #000000;
  padding: 55px 0 28px;
}
@media (max-width: 576px) {
  .footer {
    padding: 55px 0 50px;
  }
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  gap: 30px 20px;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 576px) {
  .footer__grid {
    margin-bottom: 50px;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (max-width: 576px) {
  .footer__item {
    gap: 20px;
  }
}
.footer__title {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
}
@media (max-width: 576px) {
  .footer__title {
    font-size: 16px;
  }
}
.footer__link {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
}
@media (max-width: 576px) {
  .footer__link {
    font-size: 14px;
  }
}
.footer__copyright {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0%;
}
@media (max-width: 576px) {
  .footer__copyright {
    font-size: 14px;
  }
}
.header {
  padding: 14px 0;
  background-color: #000000;
  border-bottom: 1px solid #565555;
  position: relative;
}
.header__container {
  max-width: 1725px;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  flex-shrink: 0;
}
@media (max-width: 576px) {
  .header__logo {
    order: 1;
  }
}
.header__img {
  max-width: 104px;
  width: 100%;
  height: 67px;
}
@media (max-width: 576px) {
  .header__img {
    max-width: 69px;
    height: 44px;
  }
}
.header .menu {
  margin-left: auto;
  max-width: 552px;
  width: 100%;
}
@media (max-width: 1024px) {
  .header .menu {
    display: none;
  }
}
.header .menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  width: 100%;
}
.header .menu__link {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.header__form {
  position: relative;
  position: static;
  width: unset;
  padding-left: 100px;
}
@media (max-width: 1024px) {
  .header__form {
    padding-left: unset;
  }
}
@media (max-width: 576px) {
  .header__form {
    order: 2;
    margin-left: auto;
  }
}
.header__input {
  height: 46px;
  border-radius: 8px;
  text-decoration: unset;
  width: 0;
  padding: unset;
  border-color: transparent;
  z-index: 4;
  border-width: 0;
  position: absolute;
}
.header__input::-moz-placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  color: #B0B0B0;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__input::placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  color: #B0B0B0;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 1024px) {
  .header__input::-moz-placeholder {
    font-size: 12px;
  }
  .header__input::placeholder {
    font-size: 12px;
  }
}
.header__btn {
  position: static;
  transform: translateY(3px);
  height: 23px;
}
@media (max-width: 768px) {
  .header__btn svg {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 576px) {
  .header .menu__item-1293 .white-block {
    padding: 30px;
  }
}
.header .menu__item-hidden {
  display: none;
}
@media (max-width: 1024px) {
  .header .menu__item-hidden {
    display: block;
  }
}

.header.active::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #000;
  z-index: 2;
}

.active .header__input {
  width: 100%;
  padding-left: 15px;
  border-color: #D9D9D9;
  max-width: 1506px;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}
@media (max-width: 1240px) {
  .active .header__input {
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  .active .header__input {
    top: 17px;
  }
}
@media (max-width: 576px) {
  .active .header__input {
    top: 13px;
  }
}

.active .header__btn {
  opacity: 0;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  z-index: 5;
  right: 32px;
}
@media (max-width: 1024px) {
  .active .header__btn {
    opacity: 1;
  }
  .active .header__btn svg path {
    fill: #000;
  }
}
@media (max-width: 576px) {
  .active .header__btn {
    transform: translateY(-56%);
  }
}

.header__burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
  transform: translateY(1px);
}

.header__burger-btn-block {
  padding-right: 44px;
  margin-right: 46px;
  position: relative;
}
@media (max-width: 1240px) {
  .header__burger-btn-block {
    padding-right: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 1024px) {
  .header__burger-btn-block {
    padding-right: unset;
    margin-right: unset;
  }
}
@media (max-width: 576px) {
  .header__burger-btn-block {
    order: 3;
  }
}

.header__burger-btn-block::after {
  content: "";
  display: block;
  position: absolute;
  top: -27px;
  width: 1px;
  right: 0;
  height: 97px;
  background-color: #565555;
}
@media (max-width: 1024px) {
  .header__burger-btn-block::after {
    display: none;
  }
}

.header__burger-btn span {
  position: absolute;
  width: 39px;
  height: 3px;
  background-color: #FFFFFF;
  left: 5px;
  border-radius: 16px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
@media (max-width: 576px) {
  .header__burger-btn span {
    width: 21px;
    border-radius: 0;
    height: 2px;
  }
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
@media (max-width: 576px) {
  .header__burger-btn span:nth-child(1) {
    transform: translateY(-8px);
  }
}

.header__burger-btn span:nth-child(2) {
  max-width: 32px;
}
@media (max-width: 576px) {
  .header__burger-btn span:nth-child(2) {
    max-width: 21px;
  }
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
@media (max-width: 576px) {
  .header__burger-btn span:nth-child(3) {
    transform: translateY(8px);
  }
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header .header__burger-btn {
  display: block;
  z-index: 3;
}
.header .burger-menu {
  max-width: 100%;
  position: absolute;
  left: -100%;
  top: 100%;
  width: 100%;
  background-color: #fff;
  padding: 84px 20px 280px 20px;
  transition: transform 0.5s;
  z-index: 2;
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 1240px) {
  .header .burger-menu .container {
    padding: 0px;
  }
}
@media (max-width: 1240px) {
  .header .burger-menu {
    padding: 30px;
  }
}
.header .burger-menu .menu__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 1240px) {
  .header .burger-menu .menu__list {
    gap: 30px;
  }
}
.header .burger-menu .menu__item {
  max-width: 506px;
  width: 100%;
}
.header .burger-menu .menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 1240px) {
  .header .burger-menu .menu__link {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .header .burger-menu .menu__link {
    font-size: 18px;
  }
}

.header.open .burger-menu {
  transform: translateX(100%);
}