@media (max-width: 1024px) {
  .burger-menu {
    display: block;
}
.header__list-1 {
  display: none;
}
.header__img {
  display: none;
}
.header-1024 {
  display: block;
}
.header__nav {
  justify-content: space-between;
}
  #menu__toggle {
    opacity: 0;
    display: none
}

#menu__toggle:checked~.menu-btn>span {
    transform: rotate(45deg)
}

#menu__toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
    width: 25px
}

#menu__toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
    width: 25px
}

#menu__toggle:checked~.menu-box {
    visibility: visible;
    left: .1px;
    z-index: 2
}

#menu__toggle:checked body {
    overflow: hidden
}

.menu-btn {
    display: flex;
    position: absolute;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 3;
    margin-top: -10px;
}

.menu-btn>span, .menu-btn>span::after, .menu-btn>span::before {
    display: block;
    position: absolute;
    background-color: #AE237C;
    transition-duration: .25s;
    border-radius: 4px
}

.menu-btn>span {
    width: 24px;
    height: 3px
}

.burger-menu-576 {
    display: none
}

.menu-btn>span::before {
    content: "";
    top: -11px;
    width: 24px;
    height: 3px
}

.menu-btn>span::after {
    content: "";
    top: 11px;
    width: 24px;
    height: 3px
}

.menu-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    top: 106px;
    left: -100%;
    width: 100%;
    height: 326px;
    margin: 0;
    padding: 10px 70px 0;
    list-style: none;
    background: #fff;
    transition-duration: .25s;
    z-index: 1;
    border-top: 1px solid #d9d9d9
}

.header__list-2 {
  flex-wrap: wrap;
}

}

@media (max-width: 870px) {
  .mb-80 {
    margin-bottom: 40px;
  }
  .mb-160 {
    margin-bottom: 80px;
  }
  .main-title {
    font-size: 28px;
    line-height: 100%;
  }
  .mb-60 {
    margin-bottom: 30px;
  }
  .black-text {
    font-size: 24px;
    line-height: 100%;
  }
  .black-text span {
    font-size: 24px;
    line-height: 100%;
  }
  .grey-text {
    font-size: 20px;
    line-height: 100%;
  }
  .mt-73 {
    margin-top: 35px;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 35px;
  }
  .purple-text {
    font-size: 26px;
    line-height: 100%;
  }
  .list-item {
    font-size: 20px;
    line-height: 100%;
  } 
  .list-item span {
    font-size: 20px;
    line-height: 100%;
  }
  .big-text {
    font-size: 26px;
    line-height: 100%;
  }
  .button {
    font-size: 24px;
    line-height: 100%;
    padding: 12px;
  }
  .empty-btn {
    font-size: 24px;
    line-height: 100%;
    padding: 12px;
  }
  .black-bold-text {
    font-size: 26px;
    line-height: 100%;
  }
}

@media (max-width: 576px) {
  .swiper-slide img {
    max-width: 80%;
  }
  .slides-text {
    font-size: 20px;
    line-height: 100%;
  }
  .swiper-buttons svg {
    width: 20px;
  }
  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
  .play-btn {
    display: none;
  }
  .mb-160 {
    margin-bottom: 40px;
  }
}