@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Manrope';
    background-color: #FFFFFF;
    color: #022A53;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 1520px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-100 {
    max-width: 1342px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    &__container {
        padding: 18px 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        gap: 20px;
    }
    &__link {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__btn {
        padding: 15px 0;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 206px;
        width: 100%;
        background-color: #F2A436;
        border-radius: 22px;
    }
    &__tel-block {
        display: flex;
        flex-direction: column;

    }
    &__tel {
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    &__tel-text {
        color: #286DAC;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    &__burger-btn {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
        z-index: 2;
        background: #022A53;
        border-radius: 100px;
        padding: 15px;
        
    }
    &__burger-btn span {
        position: absolute;
        width: 23px;
        height: 3px;
        background-color: #fff;
        left: 11px;
        top: 20px;
        transition: transform .5s, opacity .5s, background-color .5s;
    }
    
    &__burger-btn span:nth-child(1) {
        transform: translateY(-10px);
    }
    
    &__burger-btn span:nth-child(3) {
        transform: translateY(10px);
    }
    
    &.open &__burger-btn span {
        background-color: white;
    }
    
    &.open &__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    
    &.open &__burger-btn span:nth-child(2) {
        opacity: 0;
    }
    
    &.open &__burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
}


.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 16px;
}

.header__burger-btn {
    display: block;
}
.menu {
    position: absolute;
    left: -100%;
    top: 85px;
    width: 100%;
    background-color: #2A3844;
    height: 100dvh;
    padding: 97px 20px 20px 20px;
    transition: transform .5s;
    
    &__container {
        max-width: 914px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__up {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        padding: 12px 0;
        max-width: 260px;
        width: 100%;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 22px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 86px;
    }
    &__item {
        color:#F2A436;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 88.889% */
    }
    &__link {
        color: #D4D3D6;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
    }
    &__text {
        display: block;
        color: #D4D3D6;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border-bottom: 2px solid #5C5B5E;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    &__text-2 {
        color: #D4D3D6;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-bottom: 20px;
    }
    &__text-3 {
        display: block;
        color: #FFF;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
border-bottom: 2px solid #5C5B5E;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    &__text-4 {
        color: #D4D3D6;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    &__tel {
        display: block;
        color: #D4D3D6;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-bottom: 20px;
    }
    &__item:first-child {
        margin-bottom: 20px;
    }
    &__down {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-between;
        gap: 10px;
    }
    &__list-1 { grid-area: 1 / 1 / 3 / 2; }
    &__list-2 { grid-area: 1 / 2 / 2 / 3; }
    &__list-3 { grid-area: 1 / 3 / 4 / 4; }
    &__list-4 { grid-area: 3 / 1 / 4 / 2; }
    &__list-5 { grid-area: 2 / 2 / 3 / 3; }
    &__list-6 { grid-area: 3 / 2 / 4 / 3; }
}

.hero {    



    &__abs {
        position: absolute;
        top: 0;
        z-index: -1;
        min-height: 750px;
    }
    &__swiper {
        overflow: hidden;
        max-width: 1520px;
    }
    &__slide {

        background-image: url(../img/hero.png);
        background-repeat: no-repeat;
        width: 100%;
        max-width: 1520px;
    }
    &__block {
        padding: 464px 0 116px;
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        align-items: center;
        gap: 40px;
    }
    &__text {
        color: #FFF;
        text-align: right;
        font-family: Manrope;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 104.167% */
    }
    &__round {
        justify-content: center;
    background-color: #F2A436;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    border-radius: 100px;
    /* padding: 60px 27px; */
    max-width: 220px;
    min-height: 220px;
    display: flex;
    align-items: center;
    }
    &__text-2 {
        color: #022A53;
font-family: Manrope;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 94.737% */

    }
    &__text-2 span {
font-size: 90px;
font-weight: 700;
line-height: 36px;
    }
    &__text-3 {
        color: #FFF;
font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 107.143% */
    }
    &__btns {
        position: absolute;
    bottom: 45px;
    z-index: 10;
    right: 45px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    }
    &-pagination {
        position: absolute;
        bottom: 50px;
        right: 100px;
        right: 0;
        margin-left: 88%;
        z-index: 10;
        color: #FFF;

font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
    }
    &__btn {
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 17px 0;
        max-width: 330px;
        width: 100%;
    }
    &__btn:first-child {
        border-radius: 30px 0px 0px 30px;
    }
    &__btn:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }
    &__btn:last-child {
        border-radius: 0px 30px 30px 0px;
    }
}
.buttons {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    max-width: 958px;
    width: 100%;
    margin: -30px auto 0;
    position: relative;
    z-index: 10;
}

.apart {
    padding: 100px 0 100px;

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }
    &__card {
        background-image: url(../img/apart-1.png);
        background-repeat: no-repeat;
        padding: 289px 0 40px;
        max-width: 640px;
        width: 100%;
        background-size: contain;
    }
    &__link svg {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__link {
        display: block;
        text-align: center;
        padding: 15px 0;
        max-width: 330px;
        width: 100%;
        color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 166.667% */
background-color: #286DAC;
border-radius: 30px;
position: relative;
margin: 0 auto;
    }
    &__card-2 {
        background-image: url(../img/apart-2.png);
    }
    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__link_green {
        background-color: #19972F;
    }

}

.house {
    position: relative;
    &__circle {
        position: absolute;
        top: calc(50% - 73px);
        left: calc(50% - 73px);;
    }
    &__img {
        position: relative;
        z-index: 5;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__block {
        background-image: url(../img/svg/D.svg);
        background-color: #EEF1F5;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 120px 0 120px 104px;
    }
    &__text {
        color: #80868A;
font-family: Manrope;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 111.111% */
margin-bottom: 63px;
    }
    &__text span {
        color: #022A53;
        font-family: Manrope;
        font-size: 72px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 41.667% */
    }
    &__text-2 {
        color: #022A53;
font-family: Manrope;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 71.429% */
    }
    &__text-3 {
        color: #80868A;
font-family: Manrope;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 30px;
    }
    &__text-4 {
        color:#80868A;
font-family: Manrope;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 133.333% */
max-width: 497px;

    }
    &__block-2 {
        padding: 133px 135px 50px 128px;
        background-image: url(../img/svg/Vector.svg);
    }
}

.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EEF1F5;
    &__title {
        text-align: left;
        margin-bottom: 28px;
    }
    &__card {
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px #0000001A;

    }
    &__list {
        display: flex;
        gap: 26px;
    }
    &__nav {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        padding: 12px 40px;
        background-color: #C6CBCF;
        color: #FFF;
        border-radius: 22px;
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 112.5% */
transition: background-color .3s ease-in-out;
    }
    &__btn:hover {
        background-color: #286DAC;
    }
    &__btn_active {
        background-color: #286DAC;
    }
    &__btn-2 {
        color:#2A3844;
text-align: center;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 150% */
padding: 12px 0;
border-radius: 22px;
border: 1px solid #F2A436;
max-width: 211px;
width: 100%;
    }
    &__table {
        padding: 0px 20px;
        width: 100%;
    }
    &__table th {
        padding: 30px 0;
        text-align: left;
 
    }
    &__table tr {
        border-top: 1px solid #E1E5E9;
        border-bottom: 1px solid #E1E5E9;
    }
}

.table__text {
    color:  #646A6E;
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: 129px; /* 403.125% */
}

.table__text-2 {
    color: #646A6E;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 129px; /* 806.25% */
}

.table__text-3 {
    color: #646A6E;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 120% */
max-width: 288px;
}



.tab {
    display: none;
  }

  #info-tab {
    display: block;
  }
  
  .tab.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.title {
    color: #022A53;
font-family: Manrope;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 83.333% */
}
.btn_yellow {
    background-color: #F2A436;
}
.btn_green {
    background-color: #19972F;
}
.btn_blue {
    background-color: #286DAC;
}

.menu__list {
    display: block;
}
.header.open .menu {
    transform: translateX(100%);
}

.live {
    &__title {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 116.667% */
        margin-bottom: 30px;
        max-width: 448px;
    }
    &__text {
        color: #FFF;

font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
max-width: 528px;
margin-bottom: 170px;
    }
    &__buttons {
        display: flex;
        gap: 28px;
        justify-content: space-between;
    }
    &__btn {
        padding: 10px 0;
        color: #FFF;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
max-width: 214px;
width: 100%;
border-radius: 22px;
border: 1px solid  #F2A436;
flex-shrink: 0;
    }
&__flex {
    display: flex;
    gap: 28px;
}
&__btns {
    display: flex;
    gap: 13px;
}
&__pag {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 90px;
    bottom: 90px;
    z-index: 10;
}
&-pagination {
    color: #FFF;

font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
&-slide {
    background-image: url(../img/live.jpg);
    background-repeat: no-repeat;
    max-width: 1520px;
}

&-slide-box {
    padding: 90px;
}
}

.flat {
    padding: 80px 0 0;
    background-color: #fff;
   
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

    &__btns {
        display: flex;
        gap: 100px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 7px;
        color: #848386;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__btn:last-child {
        color:#022A53;
    }
    &__bg {
        padding-top: 73px;
        padding-bottom: 247px;
        background-color: #EEF1F5;
    }
    &__inline {
        display: flex;
        align-items: center;
    }
    &-sldier-inputs input {
        background-color: transparent;
        border: unset;
        max-width: 32px;
        color: #2A3844;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: unset;
    }
    &__slider-text {
        color: #646A6E;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 20px;
    }
    &__slider-text-2 {
        color: #2A3844  ;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    &__inline span {
        color: #2A3844  ;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__border {
        border-bottom: 2px dashed #286DAC;
    }
    &__text-3 {
        color: #80868A;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__tabs {
        display: flex;
    }
    &__tab {
        color: #5C5B5E;
        text-align: center;
        font-family: Manrope;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px;
        background-color: #fff;
        width: 50px;
        height: 50px;
    }
    &__tab_active {
        background-color: #F2A436;
        color: #fff;
    }
    &__flex-2 {
        display: flex;
        gap: 35px;
        margin-bottom: 56px;
    }
    &__slider {
        flex-shrink: 0;
        max-width: 304px;
        width: 100%;
    }
    &__buttons-2 {
        margin-left: auto;
    }
    &__filter {
        border-radius: 25px;
        background: #E1E5E9;
        padding: 12px 74px 12px 0;
        display: flex;
        margin-bottom: 24px;
    }
    &__filter-text {
        color: #286DAC;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    &__filter-btn {
        color: #3E3D40;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 13px;
        border-left: 1px solid #3E3D40;
    }
    &__sort {
        display: flex;
        margin-bottom: 42px;
    }
    &__sort-text {
        color: var(--, #3E3D40);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 30px;
    }
    &__sort-btn {
        color: #286DAC;
        text-overflow: ellipsis;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        display: flex;
        gap: 5px;
        align-items: center;
        margin-right: 45px;
    }
    &__sort-icons {
        display: flex;
        gap: 19px;
    }
    &__card {
        display: block;
        padding: 28px 44px 40px 33px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative;
    }
    &__card-title {
        color:#022A53;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 9px;
    }
    &__card-text {
        color: #5C5B5E;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 9px;
    }
    &__card-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
    }
    &__card-flex::after {
        content: "";
        position: absolute;
        top: 28%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #EEF1F5;
    }
    &__card-text-2 {
        color: #022A53;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__card-text-3 {
        color: #022A53;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__card-image {
        background-image: url(../img/svg/flat.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 246px;
    }
    &__card-icon {
        position: absolute;
        right: 30px;
        bottom: 30px;
        cursor: pointer;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 33px;
        margin-bottom: 65px;
    }
    &__more-btn {
        display: block;
        padding: 13px 0;
        color: #646A6E;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 23px;
        border: 1px solid #9EA3A9;
        max-width: 210px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

#input-1 {
    margin-left: 7px;
}

#input-2 {
    max-width: 15px;
}

#input-3 {
    max-width: 15px;
}

#input-4 {
    max-width: 27px;
}

.noUi-horizontal {
    max-width: 304px;
    height: 3px;
    margin-top: 40px;
}

.noUi-connect {
    background: #2A3844;
}

.noUi-horizontal .noUi-handle {
    background-image: url(../img/svg/slider.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    box-shadow: unset;
    border: unset;
    background-color: unset;
    border-radius: unset;
    top: -9px;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.footer {
    background-color: #2A3844;
    position: relative;
    padding: 282px 0 0;
    &__consultation {
        position: absolute;
        top: 0;
        max-width: 1308px;
        width: 100%;
        transform: translateY(-50%);
        padding: 71px 72px 91px 228px;
        background-color: #286DAC;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    }
    &__consultation-left {
        max-width: 1078px;
        width: 100%;
    }
    &__consultation-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
    &__consultation-flex-2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__consultation-text {
        color: #F2A436;
        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 112.5% */
    }
    &__consultation-text-2 {
        color: #FFF;
        max-width: 338px;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
    }
    &__consultation-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__consultation-input {
        max-width: 359px;
        width: 100%;
        border: unset;
        background-color: transparent;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 19px;
    }
    &__consultation-input::placeholder {
        color: #FFF;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */

    }
    &__consultation-flex-3 {
        display: flex;
        gap: 13px;
        align-items: center;
    }
    &__consultation-radio {
        width: 20px;
        height: 20px;
    }
    &__consultation-text-3 {
        color: #fff;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
    }
    &__consultation-btn {
        flex-shrink: 0;
        color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
padding: 13px 0;
border-radius: 22px;
border: 2px solid #F2A436;
max-width: 203px;
width: 100%;
max-height: 45px;
    }
    &__consultation-flex-3 input[type=radio] {
        display: none;
    }
    &__consultation-flex-3 label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 0;
        line-height: 18px;
        user-select: none;
    }
    &__consultation-flex-3 label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: url(../img/svg/radio-empty.svg) 0 0 no-repeat;
    }
     
    /* Checked */
    &__consultation-flex-3 input[type=radio]:checked + label:before {
        background: url(../img/svg/radio.svg) 0 0 no-repeat;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 85px;
        position: relative;
    }

    &__arrow {
        margin-top: auto;
        cursor: pointer;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        color: #FFF;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */
    }

    &__item:first-child {
        margin-bottom: 20px;
    }

    &__link {
        color:  #D4D3D6;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    &__text {
        color:#D4D3D6;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        padding-bottom: 10px;
        border-bottom: 2px solid #5C5B5E;
        margin-bottom: 10px;
    }

    &__text-2 {
        color: #D4D3D6;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 15px;
    }

    &__btn {
        color: #FFF;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        padding: 12px 0;
        border-radius: 22px;
        border: 1px solid #F2A436;
        margin-bottom: 20px;
        max-width: 210px;
        width: 100%;
    }

    &__text-3 {
        color: #D4D3D6;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #5C5B5E;
    }

    &__logo {
        display: block;
        margin-bottom: 50px;
    }

    &__icons {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    &__copyright {
        background-color: #26343E;
    }
    &__copyright-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__copyright-text {
        color: #D4D3D6;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }

    &__copyright-text-2 {
        color: #D4D3D6;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }

    &__copyright-text-3 {
        color:#D4D3D6;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }

}

.flat-sldier-inputs input::-webkit-outer-spin-button,
.flat-sldier-inputs input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.tab__pag {
    position: absolute;
    z-index: 10;
    bottom: 35px;
    right: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
}

.tab__btns {
    display: flex;
    gap: 13px;
    height: 37px;
}

.tab-img {
    border-radius: 0 0 10px 10px;
}

#finish-tab {
    position: relative;
}

.tab__buttons {
    display: flex;
    gap: 20px;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
}



.tab__button {
    padding: 12px 40px;
    border-radius: 22px;
    background-color: #EEF1F5;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    color: #646A6E;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    cursor: pointer;
}

.tab__button_active {
    background-color: #286DAC;
    color: #FFF;
    }

    .absolute {
        position: absolute;
        top: 823px;
    max-width: 1500px;
    z-index: -1;
    }