@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope";
  background-color: #FFFFFF;
  color: #022A53;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 1520px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-100 {
  max-width: 1342px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.header__container {
  padding: 18px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__btn {
  padding: 15px 0;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 206px;
  width: 100%;
  background-color: #F2A436;
  border-radius: 22px;
}
.header__tel-block {
  display: flex;
  flex-direction: column;
}
.header__tel {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__tel-text {
  color: #286DAC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__burger-btn {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  z-index: 2;
  background: #022A53;
  border-radius: 100px;
  padding: 15px;
}
.header__burger-btn span {
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: #fff;
  left: 11px;
  top: 20px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
.header.open .header__burger-btn span {
  background-color: white;
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  font-size: 16px;
}

.header__burger-btn {
  display: block;
}

.menu {
  position: absolute;
  left: -100%;
  top: 85px;
  width: 100%;
  background-color: #2A3844;
  height: 100dvh;
  padding: 97px 20px 20px 20px;
  transition: transform 0.5s;
}
.menu__container {
  max-width: 914px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu__up {
  display: flex;
  justify-content: space-between;
}
.menu__btn {
  padding: 12px 0;
  max-width: 260px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.menu__flex {
  display: flex;
  flex-direction: column;
  gap: 86px;
}
.menu__item {
  color: #F2A436;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}
.menu__link {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.menu__text {
  display: block;
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 2px solid #5C5B5E;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu__text-2 {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.menu__text-3 {
  display: block;
  color: #FFF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 2px solid #5C5B5E;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu__text-4 {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.menu__tel {
  display: block;
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.menu__item:first-child {
  margin-bottom: 20px;
}
.menu__down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  gap: 10px;
}
.menu__list-1 {
  grid-area: 1/1/3/2;
}
.menu__list-2 {
  grid-area: 1/2/2/3;
}
.menu__list-3 {
  grid-area: 1/3/4/4;
}
.menu__list-4 {
  grid-area: 3/1/4/2;
}
.menu__list-5 {
  grid-area: 2/2/3/3;
}
.menu__list-6 {
  grid-area: 3/2/4/3;
}

.hero__abs {
  position: absolute;
  top: 0;
  z-index: -1;
  min-height: 750px;
}
.hero__swiper {
  overflow: hidden;
  max-width: 1520px;
}
.hero__slide {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1520px;
}
.hero__block {
  padding: 464px 0 116px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  gap: 40px;
}
.hero__text {
  color: #FFF;
  text-align: right;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 104.167% */
}
.hero__round {
  justify-content: center;
  background-color: #F2A436;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  border-radius: 100px;
  /* padding: 60px 27px; */
  max-width: 220px;
  min-height: 220px;
  display: flex;
  align-items: center;
}
.hero__text-2 {
  color: #022A53;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 94.737% */
}
.hero__text-2 span {
  font-size: 90px;
  font-weight: 700;
  line-height: 36px;
}
.hero__text-3 {
  color: #FFF;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 107.143% */
}
.hero__btns {
  position: absolute;
  bottom: 45px;
  z-index: 10;
  right: 45px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.hero-pagination {
  position: absolute;
  bottom: 50px;
  right: 100px;
  right: 0;
  margin-left: 88%;
  z-index: 10;
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}
.hero__btn {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 17px 0;
  max-width: 330px;
  width: 100%;
}
.hero__btn:first-child {
  border-radius: 30px 0px 0px 30px;
}
.hero__btn:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.hero__btn:last-child {
  border-radius: 0px 30px 30px 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  max-width: 958px;
  width: 100%;
  margin: -30px auto 0;
  position: relative;
  z-index: 10;
}

.apart {
  padding: 100px 0 100px;
}
.apart__title {
  text-align: center;
  margin-bottom: 30px;
}
.apart__card {
  background-image: url(../img/apart-1.png);
  background-repeat: no-repeat;
  padding: 289px 0 40px;
  max-width: 640px;
  width: 100%;
  background-size: contain;
}
.apart__link svg {
  position: absolute;
  right: 10px;
  top: 10px;
}
.apart__link {
  display: block;
  text-align: center;
  padding: 15px 0;
  max-width: 330px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  background-color: #286DAC;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
}
.apart__card-2 {
  background-image: url(../img/apart-2.png);
}
.apart__block {
  display: flex;
  justify-content: space-between;
}
.apart__link_green {
  background-color: #19972F;
}

.house {
  position: relative;
}
.house__circle {
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 73px);
}
.house__img {
  position: relative;
  z-index: 5;
}
.house__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.house__block {
  background-image: url(../img/svg/D.svg);
  background-color: #EEF1F5;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 120px 0 120px 104px;
}
.house__text {
  color: #80868A;
  font-family: Manrope;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 111.111% */
  margin-bottom: 63px;
}
.house__text span {
  color: #022A53;
  font-family: Manrope;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 41.667% */
}
.house__text-2 {
  color: #022A53;
  font-family: Manrope;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 71.429% */
}
.house__text-3 {
  color: #80868A;
  font-family: Manrope;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.house__text-4 {
  color: #80868A;
  font-family: Manrope;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 133.333% */
  max-width: 497px;
}
.house__block-2 {
  padding: 133px 135px 50px 128px;
  background-image: url(../img/svg/Vector.svg);
}

.projects {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #EEF1F5;
}
.projects__title {
  text-align: left;
  margin-bottom: 28px;
}
.projects__card {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1019607843);
}
.projects__list {
  display: flex;
  gap: 26px;
}
.projects__nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.projects__btn {
  padding: 12px 40px;
  background-color: #C6CBCF;
  color: #FFF;
  border-radius: 22px;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  transition: background-color 0.3s ease-in-out;
}
.projects__btn:hover {
  background-color: #286DAC;
}
.projects__btn_active {
  background-color: #286DAC;
}
.projects__btn-2 {
  color: #2A3844;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  padding: 12px 0;
  border-radius: 22px;
  border: 1px solid #F2A436;
  max-width: 211px;
  width: 100%;
}
.projects__table {
  padding: 0px 20px;
  width: 100%;
}
.projects__table th {
  padding: 30px 0;
  text-align: left;
}
.projects__table tr {
  border-top: 1px solid #E1E5E9;
  border-bottom: 1px solid #E1E5E9;
}

.table__text {
  color: #646A6E;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 129px; /* 403.125% */
}

.table__text-2 {
  color: #646A6E;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 129px; /* 806.25% */
}

.table__text-3 {
  color: #646A6E;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 120% */
  max-width: 288px;
}

.tab {
  display: none;
}

#info-tab {
  display: block;
}

.tab.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  color: #022A53;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 83.333% */
}

.btn_yellow {
  background-color: #F2A436;
}

.btn_green {
  background-color: #19972F;
}

.btn_blue {
  background-color: #286DAC;
}

.menu__list {
  display: block;
}

.header.open .menu {
  transform: translateX(100%);
}

.live__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  margin-bottom: 30px;
  max-width: 448px;
}
.live__text {
  color: #FFF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  max-width: 528px;
  margin-bottom: 170px;
}
.live__buttons {
  display: flex;
  gap: 28px;
  justify-content: space-between;
}
.live__btn {
  padding: 10px 0;
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  max-width: 214px;
  width: 100%;
  border-radius: 22px;
  border: 1px solid #F2A436;
  flex-shrink: 0;
}
.live__flex {
  display: flex;
  gap: 28px;
}
.live__btns {
  display: flex;
  gap: 13px;
}
.live__pag {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 90px;
  bottom: 90px;
  z-index: 10;
}
.live-pagination {
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}
.live-slide {
  background-image: url(../img/live.jpg);
  background-repeat: no-repeat;
  max-width: 1520px;
}
.live-slide-box {
  padding: 90px;
}

.flat {
  padding: 80px 0 0;
  background-color: #fff;
}
.flat__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.flat__btns {
  display: flex;
  gap: 100px;
}
.flat__btn {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #848386;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flat__btn:last-child {
  color: #022A53;
}
.flat__bg {
  padding-top: 73px;
  padding-bottom: 247px;
  background-color: #EEF1F5;
}
.flat__inline {
  display: flex;
  align-items: center;
}
.flat-sldier-inputs input {
  background-color: transparent;
  border: unset;
  max-width: 32px;
  color: #2A3844;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: unset;
}
.flat__slider-text {
  color: #646A6E;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}
.flat__slider-text-2 {
  color: #2A3844;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flat__inline span {
  color: #2A3844;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flat__border {
  border-bottom: 2px dashed #286DAC;
}
.flat__text-3 {
  color: #80868A;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flat__tabs {
  display: flex;
}
.flat__tab {
  color: #5C5B5E;
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  background-color: #fff;
  width: 50px;
  height: 50px;
}
.flat__tab_active {
  background-color: #F2A436;
  color: #fff;
}
.flat__flex-2 {
  display: flex;
  gap: 35px;
  margin-bottom: 56px;
}
.flat__slider {
  flex-shrink: 0;
  max-width: 304px;
  width: 100%;
}
.flat__buttons-2 {
  margin-left: auto;
}
.flat__filter {
  border-radius: 25px;
  background: #E1E5E9;
  padding: 12px 74px 12px 0;
  display: flex;
  margin-bottom: 24px;
}
.flat__filter-text {
  color: #286DAC;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.flat__filter-btn {
  color: #3E3D40;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 13px;
  border-left: 1px solid #3E3D40;
}
.flat__sort {
  display: flex;
  margin-bottom: 42px;
}
.flat__sort-text {
  color: var(--, #3E3D40);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
}
.flat__sort-btn {
  color: #286DAC;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 45px;
}
.flat__sort-icons {
  display: flex;
  gap: 19px;
}
.flat__card {
  display: block;
  padding: 28px 44px 40px 33px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.flat__card-title {
  color: #022A53;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 9px;
}
.flat__card-text {
  color: #5C5B5E;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.flat__card-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.flat__card-flex::after {
  content: "";
  position: absolute;
  top: 28%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #EEF1F5;
}
.flat__card-text-2 {
  color: #022A53;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flat__card-text-3 {
  color: #022A53;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flat__card-image {
  background-image: url(../img/svg/flat.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 246px;
}
.flat__card-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}
.flat__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
  margin-bottom: 65px;
}
.flat__more-btn {
  display: block;
  padding: 13px 0;
  color: #646A6E;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 23px;
  border: 1px solid #9EA3A9;
  max-width: 210px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#input-1 {
  margin-left: 7px;
}

#input-2 {
  max-width: 15px;
}

#input-3 {
  max-width: 15px;
}

#input-4 {
  max-width: 27px;
}

.noUi-horizontal {
  max-width: 304px;
  height: 3px;
  margin-top: 40px;
}

.noUi-connect {
  background: #2A3844;
}

.noUi-horizontal .noUi-handle {
  background-image: url(../img/svg/slider.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  box-shadow: unset;
  border: unset;
  background-color: unset;
  border-radius: unset;
  top: -9px;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.footer {
  background-color: #2A3844;
  position: relative;
  padding: 282px 0 0;
  /* Checked */
}
.footer__consultation {
  position: absolute;
  top: 0;
  max-width: 1308px;
  width: 100%;
  transform: translateY(-50%);
  padding: 71px 72px 91px 228px;
  background-color: #286DAC;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.footer__consultation-left {
  max-width: 1078px;
  width: 100%;
}
.footer__consultation-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.footer__consultation-flex-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer__consultation-text {
  color: #F2A436;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}
.footer__consultation-text-2 {
  color: #FFF;
  max-width: 338px;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.footer__consultation-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__consultation-input {
  max-width: 359px;
  width: 100%;
  border: unset;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 19px;
}
.footer__consultation-input::-moz-placeholder {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.footer__consultation-input::placeholder {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.footer__consultation-flex-3 {
  display: flex;
  gap: 13px;
  align-items: center;
}
.footer__consultation-radio {
  width: 20px;
  height: 20px;
}
.footer__consultation-text-3 {
  color: #fff;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.footer__consultation-btn {
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 13px 0;
  border-radius: 22px;
  border: 2px solid #F2A436;
  max-width: 203px;
  width: 100%;
  max-height: 45px;
}
.footer__consultation-flex-3 input[type=radio] {
  display: none;
}
.footer__consultation-flex-3 label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.footer__consultation-flex-3 label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(../img/svg/radio-empty.svg) 0 0 no-repeat;
}
.footer__consultation-flex-3 input[type=radio]:checked + label:before {
  background: url(../img/svg/radio.svg) 0 0 no-repeat;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  position: relative;
}
.footer__arrow {
  margin-top: auto;
  cursor: pointer;
}
.footer__list {
  margin-bottom: 20px;
}
.footer__item {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.footer__item:first-child {
  margin-bottom: 20px;
}
.footer__link {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.footer__text {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  padding-bottom: 10px;
  border-bottom: 2px solid #5C5B5E;
  margin-bottom: 10px;
}
.footer__text-2 {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}
.footer__btn {
  color: #FFF;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 0;
  border-radius: 22px;
  border: 1px solid #F2A436;
  margin-bottom: 20px;
  max-width: 210px;
  width: 100%;
}
.footer__text-3 {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #5C5B5E;
}
.footer__logo {
  display: block;
  margin-bottom: 50px;
}
.footer__icons {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.footer__copyright {
  background-color: #26343E;
}
.footer__copyright-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer__copyright-text {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.footer__copyright-text-2 {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.footer__copyright-text-3 {
  color: #D4D3D6;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.flat-sldier-inputs input::-webkit-outer-spin-button,
.flat-sldier-inputs input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.tab__pag {
  position: absolute;
  z-index: 10;
  bottom: 35px;
  right: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}

.tab__btns {
  display: flex;
  gap: 13px;
  height: 37px;
}

.tab-img {
  border-radius: 0 0 10px 10px;
}

#finish-tab {
  position: relative;
}

.tab__buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 30px;
}

.tab__button {
  padding: 12px 40px;
  border-radius: 22px;
  background-color: #EEF1F5;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  color: #646A6E;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  cursor: pointer;
}

.tab__button_active {
  background-color: #286DAC;
  color: #FFF;
}

.absolute {
  position: absolute;
  top: 823px;
  max-width: 1500px;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */