@font-face {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    font-weight: 500;
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins-SemiBold';
    font-weight: 600;
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins-ExtraBold';
    font-weight: 800;
    src: url('./fonts/Poppins-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OrelegaOne';
    font-weight: 400;
    src: url('./fonts/OrelegaOne-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

p {
    margin: 0;

}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}


li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


body {
    font-family: 'Poppins-Regular';
    font-weight: 500;
    margin: 0;
    text-align: center;
    max-width: 600px;
    min-width: 414px;
    margin-right: auto;
    margin-left: auto;
}

main {
    max-width: 792px;
    margin: auto;
}

div {
    position: relative;
}


section {
    text-align: center;
}

h1 {
    color: #FA005A;
    text-align: center;
    font-family: Poppins-ExtraBold;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    color: #FFF;
text-align: center;
font-family: OrelegaOne;
font-size: 41px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: lowercase;
border-radius: 1000px;
background: #5DA8F1;

display: block;
max-width: 171px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 58px;
}





h3 {
    color: #FFF;
    text-align: center;
    font-family: Poppins-Regular;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
 
}

h4 {
    color: #FFF;
text-align: center;
font-family: Orelega One;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
    margin: 0;
    
}

h5 {
    color: #EB008B;
    margin: 0;
    font-size: 22px;
}

#sec2 h4 {
  margin-right: 14px;
}

.content {
    position: relative;

}

.contnet__bg-color {
    background-color: #BADEFF;
    padding-bottom: 27px;
    z-index: 2 ;
}

.bg {
    background-image: url(./static/heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    max-height: 443px;
    height: 100%;
    top: -185px;
    z-index: 1;
}

.heart {
       position: absolute;
    width: 100%;
    max-height: 370px;
    height: 100%;
    top: -50px;
    z-index: 1;
}

.angel-1 {
    position: absolute;
    right: 0;
    top: -239px;
    max-width: 128px;
    width: 100%;
    height: 217px;
    z-index: 2;
}

.angel-2 {
    position: absolute;
    left: 0;
    top: -239px;
    max-width: 128px;
    width: 100%;
    height: 217px;
    z-index: 2;
}



.content__text {
    color: #FFF;
display: block;
text-align: center;
font-size: 26px;
font-style: normal;
line-height: normal;
text-transform: capitalize;
position: relative;
z-index: 3;
}

.content__text-2 {
    color: #FFF;
    text-align: center;
    font-family: OrelegaOne;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.content__text-3 {
    display: block;
    color: #FFF;
text-align: center;
text-shadow: 0px 4px 0px #5DA8F1;
font-family: OrelegaOne;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 27px;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 35px;
}

.content__item {
    border-radius: 12px;
border: 2px solid #FFA9CD;
background: #FFF;
box-shadow: 0px 8px 0px 0px #FFA9CD;
padding: 14px 11px;
position: relative;
}

.content__item::before {
    content: "1";
    background-image: url(./static/mini-heart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: flex;
    align-items: center;
    place-content: center;
    color: #FFF;
text-align: center;
font-family: OrelegaOne;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 71px;
width: 100%;
height: 67px;
top: -20px;
left: -7px;
transform: rotate(-15deg);

}

.content__item-2::before {
    content: "2";
    right: -7px;
    left: unset;
    transform: rotate(15deg);
}

.content__item-3::before {
    content: "3";

}

.content__item-text {
    color: #5DA8F1;
font-size: 29px;
font-style: normal;
line-height: normal;
margin-bottom: 11px;
padding-left: 10%;
}

.content__item-2 .content__item-text {
    padding-left: unset;
}

.content__item-2::after {
content: "";
background-image: url(./static/angel-2.svg);
background-repeat: no-repeat;
position: absolute;
width: 131px;
height: 138px;
left: -18px;
top: -70px;
}

.content__item-3::after {
    content: "";
    background-image: url(./static/angel-3.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 97px;
    height: 138px;
    right: -18px;
    bottom: -78px;
    z-index: 1;
    }

.content__item-2 .content__item-text::after {
    content: "";
    display: block;
    width: 123px;
    height: 2px;
    background-color: #5DA8F1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 12px;
}

.content__item-btn {
    color: #FFF;
font-family: Poppins-SemiBold;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 10px 0;
width: 100%;
border-radius: 8px;
background: linear-gradient(180deg, #FFA9CD 0%, #FA005A 33.33%);

box-shadow: 0px 4px 16px 0px rgba(250, 0, 90, 0.33);
}

.content__item-text-2 {
    color: #2F2F2F;
text-align: center;
font-family: Poppins-Regular;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 29.9px */
}

.content__item-text-3 {
    color: #5DA8F1;
font-family: 'Poppins-SemiBold';
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.content__img-1 {
    position: relative;
    z-index: 1;
}

.content__img-2 {
    margin-bottom: 24px;
}

.content__btn {
    color: #FFF;
font-family: Poppins-SemiBold;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 10px 0;
border-radius: 8px;
background: linear-gradient(180deg, #FFA9CD 0%, #FA005A 33.33%);
box-shadow: 0px 4px 16px 0px rgba(250, 0, 90, 0.33);
width: 100%;
margin-bottom: 48px;
}



img {
    width: 100%;
    position: relative;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

#sec2 {
    margin-top: 16px
}

.page__header {
    margin-bottom: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.page__image {
    margin: 0 14px;
}

@media(max-width: 500px){
    .bg {
        top: -170px;
    }
    
}




.button {
    display: inline-block;
    position: relative;
    border-radius: 8px;

    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    padding: 8px 55px;
    text-decoration: none;
    color: white;
    margin: 12px;
}

.button.pink {
    background: #EB008B;
}

.button.blue {
    background: #EB008B;
}

.button.big {
    display: block;
    font-size: 28px;
}




.ourorg p {
color: #2F2F2F;
text-align: center;
font-family: 'Poppins-Regular';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
}



footer {
    background-image: url(./static/footer-bg.svg);
    background-color: #BADEFF;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position-x: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}


footer a {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
}

footer b {
    color: white;
}

footer p {
    color: #FFF;
text-align: center;
font-family: 'Poppins-Regular';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 15.6px */
}


@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  #sec1 {
    opacity: 0;
    animation: slideIn 1s forwards;
  }

  .angel-1 {
    opacity: 0;
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
  }
  
  .angel-2 {
    opacity: 0;
    animation: slideInRight 1s forwards;
    animation-delay: 0s;
  }

  
  .animation {
    opacity: 0;
    animation: slideIn 1s forwards;
    animation-delay: 1.5s;
    z-index: 1;
  }

  .bg {
    opacity: 0;
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
  }



