@charset "UTF-8";
:root {
  --header-bg: #131417;
  --header-link-color: rgba(250, 250, 250, 1);
  --primary-font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./src/fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("./src/fonts/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto-Regular";
  background-color: #FFFFFF;
  margin-top: unset;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1240px;
  padding: 0 22px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.header {
  padding: 15px 0;
  background-color: var(--header-bg);
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: rgb(242, 153, 74);
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-5px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(5px);
}

.header.open .header__burger-btn span {
  background-color: rgb(242, 153, 74);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.menu {
  flex-basis: 678px;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__link {
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--header-link-color);
  padding: 8px 18px;
  transition: color 0.25s ease;
}

.menu__link:hover {
  color: rgb(235, 87, 87);
}

.header__link:hover {
  color: rgb(235, 87, 87);
}

.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--header-link-color);
  transition: color 0.25s ease;
}

.hero {
  background-image: url(./src/img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 80px);
}

/* Основные стили меню */
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu__item {
  position: relative;
}

/* Стили для первого уровня подменю */
.submenu {
  display: none;
  position: absolute;
  top: 60px; /* Показываем подменю ниже родительского элемента */
  left: 0;
  width: 320px;
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

.menu__link_dd {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submenu::before {
  content: "";
  background-image: url(./src/img/svg/drop-arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -14px;
  left: 47px;
  width: 28px;
  height: 14px;
}

.submenu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  top: -30px;
  left: 0;
}

.submenu__item {
  position: relative;
  padding: 8px 18px;
  background-color: rgb(37, 40, 48);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--header-link-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.submenu__item:last-child {
  border-radius: 0 0 8px 8px;
}

.submenu__item:hover {
  background-color: rgb(19, 20, 23);
}

/* Показываем подменю при наведении на родительский пункт меню */
.menu__item img {
  transition: transform 0.25s ease;
}

/* Стили для второго уровня подменю (выезжающее меню справа) */
.submenu-right {
  display: none;
  position: absolute;
  top: -42px;
  left: calc(100% + 22px); /* Подменю второго уровня появляется справа от родителя */
  width: 185px;
}

.submenu-right::after {
  content: "";
  background-image: url(./src/img/svg/drop-arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(-90deg);
  bottom: 14px;
  left: -20px;
  width: 28px;
  height: 14px;
}

.submenu-right::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  bottom: 0;
  left: -25px;
}

.submenu__right-item {
  padding: 8px 18px;
  background-color: rgb(37, 40, 48);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu__right-item:first-child {
  border-radius: 8px 8px 0 0;
}

.submenu__right-item:last-child {
  border-radius: 0 0 8px 8px;
}

.submenu__right-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--header-link-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.submenu__right-item:hover {
  background-color: rgb(19, 20, 23);
}

.hero {
  position: relative;
}

.hero__overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn 0.25s ease;
  background-color: rgb(19, 20, 23);
  opacity: 0.5;
}

.visible {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  }
  .menu {
    position: absolute;
    right: -374px;
    top: 80px;
    width: 374px;
    height: 100%;
    background-color: rgb(19, 20, 23);
    transition: transform 0.5s;
    z-index: 2;
    overflow: auto;
  }
  .menu__item {
    width: 100%;
    background-color: rgb(37, 40, 48);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .submenu__item {
    width: 100%;
    padding: unset;
    background-color: rgb(37, 40, 48);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border-bottom: unset;
  }
  .submenu::before {
    display: none;
  }
  .submenu::after {
    display: none;
  }
  .submenu__right-item:first-child {
    border-radius: unset;
  }
  .submenu__right-item:last-child {
    border-radius: unset;
  }
  .submenu-right::before {
    display: none;
  }
  .submenu-right::after {
    display: none;
  }
  .submenu__right-item {
    padding: 20px;
  }
  .submenu__link {
    padding: 20px;
  }
  .submenu {
    display: flex; /* Устанавливаем сразу flex, чтобы не было прыжков при смене состояния */
    flex-direction: column;
    gap: 1px;
    background-color: rgb(19, 20, 23);
    width: 100%;
    max-height: 0; /* Исходное состояние — высота 0 */
    overflow: hidden; /* Скрываем содержимое */
    opacity: 0; /* Исходное состояние — невидимо */
    transition: max-height 0.25s ease, opacity 0.25s ease; /* Плавный переход */
  }
  .submenu.show {
    max-height: 1000px; /* Установите максимальную высоту, подходящую вашему контенту */
    opacity: 1; /* Делает блок видимым */
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .menu__link {
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 20px;
  }
  .menu__link.active {
    background-color: rgb(19, 20, 23);
  }
  .header.open .menu {
    transform: translateX(-100%);
  }
  .menu__link:hover {
    color: #fff;
  }
  .submenu {
    position: static;
  }
  .submenu-right {
    display: flex;
    position: static;
    flex-direction: column;
    gap: 1px;
    background-color: rgb(19, 20, 23);
    width: 100%;
    max-height: 0; /* Исходная высота подменю — 0 */
    opacity: 0; /* Исходное состояние — невидимо */
    overflow: hidden; /* Скрываем содержимое при height 0 */
    transition: max-height 0.25s ease, opacity 0.25s ease; /* Плавный переход */
  }
  .submenu-right.show {
    max-height: 500px; /* Установите максимальную высоту подменю */
    opacity: 1; /* Делает подменю видимым */
  }
  .submenu__link {
    display: block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .menu__link.active .menu__icon {
    transform: rotate(180deg);
  }
  .submenu__item.active .submenu__icon {
    transform: rotate(180deg);
  }
}
@media (max-width: 576px) {
  .menu {
    width: 100%;
    right: -100%;
  }
  .header__link span {
    display: none;
  }
  .header__flex {
    justify-content: end;
  }
  .header__logo {
    margin-right: auto;
  }
}
@media (hover: none) {
  .menu__link:hover {
    color: #fff;
  }
  .header__link:hover {
    color: #fff;
  }
  .menu__item:hover .submenu {
    display: block;
  }
  .submenu__item_dd:hover .submenu-right {
    display: block;
  }
  .menu__item:hover .menu__icon {
    transform: rotate(180deg);
  }
  .submenu__item:hover .submenu__icon {
    transform: rotate(90deg);
  }
}/*# sourceMappingURL=style.css.map */