@media(max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
    .main__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .aside {
        border: unset;
        padding-left: unset;
        max-width: unset;
    }
}