@media(max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
    .main__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .aside {
        border: unset;
        padding-left: unset;
        max-width: unset;
    }
    .last__img-2 {
        max-width: 50px;
    }
}

@media(max-width: 576px) {
    .last__img-2 {
        max-width: 50px;
    }
    .modal {
        max-width: fit-content;
    }
    .quetions {
        height: 190px;
    }
}