@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;

    }
  }
.fadeIn {
    animation: fadeIn 1s ease forwards ;
}
  
// .title {
//     animation: fadeInDown 1s ease forwards;
// }

// header {
//     opacity: 0;
//     animation: fadeInDown 1s ease forwards 0.5s;
// }

.swiper-block {
    .fade-in-anim {
        opacity: 0  ;
    }
}

