
.wrapper {
    background-image: url(./images/hero.webp);
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: map-get($breakpoints, sm)) {
        background-image: url(../static/images/hero-576.webp);
      }
}

.loading{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    svg{
        height: 100px;
        width: 100px;
    }
    .loading-text1{
        width: 154px;
    }
    .loading-text2{
        width: 208px;
    }
}
.header {
    padding: 1.9rem 0;
    background-color: map-get($map: $colors, $key: bg);
    position: relative;
    z-index: 11;
    @media (max-width: map-get($breakpoints, xl)) {
        padding-top: 1rem;
      }

    .flex {
        display: flex;
        align-items: center;
        gap: 12%;
        @media (max-width: map-get($breakpoints, xl)) {
            justify-content: space-between;
          }
        .logo {
            flex-shrink: 0;
            @media (max-width: map-get($breakpoints, xl)) {
               position: relative;
               z-index: 2;
              }
         
        }

        .menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 1rem;
            @media (max-width: map-get($breakpoints, xl)) {
                position: absolute;
                left: -100%;
                top: 0;
                height: 100vh;
                width: 100%;
                padding: 75px 10px 60px;
                transition: transform .5s;
                background-image: url(./images/menu-bg.webp);
                background-repeat: no-repeat;
                background-size: cover;
                flex-direction: column;
                z-index: 1;
              }

        }
        .menu__list {
            flex-basis: 300px;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            align-items: center;

            @media (max-width: map-get($breakpoints, xl)) {
                margin: auto 0;
                flex-direction: column;
                align-items: unset;
                color: $white;
                gap: 2.5rem;
              }
        }
        .block {
            display: flex;
            flex-basis: 462px;
            width: 100%;
            justify-content: space-between;
            gap: 1rem;
            @media (max-width: map-get($breakpoints, xl)) {
                flex-direction: column-reverse;
                gap: 0.6rem;
                justify-content: unset;
                color: $white;
                justify-content: flex-start;
                flex-basis: 55px;
              }

        }
        .link {
            display: flex;
            align-items: center;
            gap: 1rem;

            svg path {
                @media (max-width: map-get($breakpoints, xl)) {
                    fill: $white;
                }
            }
          
        }
    }
    .header__burger-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 2;
        cursor: pointer;
          @media (max-width: map-get($breakpoints, xl)) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: map-get($map: $colors, $key: main);
            height: 56px;
            width: 47px;
            padding: 20px 15px;
            border-radius: 0 1.5rem 0 1.5rem;
          }
    }

    
    .header__burger-btn span {
        position: absolute;
        width: 15px;
        height: 2px;
        border-radius: 100%;
        background-color: map-get($map: $colors, $key: bg);
        transition: transform .5s, opacity .5s, background-color .5s;
    }
    
    .header__burger-btn span:nth-child(1) {
        transform: translateY(-5px);
               width: 7px;
    }
    
    .header__burger-btn span:nth-child(3) {
        transform: translateY(5px);
               width: 7px;
    }
    
    .header.open .header__burger-btn span {
        background-color: #000;
    }

}

.header.open .header__burger-btn {
    background-image: url(../static/images/white-star.svg);
    background-color: unset;
    background-size: cover;
    width: 47px;
    height: 56px;
    background-position: bottom;
}
.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    background-color: map-get($map: $colors, $key: main);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    background-color: map-get($map: $colors, $key: main);
}

.header.open .letters {
    fill: $white;
  }

@media (max-width: map-get($breakpoints, xl)) {
    .header.open .menu {
        transform: translateX(100%);
    }   
  }

.hero {
    padding-top: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: 3;
    @media (max-width: map-get($breakpoints, sm)) {
        position: relative;
        overflow: visible;

      }
    @media (max-width: map-get($breakpoints, sm)) {
        padding-top: 20px;
      }
      .container {
        width: 100%;
      }
    .title {
        color: map-get($map: $colors, $key: title);
        @media (max-width: map-get($breakpoints, sm)) {
            font-size: 3rem;
          }
    }
    .flex {
        display: grid;
        grid-template-columns: 176px 200px 200px 200px 600px 400px 200px;
        grid-template-rows: 200px 200px;
        align-items: center;
        margin-top: auto;

        @media (max-width: map-get($breakpoints, l)) {
            grid-template-columns: 178px minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px) 1fr;

          }



        @media (max-width: map-get($breakpoints, sm)) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: unset;
            position: absolute;
            width: 100%;
            bottom: 0;
            transform: translateY(80%);
            z-index: 2;

          }
          .white-block {
            background-color: map-get($map: $colors, $key: bg);
            width: 100%;
            height: 200px;
            border-radius: 0 8rem 0 8rem;
            grid-area: 1 / 1 / 2 / 2;
            @media (max-width: map-get($breakpoints, sm)) {
                display: none;
    
              }
        }

        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 200px;
            @media (max-width: map-get($breakpoints, sm)) {
                background-size: contain;
                min-height: 124px;
              }
              svg {
                @media (max-width: map-get($breakpoints, sm)) {
                    max-width: 21px;
                  }
              }
        }
        .relative {
            position: relative;
            @media (max-width: map-get($breakpoints, lg)) {
                display: contents;
            }
        }
        .relative-1 {
            grid-area: 2 / 2 / 3 / 3;
        }
        .link-1 {
            background-color: map-get($map: $colors, $key: title);
            border-radius: 0 8rem 0 8rem;
            max-width: 200px;
            width: 100%;
            position: relative;
            z-index: 2;
            @media (max-width: map-get($breakpoints, lg)) {
                grid-area: unset;
                border-radius: 8rem 0 8rem 0;
            }
            @media (max-width: map-get($breakpoints, sm)) {
                border-radius: 0 4rem 0 4rem;
                max-width: 100%;
                aspect-ratio: 1 / 1;
              }
        }
        .link-1-abs {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: map-get($map: $colors, $key: bg);
            z-index: 1;
            top: 0;
            border-radius: 0 8rem 0 0;
            @media (max-width: map-get($breakpoints, lg)) {
                display: none;
            }
        }
        .relative-2 {
            grid-area: 2 / 3 / 3 / 4;
        }
        .link-2 {
            background-color: map-get($map: $colors, $key: success);
            border-radius: 8rem 0 8rem 0;
            max-width: 200px;
            width: 100%;
            grid-area: 2 / 3 / 3 / 4;
            position: relative;
            z-index: 2;
            @media (max-width: map-get($breakpoints, lg)) {
                grid-area: unset;
                border-radius: 0 8rem 0 8rem;

            }
            @media (max-width: map-get($breakpoints, sm)) {
                border-radius: 4rem 0 4rem 0;
                max-width: 100%;
                aspect-ratio: 1 / 1;
              }
              svg {
                @media (max-width: map-get($breakpoints, sm)) {
                    max-width: 28px;
                    
                  }
              }
        }
        .link-2-abs {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: map-get($map: $colors, $key: bg);
            z-index: 1;
            top: 0;
            border-radius: 8rem  0 0 0;
            @media (max-width: map-get($breakpoints, lg)) {
                display: none;
            }
        }

        .relative-3 {
            grid-area: 2 / 4 / 3 / 5;
        }
        .link-3 {
            background-color: map-get($map: $colors, $key: tertiary);
            border-radius: 0 8rem 0 8rem;
            max-width: 200px;
            width: 100%;
            position: relative;
            z-index: 2;
            @media (max-width: map-get($breakpoints, lg)) {
                grid-area: unset;
                border-radius: 8rem 0 8rem 0;

            }
            @media (max-width: map-get($breakpoints, sm)) {
                border-radius: 0 4rem 0 4rem;
                max-width: 100%;
                aspect-ratio: 1 / 1;
              }
              svg {
                @media (max-width: map-get($breakpoints, sm)) {
                    max-width: 24px;
                  }
              }
        }
        .relative-4 {
            grid-area: 2 / 5 / 3 / 6;
        }
        .link-4 {
            background-color: map-get($map: $colors, $key: button);
            border-radius: 8rem 8rem 8rem 0;
            max-width: 600px;
            width: 100%;
            font-size: 2rem;
            color: $white;
            position: relative;
            z-index: 2;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
            @media (max-width: map-get($breakpoints, lg)) {
                grid-area: unset;
                grid-area: 2/1/2/6;
                max-width: unset;
                border-radius: 8rem;

            }
            @media (max-width: map-get($breakpoints, sm)) {
                grid-area: 1/1/1/4;
                
              }
        }
        .link-4-abs {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: map-get($map: $colors, $key: bg);
            z-index: 1;
            top: 0;
            border-radius: 8rem 8rem 0 0;
            @media (max-width: map-get($breakpoints, lg)) {
                display: none;
            }
        }
        .link-4-abs::after {
            width: 100px;
            height: 100px;
            background-color: #f00;
            position: relative;
        }
        .link-4-abs::before {
            content: "";
            position: absolute;
            top: 86px;
            right: -20px;
            width: 0;
            transform: rotate(64deg);
            height: 0;
            border-style: solid;
            border-width: 0 35px 35px 0;
            border-color: transparent #faf3ff transparent transparent;
        }
        .link-4:hover {
            background-color: map-get($map: $colors, $key: title);
        }
        
        .link-4:active {
            background-color: map-get($map: $colors, $key: bg);
            color: map-get($map: $colors, $key: button)
        }
        .white-blocks {
            display: grid;
            grid-template-columns: 200px 200px;
            grid-template-rows: 200px 200px;
            grid-area: 1 / 6 / 3 / 7;
            position: relative;
            @media (max-width: map-get($breakpoints, l)) {
                display: none;
    
              }
            .star-up {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .star-down {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);
            }
                .white-block-2 {
                    border-radius: 8rem 0 8rem 0;
                    grid-area: 1 / 2 / 2 / 3;
                }
                .white-block-3 {
                    border-radius: 8rem 0 0 0;
                    grid-area: 2 / 1 / 3 / 2;
                }
                .white-block-4 {
                    border-radius: 0 8rem 0 0;
                    grid-area: 2 / 2 / 3 / 3;
                }
        }
        .white-blocks-2 {
            display: grid;
            grid-template-columns: 200px 200px;
            grid-template-rows: 200px 200px;
            grid-area: 1 / 7 / 3 / 8;
            @media (max-width: map-get($breakpoints, l)) {
                display: none;
    
              }
            .white-block-2 {
                border-radius: 8rem 0 0 0;
                grid-area: 2 / 1 / 3 / 2;
            }
        }
    }
}



.hero::before {
    content: "";
    background-color: map-get($map: $colors, $key: bg);
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 176px;
    border-radius: 0 100px 0 0;
    width: 100%;
    height: 316px;
    z-index: -1;
    @media (max-width: map-get($breakpoints, l)) {
        max-width: 178px;
        
      }
    @media (max-width: map-get($breakpoints, sm)) {
        display: none;
      }
}

.stars {
    position: relative;
    z-index: 2;
    @media (max-width: map-get($breakpoints, sm)) {
        padding-top: 200px;
        
      }
    img {
        position: absolute;
        top: -44px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        @media (max-width: map-get($breakpoints, l)) {
            top: 50px;
            
          }
        @media (max-width: map-get($breakpoints, sm)) {
            top: unset;
            
          }
    }
}

.event {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;

    .swiper {
        position: relative;
        .swiper-pagination-bullet {
            @media (max-width: map-get($breakpoints, sm)) {
                margin: unset;      
              }
        }
        .abs {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
        .swiper-pagination-bullet-active {
            @media (max-width: map-get($breakpoints, sm)) {
                background-color: map-get($map: $colors, $key: bg);  
              }
        }
        .container {
            width: 100%;
            padding: 0 70px 0 210px;
            @media (max-width: map-get($breakpoints, xxl)) {
                padding: 0 70px  0 270px;
                    
                  }
                  @media (max-width: map-get($breakpoints, lg)) {
                    padding: 0 70px  0;
                        
                      }
                      
            @media (max-width: map-get($breakpoints, sm)) {
                padding: 0 10px;        
              }
        }
        .events__swiper-btns {
            position: absolute;
            left: 0;
            top: 50%;   
            transform: translateY(-25%);
            z-index: 2;
            width: 100%;
            max-width: 200px;
            @media (max-width: map-get($breakpoints, lg)) {
                bottom: 3rem;
                right: 10px;
                left: unset;
                top: unset;
                transform: unset;
                display: flex;
                flex-direction: row-reverse;
                max-width: unset;
                
              } 
            .swiper-btn-next, .swiper-btn-prev  {
                height: 200px;
                cursor: pointer;
                background-color: map-get($map: $colors, $key: bg);
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 200px;
                width: 100%;
                @media (max-width: map-get($breakpoints, lg)) {
                    max-width: 124px;
                    height: 124px;
                    
                  } 
            }

            .swiper-btn-next {
                border-radius: 8rem 0 8rem 0;
                   @media (max-width: map-get($breakpoints, lg)) {
                    border-radius: 4rem 0 4rem 0;
                    
                  } 
            }

            .swiper-btn-prev {
                transform: rotate(180deg);
                border-radius: 0 8rem 0 8rem;
                   @media (max-width: map-get($breakpoints, lg)) {
                    border-radius: 0 4rem 0 4rem;
                    
                  } 
            }
        }
        .evenets-swiper-pagination {
            display: flex;
            gap: 2rem;
            align-items: center;
            @media (max-width: map-get($breakpoints, xxl)) {
                position: absolute;
                bottom: 2rem;
                right: 2rem;
                
              }
              @media (max-width: map-get($breakpoints, lg)) {
                left: 6rem;
                
              } 
              .evenets-swiper-pagintion-bullets {
                display: none;
                @media (max-width: map-get($breakpoints, sm)) {
                    display: block;
                    position: relative;
                    transform-origin: center; 
                    margin: unset;
                  }
                  .swiper-pagination-bullet:first-child {
                    @media (max-width: map-get($breakpoints, sm)) {
                        transform: rotate(-45deg) translateY(-20px);
                      }
                  }
                  .swiper-pagination-bullet:nth-child(2) {
                    @media (max-width: map-get($breakpoints, sm)) {
                        transform: rotate(13deg) translate(-17px, -1px);
                      }
                  }
                  .swiper-pagination-bullet:nth-child(3) {
                    @media (max-width: map-get($breakpoints, sm)) {
                        transform: rotate(76deg) translate(5px, 36px);
                      }
                  }
                  .swiper-pagination-bullet:nth-child(4) {
                    @media (max-width: map-get($breakpoints, sm)) {
                        transform: rotate(-45deg) translate(-62px, -30px);
                      }
                  }
                  .swiper-pagination-bullet:nth-child(5) {
                    @media (max-width: map-get($breakpoints, sm)) {
                        transform: rotate(-166deg) translate(90px, -36px);
                      }
                  }
                  .swiper-pagination-bullet:nth-child(6) {
                    @media (max-width: map-get($breakpoints, sm)) {
                        transform: rotate(-288deg) translate(-38px, 106px);
                      }
                  }
              }
            .pagination-fraction {
         
                font-weight: 600;
                font-size: 1.5rem;
                color: $white;
                
                @media (max-width: map-get($breakpoints, sm)) {
                    display: none;
                  }
            }
            .my-pagintion-bullets {
                
                display: flex;
                align-items: center;
                gap: 1rem;

                @media (max-width: map-get($breakpoints, sm)) {
                    display: none;

                  }
            }
        }
    }
    .swiper-block {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 240px;
        padding-bottom: 100px;
        @media (max-width: map-get($breakpoints, xxl)) {
        margin-bottom: 2rem;
        padding-top: 300px;
            
          }
          @media (max-width: map-get($breakpoints, lg)) {
                padding-bottom: 240px;
                
              }

          .left-block {
            @media (max-width: map-get($breakpoints, xxl)) {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    
                  }
          }

        h1 {
            color: $white;
            margin-bottom: 1rem;
            @media (max-width: map-get($breakpoints, sm)) {
                font-size: 3rem;                
              }
        }
        .text-2 {
            display: block;
            color: $white;
            margin-bottom: 58px;
            @media (max-width: map-get($breakpoints, lg)) {
                    display: none;
                    
                  }
        }
        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            @media (max-width: map-get($breakpoints, xxl)) {
                flex-direction: column;
                gap: 2rem;
                
              }
        }

        .right-block {
            background-color: map-get($map: $colors, $key: bg);
            border-radius: 32rem 0 32rem 0;
            outline-offset: 60px;
            outline: 1px solid map-get($map: $colors, $key: bg);
            background-repeat: no-repeat;
            max-width: 780px;
            width: 100%;
            min-height: 770px;
            padding-top: 130px;
            position: relative;
            z-index: 2;
            @media (max-width: map-get($breakpoints, sm)) {
                outline-offset: 20px;
                max-width: 90%;  
                border-radius: 16rem 0 16rem 0; 
                min-height: 715px;        
              }
            .block {
                display: flex;
                gap: 10px;
                align-items: flex-start;
                color: map-get($map: $colors, $key: main);
                @media (max-width: map-get($breakpoints, sm)) { 
                    max-width: 80%;  
                    margin: 0 auto;
                  }

                h2 {
                    margin-bottom: 0.5rem;

                    @media (max-width: map-get($breakpoints, sm)) {
                        font-size: 1.2rem;    
                      }
                }
                .text-3 {
                    @media (max-width: map-get($breakpoints, sm)) {
                        font-size: 1rem;    
                      }
                      br {
                        @media (max-width: map-get($breakpoints, sm)) {
                            display: none;   
                          }
                      }
                }
            }
            .block:not(:last-child) {
                margin-bottom: 50px;
                @media (max-width: map-get($breakpoints, sm)) {   
                    margin-bottom: 1rem;
                  }
            }
            .block-1 {
                place-content: end;
                padding-right: 145px;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-right: unset;    
              

                  }
            }
            .block-2 {
               padding-left: 140px;
               @media (max-width: map-get($breakpoints, sm)) {
                padding-left: unset;      
              }
            }
            .block-3 {
                place-content: end;
                padding-right: 165px;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-right: unset;      
                  }
             }
             .block-4 {
                padding-left: 180px;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-left: unset;     
                  }
             }
        }
    }
    .swiper-block {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 720px;
    }
    .swiper-block-1 {
        background-image: url(./images/event.webp);
        @media (max-width: map-get($breakpoints, sm)) {
            background-image: url(./images/event-576.webp);
            border-radius: 0 0 6rem;
          }

    }
    .swiper-block-2 {
        background-image: url(./images/event-2.webp);
        h2 {
            font-size: 2.2rem;
        }
        .text-2 {
            font-size: 0.8rem;
        }
        .right-block {
            @media (max-width: map-get($breakpoints, sm)) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: unset;
              }
            .block-1 {
                padding-right: 120px;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-right: unset;
                  }
            }
            .block-2 {
                padding-left: unset;
                justify-content: center;
            }
           .block-3 {
                padding-left: 140px;
                padding-right: unset;
                place-content: unset;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-left: unset;
                  }
            }
            .block:not(:last-child) {
                margin-bottom: 100px;
                @media (max-width: map-get($breakpoints, sm)) {
                    margin-bottom: 4rem;
                  }
            }
        }
    }
    .swiper-block-3 {
        background-image: url(./images/event-3.webp);
        h1 {
            font-size: 5.5rem;
            @media (max-width: map-get($breakpoints, sm)) {
                font-size: 3rem;  
              }
        }
        .text-2 {
            max-width: 415px;
        }
        h2 {
           
            font-size: 1.2rem;
        }
        .flex {
            align-items: unset;
        }
        .left-block {
            padding-top: 110px;
        }

        .right-block {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            padding: 120px 40px;
            gap: 50px;
            @media (max-width: map-get($breakpoints, sm)) {
                flex-direction: column;
                padding: 120px 10px;
              }
            .right-block_pt {
                padding-top: 190px;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-top: unset;
                  }
            }
            .block {
                max-width: 300px;
            }
            .block-1 {
                padding-right: unset;
                margin-left: auto;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-right: unset; 
                  }
            }
            .block-2 {
                padding-right: unset;
                padding-left: unset;
                margin-left: auto;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-right: unset; 
                  }
            }
           .block-3 {
            padding-right: unset;
                place-content: unset;
                margin-left: auto;
                @media (max-width: map-get($breakpoints, sm)) {
                    padding-right: unset; 
                  }
            }
            .block-4 {
                    padding: unset;
                   
                }
            .block:not(:last-child) {
                margin-bottom: 50px;
                @media (max-width: map-get($breakpoints, sm)) {
                    margin-bottom: 1rem;
                  }
            }
            .text-3 {
                font-size: 0.8rem;
            }
        }
    }
    .events__pagintion-bullets {
        @media (max-width: map-get($breakpoints, sm)) {
            position: absolute;
            left: -63px;
          }
    }
}

.forget {
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
         
    .half-circle {
        position: absolute;
        top: 0;
        left: -3%;
        max-width: 124px;
        width: 100%;
        height: 248px;
        background-color: map-get($map: $colors, $key: purple);
        border-radius: 0px 120px 120px 0px;
        @media (max-width: map-get($breakpoints, lg)) {
            height: 124px;
            max-width: 68px;
            }
        @media (max-width: map-get($breakpoints, sm)) {
          min-height: 120px;
          height: calc(100% - 45px);
          }
    
    }
    .half-circle-right {
        left: unset;
        right: -3%;
        border-radius: 120px 0 0 120px;

        
    }
    .forget-swiper {
        max-width: 87%;
        @media (max-width: map-get($breakpoints, lg)) {
            padding-bottom: 45px;
          }
          @media (max-width: map-get($breakpoints, xl)) {
            max-width: 80%;
          }

        .block {
            background-color: map-get($map: $colors, $key: title);
            position: relative;
            min-height: 248px;
            border-radius: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(./images/forget.svg);
            background-repeat: no-repeat;
            background-position: center;
            @media (max-width: map-get($breakpoints, xl)) {
                min-height: 124px;
              }
            @media (max-width: map-get($breakpoints, sm)) {
                padding: 1.2rem 0 1.7rem;
                min-height: 74px;
                background-image: url(./images/forget-576.svg);
                max-width: 80%;
                margin: 0 auto;
              }

            .flex {
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .forget-arrows {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                top: 50%;
                width: 90%;
                transform: translateY(-50%);
                z-index: 2;
                @media (max-width: map-get($breakpoints, sm)) {
                    display: none;
                    
                  }
            }
            .arrow-next {
                transform: rotate(180deg);
                cursor: pointer;
            }
            .arrow-prev {
                cursor: pointer;
            }
            .flex {
                display: flex;
                align-items: center;
                gap: 3.5rem;
                @media (max-width: map-get($breakpoints, xxl)) {
                    flex-direction: column;
                    gap: 2rem;
                  }
                @media (max-width: map-get($breakpoints, xl)) {
  
                    gap: 1rem;
                  }
            }
            .title {
                font-weight: 700;
                color: #FFFFFF;
                font-size: 2.2rem;
                line-height: 140%;
                @media (max-width: map-get($breakpoints, sm)) {
                    font-size: 1.4rem;
                  }
            }
            .subtitle {
         
                font-weight: 600;
                color: #FFFFFF;
                font-size: 1.5rem;
                line-height: 150%;
                @media (max-width: map-get($breakpoints, xl)) {
                    font-size: 1rem;
                    text-align: center;
                  } 
                @media (max-width: map-get($breakpoints, lg)) {
                    font-size: 0.7rem;
                    max-width: 80%;
                  }
            }
        }

        .block-2 {
            background-color: map-get($map: $colors, $key: button);
        }

        .block-3 {
            background-color: map-get($map: $colors, $key: success);
        }

        .block-4 {
            background-color: map-get($map: $colors, $key: tertiary);
        }

        .block-5 {
            background-color: map-get($map: $colors, $key: contrast);
        }

        .block::after {
            content: "";
            position: absolute;
            background-color: transparent;
            border: 1px solid map-get($map: $colors, $key: bg );
            border-radius: 128px;
            max-width: calc(100% - 1.5rem);
            width: 100%;
            height: calc(248px - 1.5rem);
            @media (max-width: map-get($breakpoints, xl)) {
                height: calc(124px - 1rem);
              }
            @media (max-width: map-get($breakpoints, sm)) {
                height: calc(120px - 0.6rem);
                max-width: calc(100% - .6rem);
                top: 50%;
                transform: translateY(-50%);
              }
        }
     
       
    }
    .pagintion-bullets {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 37px;
        justify-content: center;
        @media (max-width: map-get($breakpoints, xl)) {
            bottom: 5px;
            }
       
    }
    .swiper-pagination-bullet {
        @media (max-width: map-get($breakpoints, xl)) {
            border-color: map-get($map: $colors, $key: title);
            }
    }
    .swiper-pagination-bullet-active {
       background-color: $white;
        transform: scale(1.75);
        @media (max-width: map-get($breakpoints, xl)) {
                background-color: map-get($map: $colors, $key: title);
            }
    }
}

.under-forget {

    text-align: center;
    margin-bottom: 1rem;
}

.success {
    margin-bottom: 120px;
    @media (max-width: map-get($breakpoints, sm)) {
      margin-bottom: 30px;
        }
        .container {
            padding: 0 160px;
            @media (max-width: map-get($breakpoints, xxl)) {
                padding: 0 15px;
                  }
        }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 768px 200px;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: map-get($breakpoints, xl)) {
           grid-template-columns: 1fr;
           grid-template-rows: 370px 370px;
           gap: 10px;
          }
        .block {
            background-image: url(./images/success-bg-1.webp);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8rem 0 8rem 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: map-get($breakpoints, xl)) {
                border-radius: 4rem 0 4rem 4rem;
               }
            .title {
         
                font-weight: 600;
                color: #FFFFFF;
                font-size: 6rem;
                line-height: 108%;
                @media (max-width: map-get($breakpoints, xl)) {
                    font-size: 3rem;
                   }
            }
        }
      
        .block-2 {
            background-image: url(./images/success-bg-2.webp);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0 8rem 8rem 8rem;
            @media (max-width: map-get($breakpoints, xl)) {
                border-radius: 4rem 4rem 4rem 4rem;
               }
        }
        .btn {
            background-color: map-get($map: $colors, $key: button );
            border-radius: 8rem 8rem 8rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            position: relative;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
            @media (max-width: map-get($breakpoints, xl)) {
               padding: 3rem 0;
               font-size: 1.5rem;
               }
            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 70px;
                width: 77px;
                height: 92px;
                animation: scaler .5s ease-in-out infinite alternate;
                @media (max-width: map-get($breakpoints, sm)) {
                    width: 48px;
                    height: 56px;
                    right: 33px;
                    }
            }
        }
        .btn:hover {
            background-color: map-get($map: $colors, $key: title);
        }
        
        .btn:active {
            background-color: map-get($map: $colors, $key: bg);
            color: map-get($map: $colors, $key: button)
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: map-get($breakpoints, sm)) {
                grid-area: 3/1/3/1;
                font-size: 0.9rem;
                text-align: center;
                margin: 1.2rem 0;
               }
        }
    }
    
}

@keyframes scaler {
    0% {
        transform: translateY(-50%) scale(1);
    }
    100% {
        transform: translateY(-50%) scale(1.3);
    }
}
.support {
    background-image: url(./images/support-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1180px;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    
    @media (max-width: map-get($breakpoints, sm)) {
        background-image: url(./images/support-bg-576.webp);
        min-height: 638px;
          }
          .leave {
            position: absolute;
            top: 0;
            left: 0;

            @media (max-width: map-get($breakpoints, xxl)) {
               display: none;
                  }
          }
          .leave-1540 {
            display: none;
            @media (max-width: map-get($breakpoints, xxl)) {
                display: block;
                position: absolute;
                top: 70px;
                left: 0;
                   }
                   @media (max-width: map-get($breakpoints, sm)) {
                    display: none;
                      }
          }
    .container {
        padding: 0 160px;
        @media (max-width: map-get($breakpoints, xxl)) {
            padding: 0 15px;
              }
    }
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        @media (max-width: map-get($breakpoints, sm)) {
            flex-direction: column;
            gap: 4.875rem;
              }
    }
    
    .title {
 
        font-weight: 600;
        color: $white;
        font-size: 6rem;
        line-height: 108%;
        @media (max-width: map-get($breakpoints, xl)) {
            font-size: 3rem;
              }
        @media (max-width: map-get($breakpoints, sm)) {
            font-size: 2rem;
            max-width: 329px;
              }
    }
    .text {
        color: $white;
        @media (max-width: map-get($breakpoints, sm)) {
            font-size: 0.7rem;
            text-align: center;
            max-width: 280px;
              }
    }

        .btn {
            position: absolute;
            bottom: 84px;
            right: 2%;
            width: 100%;
            max-width: 40%;
            padding: 82px 0;
            border: map-get($map: $colors, $key: bg) solid 1px;
            border-radius: 8rem 8rem 8rem 0;
            color: $white;
            @media (max-width: map-get($breakpoints, xl)) {
                max-width: 90%;
                left: 50%;
                transform: translateX(-50%); 
                border-radius: 8rem;
                  }
            @media (max-width: map-get($breakpoints, sm)) {
                bottom: 20px;
                padding: 2rem 0;
                font-size: 1.25rem;
                  }
        img {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 83%);
            @media (max-width: map-get($breakpoints, xl)) {
                display: none;
                  }
        }
    }
    
}


.footer {
    padding-top: 44px;
    padding-bottom: 1.2rem;
    .container {
        padding: 0 160px;
        @media (max-width: map-get($breakpoints, xxl)) {
            padding: 0 15px;
              }
    }
    @media (max-width: map-get($breakpoints, sm)) {
        padding-top: 35px;
          }
    .flexbox {
        display: flex;
        justify-content: space-between;
        @media (max-width: map-get($breakpoints, xl)) {
            flex-direction: column-reverse;
            align-items: center;
              }
    }
    .left {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        @media (max-width: map-get($breakpoints, sm)) {
            gap: 0.6rem;
              }
        .block {
            display: flex;
            align-items: center;
            max-width: 500px;
            width: 100%;
            justify-content: space-between;
            gap: 1rem;
            @media (max-width: map-get($breakpoints, sm)) {
                flex-direction: column;
                align-items: unset;
                gap: 0.6rem;
                  }
        }
        .title {
     
            font-weight: 600;
            color: map-get($map: $colors, $key: main);
            font-size: 4.5rem;
            line-height: 108%;
            @media (max-width: map-get($breakpoints, sm)) {
                font-size: 3rem;
                margin-bottom: 2rem;
                  }
        }
        .btn {
            padding: 68px 0;
            max-width: 764px;
            width: 100%;
            border-radius: 8rem 8rem 8rem 0;
            background-color: map-get($map: $colors, $key: main);
            color: $white;
            text-align: center;
            position: relative;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
            @media (max-width: map-get($breakpoints, xl)) {
                padding: 3rem 0;
                font-size: 1.5rem;
                margin-bottom: 0.6rem;
                  }
            

            svg {
                max-width: 77px;
                height: 77px;
                position: absolute;
                right: 71px;
                top: 50%;
                transform: translateY(-50%);
                animation: scaler .5s ease-in-out infinite alternate;
                @media (max-width: map-get($breakpoints, sm)) {
                        width: 48px;
                        height: 56px;
                        right: 33px;
                      }
            }

        }
        .btn:hover {
            background-color: map-get($map: $colors, $key: success);
        }
        .btn:active {
            background-color: map-get($map: $colors, $key: bg);
            color: map-get($map: $colors, $key: success);
        }
        .link {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        
    .big-text-3 {
        color: map-get($map: $colors, $key: main);
    }
 
    }

    .right {
        position: relative;
        max-width: 550px;
        width: 100%;
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    .grid {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        position: absolute;
        right: 150px;
        

        @media (max-width: map-get($breakpoints, sm)) {
            grid-template-columns: 130px 130px;
            grid-template-rows: 130px 130px;
            right: unset;
              }

        .link-1 {
            border-radius: 8rem 8rem 0 8rem;
            margin: 0px -1px;
        }
        .link-2 {
            border-radius: 8rem 8rem 8rem 0;
        }
        .link-3 {
            border-radius: 8rem 0 8rem  8rem;
            margin: -1px -1px;
        }
    }
    .grid-2 {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        padding-top: 150px;
        margin-left: auto;
        place-content: end;
        margin-bottom: 20px;

        @media (max-width: map-get($breakpoints, sm)) {
            grid-template-columns: 130px 130px;
            grid-template-rows: 130px 130px;
            padding-top: 104px;
            margin-bottom: 2rem;
              }

        svg path {
            fill: map-get($map: $colors, $key: main);
        }

        .link-4 {
            border-color: map-get($map: $colors, $key: main);
            border-radius: 8rem 8rem 8rem 0;
            grid-area: 1 / 2 / 1 / 2;
            margin: -1px 0px;
        }
        .link-5 {
            border-color: map-get($map: $colors, $key: main);
            border-radius: 8rem 0 8rem  8rem;
            grid-area: 2 / 1 / 2 / 1;
            margin: 0px -1px;
        }
        .link-6 {
            border-color: map-get($map: $colors, $key: main);
            border-radius: 0 8rem 8rem  8rem;
            grid-area: 2 / 2 / 2 / 2;

        }
    }
    }
    
    .s-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid map-get($map: $colors, $key: success);
        text-align: center;
        color: map-get($map: $colors, $key: success);
        position: relative;
        @media (max-width: map-get($breakpoints, sm)) {
            font-size: 0.8rem;
              }
              svg {
                @media (max-width: map-get($breakpoints, sm)) {
                    width: 25px;
                    height: 25px;
                      }
              }
    }


    .rights {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: map-get($breakpoints, sm)) {
            flex-direction: column;
            gap: 1rem;
              }

        .text-2 {
            color: map-get($map: $colors, $key: main);
            @media (max-width: map-get($breakpoints, sm)) {
                font-size: 0.7rem;
                  }
        }
    }
}

