$colors: (
    main: #2D0060,
    title: #6502D6,
    bg: #FAF3FF,
    purple: #DBB8FF,
    button: #F111B0,
    success: #1C8DF6,
    tertiary: #AB09C3,
    contrast: #2D0060,
  
);

$white: #FFFFFF;

/* Typography */
$font-family: 'Poppins', sans-serif;
$base-size: 0.875rem;

/* Breakpoints */
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1160px,
    'l': 1375px,
    'xxl': 1540px,
);