@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../fonts/Gilroy-Regular.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../fonts/Gilroy-Medium.woff2) format('woff2');
      }
      @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../fonts/Gilroy-Semibold.woff2) format('woff2');
      }
      @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../fonts/Gilroy-Bold.woff2) format('woff2');
      }
      @font-face {
        font-family: 'Gilroy';
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url(../fonts/Gilroy-ExtraboldItalic.woff2) format('woff2');
      }
  }

  @layer components {
    .light .modeChanger {
      right: 3.5px;
    }
    .dark .modeChanger {
      right: 33.5px
    }
    .dark .moonpath {
      fill: #fff;
    }
    .light .moonpath {
      fill: #989898;
    }
    .fill-likeFill {
      @apply fill-[url(#paint2_linear_159_389)];
    }
    .show-text {
      overflow: visible !important;
      display: block !important;
      -webkit-box-orient: horizontal !important;
      -webkit-line-clamp: none !important;
    }
    .active-tab {
      border-color: #2B2B2B !important;
    }
    .dark .active-tab {
      border-color: #fff !important;
      background-color: rgba(255, 255, 255, 0.05);
    }
    .swiper-button-disabled svg {
      opacity: 0.2 !important;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    
    .no-scrollbar {
      scrollbar-width: none;
    }

    
    @media(max-width:1019px) {
      .closed-content {
        transform: translateX(-110%);
      }
      .not-open span:nth-child(1){
        transform: rotate(0deg);
      }
      .not-open span:nth-child(2){
        opacity: 1;
      }
      .not-open span:nth-child(3){
        transform: rotate(0deg);
        
      }
    
    }


  }

 