@media (max-width: 1240px) {
  .works__line {
    width: 72%;
  }
  .hero__block {
    background-position: 307px;
  }
  .works__block:nth-child(2) {
    max-width: 224px;
  }
  .works__block:nth-child(3) {
    max-width: 224px;
  }
}
@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 88px;
    width: 100%;
    background-color: var(--white-100);
    padding: 16px 32px;
    transition: transform 0.5s;
    z-index: 2;
  }
  .menu__list {
    display: flex;
    gap: 40px;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
  .header__block {
    margin-left: auto;
  }
  .hero__block {
    background-size: cover;
    background-position: -330px;
    align-items: end;
    padding: 32px;
  }
  .hero__block h1 {
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    text-align: right;
  }
  .hero__block span {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.02em;
  }
  .info__flex {
    flex-direction: column;
    gap: 32px;
  }
  .info__card {
    min-height: 274px;
  }
  .footer__flex nav {
    flex-basis: 382px;
  }
}
@media (max-width: 768px) {
  .header__block {
    gap: 40px;
  }
  .header__block a span {
    display: none;
  }
  .p64 {
    padding: 32px 0;
  }
  h2 {
    margin-bottom: 32px !important;
  }
  .text-18-sb {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.02em;
  }
  .card {
    padding: 32px;
  }
  .label {
    display: block;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .works__flex {
    flex-direction: column;
    gap: 24px;
  }
  .works__block {
    align-items: unset;
    max-width: unset;
  }
  .works__block:not(:last-child) {
    padding-bottom: 24px;
    border-bottom: 2px solid var(--white-100);
  }
  .works__block:not(:last-child) .text-18-sb {
    text-align: left;
  }
  .works__sub-block {
    flex-direction: row;
  }
  .works__line {
    display: none;
  }
  .works__block:nth-child(2) {
    max-width: unset;
  }
  .works__block:nth-child(3) {
    max-width: unset;
  }
  .header__block {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
  .menu {
    top: 72px;
  }
  .menu__list {
    margin-bottom: 16px;
  }
  .header__btn {
    display: none;
  }
  .header__btn-576 {
    display: block;
  }
  .header a {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.02em;
  }
  .button {
    font-weight: 400;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.02em;
  }
  .hero {
    padding: unset;
  }
  .hero .container {
    display: contents;
  }
  .hero__block {
    background-color: var(--white-100);
    padding: 24px;
    min-height: 400px;
    background-image: url(../img/hero-576.webp);
    background-size: contain;
    background-position: center bottom;
  }
  .hero__block h1 {
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    margin-bottom: 8px;
  }
  .hero__block span {
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
  }
  .hero__block .button {
    max-width: unset;
    width: 100%;
  }
  .p64 {
    padding: 24px 0;
  }
  h2 {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
  .works__block {
    gap: 16px;
  }
  .works__number {
    max-width: 64px;
  }
  .works__number span {
    font-size: 24px;
    line-height: 28.8px;
  }
  .text-18-sb {
    font-size: 14px;
    line-height: 16.8px;
  }
  .card {
    padding: 24px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .text-16 {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.02em;
  }
  .info__card {
    min-height: 240px;
  }
  .footer__flex {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  .footer__flex nav {
    flex-direction: column;
    gap: 24px;
    flex-basis: unset;
  }
  .footer__line {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=media.css.map */