@media (max-width: 1240px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 33px 0;
  }
  .hero {
    padding: 100px 0 50px;
  }
  .hero__block h1 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    text-align: left;
    margin-bottom: 50px;
  }
  .button {
    max-width: 220px;
  }
  .hero__block span {
    display: block;
    max-width: 275px;
  }
  .hero__block-2 {
    max-width: 366px;
    flex-shrink: 0;
    padding: 24px 16px;
  }
  .hero__block-2 h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .hero__input-block {
    padding: 16px 7.5px;
  }
  .value {
    font-size: 16px;
    line-height: 19.36px;
  }
  .hero__block-2 span {
    font-size: 18px;
    line-height: 21px;
  }
  .hero__block-2 strong {
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 16px;
  }
  .second {
    padding: 50px 0;
  }
  .second__flex {
    display: contents;
  }
  .second__flex-1024 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .second__img-block {
    order: 1;
  }
  .second__block {
    order: 3;
    max-width: unset;
    gap: 24px;
  }
  .second__list {
    order: 2;
  }
  .second__img-1 {
    max-width: 596px;
    width: 100%;
    height: 349px;
  }
  .second__img-2 {
    top: -24px;
  }
  .second__item h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .second__item {
    max-width: 195px;
  }
  h2 {
    font-size: 24px;
    line-height: 29.05px;
    text-align: center;
  }
  .second__block p {
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
  }
  .second__block .button {
    margin: 0 auto;
  }
  .third {
    padding: 50px 0;
  }
  .third__flex {
    flex-direction: column;
    align-items: center;
    gap: unset;
  }
  .third__block {
    display: contents;
  }
  .third h2 {
    max-width: unset;
    margin: 0 auto 24px;
  }
  .third__btn {
    order: 3;
  }
  .third__block ul {
    margin-bottom: 32px;
  }
  .third__block ul li {
    font-size: 18px;
    line-height: 32px;
  }
  .third__block-2 .third__grid {
    margin-bottom: 32px;
  }
  .third__block-2 span {
    display: block;
    text-align: center;
    margin-bottom: 32px;
  }
  .faq {
    padding: 50px 0 100px;
  }
  .faq h2 {
    font-size: 30px;
    line-height: 36.31px;
    text-align: center;
    margin-bottom: 24px;
  }
  .faq__flex {
    flex-direction: column;
    gap: 100px;
  }
  .faq__flex ul {
    max-width: unset;
    width: 100%;
  }
  .faq__flex ul li .acc span {
    font-size: 20px;
    line-height: 28px;
  }
  .faq__flex ul li {
    padding: 30px 24px;
  }
  .faq__form {
    max-width: unset;
  }
  .faq__input-block_mb {
    margin-bottom: 48px;
  }
  .faq__btn {
    max-width: 290px;
  }
  .footer {
    padding: 23px 0 38px;
  }
  .footer__links {
    font-size: 14px;
    line-height: 30px;
    top: 19px;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 720px) {
  .hero__flex {
    flex-direction: column;
  }
  .hero__block-2 {
    max-width: unset;
    position: relative;
  }
  .hero__block h1 {
    text-align: center;
  }
  .hero__block span {
    max-width: unset;
    text-align: center;
    margin-bottom: 24px;
  }
  .hero__block {
    display: flex;
    flex-direction: column;
  }
  .hero__btn {
    margin: 0 auto;
    order: 3;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  .header {
    padding: 16px 0;
    border-radius: 0 0 14px 14px;
  }
  .header .button {
    display: none;
  }
  .header a {
    display: block;
    margin: 0 auto;
  }
  .hero {
    padding: 64px 0;
  }
  .hero__block h1 {
    font-size: 28px;
    line-height: 33.89px;
    text-align: center;
    margin-bottom: 8px;
  }
  .hero__block span {
    font-size: 16px;
    line-height: 19px;
  }
  .button {
    padding: 12px 0;
  }
  .hero__block-2 {
    padding: 24px 8px;
    border-radius: 24px;
  }
  .hero__block-2 h2 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  .hero__input-block {
    padding: 8px;
    margin-bottom: 8px;
  }
  .hero__block-2 .hero__input-block span {
    font-size: 10px;
    line-height: 12px;
  }
  .value {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .hero__input-block_mb {
    margin-bottom: 24px;
  }
  .hero__block-2 span {
    font-size: 16px;
  }
  .hero__block-2 strong {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 29px;
  }
  .footer__flex {
    display: flex;
    justify-content: space-between;
  }
  .footer__links {
    flex-direction: column;
    gap: unset;
    position: static;
    transform: unset;
    align-items: flex-end;
  }
}
@media (max-width: 430px) {
  .second__img-1 {
    height: 160px;
    padding: 4px;
  }
  .second__img-2 {
    max-width: 171px;
    height: 215px;
    top: -56px;
    right: -13px;
  }
  .second__item {
    max-width: unset;
  }
  .second__item img {
    display: block;
    margin: 0 auto 10px;
  }
  .second__item h3 {
    text-align: center;
    margin-bottom: 8px;
  }
  .second__item span {
    display: block;
    text-align: center;
  }
  .second__flex-1024 {
    gap: 37px;
  }
  .second__block h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .second__block p {
    font-size: 15px;
    line-height: 18.15px;
    margin-bottom: 24px;
  }
  .second__block {
    gap: unset;
  }
  .second {
    padding: 32px 0;
  }
  .third {
    padding: 32px 0;
  }
  .third h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .third__block ul li {
    font-size: 16px;
    line-height: 32px;
  }
  .third__block ul li::before {
    flex-shrink: 0;
  }
  .third__block-2 .third__grid {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 16px;
  }
  .third__block-2 span {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .faq {
    padding: 32px 0 64px;
  }
  .faq h2 {
    margin-bottom: 20px;
  }
  .faq__flex ul li .acc span {
    max-width: 177px;
  }
  .faq__flex ul li {
    padding: 16px 24px;
  }
  .faq__flex ul li .acc span {
    font-size: 16px;
    line-height: 28px;
  }
  .faq__flex ul li button {
    width: 24px;
    height: 24px;
  }
  .faq .acc svg {
    width: 8px;
    height: 10px;
  }
  .faq__flex ul li p {
    font-size: 15px;
    line-height: 30px;
  }
  .faq__flex ul {
    gap: 8px;
  }
  .faq__flex {
    gap: 64px;
  }
  .faq__form {
    padding: 16px 6px;
  }
  .faq__form h3 {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 16px;
  }
  .faq__input-block span {
    font-size: 16px;
  }
  .faq__input-block {
    flex-direction: column;
    margin-bottom: 8px;
  }
  .faq__input-block_mb {
    margin-bottom: 16px;
  }
  .faq .custom-checkbox span {
    font-size: 12px;
    line-height: 14px;
  }
  .faq__btn {
    max-width: 220px;
    margin-top: unset;
  }
  .faq__label {
    padding: 16px;
    background-color: rgb(209, 245, 239);
    border-radius: 30px;
  }
  .faq__input-block_400 {
    padding: unset;
    border-radius: unset;
    background-color: unset;
  }
  .faq__input-block {
    gap: 8px;
  }
  .footer {
    padding: 12px 0 45px;
  }
  .footer__links a {
    font-size: 10px;
    line-height: 20px;
    text-align: left;
  }
}/*# sourceMappingURL=media.css.map */