@media(max-width: 1240px) {
    .hero__card {
        min-height: unset;
    }
    .category__grid {
        grid-template-columns: repeat(4,1fr);
    }
    .footer__logo {
        position: relative;
    }
    .footer {
        max-height: unset;
    }
    .hero {
        max-width: calc(100% - 243px);
    }
    .footer__copyright {
        top: 0;
        margin-left: unset;
        max-width: unset;
    }
    .footer__flexbox {
        margin-bottom: 10px;
    }
    
}

@media(max-width: 920px) {
    .hero__card:nth-child(3) {
        display: none;
    }
    .hero__card:nth-child(4) {
        display: none;
    }
    .header__mail {
        display: none;
    }
    .header__block {
        flex-direction: row-reverse;
        flex-basis: unset;
        gap: 30px;
    }
    .header__select {
        padding-right: 14px;
        width: 34px;
    }

    .header__tel span {
        display: none;
    }
    .footer__mail {
        display: flex;
    }
    .category__grid {
        grid-template-columns: repeat(4,1fr);
    }
    .footer__flexbox {
        gap: 10px;
    }
    .category__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px) {
    .hero {
        max-width: 100%;
    }
    .aside {
        display: none;
    }
    .hero__btn {
        display: none;
    }
    .hero__cart {
        display: none;
    }
    .hero__input {
        height: 30px;
    }
    .hero__input::placeholder {
        font-size: 12px;
        line-height: 14.63px;
        text-align: left;

    }

    .hero__relative svg {
        top: 7px;
        right: 7px;
        width: 16px;
        height: 16px;
    }
    .hero__btn-576 {
        display: flex;
        padding: 9px 0;
        width: 100%;
        align-items: center;
       justify-content: center;
        gap: 20px;
        background-color: #EE2722;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 20px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
    }
    .header__flexbox {
        padding: 5px 15px 5px 2px;
    }
    .header__logo {
        max-width: 88px;
    }
    .footer {
        max-height: unset;
        padding: 15px 10px;
    }
    .footer__nav {
        display: none;
    }
    .footer__grid {
        grid-template-columns: 1fr 1fr;
        gap: 17px;
    }
    .footer__flexbox {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-bottom: 20px;
    }   
    .footer__copyright {
        position: static;
        padding-top: unset;
        border-top: unset;
        justify-content: center;
        margin-left: unset;
    }
    .footer__text-3 {
        position: absolute;
        bottom: -30px;
    }
    .hero__swiper {
        display: block;
    }
    .hero__relative {
        max-width: unset;
    }
   
}

@media(max-width: 576px) {
    .header__nav {
        display: none;
    }
    .hero__swiper {
        display: block;
    }
    .hero__swiper .swiper-card {
        padding: 15px 10px;
        min-height: unset;
        background-size: cover;
    }
    .hero__swiper-img {
        max-width: 50px;
        bottom: 10px;
        right: 10px;
    }
    .hero__swiper-flex {
        min-height: unset;
    }
    .hero__swiper-btn {
        display: none;
    }
    .hero__swiper {
        margin-bottom: 20px;
    }
    .hero__title {
        font-size: 18px;
        line-height: 100%;
        padding-bottom: 30px;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
        gap: 6px;
    }
    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }
    .hero__title br {
        display: block;
    }
    .container {
        padding: 0 10px;
    }
    .header {
        margin-bottom: 15px;
    }
    .hero__flex {
        margin-bottom: 10px;
    }
    .card__sale {
        font-size: 9px;
        line-height: 10.8px;
        max-width: 29px;
        height: 16px;
        top: 10px;
        left: 10px;
    }
    .hero__card {
        padding: 10px;
    }
    .card__title {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 10px;
    }
    .card__old-price {
        font-size: 7px;
        line-height: 8.4px;
    }
    .card__new-price {
        font-size: 10px;
        line-height: 12px;
    }
    .card__btn {
        padding: 5px 7px;
    }
    .card__btn svg {
        width: 18px;
        height: 18px;
    }
    .hero__flexbox {
        gap: 10px;

    }
    .wrapper__flex {
        padding-bottom: 40px;
    }
    .category__title {
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 20px;
    }
    .category__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .category__card {
        padding: 10px;
        min-height: 196px;
    }
    .category__card-subtitle {
        font-size: 12px;
        line-height: 14.4px;
    }
    .category__btn {
        font-size: 10px;
        line-height: 12px;
        padding: 4px 0;
        max-width: 54px;
    }
    .category__card-1 {
        background-image: url(../img/category-1-576.webp);
    }
    
    .category__card-2 {
        background-image: url(../img/category-2-576.webp);
    }
    .category__card-3 {
        background-image: url(../img/category-3-576.webp);
    }
    .category__card-4 {
        background-image: url(../img/category-4-576.webp);
    }
    .category__card-5 {
        background-image: url(../img/category-5-576.webp);
    }
    .category__card-6 {
        background-image: url(../img/category-6-576.webp);
    }
    .category__card-7 {
        background-image: url(../img/category-7-576.webp);
    }
    .category__card-8 {
        background-image: url(../img/category-8-576.webp);
    }
    .category__card-9 {
        background-image: url(../img/category-9-576.webp);
    }
    .category__card-10 {
        background-image: url(../img/category-10-576.webp);
    }
    .category__card-11 {
        background-image: url(../img/category-11-576.webp);
    }
    .category__card-12 {
        background-image: url(../img/category-12-576.webp);
    }
    .category__card-13 {
        background-image: url(../img/category-13-576.webp);
    }
    .category__card-14 {
        background-image: url(../img/category-14-576.webp);
    }
    .category__card-15 {
        background-image: url(../img/category-15-576.webp);
    }
    .category__card-16 {
        background-image: url(../img/category-16-576.webp);
    }
    .category__card-17 {
        background-image: url(../img/category-17-576.webp);
    }
    .category__card-18 {
        background-image: url(../img/category-18-576.webp);
    }
    .category__card-19 {
        background-image: url(../img/category-19-576.webp);
    }
    .category {
        padding-bottom: 30px;
    }
    .footer__logo {
        margin-bottom: 16px;
    }
    .footer__contacts {
        flex-direction: column-reverse;
    }
    .footer__link {
        font-size: 10px;
        line-height: 18px;

    }
    .footer__mail, .footer__tel {
        font-size: 10px;
        line-height: 18px;
        gap: 5px;
    }
    .header__tel::before {
        width: 13px;
        height: 13px;
        background-size: contain;
    }
    .header__mail::before {
        width: 14px;
        height: 10px;
        background-size: contain;
    }
    .footer__block {
        gap: 0;
    }
    .footer__flexbox {
        align-items: unset;
    }
    .footer__text {
        font-size: 14px;
        line-height: 17.07px;
    }
    .footer__form {
        gap: 15px;
        max-width: unset;
    }
    .footer__input {
        max-width: unset;
    }
    .mobile-menu {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        z-index: 999;
    }
    .mobile-menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
    .mobile-menu__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        gap: 5px;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.19px;
        text-align: left;

    }


    .mobile-menu__link svg path {
        fill: #918F8F;
    }
    .mobile-menu__link:hover {
        color: #EE2722;
    }
    .mobile-menu__link:hover svg path {
        fill: #EE2722;
    }
    .mobile__nav {
        position: fixed;
        z-index: 990;
        display: none;
        padding: 15px 10px;
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        overflow-y: auto;
    }
    .mobile-nav__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile__nav-title {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.25px;
        text-align: left;
    }
    .aside__list {
        gap: 15px;
    }
    .aside__link {
        font-family: Gilroy-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.56px;
        text-align: left;

    }
    .mobile__nav {
        position: fixed;
        bottom: 60px;
        max-width: calc(100% - 20px);
        left: 10px;
        width: 100%;
        background-color: #FFFFFF;
        display: none; /* начально меню скрыто */
        animation: fadeFromDown 1s; /* анимация появления */
    }
    
    @keyframes fadeFromDown {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes fadeToDown {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(100%);
        }
    }
    .card__img {
        width: 152px;
        height: 147px;
    }
    .header__logo img {
        width: 88px;
        height: 33px;
    }
}