@font-face {
    font-family: 'Montserrat-Light';
    font-weight: 300;
    src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Black';
    font-weight: 900;
    src: url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    font-weight: 500;
    src: url('../fonts/Mulish/Mulish-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    padding-top: 15px;
    font-weight: 400;
    color: #231F20;
    background-color: #F4F4F4;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    margin-bottom: 12px;
}


.header__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;
    padding: 9px 15px 2px 2px;
    border-radius: 5px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 524px;
    gap: 10px;
}

.header__nav {
    flex-basis: 300px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header__link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #231F20;
}

.header__link:hover {
    font-family: Montserrat-SemiBold;
    font-weight: 600;
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-basis: 382px;
}

.header__mail {
    display: flex;
    align-items: center;
    gap: 7px;
}

.header__mail:hover {
    font-weight: 400;
    font-family: Montserrat;
    text-decoration: underline;
}

.header__mail::before {
    content: "";
    display: block;
    background-image: url(../img/svg/Envelope.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
}

.header__tel {
    display: flex;
    align-items: center;
    gap: 7px;
}

.header__tel:hover {
    font-weight: 400;
    font-family: Montserrat;
    text-decoration: underline;
}

.header__tel::before {
    content: "";
    display: block;
    background-image: url(../img/svg/Phone.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.header__select {
    border: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-image: url('../img/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 24px center;
    max-width: 34px;
    width: 100%;
}

.aside__content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.aside__content.open {
    grid-template-rows: 1fr;
}

.text-wrapper {
    min-height: 0;
}

.wrapper__flex {
    display: flex;
    gap: 15px;
    padding-bottom: 70px;
}

.aside {
    max-width: 228px;
    flex-shrink: 0;
}

.aside__btn {
    padding: 13px 0;
    width: 100%;
    background-color: #EE2722;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 13px;
    margin-bottom: 17px;
}

.aside__btn-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 44px;
}

.aside__btn-icon span:not(:last-child) {
    margin-bottom: 4px;
}

.aside__nav {
    background-color: #FFFFFF;
    padding: 15px 5px 22px 15px;
    border-radius: 10px;
    max-height: 711px;
}

.aside__list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.aside__link {
    font-size: 14px;
    line-height: 17.07px;
    text-align: left;
    color: #231F20;
}

.aside__link:hover {
    text-decoration: underline;
}

.hero {
    max-width: 957px;
    width: 100%;
}

.hero__flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.hero__relative {
    position: relative;
    max-width: 714px;
    width: 100%;
}

.hero__relative svg {
    position: absolute;
    top: 13px;
    right: 13px;
}

.hero__input {
    width: 100%;
    height: 46px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: unset;
    padding-left: 15px;
}

.hero__btn {
    font-family: Montserrat-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #FFFFFF;
    text-align: center;
    padding: 13px 0;
    max-width: 182px;
    width: 100%;
    background-color: #EE2722;
    border-radius: 5px;
}

.hero__btn:hover {
    background-color: #FFFFFF;
    color: #231F20;

}

.hero__cart {
    position: relative;
    margin-right: 7px;
}

.hero__cart::after {
    content: "7";
    display: block;
    font-family: Gilroy;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.09px;
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: #EE2722;
    border-radius: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    right: -6px;
}

.hero__swiper {
    overflow: hidden;
    width: 100%;
    margin-bottom: 23px;
}

.hero__btn-576 {
    display: none;
}


.swiper-card {
    background-image: url(../img/hero.webp);
    background-repeat: no-repeat;
    padding: 50px 20px 20px;
    min-height: 279px;
    position: relative;
    border-radius: 10px;
}

.hero__swiper-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 279px;
}

.hero__title {
    font-family: Montserrat-Black;
    background: linear-gradient(102.82deg, #FFFFFF 19.6%, #DB647B 97.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 67px;
    font-weight: 900;
    line-height: 53.6px;
    max-width: 403px;
    text-align: left;
}

.hero__title br {
    display: none;
}

.hero__swiper-btn {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 14px 0;
    max-width: 184px;
    width: 100%;
    background: #FFFFFF33;
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    justify-content: center;

}

.hero__swiper-img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: unset;
}

.swiper-pagination-bullet {
    display: block;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background: #FFFFFF54;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}

.hero__flexbox {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.hero__card {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    min-height: 339px;
}

.card__like {
    opacity: 0;
    position: absolute;
    top: 18px;
    right: 16px;
}

.hero__card:hover .card__like {
    opacity: 1;
}


.card__sale {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #EE2722;
    color: #FFFFFF;
    font-family: Montserrat-Light;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: center;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 46px;
    width: 100%;
    height: 25px;

}

.card__img {
    display: block;
    margin: 0 auto 10px;
}

.card__title {
    font-family: Montserrat-Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: left;
    margin-bottom: 15px;
}

.card__btn {
    background-color: #F4F4F4;
    color: #231F20;
    padding: 5px 10px 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.card__btn:hover {
    background-color: #EE2722;
}

.card__btn:hover .card__new-price {
    color: #FFFFFF;
}

.card__btn:hover svg path {
    fill: #FFFFFF;
}

.card__price {
    display: flex;
    flex-direction: column;
}

.card__old-price {
    font-family: Montserrat-Light;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    text-align: left;
    text-decoration: line-through;

}

.card__new-price {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
}

.category {
    padding-bottom: 50px;
}

.category__title {
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    margin-bottom: 40px;
}

.category__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 15px;
}

.category__card {
    padding: 20px 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000017;
    min-height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.category__card-1 {
    background-image: url(../img/category-1.webp);
}

.category__card-2 {
    background-image: url(../img/category-2.webp);
}

.category__card-3 {
    background-image: url(../img/category-3.webp);
}

.category__card-4 {
    background-image: url(../img/category-4.webp);
}

.category__card-5 {
    background-image: url(../img/category-5.webp);
}

.category__card-6 {
    background-image: url(../img/category-6.webp);
}

.category__card-7 {
    background-image: url(../img/category-7.webp);
}

.category__card-8 {
    background-image: url(../img/category-8.webp);
}

.category__card-9 {
    background-image: url(../img/category-9.webp);
}

.category__card-10 {
    background-image: url(../img/category-10.webp);
}

.category__card-11 {
    background-image: url(../img/category-11.webp);
}

.category__card-12 {
    background-image: url(../img/category-12.webp);
}

.category__card-13 {
    background-image: url(../img/category-13.webp);
}

.category__card-14 {
    background-image: url(../img/category-14.webp);
}

.category__card-15 {
    background-image: url(../img/category-15.webp);
}

.category__card-16 {
    background-image: url(../img/category-16.webp);
}

.category__card-17 {
    background-image: url(../img/category-17.webp);
}

.category__card-18 {
    background-image: url(../img/category-18.webp);
}

.category__card-19 {
    background-image: url(../img/category-19.webp);
}

.category__card-subtitle {
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
}

.category__btn {
    font-family: Montserrat;
    color: #231F20;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    background-color: #F4F4F4;
    box-shadow: 0px 4px 7px 0px #0000001C;
    border-radius: 32px;
    padding: 8px 0;
    max-width: 85px;
    width: 100%;
}

.category__btn:hover {
    background-color: #EE2722;
    color: #FFFFFF;
}

.footer {
    padding: 20px 20px 20px 8px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    max-height: 182px;
}

.footer__logo {
    position: absolute;

}

.footer__flexbox {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 15px;
    gap: 50px;
}

.footer__grid {
    display: grid;
    grid-template-columns: 148px 68px 54px 147px;
    justify-content: space-between;
    max-width: 642px;
    width: 100%;
    margin-left: auto;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: max-content;
}

.footer__block {
    max-width: 147px;
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.footer__link {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #918F8F;
    text-decoration: underline;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 236px;
    width: 100%;
}

.footer__text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;

}

.footer__input {
    max-width: 236px;
    width: 100%;
    height: 38px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    padding-left: 15px;
    border-radius: 5px;
}

.footer__input::placeholder {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #918F8F;

}

.footer__btn {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
    background-color: #918F8F;
    border-radius: 5px;
    width: 100%;
}

.footer__btn:hover {
    background-color: #EE2722;

}

.footer__copyright {
    padding-top: 20px;
    margin-left: 12px;
    border-top: 1px solid #02131F26;
    display: flex;
    justify-content: space-between;
    max-width: 905px;
    width: 100%;
    align-items: center;
    position: relative;
    top: -35px;
}

.footer__text-2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #918F8F;
}

.footer__text-3 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.19px;
    text-align: left;
    color: #918F8F;
}

.mobile-menu {
    display: none;
}

.mobile__nav {
    display: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;

}

.dropdown-options {
    display: none;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    padding: 5px 10px;
    top: 100%;
    left: 0;
    z-index: 9;
    background-color: #fff;
    border-radius: 5px;
}

.option {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;

}

.option:hover {
    text-decoration: underline;
}