@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter";
  font-weight: 400;
  background-color: #FFFFFF;
  color: rgb(25, 24, 85);
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1279px;
  padding: 0 72px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.button {
  display: block;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  border-radius: 50px;
  padding: 22px 0;
  max-width: 290px;
  width: 100%;
  border: 1px solid rgb(25, 24, 85);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: rgb(25, 24, 85);
  color: #FFFFFF;
}

.button-with-bg {
  background-color: rgb(25, 24, 85);
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-with-bg:hover {
  background-color: transparent;
  color: rgb(25, 24, 85);
}

.header {
  background-color: rgba(232, 249, 246, 0.4);
  padding: 40px 0 26px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 30px 30px;
  max-width: 1279px;
  margin: 0 auto;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding: 74px 0 80px;
}
.hero__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 23px;
}
.hero__block {
  max-width: 629px;
}
.hero__block h1 {
  font-family: Inter;
  font-size: 56px;
  font-weight: 400;
  line-height: 67.77px;
  text-align: left;
  margin-bottom: 40px;
}
.hero__block h1 strong {
  font-weight: 700;
}
.hero__block span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
}
.hero__btn {
  margin-bottom: 24px;
}
.hero__block-2 {
  background-color: rgb(232, 249, 246);
  padding: 24px;
  border-radius: 30px;
  max-width: 398px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}
.hero__block-2 h2 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.63px;
  text-align: center;
  margin-bottom: 32px;
}
.hero__block-2 span {
  display: block;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  margin-bottom: 16px;
}
.hero__block-2 strong {
  display: block;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: center;
  margin-bottom: 32px;
}
.hero__block-2 .button {
  margin: 0 auto;
}
.hero__input-block {
  background-color: rgb(255, 252, 252);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.hero__input-block span {
  display: block;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
  color: rgb(173, 178, 177);
  margin-bottom: 4px;
}

.bg-1 {
  max-width: 431px;
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 465px;
  left: -235px;
  opacity: 0.37;
  filter: blur(50px);
}

h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
}

.second {
  padding: 80px 0;
}
.second__flex {
  display: flex;
  gap: 13px;
  margin-bottom: 50px;
}
.second__block {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second__block h2 {
  margin-bottom: 24px;
}
.second__block p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
}
.second__block .button {
  margin-top: auto;
}
.second__img-block {
  position: relative;
  max-width: 596px;
  width: 100%;
}
.second__img-1 {
  max-width: 566px;
  height: 332px;
  border-radius: 180px 50px 30px 30px;
  padding: 9px 15px;
  border: 1px solid rgb(2, 211, 255);
}
.second__img-2 {
  position: absolute;
  top: -40px;
  right: -30px;
}
.second__list {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}
.second__item {
  max-width: 219px;
  width: 100%;
  background-image: url(../img/svg/card-bg.svg);
  border-radius: 30px;
  box-shadow: 2px 2px 1px 0px rgba(2, 211, 255, 0.2) inset, -2px -2px 0px 0px rgba(2, 211, 255, 0.2) inset;
  padding: 24px;
  min-height: 247px;
}
.second__item img {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}
.second__item h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  margin-bottom: 16px;
}
.second__item span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
}

.third {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}
.third h2 {
  max-width: 546px;
  margin-bottom: 24px;
}
.third__flex {
  display: flex;
  gap: 47px;
}
.third__block {
  max-width: 433px;
  width: 100%;
  position: relative;
}
.third__block ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.third__block ul li {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 12px;
}
.third__block ul li::before {
  content: "";
  display: block;
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.third__block-2 .third__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  counter-reset: item-counter;
  margin-bottom: 53px;
  position: relative;
}
.third__block-2 .third__grid li {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(0, 141, 255);
}
.third__block-2 .third__grid li::before {
  content: counter(item-counter);
  counter-increment: item-counter;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: rgb(39, 191, 201);
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid transparent;
  background: linear-gradient(#fff, #fff 0) padding-box, linear-gradient(180deg, #191855 0%, #27BFC9 100%) border-box;
}
.third__block-2 span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.third .bg-2 {
  max-width: 431px;
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0px;
  right: -100px;
}

.faq {
  padding: 80px 0 160px;
  position: relative;
  overflow: hidden;
}
.faq h2 {
  margin-bottom: 32px;
}
.faq .has-border {
  border-color: rgb(39, 191, 201);
}
.faq__flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
}
.faq__flex ul {
  max-width: 485px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.faq__flex ul li {
  border-radius: 30px;
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.15);
  padding: 24px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.25s ease;
  background-color: #fff;
}
.faq__flex ul li .acc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}
.faq__flex ul li .acc span {
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.faq__flex ul li button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 11px 0px rgba(8, 15, 52, 0.15);
  border-radius: 100%;
  flex-shrink: 0;
  transition: background-color 0.25s ease, transfoem 0.25s ease;
}
.faq__flex ul li p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(111, 108, 144);
}
.faq .content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
}
.faq .rotate {
  transform: rotate(90deg);
  background-color: rgb(39, 191, 201);
}
.faq .content.open {
  grid-template-rows: 1fr;
}
.faq .rotate svg path {
  stroke: #fff;
}
.faq .acc svg {
  transition: transform 0.3s ease;
}
.faq .text-wrapper {
  min-height: 0;
}
.faq__form {
  max-width: 579px;
  width: 100%;
  box-shadow: 0px 3px 10px 0px rgba(80, 54, 234, 0.2);
  padding: 24px;
  border-radius: 30px;
  background-color: rgba(232, 249, 246, 0.3);
}
.faq__form h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  margin-bottom: 15px;
}
.faq__input-block {
  box-shadow: 0px 0px 9px 0px rgba(80, 54, 234, 0.15);
  background-color: rgb(209, 245, 239);
  border-radius: 30px;
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.faq__input-block label {
  width: 100%;
}
.faq__input-block span {
  display: block;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8px;
}
.faq__input-block input {
  background-color: rgb(248, 253, 252);
  padding-left: 16px;
  height: 50px;
  width: 100%;
  border-radius: 14px;
  border: none;
}
.faq__input-block input::-moz-placeholder {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: rgb(173, 178, 177);
}
.faq__input-block input::placeholder {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: rgb(173, 178, 177);
}
.faq__input-block .faq__select {
  background-color: rgb(248, 253, 252);
  padding-left: 16px;
  height: 50px;
  width: 100%;
  border-radius: 14px;
  border: none;
}
.faq .custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}
.faq .custom-checkbox span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.faq .checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #27BFC9;
  position: relative;
}
.faq .active::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  background-image: url(../img/svg/checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}
.faq__btn {
  margin: 20px auto 0;
}
.faq__relative {
  position: relative;
}
.faq__arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
.faq .bg-3 {
  max-width: 431px;
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0px;
  left: -237px;
  opacity: 0.37;
  filter: blur(50px);
}

.footer {
  padding: 26px 0;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.12);
  background-color: rgba(232, 249, 246, 0.4);
  border-radius: 30px 30px 0 0;
  position: relative;
  max-width: 1279px;
  margin: 0 auto;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}
.footer__links a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(173, 178, 177);
  text-decoration: underline;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: none;
}

.range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: rgb(229, 231, 236);
  position: relative;
  margin-bottom: 10px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-image: url(../img/svg/thumb.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -2px 3px;
  background-color: transparent;
}

.range-input::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border: none;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-image: url(../img/svg/thumb.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 3px;
  background-color: transparent;
}

.value {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
  margin-bottom: 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: rgb(173, 178, 177);
}/*# sourceMappingURL=style.css.map */