@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GothamPro";
  font-weight: 400;
  src: url("../fonts/GothamPro.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GothamPro";
  font-weight: 700;
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1920px;
  padding: 0 100px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  min-height: 100vh;
  background-image: url(../img/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}
.hero .container {
  margin: auto 0 0;
}
.hero__name {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 101px;
  right: 96px;
  max-width: calc(70% - 100px);
  gap: 20px;
  width: 100%;
}
.hero__name .hero__title {
  max-width: 967px;
  width: 100%;
}
.hero__name .hero__icon {
  position: relative;
  top: -60px;
}
.company__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.company__flex li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 75px;
  background-color: #fff;
}
.company__flex li {
  display: flex;
  max-width: 241px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: Gilroy;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  justify-self: anchor-center;
}

.benefits {
  padding: 42px 0 56px;
  background: linear-gradient(to right, #FFA500, #FF0000);
}
.benefits__flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 202px;
}
.benefits__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.benefits__block span {
  font-family: GothamPro;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.dates {
  padding: 66px 0 37px;
  background-color: #fff;
}
.dates__flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 195px;
  margin-bottom: 44px;
}
.dates__block {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 434px;
}
.dates__block h2 {
  font-family: Gilroy;
  font-size: 48px;
  font-weight: 500;
  color: #000;
  border-bottom: 8px solid #f26622;
  padding-bottom: 17px;
}
.dates__block span {
  font-family: Gilroy;
  font-size: 32px;
  font-weight: 400;
  color: #000;
}
.dates p {
  font-family: GothamPro;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  max-width: 470px;
}
.dates a {
  font-family: Gilroy;
  font-size: 48px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  gap: 28px;
}
.parks {
  position: relative;
}
.parks .parks__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  transition: opacity 0.5s;
  position: relative;
  width: 100%;
}
.parks .parks__grid.fade-out {
  opacity: 0;
}
.parks #parksGrid1 {
  z-index: 500;
}
.parks #parksGrid2 {
  z-index: 499;
}
.parks #parksGrid3 {
  z-index: 498;
}
.parks #parksGrid4 {
  z-index: 497;
}
.parks .parks__grid_abs {
  position: absolute;
  top: 0;
  left: 0;
}
.parks .parks__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 482px;
  transition: opacity 0.5s;
  position: relative;
}
.parks .parks__block a {
  position: absolute;
  inset: 0;
  z-index: 10;
}
.parks .parks__block.fade-out {
  opacity: 0;
}
.parks .parks__block.fade-in {
  opacity: 1;
}
.parks .parks__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: #000;
  width: 100%;
  padding: 20px 100px;
  min-height: 482px;
  position: relative;
}
.parks .parks__texts h2 {
  font-family: GothamPro;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  max-width: 476px;
  text-align: left;
}
.parks .parks__texts p {
  font-family: GothamPro;
  font-weight: 400;
  color: #fff;
  font-size: 22px;
  max-width: 476px;
  text-align: left;
  position: relative;
  z-index: 12;
}
.parks .parks__texts:nth-child(2n-1)::after {
  content: "";
  background-image: url(../img/svg/triangle.svg);
  background-repeat: no-repeat;
  display: block;
  width: 80px;
  height: 40px;
  position: absolute;
  bottom: -39px;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
}
.parks .parks__texts:nth-child(2n)::after {
  content: "";
  background-image: url(../img/svg/triangle.svg);
  background-repeat: no-repeat;
  display: block;
  width: 80px;
  height: 40px;
  position: absolute;
  top: -39px;
  left: 50%;
  transform: translateX(-50%);
}
.parks img {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.parks .parks__icon {
  display: block;
  margin-right: auto;
  flex-shrink: 0;
}
.parks #parksGrid5 {
  z-index: 500;
  display: none;
}
.parks #parksGrid6 {
  z-index: 499;
  display: none;
}
.parks #parksGrid7 {
  z-index: 498;
  display: none;
}
.parks #parksGrid8 {
  z-index: 497;
  display: none;
}
.parks #parksGrid9 {
  z-index: 496;
  display: none;
}
.parks #parksGrid10 {
  z-index: 495;
  display: none;
}
.parks #parksGrid11 {
  z-index: 494;
  display: none;
}
.parks #parksGrid12 {
  z-index: 493;
  display: none;
}
.parks #parksGrid13 {
  z-index: 492;
  display: none;
}
.parks #parksGrid14 {
  z-index: 491;
  display: none;
}
.parks #parksGrid15 {
  z-index: 490;
  display: none;
}
.parks #parksGrid16 {
  z-index: 489;
  display: none;
}
.parks #parksGrid17 {
  z-index: 488;
  display: none;
}
.parks #parksGrid18 {
  z-index: 487;
  display: none;
}
.parks #parksGrid19 {
  z-index: 486;
  display: none;
}
.parks #parksGrid20 {
  z-index: 485;
  display: none;
}
.parks #parksGrid21 {
  z-index: 484;
  display: none;
}
.parks #parksGrid22 {
  z-index: 483;
  display: none;
}

.header {
  padding: 65px 0 60px;
  background-color: #fff;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__icon {
  max-width: 889px;
}
.header__link {
  font-family: Gilroy;
  font-size: 48px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 28px;
}

.about {
  max-width: 1920px;
  margin: 0 auto;
}
.about .about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about .about__grid img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.about .bg-black {
  background-color: #000;
}
.about .about__grid__item {
  padding: 20px 63px;
  min-height: 880px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.about .about__grid__item h1 {
  max-width: 380px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 44px;
  color: #fff;
}
.about .about__grid__item p {
  font-family: GothamPro;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
.about .about__grid__item svg {
  position: absolute;
  top: 50%;
}
.about .about__grid__item:nth-child(2n-1) svg {
  right: -39px;
  transform: translateY(-50%) rotate(90deg);
}
.about .about__grid__item:nth-child(2n) p {
  color: #000;
}
.about .about__grid__item:nth-child(2n) svg {
  left: -39px;
  transform: translateY(-50%) rotate(-90deg);
}
.about .about__grid__item_black {
  background-color: #000;
}
.about .about__grid__item_gray {
  background-color: #e3e6e6;
}
.about .about__grid__item_gray p {
  color: #000;
}
.about .about__swiper {
  position: relative;
}
.about .swiper-slide {
  max-width: 25%;
  width: 100%;
  height: 100%;
}
.about .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-swiper-btn-prev {
  transform: rotate(180deg);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  z-index: 10;
  left: 48px;
}
.about .about-swiper-btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 48px;
}

.footer {
  background-color: #000;
  padding: 60px 0;
}

.modal {
  position: fixed;
  max-width: 90%;
  z-index: 10;
  background-color: #fff;
  border: unset;
  padding-top: 86px;
}
.modal .modal__swiper {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}
.modal .modal__swiper .swiper-slide {
  justify-items: center;
}
.modal .modal__swiper .swiper-slide img {
  margin-bottom: 50px;
  max-height: 522px;
}
.modal .modal__swiper .swiper-slide p {
  font-family: GothamPro;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.modal .modal__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 96px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.modal .modal-swiper-btn-prev {
  transform: rotate(180deg);
}
.modal .modal__close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.parks-page {
  padding-bottom: 122px;
}
.parks-page .parks-page__list {
  display: flex;
  flex-direction: column;
}
.parks-page .parks-page__item a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.parks-page .parks-page__item span {
  font-family: GothamPro;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 28px;
  border-top: 1px solid #000;
  transition: color 0.25s ease;
}
.parks-page .parks-page__item .arrow-bg {
  fill: #e3e6e6;
  transition: fill 0.25s ease;
}
.parks-page .parks-page__item svg {
  transition: fill 0.25s ease;
}
.parks-page .parks-page__item:hover span {
  color: #f26622;
}
.parks-page .parks-page__item:hover .arrow-bg {
  fill: #f26622;
}
.parks-page .parks-page__item:hover svg {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */