@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  src: url("../fonts/PTRootUI-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  src: url("../fonts/PTRootUI-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  src: url("../fonts/PTRootUI-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proba Pro";
  font-weight: 700;
  src: url("../fonts/ProbaPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Root UI";
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1730px;
  padding: 0 45px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 20px 0 25px;
  background-color: #FFFFFF;
}

.header__top {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 20px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}

.header__adress {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__adress span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__btn span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  letter-spacing: -0.015em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2.5%;
  color: rgb(234, 114, 47);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
}
.header__logo span {
  font-family: Proba Pro;
  font-size: 42px;
  font-weight: 700;
  line-height: 54.26px;
  letter-spacing: -0.025em;
  color: rgb(52, 55, 59);
  display: flex;
  gap: 8px;
}
.header__logo sup {
  font-family: Proba Pro;
  font-size: 21px;
  font-weight: 700;
  line-height: 27.13px;
  text-align: left;
  color: rgb(236, 126, 27);
  top: 7px;
}

.header__catalog-block {
  position: relative;
  min-width: 198px;
  z-index: 10;
}

.header__catalog {
  max-width: 198px;
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  padding: 16.5px 26px;
  flex-shrink: 0;
  transition: border-color 0.25s ease;
}
.header__catalog span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(234, 114, 47);
}

.header__catalog:hover {
  border-color: rgb(234, 114, 47);
}

.header__catalog-list {
  position: absolute;
  top: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid rgb(238, 238, 238);
  width: 100%;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 5px;
}
.header__catalog-list a {
  display: block;
  transition: color 0.25s ease;
}
.header__catalog-list a:hover {
  color: rgb(234, 114, 47);
}

.header__catalog-block.open .header__catalog-list {
  display: flex;
}

.header__catalog-btn {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.header__catalog-btn span {
  display: block;
  background-color: rgb(234, 114, 47);
  height: 1px;
  width: 13px;
  border-radius: 20px;
  flex-shrink: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.header__catalog-btn span:nth-child(3) {
  width: 7.5px;
}

.header__catalog-block.open .header__catalog-btn span:nth-child(1) {
  transform: rotate(45deg) translateY(5.5px);
}
.header__catalog-block.open .header__catalog-btn span:nth-child(2) {
  opacity: 0;
}
.header__catalog-block.open .header__catalog-btn span:nth-child(3) {
  transform: rotate(-45deg) translateY(-5.5px);
  width: 100%;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__flex {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: rgb(234, 114, 47);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-basis: 600px;
  flex-wrap: wrap;
}

.menu__link {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  letter-spacing: -0.015em;
  color: rgb(0, 0, 0);
  transition: color 0.25s ease;
}

.menu__link:hover {
  color: rgb(234, 114, 47);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.menu__contacts .header__tel {
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 500;
  line-height: 24.2px;
  letter-spacing: -0.015em;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  transition: color 0.25s ease;
}
.menu__contacts .header__tel:hover {
  color: rgb(234, 114, 47);
}
.menu__contacts .header__mail {
  font-family: PT Root UI;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  text-align: right;
  white-space: nowrap;
  transition: color 0.25s ease;
}
.menu__contacts .header__mail:hover {
  color: rgb(234, 114, 47);
}

.orange-btn {
  background-color: rgb(234, 114, 47);
  color: rgb(255, 255, 255);
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: -0.015em;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  text-wrap: nowrap;
  padding: 19px 26px;
  width: 100%;
  flex-shrink: 0;
  transition: background-color 0.25s ease;
}

.section-padding {
  padding-top: 86px;
  padding-bottom: 86px;
}

h2 {
  font-family: PT Root UI;
  font-size: 48px;
  font-weight: 700;
  line-height: 62.4px;
  letter-spacing: -0.025em;
  text-align: left;
  color: rgb(0, 0, 0);
}

.btn-trans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 19px 0;
  border: 1px solid rgb(234, 234, 234);
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(234, 114, 47);
  width: 100%;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.btn-trans svg path {
  fill: rgb(234, 114, 47);
  transition: fill 0.25s ease;
}

.btn-trans:hover {
  background-color: rgb(234, 114, 47);
  color: #FFFFFF;
}

.btn-trans:hover svg path {
  fill: #fff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.header__btn-2 {
  max-width: 196px;
}

.orange-btn:hover {
  background-color: rgb(255, 89, 0);
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  justify-content: end;
}

.hero {
  background-image: url(../img/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 77px;
}

.hero__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 180px;
}
.hero__block h1 {
  font-family: PT Root UI;
  font-size: 66px;
  font-weight: 700;
  line-height: 72.6px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #FFFFFF;
}
.hero__block h1 span {
  display: block;
  color: rgb(234, 114, 47);
}
.hero__block p {
  font-family: PT Root UI;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #FFFFFF;
}
.hero__block .hero__btn {
  max-width: 256px;
}

.hero__list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.hero__list li {
  display: flex;
  align-items: baseline;
  gap: 11px;
  max-width: 243px;
}
.hero__list li h2 {
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.025em;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.hero__list li span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(255, 255, 255);
}
.hero__list li svg {
  flex-shrink: 0;
}
.hero__list .hero__divider {
  width: 1px;
  min-height: 79px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog .btn-trans {
  max-width: 175px;
}
.catalog .flex {
  margin-bottom: 33px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.catalog__item {
  min-height: 368px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: auto;
  padding: 32px;
  position: relative;
  transition: transform 0.25s ease;
}
.catalog__item:hover {
  transform: scale(1.05);
}
.catalog__item:nth-child(1) {
  background-image: url(../img/catalog-1.webp);
}
.catalog__item:nth-child(2) {
  background-image: url(../img/catalog-2.webp);
}
.catalog__item:nth-child(3) {
  background-image: url(../img/catalog-3.webp);
}
.catalog__item:nth-child(4) {
  background-image: url(../img/catalog-4.webp);
}
.catalog__item:nth-child(5) {
  background-image: url(../img/catalog-5.webp);
}
.catalog__item:nth-child(6) {
  background-image: url(../img/catalog-6.webp);
}
.catalog__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}
.catalog__card h3 {
  max-width: 138px;
  color: #FFFFFF;
}
.catalog__card::after {
  content: "";
  position: absolute;
  inset: 0;
}

.orange-block {
  width: 44px;
  height: 44px;
  background-color: rgb(234, 114, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

h3 {
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.025em;
  text-align: left;
}

.benefits {
  padding-top: unset;
}
.benefits h2 span {
  color: rgb(234, 114, 47);
}
.benefits .benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 20px;
}
.benefits .benefits__card {
  border: 1px solid rgb(238, 238, 238);
  padding: 33px 38px;
  min-height: 240px;
  position: relative;
}
.benefits .benefits__card svg {
  margin-bottom: 47px;
}
.benefits .benefits__card h3 {
  margin-bottom: 17px;
}
.benefits .benefits__card span {
  display: block;
  max-width: 214px;
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}
.benefits .benefits__card::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  border-left: 1px solid rgb(238, 238, 238);
  transform: rotate(45deg) translateX(20px);
  bottom: 0;
  right: 0;
  background-color: #fff;
}
.benefits .benefits__link {
  background-color: rgb(234, 114, 47);
  position: relative;
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.25s ease, color 0.25s ease;
  padding: 0 15px;
}
.benefits .benefits__link svg path {
  transition: fill 0.25s ease;
}
.benefits .benefits__link:hover {
  background-color: #fff;
  border: 1px solid rgb(234, 114, 47);
  color: rgb(234, 114, 47);
}
.benefits .benefits__link:hover .benefits__link::before {
  background-color: red;
}
.benefits .benefits__link:hover svg path {
  fill: rgb(234, 114, 47);
}
.benefits .benefits__link::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  transform: rotate(45deg) translateX(20px);
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-left: 1px solid transparent;
  transition: border-color 0.25s ease;
}
.benefits .benefits__link:hover::before {
  border-color: rgb(234, 114, 47);
}

.services {
  background-color: rgb(249, 249, 249);
}
.services .flex {
  margin-bottom: 20px;
}
.services .btn-trans {
  max-width: 161px;
}
.services .services__list {
  display: flex;
  gap: 28px;
  padding: 20px 0;
}
.services .services__item {
  min-height: 434px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 32px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 389px;
  width: 100%;
  position: relative;
  transition: transform 0.25s ease;
}
.services .services__item a {
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #fff;
  max-width: 182px;
}
.services .services__item a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.services .services__item:hover {
  transform: scale(1.05);
}
.services .services__text {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.services .services__item::after {
  content: "";
  background-image: url(../img/svg/triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 28px;
  height: 28px;
}
.services .services__item:nth-child(1) {
  background-image: url(../img/services-1.webp);
}
.services .services__item:nth-child(2) {
  background-image: url(../img/services-2.webp);
}
.services .services__item:nth-child(3) {
  background-image: url(../img/services-3.webp);
}
.services .services__item:nth-child(4) {
  background-image: url(../img/services-4.webp);
}
.services .orange-block {
  margin-top: auto;
}

.overflow {
  overflow: auto;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.banner .banner__block {
  background-image: url(../img/banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 571px;
  display: flex;
  padding: 0 100px;
}
.banner .banner__abs {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 25px;
  background-image: url(../img/svg/banner-svg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 190px;
}
.banner .banner__abs span:nth-child(1) {
  display: block;
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #fff;
}
.banner .banner__abs span:nth-child(2) {
  display: block;
  font-family: PT Root UI;
  font-size: 36.34px;
  font-weight: 400;
  line-height: 44.13px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #fff;
}
.banner .banner__texts {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  max-width: 538px;
}
.banner .banner__texts h2 {
  color: #fff;
  margin-bottom: 18px;
}
.banner .banner__texts span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #fff;
  margin-bottom: 32px;
}
.banner .banner__btns {
  display: flex;
  align-items: center;
  gap: 11px;
}
.banner .banner__btn {
  max-width: 183px;
}
.banner .banner__btn-2 {
  max-width: 179px;
}

.white-btn {
  background-color: rgb(255, 255, 255);
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: -0.015em;
  text-align: center;
  padding: 19px 0;
  color: rgb(37, 37, 37);
  width: 100%;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.white-btn:hover {
  background-color: rgb(37, 37, 37);
  color: #FFFFFF;
}

.projects {
  padding-top: unset;
}
.projects .flex {
  margin-bottom: 33px;
}
.projects .btn-trans {
  max-width: 174px;
}
.projects .projects__flex {
  display: flex;
  align-items: center;
  gap: 24px;
}
.projects .projects__card {
  min-height: 374px;
  padding: 32px;
  background-image: url(../img/project-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease;
}
.projects .projects__card a {
  position: absolute;
  inset: 0;
}
.projects .projects__card:hover {
  transform: scale(1.05);
}
.projects .projects__card::after {
  content: "";
  background-image: url(../img/svg/triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 28px;
  height: 28px;
}
.projects .projects__flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: auto;
}
.projects .projects__flex-2 h3 {
  color: #fff;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 2;
}
.tags span {
  display: block;
  font-family: PT Root UI;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: rgb(61, 69, 78);
  padding: 10px 11px;
  background-color: rgb(255, 255, 255);
  border-radius: 42px;
}
.tags .active {
  background-color: rgb(234, 114, 47);
  color: #fff;
}

.popular {
  padding-top: unset;
}
.popular h2 {
  margin-bottom: 33px;
}
.popular .popular__flex {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 33px;
}
.popular .popular__card {
  max-width: 389px;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}
.popular .popular__card::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  border-left: 1px solid rgb(238, 238, 238);
  transform: rotate(45deg) translateX(20px);
  bottom: 0;
  right: 0;
  background-color: #fff;
}
.popular .popular__img {
  background-image: url(../img/popular.webp);
  min-height: 327px;
  background-size: cover;
  padding: 32px 27px;
  display: flex;
}
.popular .popular__tags {
  margin-top: auto;
}
.popular .popular__texts {
  padding: 32px;
  border: 1px solid rgb(238, 238, 238);
}
.popular .popular__texts h3 {
  margin-bottom: 24px;
}
.popular .popular__texts ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.popular .popular__texts ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.015em;
  color: rgb(61, 69, 78);
}
.popular .popular__flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.popular .popular__flex-2 span {
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.025em;
  text-align: left;
  color: rgb(0, 0, 0);
}
.popular .btn-trans {
  max-width: 145px;
}

.request {
  padding-top: unset;
}
.request .request__flexbox {
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  position: relative;
}
.request__form {
  max-width: 607px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.request .request__left {
  padding: 56px 0 74px 64px;
}
.request h2 {
  margin-bottom: 22px;
  max-width: 607px;
}
.request__flex {
  display: flex;
  align-items: center;
  gap: 16px;
}
.request__input {
  height: 49px;
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  padding-left: 20px;
  color: rgb(61, 69, 78);
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
}
.request__input::-moz-placeholder {
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}
.request__input::placeholder {
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}
.request__textarea {
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  padding-left: 20px;
  min-height: 178px;
  resize: none;
  padding-top: 19px;
}
.request__textarea::-moz-placeholder {
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}
.request__textarea::placeholder {
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}
.request .orange-btn svg {
  transform: rotate(-45deg);
}
.request__checkbox-block {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.request__checkbox-block span {
  font-family: PT Root UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: rgb(61, 69, 78);
}
.request__checkbox-block span a {
  color: rgb(234, 114, 47);
}
.request__custom-checkbox {
  border: 1px solid rgb(226, 226, 226);
  width: 20px;
  height: 20px;
  background-color: #fff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request__custom-checkbox.active::after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  background-image: url(../img/svg/gal.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.request .request__image {
  position: absolute;
  bottom: 0;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request .request__image .request__img-content {
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.request .request__image a {
  font-family: PT Root UI;
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(42, 42, 48);
  position: relative;
  left: -25px;
  transition: color 0.25s ease;
}
.request .request__image a:hover {
  color: rgb(234, 114, 47);
}

.about {
  padding-top: unset;
}
.about .about__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.about .about__block {
  max-width: 656px;
  width: 100%;
}
.about .about__block h2 {
  margin-bottom: 32px;
}
.about .about__block h2 span {
  color: rgb(234, 114, 47);
}
.about .about__block p {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
  margin-bottom: 40px;
}
.about .orange-btn {
  max-width: 251px;
}
.about .about__swiper {
  max-width: 800px;
  width: 100%;
  margin: 0;
}
.about .about__btns {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 2;
}

.swiper-btns {
  display: flex;
  align-items: center;
  gap: 11px;
}
.swiper-btns button {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 114, 47);
}
.swiper-btns .swiper-button-disabled {
  background-color: rgb(255, 255, 255);
}
.swiper-btns .swiper-button-disabled svg path {
  fill: rgb(153, 162, 173);
}

.prev {
  transform: rotate(180deg);
}

.company {
  padding-top: unset;
}
.company .flex {
  margin-bottom: 40px;
}
.company .swiper-slide {
  max-width: 253px;
}
.company .company__block {
  border: 1px solid rgb(238, 238, 238);
  min-height: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company .company__pagination {
  text-align: center;
  margin-top: 42px;
}
.company .company__pagination .swiper-pagination-bullet {
  width: 34px;
  height: 5px;
  border-radius: 29px;
  background-color: rgba(153, 162, 173, 0.33);
  opacity: 1;
}
.company .company__pagination .swiper-pagination-bullet-active {
  background-color: rgb(153, 162, 173);
}
.company .swiper-button-disabled {
  border: 1px solid rgb(238, 238, 238);
}

.buy {
  padding-top: unset;
}
.buy .buy__block {
  padding-top: 50px;
  border-top: 1px solid rgb(238, 238, 238);
}
.buy h2 {
  margin-bottom: 18px;
}
.buy p {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(61, 69, 78);
}

.footer {
  background-color: rgb(24, 24, 24);
  padding-top: 44px;
  padding-bottom: 27px;
}
.footer .footer__flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .footer__block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 267px;
  position: relative;
  padding-bottom: 117px;
  min-height: 300px;
}
.footer .footer__block span {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #fff;
}
.footer .footer__block::after {
  content: "";
  width: 1px;
  height: calc(100% + 44px);
  position: absolute;
  right: -70px;
  top: -44px;
  background-color: rgba(255, 255, 255, 0.05);
}
.footer .footer__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
}
.footer .footer__logo svg {
  flex-shrink: 0;
}
.footer .footer__logo span {
  font-family: Proba Pro;
  font-size: 42px;
  font-weight: 700;
  line-height: 54.26px;
  letter-spacing: -0.025em;
  color: #fff;
  display: flex;
  gap: 8px;
}
.footer .footer__logo sup {
  font-family: Proba Pro;
  font-size: 21px;
  font-weight: 700;
  line-height: 27.13px;
  text-align: left;
  color: rgb(236, 126, 27);
  top: 7px;
}
.footer .footer__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-basis: 700px;
}
.footer .footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .footer__nav ul li:first-child {
  margin-bottom: 8px;
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.footer .footer__nav ul a {
  font-family: PT Root UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(255, 255, 255);
  transition: color 0.25s ease;
}
.footer .footer__nav ul a:hover {
  color: rgb(236, 126, 27);
}
.footer .footer__block-2 a {
  display: block;
  font-family: PT Root UI;
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
  letter-spacing: -0.025em;
  text-align: right;
  color: rgb(255, 255, 255);
  margin-bottom: 13px;
  transition: color 0.25s ease;
  white-space: nowrap;
}
.footer .footer__block-2 a:hover {
  color: rgb(236, 126, 27);
}
.footer .footer__block-2 .footer__mail {
  font-family: PT Root UI;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.025em;
  text-align: right;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
.footer .footer__status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 26px;
}
.footer .footer__status span {
  font-family: PT Root UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #fff;
}
.footer .footer__online {
  width: 14.88px;
  height: 14.88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(91, 180, 82, 0.12);
  border-radius: 100%;
}
.footer .footer__online::after {
  content: "";
  width: 6.76px;
  height: 6.76px;
  background-color: rgb(91, 180, 82);
  border-radius: 100%;
}
.footer .orange-btn {
  max-width: 224px;
  margin-left: auto;
}
.footer .orange-btn svg {
  transform: rotate(-45deg);
}
.footer .footer__bottom {
  padding-top: 26px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer .footer__texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__texts span {
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgb(255, 255, 255);
}
.footer .footer__texts a {
  font-family: PT Root UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: -0.015em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 9%;
  text-decoration-thickness: 4.5%;
  color: rgb(234, 114, 47);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  border: unset;
  padding: 15px;
  margin: unset;
}/*# sourceMappingURL=style.css.map */