:root {
   /* colors */
   --white-100: #fff;
   --black-100: #010101;
   --black-80: #010101cc;
   
}

.text-14 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;

}

.text-16 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    text-align: left;
}

.text-16-b {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    text-align: left;
}

.text-18 {

}

.label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

}

.text-18-sb {

    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: center;

}

h2 {
    font-family: Open Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 40px !important;
}

h3 {
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}

.button {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-100);
    padding: 17px 40px;
    border-radius: 16px;
    background: var(--black-100);
}

.card {
    padding: 40px;
    border-radius: 40px;
    background-color: var(--white-100);
}

.p64 {
    padding: 64px 0;
}

.relative {
    position: relative;
}