@media (max-width: 1024px) {
    .container {
        max-width: 974px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .header {
        position: static;
        padding-bottom: 3rem;
        padding-top: 3rem;
        width: 100%;
    }
    .flexbox {
        flex-direction: column;
    }
    .main {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header_title {
        font-size: 36px;
    }
    .header_subtitle {
        font-size: 18px;
    }
}