@media (max-width: 1240px) {
    .header__img {
        max-width: 12%;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 954px;
    }
    .header__tel {
        font-size: 22px;
    }
    .header {
        height: 286px;
    }
    .hero__img {
        max-width: 35%;
    }
    .hero__title {
        font-size: 50px;
    }
    .hero__text {
        font-size: 20px;
        max-width: 70%;
    }
    .title {
        font-size: 40px;
    }
    .advantages__name {
        font-size: 28px;
    }
    .advantages__list {
        gap: 30px 50px
    }
    .for-what__img {
        max-width: 35%;
    }
    .for-what__item:first-child {
        margin-right: 15px;
    }
    .calculation__descr {
        font-size: 20px;
    }
    .calculation__right {
        max-width: 45%;
    }
    .calculation__img-block {
        max-width: 600px;
    }
}

@media (max-width: 869px) {
    .container {
        max-width: 799px;
    }
    .header__tel {
        padding-top: 20px;
    }
    .header {
        height: 242px;
    }
    .hero__title {
        font-size: 45px;
    }
    .hero__img {
        top: -60px;
        right: 10px;
    }
    .title {
        font-size: 35px;
    }
    .advantages__list {
        gap: 20px 20px;
    }
    .advantages__name {
        font-size: 24px;
    }
    .advantages__icon {
        padding: 15px;
    }
    .advantages__descr {
        font-size: 16px;
    }
    .for-what {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .advantages {
        padding-bottom: 20px;
    }
    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .calculation {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .calculation__img-text {
        font-size: 40px;
    }
    .calculation__img-text span{
font-size: 30px;
    }
    .calculation__img-text {
        padding: 15px 25px;
        left: 0px;
    top: -50px;
    }
    .calculation__img-block {
        margin-bottom: 20px;
    }
    .calculation__gift {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .for-what__flexbox {
        flex-direction: column;
        align-items: center;
    }
    .for-what__item:first-child {
        margin-right: unset;
        margin-bottom: 15px;
    }
    .calculation__left {
        margin-right: 15px;
    }
    .hero__img {
        max-width: 30%;
    }
    .calculation__img {
        max-width: 65%;
    }
    .callculation__img-2 {
        max-width: 65%;
    }
    .hero {
        padding-bottom: 20px;
    }
    .calculation__img-block {
        max-width: 500px;
    }
    .footer__adress, .footer__tel, .footer__email {
        font-size: 16px;
    }
    .calculation__flexbox {
        margin-bottom: 70px;
    }
}

@media (max-width: 576px) {
    .header__tel {
        font-size: 17px;
    }
    .header__img {
        max-width: 16%;
    }
    .header {
        height: 162px;
    }
    .hero__title {
        font-size: 24px;
    }
    .hero__text {
        font-size: 16px;
        max-width: unset;
    }
    .hero__btn {
        padding: 13px 30px;
    }
    .title {
        font-size: 24px;
    }
    .advantages__title {
        margin-bottom: 20px;
    }
    .advantages__list {
        grid-template-columns: unset;
    }
    .advantages__item:not(:last-child) {
        margin-bottom: unset;
    }
    .for-what__text {
        font-size: 20px;
    }
    .calculation__flexbox {
        flex-direction: column;
    }
    .calculation__right {
        max-width: unset;
    }
    .calculation__descr {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .calculation__img-block {
        flex-direction: column;
    }
    .calculation__img {
        max-width: 30%;
    }
    .callculation__img-2 {
        max-width: 30%;
    }
    .footer__flexbox {
        flex-direction: column;
    }
    .footer__adress {
        margin-bottom: 10px;
    }
    .calculation__img-text {
        font-size: 24px;
    }
    .calculation__img-text span {
        font-size: 20px;
    }
    .calculation__img-text {
        padding: 10px 25px;
    }
    .calculation__gift {
        font-size: 24px;
    }
    .calculation {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer {
        padding: 15px 0;
    }
    .header__img {
        margin-top: 10px;
    }
    .header__tel {
        padding-top: 12px;
    }
}

@media (max-width: 400px) {
    .header {
        height: 113px;
    }
    .hero__flexbox {
        margin-top: -40px;
    }
    .hero__img {
        top:0
    }
    .hero__title, .advantages__name {
        font-size: 20px;
    }
    .title {
        font-size: 20px;
    }
    .hero__text, .advantages__descr {
        font-size: 14px;
    }
    .advantages__icon {
        padding: 7px;
    }
    .for-what__text {
        font-size: 16px;
    }
}