.header {
    padding: 32px 0 16px;
    position: relative;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    &__logo {
        position: relative;
        z-index: 9999;
    }


    .menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }

    .menu__list {
        display: flex;
        align-items: center;
        gap: 56px;
    }

    .menu__link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        color: #000;
        transition: color .25s ease;
        position: relative;
    }

    .menu__link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: calc(0px - 2px);
        background-color: transparent;
        transition: background-color .25s ease;
    }

    .menu__link:hover {
        color: #067E4E;
        ;
    }

    .menu__link:hover.menu__link::after {
        background-color: #067E4E;
    }

    .dd__arrow {
        transition: transform .25s ease;
    }

    .dd__list {
        display: none;
        max-width: 257px;
        width: 100%;
        opacity: 0;
        transition: opacity 2s ease 2s;
        position: absolute;
        top: calc(100% + 8px);
        border: 1px solid #067e4e;
        border-radius: 4px;
        flex-direction: column;
    }

    .dd-open .dd__list {
        display: flex;
        opacity: 1;
        z-index: 9999;
    }

    .dd-open .menu__link {
        color: #067E4E;
        border-color: #067E4E;
    }


    .dd__item {

        text-align: center;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: #fff;
    }

    .dd__item a {
        display: block;
        padding: 14px 0;
        transition: backgorund .3s ease;
        backdrop-filter: blur(50px);
        background: rgba(255, 255, 255, 0.1);
    }


    .dd__item:hover a {
        background: linear-gradient(91.28deg, rgba(2, 68, 74, 0.86) 0.99%, rgba(6, 126, 78, 0.86) 98.83%);

    }

    .dd__item:not(:last-child) {
        border-bottom: 1px solid #067e4e;
    }

    &__tel {
        margin-left: auto;
    }

    &__lang {
        margin-left: 60px;
    }



    &__burger-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
        z-index: 9999;
    }

    &__burger-btn span {
        display: block;
        max-width: 26px;
        width: 100%;
        height: 4px;
        background-color: #067E4E;
        border-radius: 10px;
        transition: transform .5s, opacity .5s, background-color .5s;
        margin-left: auto;
    }



    &__burger-btn span:nth-child(2) {
        width: 55%;
    }

    &__burger-btn span:nth-child(3) {
        width: 35%;
    }


    &.open &__burger-btn span {
        background-color: #fff;
        width: 100%;
    }

    &.open &__burger-btn span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    &.open &__burger-btn span:nth-child(2) {
        opacity: 0;
    }

    &.open &__burger-btn span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    &.open &__logo path {
        fill: #fff;
    }


}

.dd {
    position: relative;
}

.dd-open .dd__arrow {
    transform: rotate(180deg);
}

.tel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;
    white-space: nowrap;
}

.lang {
    position: relative;
}

.lang__btn {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: #128257;


    svg path {
        fill: #128257;
    }
}

.lang__list {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    border: 0.3px solid #04444B;
    backdrop-filter: blur(40px);
    padding: 16px 0;
    border-radius: 4px;
    flex-direction: column;
    gap: 8px;
    z-index: 2;
}

.lang__list-1200 {
    display: none;
}

.lang__item button {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding: 4px 14px;
    transition: background-color .3s ease;
}

.lang__item:hover button {
    background: linear-gradient(91.28deg, rgba(2, 68, 74, 0.86) 0.99%, rgba(6, 126, 78, 0.86) 98.83%);

}

.contacts__list-1200 {
    display: none;
}

.dd-open .lang__list {
    display: flex;
}

.socials-1200 {
    display: none;
}

.menu-divider {
    display: none;
}






@media (max-width: 1280px) {
    .header {

        .menu {
            position: static;
            transform: unset;
            margin: 0 auto;
        }

        .menu__list {
            gap: 48px;
        }
    }
}

@media (max-width: 1280px) {
    .header {
        .menu__link {
            font-size: 16px;
        }

        .menu__list {
            gap: 20px;
        }

        &__logo {
            svg {
                width: 100px;
            }
        }

        .tel {
            font-size: 16px;
        }

        &__lang {
            margin-left: 30px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        .header__burger-btn {
            display: flex;
        }

        .menu {
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            background: linear-gradient(0.36deg, #02444A 0.31%, #067E4E 99.69%);
            padding: 75px 20px 20px 20px;
            transition: transform .5s;
            min-height: 100svh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            overflow: auto;
        }

        .menu__list {
            flex-direction: column;
            gap: 56px;
            margin: 0 auto;
            padding-top: 61px;
        }

        .menu__list::before {
            content: "";
            width: 100%;
            height: 0.5px;
            display: block;
            background-color: #FFFFFFA6;
            position: absolute;
            top: 80px;
        }

        .menu__link {
            color: #fff;
            margin: 0 auto;
            font-size: 18px;
        }
        .tel {
            font-size: 24px;
            z-index: 10;
        }

        .dd__arrow path {
            fill: #fff;
        }

        &__lang {
            display: none;
        }

        .lang__list-1200 {
            display: grid;
            max-width: 271px;
            gap: 16px;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
        }

        .lang__item button {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            padding: 4px;
        }

        .lang__item.active button {
            border: 1px solid #fff;
            border-radius: 4px;
        }

        .contacts__list-1200 {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 271px;
            gap: 50px;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                gap: 22px;
                font-family: Montserrat;
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                text-align: center;
                text-transform: capitalize;
                color: #A0A0A0;
            }
        }

        .socials-1200 {
            display: flex;
            align-items: center;
            gap: 16px;
            justify-content: center;
            margin-top: 20px;
            img {
                width: 25px;
                height: 24px;
            }
        }

        .menu-divider {
            display: block;
            max-width: 271px;
            width: 100%;
            height: 0.5px;
            background-color: #FFFFFFA6;
            margin: 0 auto;
        }

        &__tel {
            margin-left: unset;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        .menu__link:hover {
            color: #fff;
            border-color: transparent;
        }

        .dd__menu {
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: grid-template-rows 0.3s ease;
        }

        .dd-open .dd__menu {
            grid-template-rows: 1fr;
        }

        .dd__list {
            position: static;
                min-height: 0;
       
        }

    }

    .header.open .menu {
        transform: translateX(100%);
    }
}

@media (max-width: 768px) {
    .header {
        padding: 12px 0 22px;

        &__logo svg {
            max-width: 126px;
            height: 27px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 2px 0 11px;

        &__logo svg {
            max-width: 84px;
            height: 18px;
        }

        &__tel {
            display: none;
        }

        .menu__list::before {
            top: 50px;
        }

        .menu__link {
            font-size: 20px;
        }

        .menu__list {
            gap: 24px;
            padding-top: 0;
        }

        .lang__item button {
            font-size: 16px;
        }

        .contacts__list-1200 a {
            font-size: 20px;
        }
    }
}

.hero {
    background-image: url(../img/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100svh - 90px);
    padding-top: 170px;
    padding-bottom: 40px;
    position: relative;

    &__svg {
        position: absolute;
        top: 0;
        max-width: 100%;
    }

    &__block {
        width: 100%;
        max-width: 435px;

        h2 {
            position: relative;
            z-index: 5;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #fff;
            margin-bottom: 15px;

        }

        span {
            display: block;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #fff;
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__texts {
        max-width: 636px;

        h1 {
            font-family: Montserrat;
            font-weight: 800;
            font-size: 60px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 16px;
            color: #fff;
        }

        p {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #fff;
            margin-bottom: 75px;
        }

    }

    &__btn {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #067E4E;
        padding: 12.5px 40px;
        background: #fff;
        border-radius: 4px;
        transition: background .3s ease, color .3s ease;
        overflow: hidden;
        position: relative;
    }

    .btn-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 100%;
        background-color: #067E4E;
        opacity: 0.5;
        transform: skewX(-20deg) translateX(-50px);
    }

    .btn-bar-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background-color: #067E4E;
        opacity: 0.5;
        transform: skewX(-20deg) translateX(-50px);
    }




    &__btn:hover {
        background: linear-gradient(91.28deg, rgba(2, 68, 74, 0.86) 0.99%, rgba(6, 126, 78, 0.86) 98.83%);
        color: #fff;

    }

    &__socicals {
        position: absolute;
        bottom: 72px;
        max-width: 248px;
        width: 100%;
        padding: 24px;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 24px;
        transform: translateX(-190px);
        left: 0;
        transition: transform .3s ease, left .3s ease;

        ul {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        li {
            width: 24px;
            height: 24px;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }

    .socials-open {
        transform: translateX(0px);
        left: inherit;
    }

    &__socials-btn {
        width: 32px;
        height: 27px;
        transition: transform .3s ease;
    }

}


.compass {
    box-shadow: 0px 5px 10px 0px #00000040 inset, 0px -5px 10px 0px #00000040 inset, 0px 30px 100px 80px #0000004D, -15px -30px 60px 20px #FFFFFF0D;
    max-width: 435px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(0.36deg, #02444A 0.31%, #067E4E 99.69%);
    position: relative;
    margin-bottom: 48px;


    &__top {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bottom {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__left {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    &__right {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    &__center {
        max-width: 280px;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #0F4753;
        box-shadow: 0px 15px 50px 30px #00000033 inset;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__top-line {
        width: 2.5px;
        height: 22px;
        background-color: #fff;
        position: absolute;
        top: 11px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bottom-line {
        width: 2.5px;
        height: 22px;
        background-color: #fff;
        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__left-line {
        width: 22px;
        height: 2.5px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translateY(-50%);
    }

    &__right-line {
        width: 22px;
        height: 2.5px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__arrow {
        position: absolute;
        opacity: 0;
        transition: opacity .1s ease;
    }

    &__arrow-top {
        opacity: 1;
        top: 43px;
        left: 50%;
        transform: translateX(-50%);

    }

    &__arrow-top-right {
        top: 67px;
        left: 70%;
        transform: translateX(-50%) rotate(45deg);
    }

    &__arrow-right {
        top: 50%;
        right: 43px;
        transform: translateY(-50%) rotate(90deg);
    }

    &__arrow-right-bottom {
        bottom: 67px;
        left: 70%;
        transform: translateX(-50%) rotate(135deg);
    }


    &__arrow-bottom {
        left: 50%;
        bottom: 43px;
        transform: translateX(-50%) rotate(180deg);
    }

    &__arrow-bottom-left {
        bottom: 67px;
        left: 30%;
        transform: translateX(-50%) rotate(225deg);
    }

    &__arrow-left {
        top: 50%;
        left: 43px;
        transform: translateY(-50%) rotate(270deg);
    }

    &__arrow-left-top {
        top: 67px;
        left: 30%;
        transform: translateX(-50%) rotate(315deg);
    }
}


@media(max-width: 1440px) {
    .hero {
        &__socicals {
            left: unset;
            transform: translateX(-256px);
        }
    }
}

@media(max-width: 1200px) {
    .hero {
        overflow: hidden;

        &__flex {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        &__svg {
            max-width: 549px;
            width: 100%;
            height: 49px;
        }

        &__texts {
            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        &__btn {
            display: block;
            margin: 0 auto;
        }

        &__socicals {
            display: none;
        }

        &__block {
            h2 {
                font-size: 16px;
                margin-bottom: unset;
            }

            span {
                position: relative;
                z-index: 5;
                font-size: 16px;
            }
        }
    }

    .compass {
        max-width: 290px;
        margin: 0 auto 24px;

        &__center {
            max-width: 180px;
        }

        &__logo svg {
            max-width: 61px;
            height: 13px;
        }

        &__top svg {
            width: 30px;
            height: 30px;
        }

        &__bottom svg {
            width: 30px;
            height: 30px;
        }

        &__left svg {
            width: 30px;
            height: 30px;
        }

        &__right svg {
            width: 30px;
            height: 30px;
        }

        &__arrow {
            width: 28px;
            height: 19px;
        }

        &__arrow svg {
            width: 28px;
            height: 19px;
        }

        &__arrow-top {
            top: 34px;
        }

        &__arrow-top-right {
            top: 34px;
        }

        &__arrow-right {
            right: 34px;
        }

        &__arrow-right-bottom {
            bottom: 34px;
        }

        &__arrow-bottom {
            bottom: 34px;
        }

        &__arrow-bottom-left {
            bottom: 34px;
        }

        &__arrow-left {
            left: 34px;
        }

        &__arrow-left-top {
            top: 34px;
        }

        &__top-line {
            width: 1.5px;
            height: 13px;
        }

        &__bottom-line {
            width: 1.5px;
            height: 13px;
        }

        &__left-line {
            width: 13px;
            height: 1.5px;
        }

        &__right-line {
            width: 13px;
            height: 1.5px;
        }
    }
}

@media(max-width: 768px) {
    .hero {
        padding-top: 74px;
        min-height: calc(100svh - 74px);

        &__texts {
            h1 {
                font-size: 46px;
                margin-bottom: 8px;

                br {
                    display: none;
                }
            }

            p {
                font-size: 18px;
                margin-bottom: 48px;
            }
        }
    }
}

@media(max-width: 576px) {
    .hero {
        padding-top: 50px;
        min-height: calc(100svh - 53px);

        &__svg {
            max-width: 397px;
            width: 100%;
            height: 33px;
        }

        &__texts {
            h1 {
                font-size: 28px;
            }

            p {
                font-size: 14px;
                margin-bottom: 16px;
            }
        }

        &__flex {
            gap: 24px;
        }

        &__btn {
            width: 100%;
            font-size: 18px;
            padding: 18px 0;
            letter-spacing: 2px;
            z-index: 5;
            position: relative;
        }
    }
}

.services {
    padding-top: 70px;
    background-color: #F8FAFB;
    overflow: hidden;
    padding-bottom: 64px;

    .container {
        position: relative;
    }

    h2 {
        margin-bottom: 48px;
    }

    &__tab {
        opacity: 1;
        max-width: 1280px;
        transition: opacity 0.4s, visibility 0.4s;
        padding: 24px;
        border-top: 2px solid #067E4E;
        border-bottom: 2px solid #067E4E;
        border-left: 1px solid #067E4E;
        border-right: 1px solid #067E4E;
        border-radius: 10px;
        box-shadow: 0px 2px 3px 0px #00000026;
        min-height: 719px;
        width: 100%;
    }

    &__tab-content {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease;
        height: 0;
    }

    &__tab-content.active {
        opacity: 1;
        height: auto;
        visibility: visible;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__btn {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        padding: 17.5px 16px;
        box-shadow: 0px 2px 4px 0px #00000033;
        border: 0.5px solid #067E4E;
        background: #C7E1D9;
        border-radius: 4px;
        position: relative;

        span {
            opacity: 0;
            display: flex;
            position: absolute;
            background: linear-gradient(91.28deg, rgba(2, 68, 74, 0.99) 0.99%, rgba(6, 126, 78, 0.99) 98.83%);
            inset: 0;
            align-items: center;
            justify-content: center;
            transition: opacity .3s ease;
        }
    }

    &__btn:hover span {
        opacity: 1;
    }

    h3 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 4%;
        text-align: center;
        vertical-align: bottom;
        text-transform: capitalize;
        color: #000000;
        margin-bottom: 50px;
    }

    p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;

    }

    .services__svg {
        width: 100%;
        max-width: 938px;
    }
}




@media(max-width: 768px) {
    .services {
        padding-top: 40px;
        padding-bottom: 40px;

        &__svg {
            display: block;
            max-width: 328px;
            height: 28px;
            margin: 0 auto 16px;
        }

        h2 {
            margin-bottom: 33px;
        }

        &__btn {
            font-size: 16px;
            line-height: 104%;
            padding: 23px 16px;
        }

        &__tabs {
            gap: 8px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media(max-width: 576px) {
    .services {
        padding-top: 36px;

        h2 {
            margin-bottom: 20px;
        }

        .services__tabs {
            justify-content: center;
            margin-bottom: 16px;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }

        .services__tab {
            min-height: 629px;
        }
    }
}

.why {
    padding-top: 60px;
    position: relative;
    padding-bottom: 48px;
    overflow: hidden;

    &__svg {
        position: absolute;
        top: 60px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    h2 {
        margin-bottom: 8px;
    }

    p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 50px;
    }

    &__swiper {
        min-height: 456px;
    }

    .swiper-wrapper {
        box-sizing: border-box;
        min-height: 369px;
    }

    &__card {
        position: relative;
        border: 1px solid #1F8862;
        border-radius: 16px 16px 0 0;
        padding: 45px 37px 0;
        min-height: 233px;
        transition: min-height .3s ease-in;

        h3 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 10px;
            color: #01120A;

        }

        span {
            display: block;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #181818;
            opacity: 0.6;
            transition: color .4s ease-in, opacity .4s ease-in;
        }

        svg {
            position: absolute;
            transform: translate(-50%, -70%);
            left: 50%;
            top: 0;
            width: 96px;
            height: 96px;
            transition: width .4s ease-in, height .4s ease-in;
        }
    }

    &__card:hover {
        min-height: 263px;

        span {
            font-size: 18px;
        }

        h3 {
            font-size: 20px;
        }
    }


    .swiper-slide-active &__card {
        min-height: 263px;
        background-color: #CDE5DC;
        border-width: 3px;
        max-width: 426px;
        width: 100%;

        h3 {
            font-size: 24px;
        }

        span {
            font-size: 22px;
            color: #000000;
            opacity: 1;
        }

        svg {
            width: 134px;
            height: 134px;
        }
    }

    .swiper-slide {
        margin-top: auto;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 160px;
        width: 100%;
        margin: 16px auto 11px;
    }

    .why-swiper-button-prev svg path {
        transition: stroke .3s ease-in;
    }

    .why-swiper-button-next svg path {
        transition: stroke .3s ease-in;
    }

    .why-swiper-button-prev:hover svg path {
        stroke: #1B505C;
    }

    .why-swiper-button-next:hover svg path {
        stroke: #1B505C;
    }

    &-swiper-scrollbar {
        height: 10px;
        max-width: 402px;
        width: 100%;
        margin: 0 auto;
        background-color: #DDDCE0;
        border-radius: 24px;
    }

    .swiper-scrollbar-drag {
        background: #1F8862;
    }


}

@media(max-width: 1200px) {
    .why {
        .container {
            padding: 0;
        }

        &__swiper {
            min-height: 367px;
        }

        .swiper-wrapper {
            min-height: 310px;
        }

        .swiper-slide {
            max-width: 262px;
        }

        p {
            padding: 0 50px;
        }

        &__card {
            min-height: 201px;
            padding: 50px 16px 0;

            h3 {
                font-size: 16px;
            }

            span {
                font-size: 14px;
            }

            svg {
                width: 70px;
                height: 63px;
            }
        }

        .swiper-slide-active &__card {
            min-height: 230px;

            h3 {
                font-size: 16px;
            }

            span {
                font-size: 16px;
                opacity: 0.6;
            }

            svg {
                width: 78px;
                height: 78px;
            }
        }
    }
}

@media(max-width: 768px) {
    .why {
        padding-top: 40px;
        padding-bottom: 28px;

        p {
            font-size: 18px;
            margin-bottom: 32px;
        }

        .why__svg {
            top: 0;
        }
    }
}

@media(max-width: 576px) {
    .why {
        padding-bottom: 23px;

        p {
            font-size: 14px;
            padding: 0;
            margin-bottom: 24px;
        }

        .container {
            padding: 0 16px;
        }

        .swiper-slide {
            max-width: unset;
        }

        .why__card {
            max-width: unset;
        }

        .why-swiper-scrollbar {
            display: none;
        }
    }
}

.map {
    padding-bottom: 72px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;

    &__svg {
        display: block;
        margin: 0 auto 32px;
        object-fit: contain;
        max-width: 1440px;
        width: 100%;
        height: auto;
    }

    &__block {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        position: relative;
        z-index: 5;

        p {
            color: #fff;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 24px;
            line-height: 110%;
            letter-spacing: 0%;

        }
    }

    &__block-left {
        background: linear-gradient(91.28deg, #02444A 0.99%, #067E4E 98.83%);
        border-radius: 10px 0 0 10px;
        padding: 50px 0 50px 50px;
        transition: transform .4s linear, opacity .3s ease;


        p {
            text-align: right;
        }
    }

    &__block-right {
        background: linear-gradient(271.28deg, #02444A 0.99%, #067E4E 98.83%);
        border-radius: 0 10px 10px 0;
        padding: 50px 50px 50px 0px;
        transition: transform .4s linear, opacity .3s ease;

        P {
            text-align: left;
        }

        .pad {
            position: relative;
            left: 5px;
        }

    }

    .map__block-left {
        transform: translateX(-200%);

    }

    .map__block-right {
        transform: translateX(200%);

    }

    .map__block.show .map__block-left {
        transform: translateX(0);

    }

    .map__block.show .map__block-right {
        transform: translateX(0);

    }

    &__relative {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    &__point {
        cursor: pointer;
    }

    &__point-usa {
        position: absolute;
        top: 35%;
        left: 10%;
    }

    &__point-czech {
        position: absolute;
        top: 22%;
        left: 51%;
    }

    &__point-poland {
        position: absolute;
        top: 19%;
        left: 53%;
    }

    &__point-taiwan {
        position: absolute;
        top: 50%;
        left: 85%;

        .map__text {
            right: calc(100% + 16px);
            left: unset;
        }
    }

    &__point-ukrane {
        position: absolute;
        top: 22%;
        left: 57%;
    }

    &__point-kz {
        position: absolute;
        top: 22%;
        left: 69%;

        .map__text {
            right: calc(100% + 16px);
            left: unset;
        }
    }

    &__point-china {
        position: absolute;
        top: 32%;
        left: 79%;

        .map__text {
            right: calc(100% + 16px);
            left: unset;
        }
    }

    &__text {
        display: none;
        position: absolute;
        top: 0;
        left: calc(100% + 16px);
        border: 1px solid #067E4E;
        border-radius: 10px;
        padding: 24px;
        background-color: #FFFFFFBF;
        width: 292px;
        z-index: 10;

        img {
            width: 24px;
            height: 24px;
            margin-bottom: 10px;
        }

        h2 {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0%;
            margin-bottom: 16px;
            color: #000000;
            text-align: left;
        }

        p {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #000000;

        }
    }
}


@media(max-width: 1200px) {
    .map {
        padding-bottom: 40px;

        &__block {
            p {
                font-size: 18px;
                white-space: nowrap;
            }


        }

        &__block-right {
            padding: 25px 25px 25px 0px;
        }

        &__block-left {
            padding: 25px 0 25px 25px;
        }
    }
}


@media(max-width: 768px) {
    .map {
        &__point>img {
            width: 48px;
            height: 84px;
        }

        &__point-usa {
            top: 14%;
        }

        &__point-china {
            top: 20%;
        }

        &__point-kz {
            top: 10%;
        }

        &__point-ukrane {
            top: 11%;

            .map__text {
                right: calc(100% + 16px);
                left: unset;
            }
        }

        &__text {
            padding: 16px;
            width: 213px;

            h2 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
        }

        &__flex {
            display: flex;
            gap: 10px;
            flex-direction: row;
        }
    }
}

@media(max-width: 576px) {
    .map {
        padding-bottom: 36px;

        &__block {
            p {
                font-size: 14px;
            }


        }

        &__block-right {
            padding: 10px 10px 10px 0px;
        }

        &__block-left {
            padding: 10px 0 10px 10px;
        }


        &__point-usa {
            top: 8%;
        }

        &__point-taiwan {
            top: 28%;
        }

        &__point-czech {
            top: 12%;
            left: 42%;

            .map__text {
                left: 20px;
                left: unset;
            }

        }

        &__point-china {
            top: 20%;
        }

        &__point-kz {
            top: 10%;
        }

        &__point-ukrane {
            top: 4%;
            left: 59%;
        }
    }
}

@media(max-width: 410px) {
    .map {
        &__block {
            p {
                font-size: 12px;
            }


        }
    }
}



.contacts {
    padding-bottom: 72px;
    padding-top: 72px;
    background-color: #F8FAFB;

    h2 {
        margin-bottom: 42px;
    }

    &__svg {
        width: 100%;
        max-width: 938px;
    }

    &__flex {
        position: relative;
        min-height: 309px;
        margin-bottom: 24px;

        img {
            width: 258px;
            height: 258px;
        }
    }

    &__block {
        position: absolute;
        top: 37px;
        max-width: 824px;
        width: 100%;
        padding: 19px 26px;
        backdrop-filter: blur(20px);
        box-shadow: 0px 2px 3px 0px #FFFFFF33, 0px -2px 3px 0px #FFFFFF33;
        border: 0.5px solid #067E4E;
        display: flex;
        align-items: flex-start;
        gap: 36px;
        left: 205px;
        min-height: 272px;
        border-radius: 16px;

        p {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000;
            margin-bottom: 15px;
        }

        strong {
            display: block;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: right;
            color: #000;
        }

        svg {
            flex-shrink: 0;
        }
    }

    &__texts {
        position: relative;
        top: 30px;
    }

    &__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        margin-bottom: 48px;

        a,
        button {
            display: flex;
            align-items: center;
            gap: 24px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            color: #fff;
            min-height: 113px;
            justify-content: center;
            padding: 0 20px;
            background-color: #1B505C;
            border-radius: 4px;
            width: 100%;
            transition: background-color .25s ease;
        }

        a:hover {
            background-color: #067E4E;
        }

        button:hover {
            background-color: #067E4E;
        }
    }

    .contacts__block-2 {
        h2 {
            margin-bottom: 16px;
        }

        span {
            display: block;

            font-family: Montserrat;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #000000;
            max-width: 576px;
            margin: 0 auto 14px;
        }

        .form__privacy {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0px;
            text-align: center;
            color: #444343;
            grid-column: span 2;
            margin-bottom: unset;

            a {
                text-decoration: underline;
            }
        }
    }

    .contacts__form {
        max-width: 691px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .form__relative {
        position: relative;
        width: 100%;

        svg {
            position: absolute;
            left: 29px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .form__input {
        width: 100%;
        height: 74px;
        background-color: transparent;
        border: 0.5px solid #000000;
        border-radius: 4px;
        padding-left: 60px;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000;
    }

    .form__input.error {
        border: 1px solid #F70A0A;
    }

    .form__input:focus {
        border: 1px solid #000000;
    }

    .form__input::placeholder {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000;
    }

    .form__relative_textarea {
        grid-column: span 2;

        svg {
            top: 24px;
            transform: unset;
        }
    }

    textarea {
        height: 112px;
        width: 100%;
        background-color: transparent;
        border: 0.5px solid #000000;
        border-radius: 4px;
        padding-left: 60px;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        padding-top: 20px;
        color: #000;
        resize: none;
    }

    textarea::placeholder {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000;
    }

    .form__btn {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #fff;
        box-shadow: 0px 2px 4px 0px #0000004D;
        background-color: #067E4E;
        padding: 12.5px 0;
        max-width: 258px;
        width: 100%;
        margin: 0 auto;
        grid-column: span 2;
        border-radius: 10px;

    }

    .socials-576 {
        display: none;
    }

    .newsletter {
        display: none;
    }

}

@media(max-width: 1200px) {
    .contacts {
        padding-top: 40px;

        img {
            display: block;
            margin: 0 auto;
        }

        &__flex {
            min-height: 472px;
        }

        &__block {
            top: 196px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__flex-2 {
            flex-wrap: wrap;
            gap: 16px;
            justify-content: center;
            margin-bottom: 32px;

            a,
            button {
                max-width: calc(50% - 8px);
                font-size: 18px;
                min-height: 98px;
            }
        }
               .newsletter {
            display: block;
        }
             .contacts__orders {
            margin-bottom: 32px;
        }
    }
}

@media(max-width: 768px) {
    .contacts {
        padding-bottom: 40px;

        &__svg {
            display: block;
            max-width: 328px;
            height: 28px;
            margin: 0 auto 16px;
        }

        h2 {
            margin-bottom: 32px;
        }

        &__block {
            max-width: 591px;
            padding: 18px 18px 32px;
            flex-direction: column;
            gap: 13px;
            min-height: unset;

            svg {
                max-width: 52px;
                height: 44px;
            }

            p {
                font-size: 18px;
                text-align: center;
            }

            strong {
                font-size: 18px;
            }
        }

        &__texts {
            top: 0;
        }

        &__flex-2 {
            .phone-svg {
                width: 32px;
                height: 32px;
            }

            .adress-svg {
                width: 40px;
                height: 32px;
            }

            .mail-svg {
                width: 32px;
                height: 40px;
            }
        }

        .contacts__block-2 {
            h2 {
                margin-bottom: 8px;
            }

            span {
                font-size: 18px;
                margin-bottom: 24px;
            }
        }

   

        .contacts__form {
            gap: 16px 10px;
        }

 
    }
}

@media(max-width: 576px) {
    .contacts {
        &__flex {
            img {
                width: 225px;
                height: 225px;
            }
        }
    }
}


.newsletter {
    display: block;
    padding: 24px;
    border-radius: 16px;
    background: linear-gradient(180deg, #067D4E 0%, #02454B 100%);

    h3 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
    }

    span {
        display: block;
        max-width: 389px;
        margin: 0 auto 4px;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0%;
        text-align: center;
        color: #CBCBCB;

    }

    strong {
        display: block;
        font-family: Montserrat;
        font-weight: 400;
        max-width: 325px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        color: #fff;
        opacity: 0.5;


    }
}

.newsletter__form.error {
    outline: 1px solid #F70A0A;
    border-radius: 4px;
}

.newsletter__form.success {
    button {
        position: absolute;
        width: 100%;
        max-width: unset;
        background: linear-gradient(91.28deg, rgba(2, 68, 74, 1) 0.99%, rgba(6, 126, 78, 1) 98.83%);
        border-radius: 4px;
        box-shadow: 0px 20px 35px 0px #DF695126;


    }

    input {
        border-radius: 6px;
    }
}

.newsletter__form {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 401px;
    height: 52px;
    margin-bottom: 5px;

    input {
        height: 54px;
        width: 100%;
        background-color: #fff;
        border-radius: 4px 6px 6px 4px;
        padding-left: 16px;
        border: 1px solid #1B505C;
        border-right: unset;
    }

    input::placeholder {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -2%;
        opacity: 0.6;

    }

    button {
        font-family: Montserrat;
        position: absolute;
        right: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #fff;
        height: 100%;
        width: 149px;
        background-color: #067E4E;
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 20px 35px 0px #DF695126;
        transition: width .3s ease;

    }
}

@media(max-width: 576px) {
    .contacts {
        padding-bottom: 36px;

        .contacts__svg {
            max-width: 210px;
            height: 18px;
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 24px;
        }

        .contacts__block {
            padding: 11px 16px 20px;
            gap: 50px;
            top: 164px;

            svg {
                max-width: 30px;
                height: 25px;
            }

            p {
                font-size: 14px;
                margin-bottom: 43px;
            }

            strong {
                font-size: 14px;
                line-height: 24px;
            }
        }

        &__flex {
            min-height: 440px
        }

        &__flex-2 {
            flex-direction: column;
            max-width: 200px;
            margin: 0 auto;
        }

        .contacts__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .contacts__block-2 span {
            font-size: 14px;
            margin-bottom: 24px;
        }

        .form__input {
            font-size: 16px;
        }

        .form__input::placeholder {
            font-size: 16px;
        }

        textarea {
            font-size: 16px;
            height: 90px;
        }

        textarea::placeholder {
            font-size: 16px;
        }

        .form__relative_textarea {
            margin-bottom: 14px;
        }

        .form__btn {
            max-width: 234px;
            font-size: 18px;
            padding: 16px 0;
            margin: 0 auto 3px;
        }

        .contacts__orders {
            display: flex;
            flex-direction: column-reverse;
            gap: 17px;
            margin-bottom: 41px;
        }

        .contacts__flex-2 a,
        .contacts__flex-2 button {
            max-width: unset;
            background-color: transparent;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 16px;
            line-height: 104%;
            letter-spacing: 0px;
            color: #000;
            min-height: unset;
            gap: 16px;
            justify-content: unset;
            padding: 0;

            svg path {
                fill: #023D4A;
            }
        }

        .socials-576 {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 8px;
            img {
                width: 24px;
                height: 24px;
            }
        }

        .mail-svg {
            width: 20px;
            height: 20px;
        }

        .phone-svg {
            width: 20px;
            height: 20px;
        }

        .adress-svg {
            width: 17px;
            height: 20px;
        }

        .newsletter {
            strong {
                font-size: 14px;
                line-height: 100%;
            }
        }

        .newsletter__form {
            input::placeholder {
                font-size: 12px;
            }
        }

    }
}

.footer {
    background-image: url(../img/footer-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 46px 0 26px;

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__logo {
        display: block;
        margin-bottom: 27px;
    }

    &__block {
        display: flex;
        gap: 20px;
    }

    &__contatcs {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            display: flex;
            gap: 8px;
            align-items: center;
            white-space: nowrap;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #FFF;

        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 16px;
        img {
            width: 25px;
            height: 24px;
        }
    }

    &__adress {
        span {
            display: block;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #AEAEAE;
            max-width: 193px;
        }
    }

    &__middle {
        max-width: 307px;
        width: 100%;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 32px;

        li:first-child {
            display: none;
        }

        a {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 20px;
            white-space: nowrap;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #fff;

        }

        a:hover {
            text-decoration: underline;
        }
    }

    &__list-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        li:first-child {
            display: none;
        }

        a {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-offset: 0%;
            text-decoration-thickness: 0%;
            color: #B1B1B1;
            transition: color .3s ease-in;
        }

        a:hover {
            color: #fff;
        }
    }

    &__right {
        max-width: 401px;
        width: 100%;
    }

    .newsletter {
        background: unset;
        padding: 0;
        border-radius: unset;

        h2 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #fff;
            text-align: left;
            margin-bottom: 24px;
        }

        strong {
            text-align: left;
            max-width: unset;
            margin-bottom: 16px;
            font-size: 16px;
        }

        span {
            text-align: left;
            max-width: unset;
            color: #809BA1;
        }
    }

    .newsletter__form {
        margin-bottom: 16px;

    }

    &__copyright {
        display: block;
        text-align: center;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        color: #AEAEAE;
        margin-bottom: 24px;
    }

    &__icon {

        svg {
            display: block;
            margin: 0 auto;
        }
    }
}

@media(max-width: 1200px) {
    .footer {
        position: relative;
        padding-top: 33px;

        &__right {
            display: none;
        }

        &__contatcs {
            a {
                display: none;
            }
        }

        &__socials {
            a {
                display: block;
            }
        }

        &__list {
            li:first-child {
                display: block;
                font-family: Montserrat;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
                margin-bottom: 4px;

            }


        }

        &__block {
            flex-direction: column-reverse;
            gap: 30px;
        }

        &__flex {
            flex-direction: row-reverse;
            margin-bottom: 66px;
        }

        &__logo {
            position: absolute;
            left: 33px;
            top: 33px;

            svg {
                max-width: 126px;
                height: 40px;
            }
        }

        &__middle {
            position: absolute;
            max-width: 180px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            a {
                font-size: 16px;
                text-align: left;
                font-weight: 400;
            }
        }

        &__nav {
            display: flex;
            align-items: flex-start;
            gap: 24px;
        }

        &__list-2 {
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
            }

            li:first-child {
                display: block;
                font-family: Montserrat;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
                margin-bottom: 4px;
            }
        }

        &__adress span {
            max-width: 220px;
            font-size: 14px;
            line-height: 100%;
        }

        &__copyright {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 700px) {
    .footer {
        &__socials {
            display: none;
        }

        &__flex {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        &__logo {
            position: static;
            margin-bottom: 15px;
        }

        &__middle {
            position: static;
            max-width: unset;
            transform: unset;
            width: unset;
        }
    }
}

@media(max-width: 576px) {
    .footer {
        padding-bottom: 6px;

        .footer__logo svg {
            max-width: 85px;
        }

        .footer__adress span {
            font-size: 12px;
        }

        .footer__list {
            margin-bottom: unset;
        }

        .footer__list a {
            font-size: 14px;
        }

        .footer__list-2 a {
            font-size: 14px;
        }

        .footer__icon svg {
            width: 44px;
            height: 9px;
        }

        .footer__contatcs {
            display: none;
        }

        .footer__copyright {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
}