

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', "sans-serif";
    background-color: #f9f9f9;
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header__flexbox {
    border-bottom: 1px solid #EFEFEF;
    mix-blend-mode: multiply;
    padding: 15px 0;
}

.header__logo {
    margin-right: 30px;
}

.header__tel {
    font-weight: 700;
font-size: 32px;
line-height: 47px;
color: #5495ff;
}

.button {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
background: #FF941F;
border-radius: 16px;
color: #FFFFFF;
transition: background .3s ease-in-out;
}

.button:hover {
    background: #ff8400;
}

.header__btn {
    padding: 16px 55px;
    margin-right: 30px;
}

.header__svg path {
    fill: #FF941F;
}

.header__adress {
    color: #FF941F;
    display: flex;
    align-items: center;
}

.header__list {
    padding: 15px 0;
}

.header__link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #222222;
transition: text-decoration .3s ease-in-out;
}

.header__link:hover {
    text-decoration: underline;
    text-decoration-color: #FF941F;
}

.hero {
    padding: 70px 0 50px;
}

.title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #222222;
}

.hero__title {
    margin-bottom: 24px;
}

.text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #222222;
}

.hero__descr {
    margin-bottom: 56px;
    max-width: 468px;
}
.hero__btn {
    padding: 16px 63px;
}

.hero__link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #C4C4C4;

}

.link_active {
    font-weight: 600;
    color: #2D2D2D;
}

.advantages__title {
    margin-bottom: 50px;
}

.advantages__list {
    margin-bottom: 150px;
}


.advantages__item {
    display: flex;
    align-items: center;

}

.advantages__item:not(:last-child) {
    margin-bottom: 20px;
}

.advantages__icon {
    margin-right: 35px;
}

.advantages__block {
    padding: 70px 80px;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 130px;
}

.advantages__img {
    position: absolute;
    right: 60px;
    top: -70px;
}

.advantages__sale {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 148.19%;
/* identical to box height, or 24px */


color: #FFFFFF;
background-color: #FF941F;
padding: 2px 8px;
background: #FF9522;
border-radius: 6.71034px;
margin-bottom: 12px;
}

.advantages__title {
    max-width: 395px;
    margin-bottom: 50px;
}

.advantages__input {
    border:unset;
    border-bottom:1px solid #EFEFEF;
    width: 33%;

}

.advantages__input::placeholder {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #181818;

}

.advantages__btn {
    padding: 16px 65px;
    background: #4F8FFD
}

.begin {
    padding-bottom: 100px;
    border-bottom: 1px solid #DDDDDD;
}

.begin__title {
    max-width: 750px;
    margin-bottom: 16px;
}

.begin__descr {
    display: block;
    margin-bottom: 100px;
}



.begin__text {
    max-width: 250px;
    display: block;
}

.begin__img {
    max-width: 250px;
    margin-bottom: 30px;
}

.begin__img3 {
    max-width: 170px;
}

.begin__stores {
    border: 0.91117px solid #E8E8E8;
    border-radius: 9.1117px;;
}

.begin__stores2 {
    padding: 5px;
}

.price__select {
    background-color: transparent;
    border: unset;
    margin-bottom: 45px;
}

.price__text {
    max-width: 373px;
    display: block;
}

.price__card {
    padding: 38px;
    background-color: #fff;
    max-width: 280px;
    border-radius: 19px;
}



.price__card-online {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #212121;
display: block;
margin-bottom: 15px;
}

.price__card-old-price {
    font-weight: 700;
font-size: 12px;
line-height: 14px;
color: #2D2D2D;
display: block;
text-align: right;
text-decoration: line-through;
text-decoration-color:#4B8EFF;
}

.price__card-price {
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
margin-bottom: 5px;
color: #2D2D2D;
}

.price__card-sales {
    color: #fff;
    font-weight: 400;
font-size: 12px;
line-height: 14px;
    padding: 5px 10px;
    background: #4F8FFD;
border-radius: 4px;
display: inline-block;
margin-bottom: 17px;

}

.price__card-sales2 {
    background: #FF941F;
}

.price__card-start {
    font-weight: 400;
font-size: 12px;
line-height: 14px;
color: rgba(140, 140, 140, 0.56);
display: block;
padding-top: 15px;
border-top: 1px solid #E4E4E4;
margin-bottom: 32px;
}

.price__card-item {
    list-style-type: disc;
    font-weight: 400;
    font-size: 12px;
    line-height: 123.19%;
    /* or 15px */
    
    
    color: #2D2D2D;
}

.price__card-item:not(:last-child) {
    margin-bottom: 15px;
}

.price__card ul {
    margin-bottom: 20px;
}

.price__card-btn {
    padding: 15px 0px;
    width: 100%;
}

.price__flexbox {
    align-items: unset;
    margin-top: 5px;
}

.price {
    margin-bottom: 100px;
}

.quetions {
    padding-bottom: 100px;
}

.quetions__title {
    width: 50%;
    display: block;
}

.quetions__flexbox {
    align-items: unset;
}

.quetions__flexbox div {
    width: 50%;
}

.quetions__quetion {
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 148.19%;
color: #181818;
display: flex;
align-items: center;
margin-bottom: 20px;

}

.quetions__quetion svg {
    margin-left: 10px;
}

.quetions__quetion:first-child svg {
    transform: rotate(180deg);
}

.quetions__quetion:first-child svg path {
    fill: #FF941F;
}

.quetions__quetion:first-child {
    margin-bottom: 10px;
}

.map {
    padding-bottom: 100px;
}

.map__title {
    margin-bottom: 20px;
}

.map__img {
    margin-bottom: 50px;
}

.map__btn {
    padding: 15px 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.footer {
    background-color: #202020;
    padding: 50px 0 20px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__tel {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.footer__adress {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.footer__work-time {
    color: #fff;
    font-size: 16px;
}

.footer__list {
    color: #C4C4C4;
}

.footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__flexbox2 {
    align-items: unset;
    width: 60%;
}

.footer__flexbox {
    padding-bottom: 30px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
}

.footer__footer {
    color: #535252;
}

.burger-menu {
    display: none;
}