@font-face {
    font-family: 'Stolz-book';
    font-weight: 400;
    src: url('../fonts/Stolzl-Book.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolz-bold';
    font-weight: 400;
    src: url('../fonts/Stolzl-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Stolz-book','Arial';
    background-color: #ffffff;
    min-width: 360px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Stolz-book','Arial';
}

.container {
    max-width: 1296px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    padding: 30px;
}

.main_title {
    color: #b3b3b7;
    font-size: 2rem;
}

.main_title-first-word {
    color: #333;
}

.main_descr {
    color: #b3b3b7;
    font-size: 1.25rem;
    margin-bottom: 30px;
    display: inline-block;
}

.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;

}

.main_card {
    background: linear-gradient(90deg, #ECF0F5 0%, rgba(236, 240, 245, 0.15) 100%);
    border-radius: 14px;
    position: relative;
    transition: box-shadow .3s ease-in-out;
}

.main_card:hover {
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.main-card_container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.main-card_left {
    margin-right: 20px;
}

.main-card_right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-card_price {
    font-size: 18px;
    line-height: 22px;
}

.main-card_old-price {
    color: #C90B0B;
    font-size: 20px;
    line-height: 22px;
    text-decoration: line-through;
}

.main-card_title {
    font-family: Stolz-bold;
}

.main-card_text {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.main-card_corner {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 0px 12px;
    padding: 12px 35px;
}

.main-card_corner-red {
    background: #C90B0B;
}

.main-card_corner-blue {
    background: #64C5FC;
}

.main-card_corner-green {
    background: #0BC91E;
}

.main-card_title {
    font-size: 24px;
    line-height: 18px;
}

.main-card_btn {
    background: #1166DD;
    border-radius: 100px;
    padding: 15px 25px;
    color: #fff;
    transition: all .3s ease-in-out;
}

.main-card_btn:hover {
background: #2B3244;
}

.main-card_btn2 {
    background: transparent;
    border: 1px solid #1166DD;
    border-radius: 100px;
    padding: 15px 25px;
    color: #1166DD;
    transition: all .3s ease-in-out;
}

.main-card_btn2:hover {
border: 0.851351px solid #2B3244;
    color: #2B3244;
    background: #fff;
}

.main-big-card_btn {
    background: #FFFFFF;
    color: #2B3244;
    padding: 16px 35px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
    margin-right: 10px;
}

.main-big-card_btn:hover {
    background: #1166DD;
    color: #fff;
}

.main-big-card_btn2 {
    color: #FFFFFF;
    border: 0.851351px solid #FFFFFF;
    padding: 15px 35px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
} 

.main-big-card_btn2:hover {
    background: #87B9FF;
}

.main-card_btns {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.main-card_icon {
margin-right: 5px;
}

.main-card_icon-block-title {
    font-size: 10px;
    line-height: 12px;
    color: #555555;
    margin-bottom: 5px;
}

.main-card_title-descr {
    display: flex;
    flex-direction: column;
}

.main-card_descr {
    line-height: 13px;
    font-size: 10px;
    color: #2B3244;
}

.main_big-card {
    background: linear-gradient(180deg, #1166DD 0%, rgba(17, 102, 221, 0.2) 100%);
    border-radius: 12px;
    margin-bottom: 20px;
}

.main-card_logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.main-card_logo {
    max-width: 20px;
    margin-right: 5px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-contact {
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
    width: 425px;
    padding: 13px 25px 25px 25px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-animation: fade 0.3s both;
            animation: fade 0.3s both;
  }


  .modal-contact__text {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .modal-contact__item {
    width: 63%;
    margin-bottom: 20px;
  }
  
  .modal-contact__text-field {
    margin-bottom: 15px;
  }
  
  .modal-contact__btn {
    text-align: right;
  }
  
  .modal-contact--show {
    display: block;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .overlay--show {
    display: block;
  }
.modal_form {
    display: flex;
    flex-direction: column;
}

.modal_input {
    margin-bottom: 15px;
    border: 1px solid black;
}

.modal-contact__form {
    display: flex;
    flex-direction: column;
}

.modal-dialog {
    background-color: #fff;
    max-width: 500px;
    max-height: 50%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.main-card_img {
    background-image: url(../img/1.jpg);
    width: 200px;
    height: 240px;
    background-repeat: no-repeat;
    display: block;
    transition: all .4s ease-in-out;
}

.main-card_img:hover {
    background-image: url(../img/2.jpg);
    width: 200px;
    height: 240px;
}

.main-card_icon-text {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.main-card_icon-block {
    display: flex;
    align-items: center;
}

.white-text {
    color: #fff;
}