@font-face {
    font-family: 'Garamond';
    font-weight: 400;
    src: url('../fonts/CormorantGaramond/CormorantGaramond-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GaramondBold';
    font-weight: 700;
    src: url('../fonts/CormorantGaramond/CormorantGaramond-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saksonia';
    font-weight: 400;
    src: url('../fonts/ofont.ru_Saksonia.ttf') format('ttf');
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Garamond, sans-serif;
    background-color: #FFFFFF;
    min-width: 375px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-big {
    max-width: 1730px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1500px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 53px;
    background-color: #FBF7EE;
}

.header__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-block {
    display: flex;
    align-items: center;
}


.services {
   position: relative;
}

.services::after {
    content: "";
    background-image: url(../img/services-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -278px;
    z-index: -2;
    width: 100%;
    background-color: transparent;
    height: 1626px;
}

.header__logo {
    height: 130px;
    width: 130px;
    margin-right: 35px;
}

.header__logo-text {
    height: 40.60430908203125px;
width: 250.41094970703125px;
}


.header__list {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header__item {
    font-weight: 400;
font-size: 39.5625px;
line-height: 45px;
color: #693E16;
}

.hero {
    position: relative;
    background-color: #FBF7EE;
    padding-top: 150px;
    z-index: -2;
}

.hero__block {
padding: 300px 0;
max-width: 1415px;
    margin-left: auto;
}

.hero__img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 1500px;
    z-index: -1;
}


  

.hero__title {
    font-family: Saksonia;
    font-weight: 400;
font-size: 140.577px;
line-height: 203px;
text-align: right;
color: #975C28;

}

.hero__descr {
    font-style: normal;
font-weight: 400;
font-size: 47.475px;
line-height: 120.5%;
color: #693E16;
display: block;
text-align: right;
margin-bottom: 38px;
}

.button {
    background: #C89C6D;
border-radius: 116.36px;
font-weight: 400;
font-size: 37.2353px;
line-height: 42px;
text-align: center;
color: #FFFFFF;
}

.hero__btn {
    padding: 18px 80px;
    display: block;
    margin-right: auto;
}

.services__title {
    font-weight: 400;
font-size: 94.95px;
line-height: 137px;
text-align: left;
color: #975C28;
}

.services__btn {
    padding: 18px 73px;
    margin-left: auto;
    display: block;
}


.services__item {
    font-weight: 400;
font-size: 47.475px;
line-height: 120.5%;
}

.services__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

.services__left {
    display: flex;
    flex-direction: column;
}

.services__right {
    display: flex;
    flex-direction: column;

}

.services__item_active {
    border-bottom: 3.95625px solid #E3B776;
}

.services__item:not(:last-child) {
    margin-bottom: 45px;
}

.promotion {
    background-color: #FBF7EE;
    z-index: -3;
    position: relative;
    padding-top: 500px;
}

.promotion__swiper {
    overflow: hidden;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: "";
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    height: 70px;
    width: 65.27812194824224px;
    display: block;


}

.swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    content: "";
    background-image: url(../img/arrow-left.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    height: 70px;
    width: 65.27812194824224px;
    display: block;


}


.promotion__title {
    font-style: normal;
font-weight: 400;
font-size: 107.064px;
line-height: 87px;
color: #975C28;
}

.promotion__time {
    font-weight: 400;
font-size: 66.9151px;
line-height: 120.5%;
margin-bottom: 62px;
color: #975C28;
}

.promotion__descr {
    font-weight: 400;
font-size: 40.1491px;
line-height: 120.5%;
display: block;
margin-bottom: 81px;
max-width: 819px;
}

.promotion__price {
    font-style: normal;
font-weight: 700;
font-size: 111.104px;
line-height: 120.5%;
color: #975C28;
margin-bottom: 11px;
display: block;
}

.promotion__old-price {
    font-weight: 700;
font-size: 66.9151px;
line-height: 120.5%;
color: rgba(151, 92, 40, 0.7);
margin-left: 72px;
}

.promotion__btn {
    padding: 16px 57px;
}

.promotion__slide-flex {
    display: flex;
    justify-content: space-between;
}

.promotion__slide-right {
    position: relative;
}


.promotion__slide-right::before {
    content: "1-15 АПРЕЛЯ";
    position: absolute;
    font-weight: 700;
    font-size: 38.1861px;
    text-align: center;
    max-width: min-content;
    color: #fff;
    background-color: #C89C6D;
    border-radius: 100px;
    padding: 56px 27px;
    bottom: 0;
}

.about-us {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us__title {
    font-style: normal;
font-weight: 400;
font-size: 94.95px;
line-height: 137px;
color: #975C28;
margin-bottom: 40px;
}

.about-us__decr {
    font-style: normal;
font-weight: 400;
font-size: 43.5187px;
line-height: 125.5%;
max-width: 1028px;
margin-bottom: 89px;
}

.about-us__text {
    
font-family: 'Saksonia';
font-style: normal;
font-weight: 400;
font-size: 71.2125px;
line-height: 118.09%;
max-width: 1180px;
color: #975C28;
}

.about-us__flex {
    display: flex;
    justify-content: space-between;
}

.about-us__img {
    width: 54%;
}

.about-us::after {
    content: "";
    background-image: url(../img/bg-about.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -61px;
    z-index: -4;
    width: 100%;
    background-color: #FBF7EE;
    height: 100%;
}

.specialist__swiper {
    overflow: hidden;
}

.specialist__title {
    font-family: 'Saksonia';
font-style: normal;
font-weight: 400;
font-size: 94.95px;
line-height: 137px;
text-align: center;
color: #975C28;
margin-bottom: 48px;

}


.sales__card {
    padding: 93px 70px;
}

.sales__title {
    font-family: 'Saksonia';
font-style: normal;
font-weight: 400;
font-size: 107.064px;
line-height: 87px;
color: #975C28;
}

.sales__flex {
    display: flex;
    justify-content: space-between;
}

.sales__time {
    font-style: normal;
font-weight: 400;
font-size: 66.9151px;
line-height: 120.5%;
color: #975C28;
margin-bottom: 66px;
display: block;
}

.sales__descr {
    font-style: normal;
font-weight: 400;
font-size: 40.1491px;
line-height: 120.5%;
color: #000000;
margin-bottom: 80px;
display: block;
max-width: 819px;
}

.sales__price {
    font-style: normal;
font-weight: 700;
font-size: 111.104px;
line-height: 120.5%;
color: #975C28;
margin-bottom: 24px;
display: block;
}

.sales__old-price {
    font-weight: 700;
font-size: 66.9151px;
line-height: 120.5%;
text-decoration: line-through;
color: rgba(151, 92, 40, 0.7);
margin-left: 72px;
}

.sales__btn {
    padding: 15px 66px;
}

.sales__right-block {
    position: relative;
}

.sales__img-descr {
    position: absolute;
    background: #C89C6D;
box-shadow: 3.38276px 3.38276px 16.9138px rgba(0, 0, 0, 0.17);
border-radius: 171.675px;
bottom: 0;
left: 0;
}

.sales__dates {
    font-style: normal;
    font-weight: 700;
    font-size: 32.1861px;
    max-width: 199px;
    text-align: center;
    display: block;
    /* line-height: 81.59%; */
    padding: 71px 29px;
    color: #fff;
}

.sales__card_bg {
    background-color: #FBF7EE;
}

.sales__main-title {
    font-family: 'Saksonia';
font-style: normal;
font-weight: 400;
font-size: 94.95px;
line-height: 137px;     
text-align: right;
color: #975C28;
}

.sales__main-descr {
    font-style: normal;
font-weight: 400;
font-size: 47.475px;
line-height: 120.5%;
text-align: right;
color: #693E16;
display: block;
}
.burger-menu {
    display: none;
}

.sales__dates-768 {
    display: none;
}

.masters__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 38px;
    column-gap: 80px;
}

.master__name {
    font-style: normal;
font-weight: 400;
font-size: 55.1674px;
line-height: 125.5%;
text-align: center;
color: #693E16;
display: block;

}

.master__descr {
    font-weight: 400;
font-size: 41.3755px;
line-height: 79.5%;
text-align: center;

display: block;
color: #693E16;
}

.title {
    font-family: 'Saksonia';
font-style: normal;
font-weight: 400;
font-size: 94.95px;
line-height: 100%;
text-align: center;
color: #975C28;
}

.masters__title {
    margin-bottom: 30px;
}

.master__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hair__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 47.475px;
    line-height: 120.5%;
    margin-bottom: 42px;
    
    
}

.hair__main-block {
    display: flex;
    justify-content: space-between;
}

.hair__list {
    display: flex;
    flex-direction: column;
}

.hair__links {
    font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 120.5%;
/* or 48px */


color: #693E16;
}

.hair__main-text {
    display: flex;
    
    justify-content: space-between;
}

.hair__main-text-big {
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 118px;
}
.hair__title {
    text-align: right;
}
.hair__descr {
    font-style: normal;
font-weight: 400;
font-size: 47.475px;
line-height: 120.5%;
/* or 57px */


color: #693E16;
text-align: right;
display: block;
margin-bottom: 42px;
}

.hair__links:not(:last-child) {
    margin-bottom: 34px;
}

.hair__link_active {
    display: flex;
    position: relative;
}
.hair__link_active::before {
    content: "";
    position: absolute;
    left: -30px;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    display: block;
    width: 34px;
    top: 5px;
    height: 40px;
}

.hair__list {
    min-width: 390px;
    margin-right: 92px;
}
.hair__text {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120.5%;
    /* or 48px */
    
    
    color: #000000;
}

.mini-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #975C28;
}

.hair__texts {
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
color: #333;
display: block;
}

.hair__prices {
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;

color: #000000;
display: block;
}

.hair__texts {
    display: block;
}

.hair__texts-mini {
    color: #975C28;
}

.hair__flex {
    display: flex;
}

.hair__name-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hair__name {
    font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 36px;
display: flex;
flex-direction: column;
max-width: 75%;


}

.hair__texts-price-block {
    margin-bottom: 500px;
}

.hair__mini-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hair__name span {
    color: #975C28;
    font-size: 40px;
}

.hair__price {
    font-family: 'Garamond';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 36px;
display: block;
color: #000000;

}

.hair__mini-title_align {
    text-align: right;
}

.hair__title-2__align {
    text-align: right;
}

.hair__name-price_mb {
    margin-bottom: 30px;
}

.container-text {
    max-width: 70%;
    margin-left: auto;
}

.hair__left-big {
    margin-right: 5%;
}

.hair__left {
    margin-right: 10%;
}

.hair__main-mini-text {
    margin-bottom: 67px;
}

.footer {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
}

.footer__title {
    font-family: 'Saksonia';
font-style: normal;
font-weight: 400;
font-size: 126.6px;
line-height: 103px;
text-align: center;

color: #975C28;
margin-bottom: 62px;
max-width: 910px;
text-align: center;
margin-right: auto;
margin-left: auto;
}

.footer__btn {
    padding: 31px 133px;
    font-weight: 400;
font-size: 62.6474px;
line-height: 130%;
text-align: center;
margin-bottom: 44px;
margin-right: auto;
margin-left: auto;
display: block;
}

.footer__text {
    font-weight: 400;
font-size: 47.475px;
line-height: 120.5%;
/* or 57px */

text-align: center;

color: #693E16;
max-width: 983px;
display: block;
text-align: center;
margin-right: auto;
margin-left: auto;
margin-bottom: 58px;
}

.footer__text-2 {
    font-weight: 400;
font-size: 47.475px;
line-height: 120.5%;
/* or 57px */

text-align: center;

color: #693E16;
max-width: 983px;
display: block;
text-align: center;
margin-right: auto;
margin-left: auto;
}

.hair__main img {
    margin-bottom: 20px;
}

.specialist__name {
    font-weight: 400;
font-size: 32px;
line-height: 125.5%;
text-align: center;

color: #693E16;
}

.specialist__descr {
    font-size: 24px;
}

.specialist {
    background-color: #FBF7EE;
    margin-top: -100px;
    padding-bottom: 300px;
    z-index: -3;
    position: relative;
}

.services-content {
    padding: 60px 80px;
    background: #FBF7EE;
box-shadow: 0px 7.9125px 29.6719px rgba(105, 62, 22, 0.29);
}

.services__swiper {
    overflow: hidden;
}

.services__icon {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.services__title {
    font-weight: 700;
font-size: 63.3px;
line-height: 125.5%;
text-align: center;
color: #693E16;
margin-bottom: 50px;
}

.services__text {
    font-weight: 400;
font-size: 31.5625px;
line-height: 45px;
text-align: center;
display: block;
}

.services__link {
    font-style: normal;
font-weight: 400;
font-size: 39.5625px;
line-height: 120.5%;
text-align: center;
display: block;
color: #693E16;
}

.services__text_mb {
    margin-bottom: 52px;
}

.services-slider {
    position: relative;
    padding-top: 300px;
    padding-bottom: 300px;
}

.services-slider {
    position: relative;
}

.services-slider::before {
    content: "";
    background-image: url(../img/text.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -51px;
    left: 314px;
    display: block;
}
.services-slider::after {
    content: "";
    background-image: url(../img/slidebg.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -130px;
    z-index: -2;
    width: 100%;
    background-color: #FBF7EE;
    height: 1573px;
}

.review {
    background-color: #FBF7EE;
}

.review__title {
    font-weight: 400;
font-size: 94.95px;
line-height: 137px;
color: #975C28;
}

.review-content {
    padding: 37px 56px;
    background: #FFFFFF;
box-shadow: 4px 4px 20px rgba(105, 62, 22, 0.24);
border-radius: 30px;
margin-bottom: 50px;
max-width: 814px;
position: relative;
}

.review__name {
    font-style: normal;
font-weight: 700;
font-size: 43.5187px;
line-height: 125.5%;
color: #975C28;
}

.review__block {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.review__master-name {
    font-weight: 400;
font-size: 36px;
line-height: 125.5%;

color: rgba(0, 0, 0, 0.5);

}

.review__text {
    font-weight: 400;
font-size: 32px;
line-height: 125.5%;
max-width: 702px;
}

.review__icon {
    position: absolute;
    top: 26px;
    right: 73px;
}

.review__icon-star {
    margin-right: 29px;
}