// @font-face {
//     font-family: 'PF Din Text Cond Pro';
//     font-weight: 400;
//     src: url('../fonts/PFDinTextCondPro-Regular.woff2') format('woff2');
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'PF Din Text Cond Pro';
    font-weight: 500;
    src: url('../fonts/PFDinTextCondPro-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
