:root {
    //header
    --header-bg: #614D49;

    --header-link: #FFFFFF;
    --header-link-active: #7C6E6B;

    --header-dd-bg: #E8E1E0;
    --header-dd-link: #503D3A;
    --header-dd-link-hover: #FFFFFF;

    --header-btn: #FFFFFF;
    --header-btn-bg: #311311;

}
