@media (max-width: 1199px) {
  .header__btn2 {
    display: none;
  }
  .header__btn2-1200 {
    display: block;
    margin-right: 20px;
  }
  .header__logo-link {
    margin-right: auto;
  }
  .navbar-toggler-icon {
    background-image: url(../img/burger.svg);
    max-width: 20px;
  }
  .navbar-toggler {
    border: 1px solid #FFFFFF;
    border-radius: unset;
    max-width: 40px;
    padding: 5px 10px;
  }
  .navbar-collapse {
    top: 63px;
    right: 0;
    position: absolute;
  }
  .maps__map {
    display: none;
  }
  .maps__card {
    max-width: unset;
  }
  .maps__cards {
    width: unset;
  }
  .second__navbar-toogler {
    border: 1px solid #003057;
  }
  .navbar-toggler-icon {
    background-image: url(../img/burger-blue.svg);
  }
  .second__navbar-collapse {
    position: static;
    background-color: transparent;
  }
  .contacts__left-block {
    padding-left: unset;
  }
  .contacts__map-title {
    padding-left: unset;
  }
  .contacts__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 72px;
  }
  .partners__title {
    font-family: 'Jeko-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 175px;
    color: #003057;
    display: block;
  }
  .partners__flexbox-block {
    padding-left: unset;
  }
}

@media (max-width: 1024px) {
  .offers__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 32px;
  }
  .offices__grid {
    row-gap: 70px;
  }
  .offices__block {
    padding: 20px;
  }
  .place__title {
    font-size: 100px;
  }
  .footer__flexbox {
    max-width: unset;
  }
  .hero__block {
    width: unset;
  }
  .hero__adress {
    right: calc(50% - 210px);
  }
  .hero__main {
    margin-left: unset;
  }
  .offers {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .offices {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .table {
    margin-bottom: 100px;
  }
  .table__td span {
    font-size: 20px;
    line-height: 100%;
  }
  .table td {
    font-size: 20px;
    line-height: 100%;
  }
  .table__first-tr th {
    font-size: 20px;
    line-height: 100%;
  }
  .benefit__numbers {
    font-size: 44px;
  }
  .benefit__down-block {
    margin-bottom: 100px;
  }
  .filters__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .colapse__link {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
  .partners__block {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .header__btn2 {
    padding: 9px;
  }
  .corner {
    width: 28px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 15px;
    max-width: 555px;
  }
  .hero__descr {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .hero__adress {
    padding: 24px;
  }
  .hero__adress-text {
    font-size: 20px;
  }
  .offers__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .offices__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .title {
    font-size: 36px;
  }
  .offices__block {
    max-width: unset;
  }
  .text {
    font-size: 18px;
    line-height: 28px;
  }
  .offices__flex2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .offices__descr {
    margin-left: unset;
    max-width: unset;
  }
  .offices__little-text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .offices__block_abs {
    bottom: 25px;
  }
  .offices__block_abs span {
    font-size: 18px;
  }
  .table__th_padding-top {
    padding-top: 30px;
  }
  .table tbody tr td {
    padding: 14px 0;
  }
  .benefit__descr {
    font-size: 24px;
  }
  .benefit__carousel-text {
    font-size: 18px;
  }
  .benefit__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .benefit__star {
    font-size: 18px;
  }
  .place__title {
    font-size: 52px;
  }
  .place__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .place__flexbox div {
    width: 100%;
  }
  .place__block {
    padding: 60px 0;
  }
  .place__text {
    font-size: 24px;
  }
  .place__text3 {
    font-size: 18px;
  }
  .place__text4 {
    font-size: 16px;
    line-height: 22px;
  }
  .place {
    margin-bottom: unset;
  }
  .footer__line-text {
    font-size: 24px;
  }
  .footer__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin-bottom: 37px;
  }
  .footer__flexbox div {
    margin-right: auto;
  }
  .footer__flexbox2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__flexbox2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text1 {
    margin-bottom: 20px;
  }
  .maps__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts {
    padding-bottom: 80px;
  }
  .contacts__left-block {
    padding-top: unset;
  }
  .contacts__title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .contacts__descr {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .contacts__btn {
    font-size: 14px;
    padding: 18px 12px;
  }
  .contacts__right-block {
    padding: 40px 24px;
    width: 100%;
  }
  .contacts .red-text {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .contacts .blue-text {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .contacts__map-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .contacts__map {
    padding-bottom: unset;
  }
  .contacts__map-img {
    display: none;
  }
  .contacts__map-img-768 {
    display: block;
    width: 100%;
  }
  .partners {
    padding-top: 20xp;
    padding-bottom: unset;
  }
  .partners__title {
    font-size: 52px;
    margin-bottom: 70px;
  }
  .partners__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    margin-bottom: 75px;
  }
  .partners__subtitle {
    font-size: 36px;
  }
  .partners__subtitle {
    margin-bottom: 20px;
  }
  .partners__btn {
    font-size: 14px;
  }
  .partners__right-block {
    max-width: unset;
    padding: 40px 24px;
  }
  .partners__text {
    font-size: 18px;
    line-height: 27px;
  }
  .partners__descr {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .partners__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 90px;
  }
  .partners__card-descr {
    max-width: unset;
  }
  .partners__slide {
    max-width: 330px;
  }
  .partners__swiper {
    margin-bottom: 110px;
  }
  .partners__grid2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 80px;
  }
  .partners__numbers {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .partners__grid-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .partners__block {
    padding: 60px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .partners__subtitle5 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .partners__texts {
    font-size: 24px;
    line-height: 33px;
  }
  .partners__block div {
    max-width: unset;
  }
}

@media (max-width: 576px) {
  .header__logo {
    max-width: 95px;
  }
  .background {
    background-image: url(../img/bg-small.jpg);
    background-size: cover;
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .hero__adress {
    max-width: 350px;
    right: calc(50% - 175px);
  }
  .offices__block_abs {
    max-width: 350px;
    right: calc(50% - 175px);
  }
  .table__overflow {
    overflow-x: auto;
  }
  .table__overflow::-webkit-scrollbar {
    width: 0;
  }
  .table__table {
    width: 990px;
  }
  .benefit__title {
    display: block;
    text-align: left;
    max-width: 340px;
  }
  .benefit__descr {
    text-align: left;
  }
  .benefit__slide {
    max-width: 312px;
  }
  .benefit__slide img {
    margin-bottom: 16px;
  }
  .benefit__numbers {
    margin-bottom: 12px;
  }
  .benefit__text {
    font-size: 18px;
    line-height: 130%;
    max-width: 101px;
  }
  .benefit__grid {
    margin-bottom: 68px;
  }
  .benefit__btn {
    font-size: 14px;
    padding: 17px 22px;
  }
  .place__btn {
    font-size: 14px;
    padding: 17px 22px;
  }
  .footer__input {
    height: 50px;
    width: 226px;
    padding-left: 15px;
  }
  .footer__btn {
    font-size: 12px;
    line-height: 120%;
    padding: 13px 10px;
  }
  .footer__text1 {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__input::placeholder {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__link {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__text2, .footer__devs {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 140%;
  }
  .filters__select {
    width: 100%;
    margin-bottom: 10px;
  }
  .filters__input {
    width: 100%;
    max-width: unset;
  }
  .filters__relative {
    max-width: unset;
  }
  .filters__relative {
    margin-right: unset;
  }
  .second__navbar-collapse {
    position: static;
    background-color: transparent;
  }
  .maps__title {
    font-family: 'Jeko-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;
  }
  .second-header__btn2 {
    font-size: 14px;
    line-height: 120%;
  }
  .maps__adress {
    font-size: 18px;
    line-height: 130%;
  }
  .maps__text-block {
    padding: 20px;
  }
  .maps__free {
    font-size: 16px;
    margin-bottom: 44px;
  }
}
/*# sourceMappingURL=media.css.map */