@media (max-width:1440px) {
    .descr {
      
font-size: 16px;
font-weight: 700;
line-height: 40px;
margin-bottom: unset;


    }
    .title {
font-size: 72px;
font-weight: 400;
line-height: 90px;
margin-bottom: 111px;

    }
    .text {
font-size: 18px;
font-weight: 500;
line-height: 28px;


    }
    .subtitle {
font-size: 300px;
font-weight: 400;
line-height: 60px;


    }
    .entertainment__grid img {
        max-width: 285px;
    }
    .events {
        padding: 200px 0 224px 50px;
    }
    .events__descr {
        margin-bottom: 20px;
    }
    .events__title {
        margin-bottom: 20px;
    }
    .events__text {
        margin-bottom: 30px;
    }
}

@media (max-width:1240px) {
    .entertainment__grid, .header__link {
        display: none;
    }
    .entertainment__swiper {
        display: block;
    }
    .entertainment__link {
        margin-bottom: 30px;
    }
    .header__tel, .header__btn {
        display: none;
    }
    .footer__btn {
        display: block;
    }
    .footer__block-1 {
        display: flex;
        flex-wrap: wrap;
    }
    .contacts__tel {
font-size: 48px;
font-weight: 400;
line-height: 71px;


    }
    .services__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    .services__content-title {
    margin-right: auto;
font-size: 24px;
font-weight: 400;
line-height: 35px;
margin-bottom: 10px;


    }
    .services__content-title {
        font-size: 24px;
    }
    .services__content-block:nth-child(2) {
        border-top: 1px solid #B5B6B7;
    }
    .services__content-text {
font-size: 14px;
font-weight: 500;
line-height: 24px;

margin-bottom: 10px;
    }

    .services__link {
        margin-left: unset;
        margin-right: auto;

font-size: 14px;
font-weight: 700;
line-height: 19px;


    }
    .services__content-block {
        padding: 30px 0 50px;
        display: flex;
        flex-direction: column;
    }
    .subtitle {
        font-size: 200px;
    }
    .header__block{
        flex-basis: unset;
    }
    .footer__block {
        display: none;
    }
    .header__tel-720 {
        display: block;
        margin-left: auto;
    }
    .footer__adress {
        text-align: left;
font-size: 14px;
font-weight: 700;
line-height: 24px;

    }
    .footer__copyright {

font-size: 12px;
font-weight: 500;
line-height: 16px;
max-width: 300px;

    }
    .footer__creators {

font-size: 10px;
font-weight: 500;
line-height: 32px;


    }
    .footer__creators svg {
        width: 111px;
        height: 13px;
    }
}

@media (max-width:720px) {
    .hero__block {
        padding: 20px 0 50px;
        margin-bottom: 30px;
        background-image: url(../img/main/hero_bg-720.png);
    }
    .hero__form {
        height: 74px;
    }
    .form__btn svg {
        max-width: 50px;
        height: 50px;
    }
    .logo {
        max-width: 70px;
        height: 65px;
    }
    .menu-btn {
        top: 45px;

    }
    #datapicker::placeholder {
        
font-size: 12px;
font-weight: 700;
line-height: 40px;
text-transform: uppercase;


    }
    .form__inputs::placeholder {
        
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;
        
        
            }
    .header {
        margin-bottom: 215px;
    }
    .header__title {
        max-width: 461px;
    }
    .title {
font-size: 48px;
font-weight: 400;
line-height: 71px;
margin-bottom: 10px;


    }
    .hero__social {
        top: 16%;
    }
    .hero__title {
        margin-bottom: 223px;
    }
    .hotel__text {
        margin-bottom: 40px;
    }
    .section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .services__plus {
        display: none;
    }
    .services__content {
        margin-bottom: unset;
    }
    .entertainment__subtitle {
        margin-bottom: 50px;
    }
    .events__descr {
        font-size: 14px;
        margin-bottom: unset;
    }
    .link {
     
font-size: 14px;
font-weight: 700;
line-height: 19px;


    }
    .rooms__nav {
        gap: 30px;
    }
    .romms__swiper-title {

font-size: 32px;
font-weight: 400;
line-height: 47px;
margin-bottom: 10px;

    }
    .rooms__btn {
     
font-size: 14px;
font-weight: 700;
line-height: 19px;


    }
    .events {
        background-image: url(../img/main/events-720.png);
        padding: 228px 0 50px 24px;
    }
    .events__title {
        max-width: 343px;
        margin-bottom: 10px;
    }
    .events__text {
font-size: 14px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
margin-bottom: 20px;
max-width: 342px;
    }
    .contatcs {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .contatcs__subtitle {
        margin-bottom: 50px;
    }
    .footer__social {
        display: none;
    }
    .footer__social-720 {
        display: flex;
        gap: 10px;
    }
    .footer__flexbox {
        display: block;
    }
    .footer__container {
        padding: 40px 20px 30px;
    }
    .footer__btn {
        margin-bottom: unset;
        align-self: center;
    }
    .footer__flexbox {
        margin-bottom: 40px;
    }
    
}

@media (max-width:576px) {
    .header {
        margin-bottom: 164px;
    }
    .title {
font-size: 36px;
font-weight: 400;
line-height: 53px;
margin-bottom: 10px;

    }
    .subtitle {
        font-size: 100px;
        line-height: 60px;
    }
    .services__subtitle  {
        margin-bottom: 50px;
    }
    .services__content {
        grid-template-columns: 1fr;
    }
    .services__content-text {
        margin-right: auto;
    }
    .services__content-block {
        padding: 30px 0;
    }
    .text {
    
font-size: 14px;
font-weight: 500;
line-height: 24px;


    }
    .services__content-title span {
        display: none;
    }
    .services__plus {
        display: block;
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }
    .hero__social {
        display: none;
    }
    .hero__form {
        flex-direction: column;
        height: unset;
        padding: 20px;
        border-radius: 30px;
        gap: 10px;
    }

    .form__btn {
        display: none;
    }
    .header__btn-form {
        display: block;
        font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.1em;


    }
    .events__img-576 {
        display: block;
    }
    .events {
        background-image: unset;
        padding: 0 0 60px 0;
    }
    .events__descr {
        color: #2C2A2A;
        text-align: center;
        margin-bottom: unset;
    }
    .events__title {
        margin-bottom: 10px;
        color: #2C2A2A;
        margin-right: auto;
        margin-left: auto;
    }
    .events__text {
        color: #2C2A2A;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .events__link  {
        justify-content: center;
    }
    .contatcs {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .contatcs__subtitle  {
        margin-bottom: 0;
    }
    .contacts__tel {
     
font-size: 32px;
font-weight: 400;
line-height: 47px;
margin-bottom: 20px;

    }
    .contatcs__links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .footer__block-1 {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer__btn {
        margin-left: unset;
        margin-bottom: 40px;
      
font-size: 14px;
font-weight: 700;
line-height: 19px;


    }
.footer__flexbox-1 {
    flex-direction: column;
}
.footer__copyright {
    max-width: unset;
}
.footer__social-720 {
    justify-content: center;
}
}