@font-face {
    font-family: 'WonderGarden';
    font-weight: 400;
    src: url('../fonts/WonderGardenScript-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WonderGarden';
    font-weight: 400;
    src: url('../fonts/WonderGardenScript-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}




html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #F4F4F4;
    margin-right: auto;
    margin-left: auto;
    min-width: 375px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover {
    color: unset;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}



.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1590px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}

.descr {
    display: block;
    color:  #2C2A2A;
text-align: center;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
letter-spacing: 6px;
margin-bottom: 50px;
}

.link {
    font-family: Manrope;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.1em;
text-align: left;
color: #C19B5C;

display: flex;
align-items: center;
gap: 12px;
}

.link::after {
    content: "";
    background-image: url(../img/svg/link_arrow2.svg);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 13px;
    background-size: contain;
}

.title {
    color: #2C2A2A;
    text-align: center;
    font-family: "SangBleu Sunrise";
    font-size: 100px;
    max-width: 1195px;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 120px; /* 120% */
    text-transform: uppercase;
}

.text {
    display: block;
    color: #616569;
text-align: center;
margin-right: auto;
margin-left: auto;
max-width: 900px;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */
letter-spacing: 0.48px;
}

.subtitle {
    display: block;
    color: #C19B5C;
font-family: 'WonderGarden';
margin-right: auto;
margin-left: auto;
font-size: 400px;
font-style: normal;
text-align: center;
font-weight: 400;
line-height: 60px; /* 15% */
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero__block {
    background-image: url(../img/main/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 84px;
    margin-bottom: 60px;
}

.header__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tel {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
}

.header {
    margin-bottom: 150px;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.header__block {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-basis: 439px;
}

.header__btn {
    display: block;
color: #fff;
font-size: 16px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0.1em;
text-align: left;
padding: 7.5px 0;
max-width: 246px;
width: 100%;
background-color: #C19B5C;
border-radius: 100px;
text-align: center;
}

.header__btn svg {
        margin-left: 10px;
}

.header__link {
    font-family: Manrope;
font-size: 16px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
text-align: left;
color: #FFF;
text-transform: uppercase;
}

.header__block-1 {
    display: flex;
    gap: 60px;
    align-items: baseline;
}

.footer__social-720 {
    display: none;
}

.header__tel-720 {
    display: none;
}

.events__img-576 {
    display: none;
}

.header__btn-form {
    display: none;
}

.burger__menu {
    background-color: #F6F6F5;
  
    display: flex;
    gap: 100px;
}

.navbar-collapse {
    display: flex;
    position: absolute;
    max-width: 1728px;
    top: 100px;
    z-index: 5;
}

.burger_margin {
    padding: 100px 0 100px 200px;
}

.burger-menu,
    .hero-svg {
        display: block
    }

    .header-nav-item-768 {
        display: none
    }

    #menu__toggle {
        opacity: 0;
        display: none
    }

    #menu__toggle:checked~.menu-btn>span {
        transform: rotate(45deg)
    }

    #menu__toggle:checked~.menu-btn>span::before {
        top: 0;
        transform: rotate(0);
        width: 25px
    }

    #menu__toggle:checked~.menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
        width: 25px
    }

    #menu__toggle:checked~.menu-box {
        visibility: visible;
        left: .1px;
        z-index: 2
    }

    #menu__toggle:checked body {
        overflow: hidden
    }

    .menu-btn {
        display: flex;
        position: absolute;
        top: 98px;
        align-items: center;
        width: 40px;
        height: 21px;
        cursor: pointer;
        z-index: 3
    }

    .menu-btn>span,
    .menu-btn>span::after,
    .menu-btn>span::before {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        transition-duration: .25s;
        border-radius: 4px
    }

    .menu-btn>span {
        width: 24px;
        height: 3px
    }

    .burger-menu-576 {
        display: none
    }

    .menu-btn>span::before {
        content: "";
        top: -11px;
        width: 24px;
        height: 3px;
        
    }

    .menu-btn>span::after {
        content: "";
        top: 11px;
        width: 24px;
        height: 3px;
        
    }

    #menu__toggle:checked ~ .menu-btn > span {
        top: 100px;
        left: -100px;
    }

    #menu__toggle:checked ~ .menu-btn > span::before {
        background-color: #2C2A2A;
    }
    #menu__toggle:checked ~ .menu-btn > span::after {
        background-color: #2C2A2A;
    }
    .menu-box {
        display: flex;
        position: absolute;
        visibility: hidden;
        justify-content: space-between;
        top: 106px;
        left: -100%;
        width: 100%;
        margin: 0;
        list-style: none;
        background: #fff;
        transition-duration: .25s;
        z-index: 1;
        border-top: 1px solid #d9d9d9;
        max-width: 1728px;
        gap: 5%;
    }


    .img {
        background-image: url(../img/main/burger.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .burger__block-main {
        padding: 100px 0 75px 200px;
    }




.burger__title {
    margin-bottom: 88px;
}

.burger__flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    gap: 130px;
}

.burger__item {
    font-family: Manrope;
font-size: 22px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
color: #C19B5C;
text-wrap: nowrap;
}

.burger__link {
    font-family: Manrope;
font-size: 22px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
text-align: left;
color: #2C2A2A;
text-transform: uppercase;
text-wrap: nowrap;
}

.burger__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burger__sublist {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.burger__sublink {
    font-family: Manrope;
font-size: 20px;
font-weight: 500;
line-height: 48px;
letter-spacing: 0.02em;
text-align: left;
color: #6C6A6B;
text-wrap: nowrap;
}

.social__list {
    display: flex;
    gap: 115px;
    font-family: Manrope;
font-size: 18px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
text-align: left;
color: #2C2A2A;
}

.hero__descr {
    font-family: Manrope;
font-size: 20px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.3em;
text-align: center;
color: #fff;
}

.hero__title {
    color: #FFFFFF;
    max-width: 961px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 137px;
}



.hero_relative {
    position: relative;
}

.hero__social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 35%;
}

.hero__form {
    display: flex;
    gap: 30px;
    border: 2px solid #FFFFFF;
    background-color: #fff;
    border-radius: 100px;
    max-width: 854px;
    height: 104px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding: 27px 12px 27px 40px;
}

.hero__form input {
    max-height: 50px;
    width: 100%;
    border: none;
}

.form__btn {
    margin-left: auto;
}

.form__inputs {
    display: flex;
    max-width: 390px;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.hotel__title {
    margin-bottom: 35px;
}

.hotel__text {
    margin-bottom: 90px;
}

.hotel__swiper {
    overflow: hidden;
}

.hotel__slide {
    max-width: 1072px;
    width: 100%;

}

.services__subtitle {
    margin-bottom: 100px;
}

.services__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.services__content-block:first-child {
    border-top: 1px solid #B5B6B7;
}

.services__content-block {
border-bottom: 1px solid #B5B6B7;
padding: 65px 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-between;
align-items: center;
}

.services__content-title {
    font-family: "SangBleu Sunrise";
font-size: 50px;
font-weight: 400;
line-height: 110px;
letter-spacing: -0.04em;
text-align: left;
position: relative;
}

.services__content-title span {
color: #C19B5C;
font-size: 20px;
position: absolute;
top: -20px;
}

.services__content-text {
    max-width: 477px;
    display: block;
font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.02em;
text-align: left;

}

.services__link {
    margin-left: auto;
}

.services__plus {
   
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.entertainment__subtitle {
    margin-bottom: 170px;
}

.entertainment__swiper {
    display: none;
}

.entertainment__text {
    margin-bottom: 40px;
}

.entertainment__link {

    justify-content: center;
}

.entertainment__grid {
   
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
        
      
}

  
.img1 { grid-area: 1 / 1 / 5 / 2; }
.img2 { grid-area: 3 / 2 / 7 / 3; }
.img3 { grid-area: 2 / 3 / 6 / 4; }
.img4 { grid-area: 1 / 4 / 5 / 5; }

.rooms__btn {
    color: #B0AAA1;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.8px;
text-transform: uppercase;
}

.active {
    color: #C19B5C;
    border-bottom: 1px solid #C19B5C;
  
}

.tab-content>.active {
    border-bottom: none;
}

.rooms__title {
    margin-bottom: 40px;
}

.rooms__text {
    display: block;
    margin-bottom: 77px;
}

.rooms__nav {
    justify-content: center;
    margin-bottom: 50px;
    gap: 50px;
}

.romms__swiper-title {
    color: #2C2A2A;
text-align: center;

font-family: SangBleu Empire Trial;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 72px; /* 144% */
margin-bottom: 11px;
}

.rooms__swiper-descr {
    display: block;
    color: #616569;
text-align: center;
max-width: 646px;
margin-right: auto;
margin-left: auto;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
letter-spacing: 0.36px;
margin-bottom: 40px;
}

.rooms__link {

    justify-content: center;
}

.rooms__link {
    border-bottom: 1px solid transparent;
}

.events {
    background-image: url(../img/main/events.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 224px 90px;
   
}

.events__descr {
    color: #fff;
    text-align: left;
    margin-bottom: 50px;
}

.events__title {
    //styleName: H1;
font-family: SangBleu Empire Trial;
font-size: 100px;
font-weight: 400;
line-height: 120px;
letter-spacing: -0.05em;
text-align: left;
color: #fff;
margin-bottom: 30px;
margin-left: unset;
margin-right: unset;
max-width: 526px;
}

.events__text {

font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.02em;
text-align: left;
color: #fff;
display: block;
margin-bottom: 30px;
max-width: 582px;
}

.events__link {
    color: #C19B5C;
}

.contatcs {
    background-color: #091826;
}

.contatcs__descr {
    color: #fff;
    margin-bottom: 50px;
}

.contatcs__title {
    color: #fff;
    max-width: 924px;
}

.contatcs__subtitle {
    margin-bottom: 100px;
}

.contacts__tel {
    display: block;
    font-family: SangBleu Sunrise;
font-size: 100px;
font-weight: 400;
line-height: 110px;
letter-spacing: 0em;
text-align: center;
color: #fff;
margin-bottom: 60px;
}

.contatcs__links {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.footer {
    background-color: #091826;
    margin-top: -1px;
}

.footer__container {
    padding: 150px 50px 50px;
}

.footer__logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.footer__logo-block {
    display: flex;
    align-items: center;
}

.footer__logo-block::before {
    content: "";
    width: 45%;
    height: 1px;
    background-color: #B5B6B7;
    display: block;
}


.footer__logo-block::after {
    content: "";
    width: 45%;
    height: 1px;
    background-color: #B5B6B7;
    display: block;
}

.footer__flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.footer__block {
    display: flex;
    gap: 200px;
}

.footer__link {
    color: #FFF;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 266.667% */
letter-spacing: 0.36px;
}

.footer__title {
    font-family: Manrope;
font-size: 22px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
text-align: left;
color: #fff;
margin-bottom: 30px;
}

.footer__adress {
    display: block;
    text-transform: uppercase;
    font-family: Manrope;
font-size: 22px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
text-align: right;
color: #fff;
margin-bottom: 20px;
}

.footer__btn {
    margin-left: auto;
    margin-bottom: 50px;
}

.footer__social {
    display: flex;
    gap: 60px;
}

.footer__social-link {
    font-family: Manrope;
font-size: 18px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.1em;
text-align: left;
color: #fff;
text-transform: uppercase;
}

.footer__copyright {
    font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0.02em;
text-align: left;
color: #fff;
}

.footer__creators {
    font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0.02em;
text-align: right;
color: #fff;
display: flex;
align-items: center;
}

.footer__flexbox-1 {
    display: flex;
    justify-content: space-between;
}

.footer__creators svg {
    margin-left: 5px;
}