section.order-access {
 
    padding: 1em 0;
    font-size: 1em;
    position: relative;
    max-width: 55em;
    margin: 0 auto 6em;
    text-align: center
}

.order-access-heading {
    display: block;
    font-size: 3em;
    padding: .6em 0;
    text-align: center;
    font-weight: 600;
 
    max-width: 10.3em;
    margin: 0 auto
}

.order-access p {
 
    width: 100%;
    line-height: 2rem;
    font-size: 1.3em;
    margin-bottom: 2em
}

.order-access p b {
    color: #008fdf
}

section.order-access .exchange-wallet textarea {
    min-height: 5em
}

section.order-access .exchange-submit {
    margin-top: .5em
}

.order-access-func {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.order-access-submit {
    order: 1
}

.order-access-tomain.btn-text {
    padding-left: 0;
    padding-right: 0;
    color: rgba(255,255,255,0.64);
    display: flex;
    align-items: center;
    gap: .4em;
    text-decoration: none
}

.order-access-tomain.btn-text:hover {
    color: rgba(255,255,255,1)
}

@media only screen and (max-width: 900px) {
    .order-emergency-submit.order-access-field {
        flex-direction:column
    }

    .order-emergency-submit.order-access-field .dinput.tag {
        max-width: inherit;
        margin-top: .6em;
        width: 100%
    }
}

@media only screen and (max-width: 700px) {
    .order-access-body {
        padding:2em 2em 2em 2em
    }
}

@media only screen and (max-width: 630px) {
    .order-access-body {
        padding:2em 1.2em 2em 2em
    }

    .order-access-ico {
        padding: 0 1.2em 0 0
    }

    .order-access p {
        width: 100%
    }

    .order-access span.ico {
        bottom: 0;
        display: block;
        position: relative;
        right: 0
    }
}

@media only screen and (max-width: 550px) {
    section.order-access {
        flex-direction:column
    }

    .order-access-body {
        padding: 1.5em
    }

    .order-access-ico {
        padding: 0 0 1.5em 0;
        justify-content: center
    }

    .order-access span.ico {
        font-size: 12em
    }
}

@media only screen and (max-width: 470px) {
    .order-access p {
        font-size:.9em
    }

    .order-access-body {
        padding: 1.2em
    }

    .order-access-ico {
        padding: 0 0 1.5em 0
    }
}

@media only screen and (max-width: 340px) {
    .order-access-submit {
        flex-direction:column;
        align-items: flex-start;
        margin-top: .5em
    }

    .order-access-submit>.btn.std {
        width: 100%;
        margin-bottom: .2em
    }

    a.order-access-tomain {
        padding: .5em .5em
    }
}

.order-body .ico.copy[data-copied] {
    cursor: pointer
}

.order-body .ico.copy[data-copied]:before,.order-body .pseudo-hint-blue:after {
    align-items: center;
    background-color: #0171a6;
    border-radius: 2em;
    border: .4em solid transparent;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
 
    content: attr(data-copied);
    display: flex;
    font-size: .85rem;
    font-weight: 600;
    font-style: normal;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    padding: 0 .8em .1em;
    pointer-events: none;
    position: absolute;
    top: 100%;
    visibility: hidden;
    white-space: nowrap;
    z-index: 999999;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.order-body .pseudo-hint-blue:after,.order-body .pseudo-hint-blue:before {
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s
}

.order-body .pseudo-hint-blue:after {
    content: attr(data-hint);
    margin-top: .2em
}

.order-body .pseudo-hint-blue:before {
    border-color: transparent transparent #0171a6 transparent;
    border-style: solid;
    border-width: .5em;
    content: "";
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.7em;
    position: absolute;
    top: 100%;
    font-size: .85rem
}

.order-body .ico.copy.copied[data-copied]:before {
    margin: .2em auto 0;
    opacity: 1;
    visibility: visible
}

.order main {
    display: flex;
    flex-direction: column;
    justify-content: stretch
}

.order .main-section {
    flex: 1
}

section.order-outer {
    margin-top: 1.25em
}

.order-body {
    padding-bottom: 50px
}

.order-wrap-shadow {
}

.order-direction>div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 2em 2em;
    text-align: center;
    width: 50%
}

.dir-cont img {
    height: 100%
}

.order-direction,.order-action-details,section.order-head-info {
    background-color: #fff;
    border-radius: 10px;    
border: 1px solid #F1F1F2; 
}

section.order-action.done .order-action-details {
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 70%;
    padding-left: 3em
}

.order-direction {
    position: relative;
    background-size: cover;
    background-position: top;
    border-radius: .5em;
    display: flex;
    width: 100%;
    margin-top: 2.5em;
    margin-bottom: 1em
}

.order-direction>div.dir-arrow {
    height: 100%;
    left: 50%;
    padding: 0;
    position: absolute;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%)
}

.order-direction>div.dir-arrow .ico {
    font-size: 1.2em
}

.dir-cont>.coin-ico {
    height: 3.75em;
    text-align: center;
    width: 3.75em
}

.order-direction span.head {
    color: #e4e4e4;
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase
}

.coin-address {
    font-size: .8em;
    font-weight: 200;
    opacity: .6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.order-direction .coin-head {
    font-size: .8125em;
    font-weight: 300;
    line-height: 1;
    opacity: .8;
    text-transform: uppercase;
    white-space: nowrap
}

.order-direction .coin-value {
    font-size: 1.4em;
    line-height: 1;
    padding-bottom: 2px;
    padding-top: 5px
}

.order-direction>header {
    border-bottom: 2px solid rgba(255,255,255,0.22);
    border-top: 2px solid rgba(255,255,255,0.22);
    clear: both;
    display: block;
    margin-bottom: 11px;
    padding: 11px 0;
    text-align: center
}

.order-direction>div.dir-from {
    padding-left: 1em
}

.dir-from>.dir-cont {
    text-align: right
}

.dir-from>.dir-cont>.coin-ico {
    float: right;
    margin-left: .625em
}

.dir-from>.dir-cont>.coin-head {
    margin-right: 4.861em
}

.dir-from>.dir-cont>.coin-value {
    margin-right: 3.125em
}

.dir-from>.dir-cont>.coin-address {
    margin-right: 5.46875em
}

.order-direction>div.dir-to {
    padding-right: 1em
}

.dir-to>.dir-cont {
    text-align: left
}

.dir-to>.dir-cont>.coin-ico {
    float: left;
    margin-right: .625em
}

.dir-to>.dir-cont>.coin-head {
    margin-left: 4.861em
}

.dir-to>.dir-cont>.coin-value {
    margin-left: 3.125em
}

.dir-to>.dir-cont>.coin-address {
    margin-left: 5.46875em
}

.order-qr-wrap {
    order: 4;
    margin-left: 1em
}

.order-qr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .5em;
    overflow: hidden;
    text-align: center;
    width: 16.3em
}

.order-qr.big {
}

.order-qr .order-qrcode,.order-qr img {
    width: 100%
}

.order-qr img {
    padding: 1.2em;
    box-sizing: border-box;
    display: block
}

.order-qr.big img {
    height: 260px
}

.order-qr.inactive {
    opacity: .8
}

.order-qr.inactive>.order-qrcode {
    cursor: default;
    pointer-events: none
}

.order-qr.inactive>.order-qrcode>img {
    filter: blur(3px);
    opacity: .5
}

.order-qr>input {
    position: absolute;
    visibility: hidden
}

.order-qr>input + div,.order-qr>input + a {
    display: none
}

.order-qr>input:checked + div,.order-qr>input:checked + a {
    display: block;
    background-color: #fff
}

.qr-switcher {
    display: flex;
    position: relative;
    background-color: #fff;
    margin-top: -0.5em
}

.qr-switcher:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1em;
    background-color: #ececec;
    z-index: 0
}

.qr-switcher>label {
    background-color: #ececec;
    padding: .9em .3em;
    font-size: .75em;
    cursor: pointer;
    border-left: 1px solid #d5d5d5;
    font-weight: 600;
    position: relative;
    z-index: 2;
    border-top-right-radius: .6em;
    box-sizing: border-box
}

.qr-switcher>label:first-of-type {
    border-left: none;
    border-top-left-radius: 0
}

.qr-switcher>label:last-of-type {
    border-top-right-radius: 0
}

.qr-switcher[data-count="1"]>label {
    width: 100%;
    cursor: default
}

.qr-switcher[data-count="2"]>label {
    width: 100%
}

.qr-switcher[data-count="3"]>label {
    width: 33.33%
}


.order-qr>input#qr_type0:checked ~ .qr-switcher>label[for="qr_type0"],.order-qr>input#qr_type1:checked ~ .qr-switcher>label[for="qr_type1"],.order-qr>input#qr_type2:checked ~ .qr-switcher>label[for="qr_type2"] {
    background-color: #fff;
    color: #000;
    border-color: transparent;
    border-radius: 0 0 .6em .6em
}

.order-qr>input#qr_type0:checked ~ .qr-switcher>label[for="qr_type0"] + label,.order-qr>input#qr_type1:checked ~ .qr-switcher>label[for="qr_type1"] + label,.order-qr>input#qr_type2:checked ~ .qr-switcher>label[for="qr_type2"] + label {
    border-left-color: transparent
}

.order-qr>input#qr_type0:checked ~ .qr-switcher>label[for="qr_type0"] + label,.order-qr>input#qr_type2:checked ~ .qr-switcher>label[for="qr_type0"] {
    border-top-right-radius: 0;
    display: none;
}

.order-qr>input#qr_type0:checked ~ .qr-switcher>label[for="qr_type0"] + label ~ label {
    border-top-left-radius: 0
}

.order-qr>input#qr_type0:checked ~ .qr-switcher>label[for="qr_type1"],.order-qr>input#qr_type1:checked ~ .qr-switcher>label[for="qr_type2"] {
    border-top-left-radius: .6em
}

.order-action-details {
    order: 2;
    border-radius: .5em;
    box-sizing: border-box;
    padding: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.6em;
    background-size: cover;
    width: calc(100% - 13em)
}

.order-action-body .order-action-details {
    margin-top: 0
}

section.order-action {
    margin-bottom: 1em
}

.order-action section.order-emergency {
    margin-bottom: 1.6em;
    border: 2px solid #f00
}

.order-action header {
    overflow: hidden
}

.order-action h2 {
 
    font-size: 1em;
    font-weight: normal;
    text-indent: 0;
    margin-bottom: .5em;
    margin-bottom: .1em;
    padding: .6em 0;
    padding: .3625em 0;
    padding: 0;
    padding: 0 1em;
    display: inline-flex;
    border-radius: 4px;
    align-items: center;
    text-transform: none
}

.order-action h2>b {
    font-size: 1.4em;
    font-weight: normal;
    margin-left: .268em;
    padding: .3625em 0
}

.order-time {
}

.order-time label {
    display: inline-block;
    vertical-align: middle
}

.order-time>span {
    display: inline-block;
    font-size: 1.4em;
    vertical-align: middle
}

.order-time.new>label:after,.order-time.expired>label:after {
    content: attr(data-remaining)
}

.order-time:not(.new):not(.expired)>label:after {
    content: attr(data-status)
}

.order-time.new>div>span:after {
    content: attr(data-time)
}

.order-time.expired>div>span:after {
    content: attr(data-expired)
}

.order-time.exchange>div>span:after {
    content: attr(data-exchange)
}

.order-time.emergency>div>span:after {
    content: attr(data-emergency)
}

.order-time.refund>div>span:after {
    content: attr(data-refund)
}

.order-time.done>div>span:after {
    content: attr(data-done)
}

.order-time.expired span {
        color: #ea1818;
    font-size: 1.2em
}

.order-time.exchange span,.order-time.refund span,.order-time.done span {
    color: #0acb3d;
    font-size: 1.2em
}

.order-time.refund span {
    color: #9f9f9f
}

.order-time.emergency span {
    color: #f7941c;
    font-size: 1em
}

.order-time.pending:after,.order-time.received:after,.order-time.exchange:after {
    content: attr(data-exchange)
}

.order-time.done:after {
    content: attr(data-done)
}

.order-time.emergency:after {
    content: attr(data-emergency)
}

.order-time.refund:after {
    content: attr(data-refund)
}

.order-action-body {
    display: flex;
    justify-content: space-between
}

.order-action-body.flex-start {
    align-items: flex-start
}

.order-extra-details {
    margin-top: 1em
}

.order-extra-details>.order-data-destination {
    border-top: none;
    background-color: #20284b;
    border-radius: .5em;
    word-break: break-all;
    padding: .7em 1.5em 1.5em;
    color: #879fab
}

.order-details-more-txs {
    display: flex;
    flex-direction: row-reverse
}

.order-details-more-txs.single {
    flex-direction: row
}

.order-details-more-txs.single .order-details-list {
    display: grid;
    grid-gap: 0 2em;
    grid-template-columns: repeat(2,calc(50% - 1em))
}

.order-details-more-txs.single li {
    order: 1
}

.order-details-more-txs.single li.order-txid {
    grid-column: 1/3
}

.order-details-more-txs.single li:nth-of-type(-n+3),.order-details-more-txs.single li:nth-of-type(6) {
    order: 1
}

.order-details-more-txs.single li:nth-of-type(4),.order-details-more-txs.single li:nth-of-type(7) {
    order: 2
}

.order-details-more-txs.single li:nth-of-type(5) {
    order: 3
}

.order-details-more-txs.single>.order-details-tx {
    width: 100%;
    margin-left: 0
}

.order-details-more-txs + .order-details-more-txs {
    padding-top: 1em
}

.order-details-tx {
    width: calc(50% - .5em);
    background-color: #fff;
    padding: 1.5em;
    box-sizing: border-box;
    border-radius: .5em
}

.order-details-tx:first-of-type {
    margin-left: 1em
}

.order-details-tx h3 {
 
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0;
    margin-bottom: 1em
}

.order-amount {
    font-size: 1.4em;
    font-weight: 600
}

.order-address-wrap {
    position: relative;
    margin-top: .375em
}

.order-address-from>.copy {
    font-size: .8em;
    margin-left: .3em;
    margin-top: -0.2em;
     
}

.order-address-from:hover>.copy {
 
}

b.extra-required {
    font-weight: normal;
    color: #ea1818
}

.order-address {
    font-size: 1.25em;
    font-weight: 600
}



.order-address>span {
    display: inline-block;
    padding-right: .5em
}

.order-address>i {
    display: inline-block;
    font-style: normal
}

.order-type {
}

.order-field {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box
}

.order-field-wrap {
    display: flex;
    align-items: center;
    padding: .4em 0
}

.order-field-wrap:last-of-type {
    border-bottom: none
}

.order-data-details {
    flex: 1 0 auto;
    padding-bottom: 1.7em;
}

.order-data-details:first-of-type:last-of-type {
    flex-grow: inherit
}

.order-p-wrap:first-of-type {
    margin-bottom: 1.2em
}

p.order-p-amount {
    margin-bottom: .2em
}

.order-data-destination {
    border-top: 1px solid rgba(135,159,171,0.31)
}

.order-action-details.more>.order-data-destination {
    border-top: 0
}

.order-data-destination p:first-of-type {
    padding-top: .9em
}

.order-data-destination p>label {
    padding-bottom: .3em;
    display: inline-block
}

.order-action-details.more p:first-of-type {
    padding-top: .5em
}

.order-action-details.more p:last-of-type {
    margin-bottom: .5em
}

.order-address-destination {
 
    font-weight: 600;
    display: block
}

.order-address-destination.long {
    font-size: .9em
}

.order-field-wrap>div {
}

.order-field-wrap>label {
    display: block;
    min-width: 5.6em
}

.order-action-details p {
    font-size: 1em;
    font-weight: 400;
    word-break: break-word
}

.order-address>i:nth-of-type(2n) {
}

.order-action-details p.order-right-info {
    float: right;
    font-size: 1em;
    text-align: right
}

.order-action-details b {
    font-weight: 600;
    max-width: 38em
}

b.order-address-from.long {
    font-size: 1em
}

a.order-cantscan {
    border-bottom: 1px dotted;
    color: #879fab;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    margin-top: .415em
}

a.order-cantscan:hover {
    color: #fff
}

.timeline-container ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.timeline_exchange {
    display: none !important;
}



.timeline-container li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    width: 25%
}

.timeline-container li:after {
    content: "\e230";
    font-family: "Icons";
    display: block;
    font-size: 2.3em;
    left: 100%;
    position: absolute;
    top: .5em;
    transform: translateX(-50%);
    z-index: 0
}



.timeline-container li.active:after,.timeline-container li.active ~ li:after {
 
    opacity: .25
}

.timeline-container li.active:after {
    -o-animation: flashing-line 1s linear infinite alternate;
    will-change: opacity
}

.timeline-container ol.expired>li:after {
}

.timeline-container li:last-of-type:before,.timeline-container li:last-of-type:after {
    content: none
}

.timeline-container li>div {
    opacity: 1;
    position: relative;
    z-index: 1
}




.timeline-container ol.expired li.active>div {
    animation: none;
    opacity: .4
}

.timeline-container li.active:last-of-type>div {
}

.timeline-container li label {
    display: block;
    font-weight: 600;
    padding: 0 1em
}

.timeline-container li label.foremergency,.timeline-container li label.forrefund {
    display: none
}

.timeline-container li.emergency-choice label.foremergency,.timeline-container li.refund label.forrefund {
    display: block
}

.timeline-container li.emergency-choice label.foremergency + label,.timeline-container li.refund label.forrefund + label {
    display: none
}

.timeline-container li label:before {
}

.timeline-container .line {
    background-color: #dce2e6;
    border-radius: 15px;
    height: 7px;
    margin-top: 15px;
    width: 100%
}

.timeline-container span.ico {
    display: block;
    font-size: 2.3em;
    margin-bottom: .3em;
    padding: 0;
    width: 100%
}

.timeline-container span.ico:after {
    background-color: #009ef7;
    color: #fff;
    border-radius: 2em;
    padding: .5em;
    display: inline-flex;
    line-height: 1;
    align-items: center;
    width: 1em;
    height: 1em;
    justify-content: center
}

section.order-timeline {
 
    margin: 40px 0
}

section.order-details {
    background-color: #fff;
    color: #000;
    padding: 30px 40px
}


.popup-content.popup-order-tag-terms,.popup-content.popup-order-email {
    max-width: 40em;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
}

.popup-content.popup-order-tag-terms {
    max-width: 44em
}

.popup-content.popup-order-email p {
    position: relative;
    z-index: 1;
    text-align: left
}

.popup-order-email-wrap {
    display: flex;
    margin-top: 1.3em;
    position: relative
}

.popup-order-email-wrap .order-notice-image {
    height: 22em;
    position: absolute;
    right: -7.5em;
    top: -2em;
    width: 20em;
    z-index: 0
}

.popup-order-email-control {
    position: relative;
    z-index: 1
}

.popup-content.popup-order-email .input-texttype>input {
    background-color: #21284b
}

.popup-order-email-control .checkbox-tick {
    margin: .4em 0 .9em
}

.popup-order-tag-terms-control {
    text-align: left
}

.popup-order-tag-terms-btn {
    margin-top: 1.5em;
    text-align: center
}

.popup-order-tag-terms-control>.checkbox-tick {
    margin-bottom: .6em
}

.popup-order-tag-terms-control>.checkbox-tick>input[type="checkbox"] + span {
    line-height: 1.25em;
    padding-left: 2.5em;
    padding-top: .3em
}

.popup-order-tag-terms-control>.checkbox-tick.error>input[type="checkbox"] + span {
    color: #ea1818
}

.popup-order-tag-terms-control>.checkbox-tick.error>input[type="checkbox"] + span:before {
    border-color: #ea1818
}

.popup-order-tag-terms-control>.checkbox-tick.optional>span {
    color: rgba(255,255,255,0.5)
}

.popup-content.popup-order-tag-terms p {
    margin-bottom: .5em;
    position: relative;
    text-align: left;
    z-index: 1
}

.popup-order-tag-terms-control b.red {
    color: #ea1818
}

section.order-notice {
    background-color: #fff;
    background-size: auto 100%;
    background-position: 84% 0;
    border-radius: .5em;
 
    overflow: hidden;
    position: relative
}

section.order-notice>div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    height: 100%;
    opacity: 0;
    padding: 4em 5em;
    width: 100%;
    will-change: opacity,visibility;
    -webkit-transition: opacity .3s ease,visibility .3s ease;
    -o-transition: opacity .3s ease,visibility .3s ease;
    transition: opacity .3s ease,visibility .3s ease
}

section.order-notice>div.active {
    opacity: 1;
    visibility: visible
}

section.order-info>section.order-notice>div:not(.active) {
    position: absolute;
    top: 0
}

section.order-notice div>button.btn {
    width: 100%;
    margin-top: 1em
}

.order-notice p {
 
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
    width: 58%
}

.order-notice-input-wrap {
    border-radius: .214em;
    display: flex;
    height: 2.5em;
    overflow: hidden;
    width: 25em
}

.order-notice-input-wrap>input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-radius: .214em 0 0 .214em;
    display: inline-block;
    font-size: 1em;
    height: 100%;
    padding: .3em 1em;
    vertical-align: top;
    width: 16em;
    width: calc(100% - 7em);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.order-notice-input-wrap>button.btn {
    border-radius: 0 .214em .214em 0;
 
    padding: .715em 1.9em;
    height: 100%;
    vertical-align: top;
    width: auto
}

.order-notice-input-wrap>input:focus + .btn:hover {
    opacity: .8
}

.order-notice-wrong {
    border-bottom: 1px dotted;
    color: #bebebe
}

.order-notice-image {
    display: block;
    position: relative;
    top: 1em;

    background-repeat: no-repeat;
    min-height: 11.5em;
    background-size: 100% auto;
    flex: 1 0 auto
}

.order-notice-image>svg {
    width: 100%;
    height: auto;
    display: block
}

.order-details-tx h3,.order-action-details h3 {
 
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 1em;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.order-done-title:after {
    content: "\e205";
    font-family: 'Icons';
    background-color: #22A079;
    border-radius: 2em;
    padding: .3em;
    font-size: .65em;
    margin-left: .8em
}

.order-action-details h4 {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .6em;
    font-size: .85em
}

.order-action-details h4>span {
    color: #fff
}

ul.order-details-list>li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 2em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 1.5em
}

ul.order-details-list>li.autoheight {
    height: auto
}

ul.order-details-list>li>label {
    font-size: 1em;
    padding-right: .5em
}

ul.order-details-list>li>ins {
    flex: 1 0 auto;
    display: block;
    text-decoration: none;
    height: 1em;
    position: relative
}

ul.order-details-list>li>ins:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 0);
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
    width: 100%;
    height: 1px;
    bottom: 1px
}

li.order-txid {
    margin-bottom: .5em
}

ul.order-details-list>li.order-txid>div {
    width: 50%;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    margin-left: 0
}

li.order-txid span {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    background-color: #f9f9f9;
    padding: .625em .8em;
    border-radius: .5em;
    box-sizing: border-box
}

li.order-txid font {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    max-width: 100%
}

.order-action-details li.order-txid font {
    font-size: 1em
}

li.order-txid .copy {
    margin-left: .6em;
    font-size: 1em;
    color: #008FDF;
    cursor: pointer
}


.order-details-list .pseudo-hint-blue {
    cursor: copy
}

    
ul.order-details-list>li.order-txid>label {
    width: auto;
    margin-right: 0
}

.order-txid-text {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%
}

ul.order-details-list>li>div {
 
    position: relative;
    min-height: 1.3em;
    margin-left: .5em;
    overflow: hidden;
    text-overflow: ellipsis
}

ul.order-details-list>li>div> {
}

ul.order-details-list>li>div>time {
}

.link-explorer-img {
    display: inline-block;
    height: 1.6em;
    width: 1.6em
}

.link-explorer-img>img {
    height: 100%
}

.popup-content.popup-qr {
    max-width: 1105px;
    width: 90%
}

.popup-qr-variations>div {
    display: inline-block;
    text-align: center;
    width: 48%
}

.popup-qr-variations>div>div {
    margin: 0 auto;
    max-width: 260px;
    width: 100%
}

.popup-qr-variations img {
    width: 100%
}

.popup-content.popup-qr>p {
    font-weight: 600;
    font-size: 1.2em
}

.order-done-wrap {
    height: 100%;
    display: flex
}

.order-refund-wrap {
    margin-bottom: 1.5em;
    text-align: center
}

.order-done-wrap.center {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.order-done-wrap.center .order-refund-address {
 
    word-break: break-word
}

.order-done-wrap.center .order-refund-address {
    display: block;
    margin: 0 auto;
    max-width: 40em
}

.order-done-wrap.center .order-refund-address {
    margin-bottom: .6em
}

span.order-refund-tag {
    color: #fff
}

h3.center.order-done-title {
 
    font-size: 1.4em
}

.order-done-view>label {
    display: inline-block;
    vertical-align: middle
}

.order-done-view>a.link-explorer-img {
    vertical-align: middle
}

.order-done-view {
    font-size: 1.2em
}

.order-done-ico {
    text-align: center;
    min-width: 14em;
    max-width: 14em;
    display: flex;
    align-items: flex-end
}

.order-done-ico>svg {
    width: 100%;
    height: auto
}

.order-done-review {
    cursor: default;
    max-width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center
}

h3.order-done-title {
    white-space: normal
}

.order-done-review a {
    background-color: transparent;
 
    display: inline-block;
    font-size: 1em;
    height: auto;
    padding: .728em 0;
    vertical-align: middle;
    margin-right: 1.5em;
    margin-top: .5em
}

.order-done-review a:hover {
    background-color: transparent;
    color: #53ad77
}

.order-done-review a>* {
    display: inline-block;
    vertical-align: middle
}

.order-done-review a>i.svgreviews {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.5em;
    margin-right: .1em;
    width: 1.5em
}

section.order-emergency {
    border-radius: .5em;
    display: none;
    padding: 2em;
    background-color: rgba(0,0,0,0.38);
    background-color: #21284b
}

section.order-emergency.active {
    display: block
}

.order-action-body>section.order-emergency {
    margin-bottom: 1em;
    border: 1px solid #f00
}

.order-emergency h3 {
 
    margin-bottom: .5em;
    padding-bottom: 0
}

.order-emergency h3:before {
    background-color: #b00000;
    border-radius: 50%;
 
    content: "!";
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    height: 1.3em;
    line-height: 1.3em;
    margin-right: .6em;
    right: 0;
    text-align: center;
    top: .6em;
    width: 1.3em
}

.order-emergency p {
     
}

.order-emergency p font {
 
    word-break: break-word
}

.order-emergency-actions {
    margin-top: .6em
}

.order-emergency-actions>label {
    display: inline-block
}

.order-emergency-actions>label:last-of-type {
    margin-bottom: 0
}

.order-emergency-submit {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

.order-emergency-submit.active {
    max-height: 11.3em;
    margin-top: .6em
}

.order-emergency-submit .dinput + .dinput,.order-emergency-submit .btn {
    margin-left: .6em
}

.order-emergency-submit .btn {
    white-space: nowrap;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    padding: 1.25em 1.5em;
    border-radius: .5rem
}

.order-emergency-submit[data-choice="EXCHANGE"] {
    justify-content: center
}

.order-emergency-submit[data-choice="EXCHANGE"] .btn {
    margin-left: 0
}

.order-emergency-submit[data-choice="EXCHANGE"] .btn:after {
    content: attr(data-exchange)
}

.order-emergency-submit[data-choice="REFUND"] .btn:after {
    content: attr(data-refund)
}

.order-emergency-submit.visible-overflow {
    overflow: visible
}

.order-emergency-submit input,.order-emergency-submit textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: .2em;
    border: 0;
    color: #000;
    font-size: .9em;
    margin: 0;
    height: 2.7em;
    max-width: 100%;
    padding: .5em 2.1em .5em .7em;
    text-align: left;
    width: 100%;
    resize: none;
    display: block;
    border: 2px solid transparent
}

.order-emergency-submit input.error,.order-emergency-submit textarea.error {
    border-color: #a90707
}

.order-emergency-submit textarea[readonly],.order-emergency-submit textarea:valid {
}

.order-emergency-submit .dinput>.dinput-field {
    height: calc(3.25em + 4px);
    padding: 1.125em 2.1em 1.125em .7em
}

.order-action-body hr {
    background-color: #fff;
    border: 0;
    height: 2px;
    margin-bottom: 1em;
    margin-top: 2em;
    opacity: .22
}

.order-emergency-submit .dinput {
    display: inline-block;
    padding: 0;
    width: 100%
}

.order-emergency-submit .dinput.tag {
    width: 22em
}

.order-emergency-submit .dinput.hidden {
    position: absolute
}

.order-emergency-submit .funcbuttons button {
 
    height: 100%
}

.order-emergency-submit .funcbuttons button:hover {
    opacity: .7
}

.order-emergency-submit .dinput .funcbuttons {
    bottom: 0;
    top: 0
}

.order-emergency-submit .funcbuttons>.close,.order-emergency-submit .funcbuttons>.close {
    font-size: .8em;
    padding: 0 .8em
}

.order-emergency-submit input:not(.hidden):valid ~ .funcbuttons>.scanqr,.order-emergency-submit textarea:not(.hidden):valid ~ .funcbuttons>.scanqr {
    display: none
}

.order-emergency-submit input:not(.hidden):not(:valid) ~ .funcbuttons>.close,.order-emergency-submit textarea:not(.hidden):not(:valid) ~ .funcbuttons>.close {
    display: none
}

b.order-address.pseudo-hint-blue,b.order-amount.pseudo-hint-blue {
    z-index: auto;
    position: relative
}

.pseudo-hint-blue:after,.pseudo-hint-blue:before {
    opacity: 0;
    visibility: hidden
}

.pseudo-hint-blue:after,.pseudo-hint-blue:before {
    font-size: .60714em
}

.pseudo-hint-blue.copied:after,.pseudo-hint-blue.copied:before {
    opacity: 1;
    visibility: visible
}

.tx-confirm-now {
    color: #f55
}

.tx-confirm-now.accept {
    color: #00a12a
}

.order-attention {
    margin-top: 1.4em
}

p + p + .order-attention {
    margin-top: 2.2em
}

.order-attention + .order-attention {
    margin-top: .5em
}



section.order-head-info {
    flex-direction: column;
    order: 1;
    margin-right: 1em;
    padding: .3em .8em .7em .8em;
    border-radius: .5em;
    text-align: center;
    background-size: cover;
    width: 10.5em
}

.order-head-info-inner>div {
    padding: .6em 0;
    border-top: 1px solid rgba(135,159,171,0.31)
}

.order-head-info-inner>div:first-of-type {
    border-top: none
}

.order-head-info-inner>div>label {
    font-size: .85em;
    white-space: nowrap
}


.order-head-info-inner>div time {
    white-space: nowrap
}

.order-id-wrap>div {
    display: flex;
    align-items: center;
    justify-content: center
}

.order-id-wrap .pseudo-hint-blue {
    display: inline-flex;
    align-items: center;
    cursor: copy;
    position: relative;
    line-height: 1.2
}

.order-id-wrap i.ico {
    font-size: 1em;
    margin-left: .4em;
}



.order-id {
    font-size: 1.4em;
}

.order-time>div>span {
    font-size: 1.4em
}

section.order-info {
    display: flex
}

section.order-info-known {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: .5em;
 
    margin-right: 1em;
    padding: 2.5em 2em;
    width: 70%
}

section.order-info-known h3 {
    margin-bottom: .75em;
    font-size: 2em
}

section.order-info-known .exchanges-know {
    background-color: initial;
    padding: 0
}

section.order-info-known .exchanges-know h3 {
    margin-bottom: .5em
}

section.order-notice {
    height: auto;
    overflow: hidden;
    width: 30%
}

section.order-notice h3 {
    font-size: 2em;
    line-height: 1.5
}

section.order-notice>div {
    padding: 2em 1.6em 1em 1.6em;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%
}

section.order-notice p {
    font-size: .9em;
    font-weight: normal;
    line-height: 1.4;
    width: 100%
}

section.order-notice .order-notice-changeblock {
    min-height: 12em
}

section.order-notice .order-notice-input-wrap {
    flex-direction: column;
    height: auto;
    width: 100%
}

section.order-notice .order-notice-input-wrap>input {
    width: 100%;
    border-width: 1px;
    background-color: #fff;
    height: 2.9em;
    font-size: .875em;
    border-radius: .214em .214em 0 0;
    text-align: center
}

section.order-notice .order-notice-input-wrap>button.btn {
    border-radius: 0 0 .214em .214em;
    height: 2.5em
}

section.order-notice span.ico {
    font-size: 11.7em;
    right: 0;
    z-index: -1;
    left: 0;
    position: relative;
    display: block;
    margin-top: .05em
}

.order-note {
    box-sizing: border-box;
    display: flex;
    line-height: 1.5em;
    margin-bottom: 1em;
    min-height: 2.5em;
    position: relative
}

.order-note:last-of-type {
    margin-bottom: 0
}

.order-note>em.ico {
    align-items: center;
    align-self: flex-start;
    background-color: #009ef7;
    border-radius: 3em;
    color: #fff;
    display: flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 1em;
    min-width: 2.5em;
    width: 2.5em
}

.order-note>em.ico:after {
    font-size: 1.625em
}

.order-note>span {
    align-self: center;
    line-height: 1.4
}

@media only screen and (max-width: 740px) {
    .order .main-section.withheader {
        padding-top:0
    }

    section.order-outer {
        margin-top: 4.5em
    }
}

@media only screen and (max-width: 700px) {
    section.order-action {
        margin:1em 0 1.6em
    }

    .order-action.expired>.order-action-body,.order-action.new>.order-action-body {
        display: grid;
        grid-template-columns: auto 1fr
    }

    .order-action.new>.order-action-body,.order-action.expired>.order-action-body {
        grid-template-columns: 1fr;
    }

    .order-action.exchange>.order-action-body,.order-action.emergency>.order-action-body {
        grid-template-columns: .2fr 1fr
    }

    .order-action.new .order-action-details,.order-action.expired .order-action-details {
        grid-column: 1/3;
        margin-top: 1em;
        width: 100%
    }

    .order-action.refund .order-action-details,.order-action.emergency .order-action-details,.order-action.done .order-action-details {
        grid-column: 2;
        grid-row: 1
    }

    .order-action.refund>.order-action-details,.order-action.emergency>.order-action-details,.order-action.done>.order-action-details {
        margin-top: 1em
    }

    .order-action.exchange .order-action-details {
    }

    .order-done-wrap {
        width: 100%;
        word-break: break-word;
        white-space: normal
    }

    .order-done-review>div {
    }

    .order-done-review>div>a.btn {
        margin-left: 0;
        padding: .428em .3857em
    }

    .order-done-review>div>a.btn span {
        white-space: nowrap
    }

    h3.center.order-done-title {
        white-space: normal;
        margin-top: .5em;
        margin-bottom: .5em
    }

    .order-action-details p {
    }

    section.order-head-info {
        padding: unset;
        width: 100%;
        grid-row: 1
    }

    .order-action section.order-emergency {
        margin-bottom: 1em;
        padding: 1.5em
    }

    .order-qr {
        margin: 0 auto 0
    }

    .order-details-more-txs {
        flex-direction: column
    }

    .order-details-more-txs .order-details-tx {
        width: 100%;
        margin-left: 0
    }

    .order-details-tx + .order-details-tx {
        margin-top: 1.6em;
        padding-top: 1.6em
    }

    .order-action h2 {
        margin-bottom: 0
    }

    .order-qr a:after {
        font-size: .85em
    }

    .order-qr-wrap .btn {
        font-size: 1em
    }

    .order-action-details h4 {
        font-size: 1em;
        padding: .3em 0
    }

    .order-time.expired {
        font-size: 1em
    }

    ul.order-details-list>li:nth-of-type(2n+2)>label {
    }

    ul.order-details-list>li:nth-of-type(4n+4) {
        background-color: transparent
    }

    ul.order-details-list>li>div>time {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .order-action-details p.order-right-info {
        float: none;
        text-align: center
    }

    .order-qr-wrap {
        margin-bottom: 0;
        margin-left: 0;
        grid-column: 2;
        grid-row: 1;
        text-align: center
    }

    .order-address {
        margin-top: 0
    }

    .timeline-container li label {
        font-size: .9em
    }

    h3.center.order-done-title {
    }

    section.order-info>section.order-notice>div {
        padding: 1.5em;
        max-width: initial;
        width: 100%
    }

    .order-notice span.ico {
        right: .1em
    }

    .order-action-details .onlymobile p {
        text-align: center
    }

    section.order-info {
        flex-direction: column
    }

    section.order-info-known {
        width: 100%;
        margin-right: 0;
        padding: 1.5em
    }

    section.order-info>section.order-notice {
        width: 100%;
        margin-top: 1em;
        background-repeat: no-repeat;
        background-size: cover
    }

    .order-notice-image {
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 22em
    }

    section.order-action.done .order-action-details {
        padding-left: 2em
    }
}

@media only screen and (max-width: 700px) and (orientation:portrait) {
    .popup-qr-variations>div {
        width:100%
    }
}

@media only screen and (min-width: 550px) and (max-width:700px) {
    section.order-info>section.order-notice>div {
        max-width:33em;
        min-height: 12.6em;
        width: calc(100% - 15.9em)
    }

    section.order-info>section.order-notice span.ico {
        position: absolute;
        left: 100%
    }

    .notyfy-compl-0 {
        margin-left: .3em
    }
}

@media only screen and (max-width: 605px) {
    .order-notice span.ico {
        font-size:12em;
        left: 0;
        right: 0
    }

    .order-notice p {
        width: auto
    }

    .order-emergency-submit {
        display: block;
        text-align: center
    }

    .order-emergency-submit.active {
    }

    .order-emergency-submit .dinput + .dinput,.order-emergency-submit .btn {
        margin-left: 0
    }

    .order-emergency-submit .dinput.tag {
        width: 100%
    }

    .order-emergency-submit .btn {
        margin-top: .3em
    }

    .order-done-ico {
        min-width: inherit
    }
}

@media only screen and (max-width: 560px) {
    .order-done-ico {
        display:none
    }
}

@media only screen and (max-width: 470px) {
    .order-direction {
        font-size:.8em
    }

    .dir-cont>.coin-ico {
        height: 2.5em;
        width: 2.5em
    }

    .dir-from>.dir-cont>.coin-ico {
        margin-left: .5em
    }

    .dir-from>.dir-cont>.coin-head {
        margin-right: 3.333em
    }

    .dir-from>.dir-cont>.coin-value {
        margin-right: 2.321em;
        font-size: 1.15em
    }

    .dir-from>.dir-cont>.coin-address {
        display: none
    }

    .dir-to>.dir-cont>.coin-ico {
        margin-right: .5em
    }

    .dir-to>.dir-cont>.coin-head {
        margin-left: 3.333em
    }

    .dir-to>.dir-cont>.coin-value {
        margin-left: 2.321em;
        font-size: 1.15em
    }

    .dir-to>.dir-cont>.coin-address {
        display: none
    }

    .order-direction>div.dir-arrow {
        font-size: .85em
    }

    .order-direction>div {
        padding: .85em 1em
    }

    .order-notice-input-wrap {
        width: 100%
    }

    .order-qr {
        max-width: 18em;
        min-width: 15.2em;
        width: 100%
    }

    .order-action-details p {
        font-size: .8em;
        margin-bottom: .3em
    }

    section.order-action.done .order-action-details {
        padding: 1.5em
    }

    .timeline-container li:after {
        font-size: 1.5em;
        top: 1em
    }
}

@media only screen and (max-width: 430px) {
    .timeline-container li label {
        padding:0
    }

    ul.order-details-list>li>label,ul.order-details-list>li:nth-of-type(2n+2)>label {
        flex-shrink: 0;
        margin-right: 0;
        width: 9.5em
    }

    ul.order-details-list>li.view-blockchain>label {
        width: auto
    }

    ul.order-details-list>li {
        display: block;
        height: auto;
        margin-bottom: .5em
    }

    ul.order-details-list>li>ins {
        display: none
    }

    ul.order-details-list>li>div {
        margin-left: 0
    }

    ul.order-details-list>li.order-txid>div {
        width: 100%
    }

    .order-action-body ul.order-details-list>li:last-of-type {
        margin-bottom: 0
    }

    .order-action-body li.order-txid>div {
        width: 100%
    }

    .order-action-details h3 {
        white-space: normal
    }

    .order-data-details {
        padding-bottom: .5em
    }

    .order-action section.order-emergency {
        font-size: .9em;
        padding: .75rem
    }

    .order-action.exchange .order-action-details {
        padding: 1em
    }

    .timeline-container li:after {
        font-size: 1.3em;
        top: 1.2em
    }
}

@media only screen and (max-width: 340px) {
    .order-head-info-inner>div>div {
        font-size:.85em
    }
}

.pending {
    opacity: .4;
}

.complete {
    opacity: .4; 
}
.await-order-action-details {
    width: 100%;
}
.await__form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.await__input {
    background-color: #F9F9F9;
    color: #4B5675;
    border: unset;
    width: 100%;
    padding: 10px;
    border-radius: 0.475rem;
    border: 1px solid #F9F9F9;
    transition: background-color .3s ease-in-out;
    -moz-appearance: textfield;
}
.await__input:hover {
    background-color: rgb(240, 241, 241);

}
.await__input:focus {
    background: #F1F1F2;
    border: 1px solid #F1F1F2;
    border-right: unset;
}

.await__btn {
    background-color: #009ef7;
    border-radius: 0.5em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    overflow: hidden;
    padding: 9px 0;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
    will-change: opacity;
    color: #fff;
    max-width: 150px;
    width: 100%;
}
.await__btn:hover {
    background-color: #0095e8;
}

#notice_submit {
    margin-top: 20px;
}