@font-face {
  font-family: "Mulish";
  font-weight: 400;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  font-weight: 500;
  src: url("../fonts/Mulish-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  font-weight: 600;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  font-weight: 700;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  font-weight: 900;
  src: url("../fonts/Mulish-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  font-weight: 700;
  src: url("../fonts/Jost-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Mulish", "Arial", "Helvetica", sans-serif;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
  position: relative;
  scrollbar-gutter: stable;
}

dialog {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
  text-decoration: underline;
}

p {
  cursor: default;
  margin: 0;
}

span {
  cursor: default;
}

strong {
  cursor: default;
}

img {
  max-width: 100%;
}

li {
  cursor: default;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  cursor: default;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1640px;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
}

.overflow {
  overflow: auto;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.logo {
  flex-shrink: 0;
}
.logo img {
  width: 289px;
  height: 45px;
}
@media (max-width: 768px) {
  .logo img {
    width: 200px;
  }
}
@media (max-width: 576px) {
  .logo img {
    width: 160px;
  }
}

.blue-btn {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 100%;
  text-align: center;
  background-color: #346C9A;
  padding: 16px 20px;
  display: block;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.25s ease;
}
.blue-btn:hover {
  background-color: #3b93db;
}
@media (max-width: 768px) {
  .blue-btn {
    font-size: 16px;
  }
}

.text-16-20 {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
}
@media (max-width: 768px) {
  .text-16-20 {
    font-size: 14px;
    line-height: 120%;
  }
}

.text-20-30 {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #333333;
  line-height: 30px;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .text-20-30 {
    font-size: 18px;
    line-height: 120%;
  }
}
@media (max-width: 576px) {
  .text-20-30 {
    font-size: 16px;
  }
}

.text-20-122 {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 122%;
  letter-spacing: 0%;
  color: #333333;
}
@media (max-width: 768px) {
  .text-20-122 {
    font-size: 18px;
    line-height: 120%;
  }
}
@media (max-width: 576px) {
  .text-20-122 {
    font-size: 16px;
  }
}

.h2-title {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .h2-title {
    font-size: 40px;
    line-height: 120%;
  }
}
@media (max-width: 576px) {
  .h2-title {
    font-size: 30px;
  }
}

.h3-title {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 30px;
  letter-spacing: 0%;
}
@media (max-width: 993px) {
  .h3-title {
    font-size: 20px;
    line-height: 110%;
  }
}

.blue-card {
  background: linear-gradient(180deg, #386F9C 0%, #BED0DF 100%);
  min-height: 260px;
  padding: 20px;
  position: relative;
}
.blue-card h3 {
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
.blue-card span {
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
.blue-card a {
  position: absolute;
  inset: 0;
}
.blue-card img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.arrow-card {
  padding: 30px;
  position: relative;
}
.arrow-card .arrow-card__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 60px;
  height: 60px;
  gap: 10px;
  background-color: #fff;
  border-radius: 100px;
  transition: width 0.5s linear;
  max-height: 60px;
}
.arrow-card .arrow-card__arrow span {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #346C9A;
  line-height: 30px;
  letter-spacing: 0%;
  white-space: nowrap;
  opacity: 0;
  animation: fadeOut 0.25s forwards;
}
.arrow-card:hover .arrow-card__arrow {
  border-radius: 16px;
  width: 100%;
  padding: 20px;
}
.arrow-card:hover .arrow-card__arrow span {
  display: block;
  animation: fadeIn 0.25s forwards;
}
.arrow-card .arrow__link {
  position: absolute;
  inset: 0;
}

.swiper-arrows {
  display: flex;
  gap: 10px;
  align-items: center;
}
.swiper-arrows .swiper-arrow__prev:hover path {
  fill: #fff;
}
.swiper-arrows .swiper-arrow__prev:hover rect {
  fill: #346C9A;
}
.swiper-arrows .swiper-arrow__next:hover path {
  fill: #fff;
}
.swiper-arrows .swiper-arrow__next:hover rect {
  fill: #346C9A;
}
.swiper-arrows rect, .swiper-arrows path {
  transition: fill 0.25s ease;
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.open .content {
  grid-template-rows: 1fr;
}

.acc img {
  transition: transform 0.3s ease;
}

.text-wrapper {
  min-height: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.socials {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B3253E;
  border-radius: 16px;
  transition: background-color 0.25s ease;
}
.socials__link:hover {
  background-color: #c9425b;
}

.menu .menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.menu .menu__link {
  display: block;
  font-family: Mulish;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.menu .menu__link::after {
  content: "";
  margin-top: 12px;
  background-color: transparent;
  display: block;
  width: 100%;
  height: 4px;
  transition: background-color 0.25s ease;
}
.menu .menu__link:hover::after {
  background-color: #B3253E;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 35px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 1240px) {
  .hero {
    padding-bottom: 50px;
  }
}
@media (max-width: 1240px) {
  .hero__swiper {
    margin-bottom: 30px;
  }
}
.hero .swiper-wrapper {
  box-sizing: border-box;
}
.hero__block {
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 640px;
  padding-top: 166px;
  padding-bottom: 170px;
}
@media (max-width: 768px) {
  .hero__block {
    min-height: 440px;
    padding-top: 70px;
    padding-bottom: 10%;
  }
}
.hero__block h1 {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 80px;
  color: #FFFFFF;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 1240px) {
  .hero__block h1 {
    font-size: 60px;
    line-height: 110%;
  }
}
@media (max-width: 768px) {
  .hero__block h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .hero__block h1 {
    font-size: 30px;
  }
}
.hero__btn {
  max-width: 491px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .hero__btn {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    max-width: 100%;
  }
}
.hero__pagination {
  position: absolute;
  bottom: 134px !important;
  display: flex;
  gap: 10px;
  max-width: 230px;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 5;
}
@media (max-width: 1240px) {
  .hero__pagination {
    bottom: 10% !important;
  }
}
.hero .swiper-pagination-bullet {
  width: 70px;
  height: 2px;
  background-color: #fff;
  opacity: 1;
}
.hero .swiper-pagination-bullet-active {
  background-color: #346C9A;
}
.hero__flex {
  display: flex;
  align-items: stretch;
  gap: 10px;
  transform: translateY(-50%);
  position: relative;
  z-index: 5;
}
@media (max-width: 1240px) {
  .hero__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: translateY(0);
  }
}
@media (max-width: 1240px) {
  .hero__flex {
    grid-template-columns: 1fr;
  }
}
.hero__card {
  padding: 20px 40px 20px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
@media (max-width: 768px) {
  .hero__card {
    padding: 20px;
  }
}
.hero__card strong {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  color: #346C9A;
  line-height: 30px;
  letter-spacing: 0%;
}
.hero__icon {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  margin-top: auto;
}

.catalog {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .catalog {
    padding-bottom: 50px;
  }
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1240px) {
  .catalog__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .catalog__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1240px) {
  .catalog__card:last-child {
    grid-column: span 3;
  }
}
@media (max-width: 768px) {
  .catalog__card:last-child {
    grid-column: span 1;
  }
}
.catalog__card_wide {
  grid-column: span 2;
}
@media (max-width: 768px) {
  .catalog__card_wide {
    grid-column: span 1;
  }
}
.catalog__card_wide .catalog__img {
  position: absolute;
  right: 43px;
  top: 20px;
}
@media (max-width: 768px) {
  .catalog__card_wide .catalog__img {
    top: unset;
    bottom: 0;
    right: 0;
  }
}

.about {
  padding-bottom: 177px;
  position: relative;
}
@media (max-width: 993px) {
  .about {
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .about {
    padding-bottom: 60px;
  }
}
.about__flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1240px) {
  .about__flex {
    flex-wrap: wrap;
  }
}
.about__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.about__title {
  color: #B3253E;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 760px;
  width: 100%;
}
@media (max-width: 576px) {
  .about__list {
    grid-template-columns: 1fr;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 576px) {
  .about__item p br {
    display: none;
  }
}
.about__flex-2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.about__img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.about .h3-title {
  color: #346C9A;
}
@media (max-width: 576px) {
  .about .h3-title br {
    display: none;
  }
}
.about__text {
  font-family: Mulish;
  font-weight: 900;
  font-style: Black;
  font-size: clamp(40px, 10vw, 186px);
  color: #F2F2FE;
  line-height: 66px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(30%) translateX(-50%);
}

.production {
  padding: 50px 0;
  background-image: url(../img/prod-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
}
.production::after {
  content: "";
  background: linear-gradient(180deg, #346C9A 0%, rgba(52, 108, 154, 0.3) 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.production__title {
  color: #fff;
  margin-bottom: 40px;
}
.production .production__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 1080px) {
  .production .production__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .production .production__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.production .production__card {
  min-height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.production .arrow-card__arrow {
  max-width: 154px;
}
.production .h3-title {
  color: #fff;
  margin-top: auto;
}
.production .production__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .production .production__flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
.production .production__title-2 {
  color: #346C9A;
  margin-bottom: 10px;
}
.production .production__text {
  color: #333333;
}
@media (max-width: 768px) {
  .production .production__arrows {
    margin-left: auto;
  }
}
.production .production__swiper {
  padding: 10px 0;
}
.production .swiper-slide {
  max-width: 370px;
  width: 100%;
  min-height: 200px;
}
@media (max-width: 576px) {
  .production .swiper-slide {
    max-width: 100%;
  }
}
.production .prodcution__swiper-block {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.reviews {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .reviews {
    padding: 50px 0;
  }
}
.reviews .reviews__flex {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 993px) {
  .reviews .reviews__flex {
    flex-direction: column;
  }
}
.reviews .reviews__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-width: 340px;
}
.reviews .reviews__block {
  padding: 20px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviews .reviews__strong {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  color: #346C9A;
  line-height: 60px;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .reviews .reviews__strong {
    font-size: 40px;
  }
}
.reviews .reviews__text {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  color: #333333;
}
.reviews .reviews__text span {
  color: #346C9A;
}
@media (max-width: 993px) {
  .reviews .reviews__arrows {
    margin-left: auto;
  }
}
.reviews .reviews__swiper {
  max-width: 100%;
}
.reviews .swiper-wrapper {
  box-sizing: border-box;
}
.reviews .swiper-slide {
  max-width: 500px;
  width: 100%;
  min-height: 520px;
  display: flex;
}
@media (max-width: 576px) {
  .reviews .swiper-slide {
    max-width: 100%;
    min-height: 400px;
  }
}
.reviews .reviews__slide {
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
}
.reviews .reviews__subtitle {
  margin-top: auto;
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 30px;
  letter-spacing: 0%;
}
.reviews .reviews__link {
  position: absolute;
  inset: 0;
}

.faq {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .faq {
    padding-bottom: 50px;
  }
}
.faq .faq__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .faq .faq__flex {
    flex-direction: column;
  }
}
.faq .faq__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: #B3253E;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  white-space: nowrap;
  transition: color 0.25s ease;
}
.faq .faq__btn path {
  transition: stroke 0.25s ease;
}
.faq .faq__btn:hover {
  color: #e04663;
}
.faq .faq__btn:hover svg path {
  stroke: #e04663;
}
.faq .faq__subtitle {
  color: #333333;
  transition: color 0.25s ease;
}
.faq .faq__acc {
  padding: 10px 26px;
  background-color: rgba(52, 108, 154, 0.3019607843);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
.faq .faq__acc svg {
  transition: transform 0.25s ease;
  flex-shrink: 0;
}
.faq .open .faq__acc {
  background-color: #346C9A;
}
.faq .open .faq__subtitle {
  color: #FFFFFF;
}
.faq__block {
  padding: 40px 26px;
  border: 1px solid #9FB1BC;
  border-top: unset;
}
@media (max-width: 576px) {
  .faq__block {
    padding: 30px 15px;
  }
}
.faq__flexbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news {
  padding: 50px 0;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(159, 177, 188, 0.3) 100%);
}
.news .news__flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 993px) {
  .news .news__flex {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.news .news__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news .news__text {
  max-width: 563px;
}
@media (max-width: 993px) {
  .news .news__text {
    max-width: unset;
  }
}
@media (max-width: 993px) {
  .news .news__arrows {
    margin: 0 auto;
  }
}
.news .swiper-wrapper {
  box-sizing: border-box;
}
.news .swiper-slide {
  max-width: 370px;
}
.news .swiper-slide_long {
  max-width: 760px;
}
@media (max-width: 993px) {
  .news .swiper-slide_long {
    max-width: 100%;
  }
}
.news .news__block {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.news .arrow-card__arrow {
  max-width: 164px;
}
.news .news__content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news .news__date {
  color: #FFFFFF;
}
.news .news__link {
  position: absolute;
  inset: 0;
}

.callback {
  padding-bottom: 100px;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .callback {
    padding: 50px 0;
  }
}
.callback .callback__block {
  background-image: url(../img/callback-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 130px;
  max-height: 576px;
  position: relative;
}
@media (max-width: 993px) {
  .callback .callback__block {
    padding: 40px 60px;
    max-height: unset;
  }
}
@media (max-width: 768px) {
  .callback .callback__block {
    padding: 30px;
  }
}
.callback .callback__title {
  color: #fff;
}
.callback .callback__title span {
  color: #B3253E;
}
.callback__block-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 760px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.callback .callback__text {
  max-width: 486px;
  width: 100%;
  color: #fff;
}
.callback .callback__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.callback .callback__input {
  height: 60px;
  background-color: #fff;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color 0.25s ease;
  width: 100%;
}
@media (max-width: 576px) {
  .callback .callback__input {
    height: 50px;
    padding-left: 14px;
  }
}
.callback .callback__input:focus {
  text-decoration: unset;
}
.callback .callback__input::-moz-placeholder {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #9FB1BC;
  line-height: 110%;
  letter-spacing: 0%;
}
.callback .callback__input::placeholder {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #9FB1BC;
  line-height: 110%;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .callback .callback__input::-moz-placeholder {
    font-size: 16px;
  }
  .callback .callback__input::placeholder {
    font-size: 16px;
  }
}
.callback .callback__input:focus {
  border: 1px solid #346C9A;
}
.callback .callback__flexbox {
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .callback .callback__flexbox {
    flex-direction: column;
  }
}
.callback .callback__btn {
  margin-top: 10px;
}
.callback .callback__flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 993px) {
  .callback .callback__flex-2 {
    flex-wrap: wrap;
  }
}
.callback .callback__policy {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.callback .callback__policy a {
  color: #346C9A;
  text-decoration: underline;
}
.callback__text-2 {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #9FB1BC;
  line-height: 110%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.callback__text-2 span {
  color: #B3253E;
}
.callback__img {
  position: absolute;
  bottom: 0;
  right: 65px;
}
@media (max-width: 1240px) {
  .callback__img {
    display: none;
  }
}

.contacts {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .contacts {
    padding-bottom: 50px;
  }
}
.contacts .contatcs__map {
  max-width: 1540px;
  width: 100%;
  height: 460px;
  margin-bottom: 40px;
}
.contacts .contatcs__map iframe {
  width: 100%;
  height: 100%;
}
.contacts .contatcs__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1240px) {
  .contacts .contatcs__flex {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.contacts .contacts__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts .contatcs__text {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #9FB1BC;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
}
.contacts .contatcs__text-2 {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  color: #333333;
  line-height: 30px;
  letter-spacing: 0%;
  white-space: nowrap;
  transition: color 0.25s ease;
}
.contacts .contatcs__text-2_link:hover {
  color: #B3253E;
}
.contacts .contatcs__link {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: #B3253E;
  display: block;
  text-align: left;
  white-space: nowrap;
  transition: color 0.25s ease;
}
.contacts .contatcs__link:hover {
  color: #e04663;
}
.contacts .contatcs__text-2_color {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: #B3253E;
}
.contacts .contatcs__text-2_color:hover {
  color: #e04663;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto 0;
}

details, main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}
.footer {
  padding: 40px 0;
  background-color: #333333;
}
.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #9FB1BC;
  margin-bottom: 15px;
}
@media (max-width: 1240px) {
  .footer__flex {
    flex-wrap: wrap;
  }
}
.footer__logo {
  flex-shrink: 0;
}
@media (max-width: 993px) {
  .footer__logo {
    margin: 0 auto;
  }
}
.footer__nav {
  max-width: 972px;
  width: 100%;
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 993px) {
  .footer__list {
    flex-direction: column;
    gap: 30px;
  }
}
.footer__link {
  font-family: Mulish;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: color 0.25s ease;
}
.footer__link:hover {
  color: #B3253E;
}
.footer__flex-2 {
  display: flex;
  gap: 15px;
}
@media (max-width: 1240px) {
  .footer__flex-2 {
    flex-wrap: wrap;
  }
}
.footer__text {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #9FB1BC;
  line-height: 17.5px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.footer__link-2_ml {
  margin-left: auto;
}
@media (max-width: 1240px) {
  .footer__link-2_ml {
    margin-left: unset;
  }
}
.header {
  padding-top: 11px;
  background-color: #fff;
  top: 0;
  width: 100%;
}
.header .header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 11px;
}
.header .header__form {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  position: relative;
}
.header .header__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #9FB1BC;
  background-color: #F2F2FE;
  border-radius: 12px;
  padding-left: 20px;
  text-decoration: unset;
}
@media (max-width: 768px) {
  .header .header__input {
    padding-left: 16px;
  }
}
.header .header__input::-moz-placeholder {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #9FB1BC;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.header .header__input::placeholder {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #9FB1BC;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.header .header__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
@media (max-width: 768px) {
  .header .header__contatcs {
    display: none;
  }
}
@media (max-width: 1080px) {
  .header .header__socials {
    display: none;
  }
}
@media (max-width: 1080px) {
  .header .header__contatcs-1 {
    display: none;
  }
}
.header .menu__item-1080 {
  display: none;
}
@media (max-width: 1080px) {
  .header .menu__item-1080 {
    display: block;
  }
}
@media (max-width: 1080px) {
  .header .menu__item-1080 .header__contatcs-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 1080px) {
  .header .menu__item-1080 .header__contatcs-1 .header__link {
    color: #fff;
  }
}
@media (max-width: 1080px) {
  .header .menu__item-1080 .header__socials {
    display: flex;
  }
}
.header .menu__item-768 {
  display: none;
}
@media (max-width: 768px) {
  .header .menu__item-768 {
    display: block;
  }
}
@media (max-width: 768px) {
  .header .menu__item-768 .header__contatcs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.header .header__link {
  display: block;
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: #346C9A;
  line-height: 100%;
  text-align: right;
  margin-bottom: 2px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header .header__link {
    color: #fff;
  }
}
.header .header__link:hover {
  color: #B3253E;
}
.header .header__text {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #9FB1BC;
  line-height: 100%;
  display: block;
  text-align: right;
  margin-left: auto;
  white-space: nowrap;
}
@media (max-width: 1080px) {
  .header .header__text {
    margin-left: unset;
    text-align: center;
  }
}
.header__btn {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #B3253E;
  line-height: 100%;
  text-align: right;
  text-decoration: underline;
  display: block;
  margin-left: auto;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header__btn {
    margin-left: unset;
  }
}
.header__btn:hover {
  color: #e04663;
}
.header .header__bottom {
  padding: 12px 0 0;
  background-color: #346C9A;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .header .header__bottom {
    padding-bottom: 12px;
  }
}
.header .header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.header .header__burger-btn span {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #B3253E;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header .header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header .header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

@media (max-width: 1080px) {
  .header .header__burger-btn {
    display: block;
    z-index: 1000;
    margin-left: auto;
  }
  .header .menu__list {
    flex-direction: column;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 69px;
    width: 100%;
    height: auto;
    background-color: #346C9A;
    padding: 70px 20px 20px 20px;
    transition: transform 0.5s;
    z-index: 999;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
}