@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera CY";
  font-weight: 400;
  src: url("../fonts/Cy.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
.game-bg {
  background-image: url(../img/game/game-bg.webp);
}
.game-bg .footer {
  background-color: unset;
}

.game {
  padding: 103px 0 83px;
}
.game__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.game__block {
  display: flex;
  gap: 21px;
}
.game__img {
  border-radius: 16px;
  max-width: 275px;
  height: 123px;
  -o-object-fit: cover;
  object-fit: cover;
}
.game__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 65px;
  leading-trim: NONE;
  line-height: 110%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
}
.game__descr {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #C6C6C6;
}
.game__grid {
  padding: 24px 39px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 20px;
  box-shadow: 0px 0px 43.3px 0px rgba(230, 230, 230, 0.0509803922);
  background-color: #1A1A1A;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}
.game__text {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  white-space: nowrap;
}
.game__iframe {
  border: 1px solid #FFFFFF;
  min-height: 892px;
  border-radius: 16px;
  margin-bottom: 90px;
  overflow: hidden;
}
.game__iframe iframe {
  min-height: 892px;
}
.game__subtitle {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 38.72px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 53px;
}
.game__texts-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
}
.game__text-2 {
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #D1D1D1;
}
.game__img-2 {
  border: 1px solid #000000;
}
.game__block {
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .game-bg {
    background-size: contain;
  }
  .game {
    padding: 60px 0;
  }
  .game__block {
    display: flex;
    gap: 21px;
  }
  .game__title {
    font-size: 40px;
  }
  .game__grid {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .game__text {
    font-size: 20px;
  }
  .game__iframe {
    min-height: 600px;
    margin-bottom: 40px;
  }
  .game__iframe iframe {
    min-height: 600px;
  }
  .game__subtitle {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .game__texts-2 {
    margin-bottom: 40px;
  }
  .game__text-2 {
    font-size: 18px;
  }
  .game__img-2 {
    border: 1px solid #000000;
  }
}
@media (max-width: 576px) {
  .game {
    padding: 40px 0;
  }
  .game__block {
    flex-direction: column;
  }
  .game__title {
    font-size: 32px;
  }
  .game__grid {
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .game__text {
    font-size: 16px;
  }
  .game__iframe {
    min-height: 600px;
    margin-bottom: 40px;
  }
  .game__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .game__text-2 {
    font-size: 16px;
  }
  .game__img-2 {
    border: 1px solid #000000;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
  position: relative;
  scrollbar-gutter: stable;
}

dialog {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
  text-decoration: underline;
}

p {
  cursor: default;
  margin: 0;
}

span {
  cursor: default;
}

strong {
  cursor: default;
}

img {
  max-width: 100%;
}

li {
  cursor: default;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  cursor: default;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1723px;
  padding: 0 70px;
  margin-right: auto;
  margin-left: auto;
}

.overflow {
  overflow: auto;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.logo .logo__text {
  font-family: Inter;
  font-weight: 700;
  font-size: 26.69px;
  line-height: 34.7px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
}
.logo .logo__text-2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20.45px;
  line-height: 26.58px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.red-btn {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  text-align: center;
  font-size: 21.06px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
  padding: 24px 20px;
  max-width: 328px;
  width: 100%;
  display: block;
  border: 0.9px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 900px;
  margin: 0 auto;
  background: radial-gradient(71% 328.06% at 50% 50%, #FF3B3B 0%, #CE0D00 100%);
  position: relative;
}

.red-btn::after {
  content: "";
  background-image: url(../img/social/socila-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 35px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  .red-btn {
    padding: 18px 20px;
    font-size: 20px;
  }
}
.wrapper {
  background-image: url(../img/main/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
}

.hero {
  min-height: 830px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.hero .container {
  margin-top: auto;
}
.hero__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 58.5px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  max-width: 1131px;
  margin: 0 auto 13px;
}
.hero__title span {
  color: #FFD83C;
}
.hero__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.4px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #C6C6C6;
  margin: 0 auto 13px;
  max-width: 943px;
}
.hero__btn {
  margin-bottom: 28px;
}
.hero__descr {
  display: block;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  color: #C6C6C6;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #575554;
  border-bottom: 1px solid #575554;
}

.play {
  padding: 60px 0 96px;
  position: relative;
  background-color: #000;
}
.play::before {
  content: "";
  background-image: url(../img/social/BETSAFEZONE.webp);
  opacity: 2%;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.play__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;
  z-index: 2;
}
.play__card {
  box-shadow: 0px 0px 43.3px 0px rgba(230, 230, 230, 0.3019607843);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 20px;
  padding: 20px;
  background-color: #1B1B1B;
  background-image: url(../img/main/play-card-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.play__img {
  border-radius: 16px;
  margin-bottom: 30px;
}
.play__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-bottom: 20px;
}
.play__number {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.play__title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24.98px;
  leading-trim: NONE;
  line-height: 31.45px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFD83C;
  margin-bottom: 20px;
}
.play__descr {
  margin-top: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 14.99px;
  leading-trim: NONE;
  line-height: 16.8px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #969696;
  margin-bottom: 20px;
}
.play__btn {
  font-family: Arial;
  font-weight: 700;
  font-style: Bold;
  font-size: 20.99px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  padding: 9px 20px;
  background-color: #fff;
  border-radius: 999px;
  width: 100%;
  display: block;
}

.about {
  background-color: #1A1B1B;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.about__block {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1583px;
  margin: 0 auto;
}
.about__texts {
  padding-left: 20px;
}
.about__texts-2 {
  padding-right: 20px;
}
.about__title {
  font-family: Inter;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100.76px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #F9DE31;
  margin-bottom: 20px;
}
.about__text {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 38.72px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 20px;
}
.about__text span {
  color: #F9DE31;
}
.about__text-2 {
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #787877;
}
.about__text-2 a {
  color: #fff;
  text-decoration: underline;
}
.about__img {
  border-radius: 16px;
  transform: translateX(200px);
  -webkit-backdrop-filter: blur(15.4880008698px);
  backdrop-filter: blur(15.4880008698px);
  box-shadow: 0px 0px 43.3px 0px rgba(230, 230, 230, 0.2);
}
.about__block-2 {
  flex-direction: row-reverse;
  position: relative;
  padding: 20px 0;
}
.about__block-2::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 1000%;
  top: -30px;
  left: -300%;
  background-color: #000;
}
.about__title_color {
  color: #FF2D29;
}
.about__img-2 {
  transform: translateX(-200px);
}
.about__btn {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  display: block;
  text-align: center;
  font-size: 21.06px;
  leading-trim: NONE;
  line-height: 110%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0.9px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 900px;
  padding: 16px 20px;
  background-color: #fff;
  max-width: 328px;
  width: 100%;
  margin-top: 50px;
}

.contact {
  padding: 100px 0 80px;
  background-image: url(../img/main/contact.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
.contact__block {
  padding: 80px 100px;
  box-shadow: 0px 0px 43.3px 0px rgba(230, 230, 230, 0.3019607843);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 20px;
  background-color: #1B1B1B;
}
.contact__title {
  font-family: Cera CY;
  font-weight: 700;
  font-style: Bold;
  font-size: 62.4px;
  leading-trim: NONE;
  line-height: 60.84px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #F9DE31;
  margin-bottom: 40px;
}
.contact__text {
  display: block;
  font-family: Cera CY;
  font-weight: 400;
  font-style: Regular;
  font-size: 26.52px;
  leading-trim: NONE;
  line-height: 32.76px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  max-width: 826px;
  color: #808896;
  margin: 0 auto 82px;
}
.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33px;
  max-width: 1036px;
  margin: 0 auto;
}
.contact__input {
  height: 92px;
  background-color: transparent;
  border: 1.56px solid #A3A5AE;
  padding-left: 30px;
  border-radius: 50px;
  max-width: 436px;
  color: #AFAFAF;
}
.contact__input::-moz-placeholder {
  font-family: Cera CY;
  font-weight: 400;
  font-style: Regular;
  font-size: 23.4px;
  leading-trim: NONE;
  line-height: 32.76px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #AFAFAF;
}
.contact__input::placeholder {
  font-family: Cera CY;
  font-weight: 400;
  font-style: Regular;
  font-size: 23.4px;
  leading-trim: NONE;
  line-height: 32.76px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #AFAFAF;
}
.contact__check {
  display: flex;
  align-items: center;
  gap: 18px;
}
.contact__check.active .contact__checkbox::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/svg/gal.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.contact__checkbox {
  width: 30px;
  height: 30px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1.56px solid #DBDFEC;
}
.contact__text-2 {
  font-family: Cera CY;
  font-weight: 400;
  font-style: Regular;
  font-size: 18.72px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #AFAFAF;
}
.contact__btn {
  grid-column: span 2;
}

@media (max-width: 1440px) {
  .about__img {
    transform: unset;
    max-width: 50%;
    width: 100%;
  }
  .about__texts {
    max-width: 50%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about__title {
    font-size: 42px;
    line-height: 110%;
  }
  .about__text {
    font-size: 24px;
  }
  .about__text-2 {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .hero {
    min-height: 640px;
  }
  .play__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .hero {
    min-height: 540px;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__descr {
    font-size: 18px;
    padding: 15px 20px;
  }
  .hero__btn {
    padding: 15px 20px;
    font-size: 18px;
  }
  .play__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .play__img {
    display: block;
    margin: 0 auto 30px;
  }
  .about__title {
    font-size: 30px;
    line-height: 110%;
  }
  .about__text {
    font-size: 18px;
  }
  .about__text-2 {
    font-size: 14px;
  }
  .about__btn {
    font-size: 16px;
    padding: 12px 20px;
    margin-top: 30px;
  }
  .contact__block {
    padding: 30px;
  }
  .contact__title {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 110%;
  }
  .contact__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .contact__input {
    height: 60px;
    padding-left: 16px;
  }
  .contact__input::-moz-placeholder {
    font-size: 20px;
  }
  .contact__input::placeholder {
    font-size: 20px;
  }
  .contact__form {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .contact__form {
    grid-template-columns: 1fr;
  }
  .contact__input {
    max-width: unset;
  }
  .contact__btn {
    grid-column: span 1;
  }
}
@media (max-width: 576px) {
  .hero {
    min-height: 540px;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero__descr {
    font-size: 18px;
    padding: 15px 20px;
  }
  .hero__btn {
    padding: 15px 20px;
    font-size: 18px;
  }
  .play {
    padding: 40px 0;
  }
  .play__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .play__img {
    display: block;
    margin: 0 auto 30px;
  }
  .play__card {
    padding: 14px;
  }
  .play__title {
    font-size: 24px;
  }
  .about__block {
    flex-direction: column;
  }
  .about__texts {
    max-width: 100%;
    padding: 20px;
  }
  .about__texts-2 {
    max-width: 100%;
    padding: 20px;
  }
  .about__img {
    max-width: unset;
    border-radius: 0;
  }
  .about__btn {
    max-width: 100%;
  }
  .contact__block {
    padding: 20px;
  }
  .contact__text {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .contact__text-2 {
    font-size: 16px;
  }
  .contact__input::-moz-placeholder {
    font-size: 18px;
  }
  .contact__input::placeholder {
    font-size: 18px;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto 0;
}

details, main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}
.policy {
  padding: 36px 0 77px;
  background-color: #000;
}
.policy__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
}
.policy__strong {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
}
.policy__link {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
}
.policy__block {
  padding: 35px 28px;
  background-color: #1B1B1B;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.policy__block:not(:last-child) {
  margin-bottom: 34px;
}
.policy__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 84.5px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}
.policy__subtitle {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  color: #fff;
  line-height: 33px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.policy__main-text {
  max-width: 1220px;
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #D1D1D1;
  margin: 0 auto 60px;
}
.policy__item {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
}

@media (max-width: 1024px) {
  .policy {
    padding: 40px 0 40px;
    background-color: #000;
  }
  .policy__block {
    padding: 30px;
  }
  .policy__block:not(:last-child) {
    margin-bottom: 30px;
  }
  .policy__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .policy__subtitle {
    font-size: 25px;
  }
  .policy__main-text {
    font-size: 20px;
    margin: 0 auto 60px;
  }
  .policy__item {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .policy__block {
    padding: 16px;
    gap: 12px;
  }
  .policy__block:not(:last-child) {
    margin-bottom: 20px;
  }
  .policy__title {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .policy__subtitle {
    font-size: 18px;
  }
  .policy__text {
    font-size: 16px;
    line-height: 120%;
  }
  .policy__strong {
    font-size: 16px;
    line-height: 120%;
  }
  .policy__link {
    font-size: 16px;
    line-height: 120%;
  }
  .policy__main-text {
    font-size: 16px;
    margin: 0 auto 30px;
  }
  .policy__item {
    font-size: 16px;
    line-height: 120%;
  }
}
.social {
  padding-top: 100px;
  background-image: url(../img/social/socila-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
.social__title {
  font-family: Inter;
  font-weight: 700;
  font-size: 84.5px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #FFD83C;
  margin-bottom: 30px;
}
.social__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #C6C6C6;
  max-width: 626px;
  margin: 0 auto 30px;
}
.social__btn {
  margin-bottom: 100px;
}
.social__text-2 {
  display: block;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  color: #C6C6C6;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #575554;
  border-bottom: 1px solid #575554;
}

.rules {
  background-color: #000;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}
.rules::before {
  content: "";
  background-image: url(../img/social/BETSAFEZONE.webp);
  opacity: 2%;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.rules__flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.rules__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rules__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #D1D1D1;
}
.rules__title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 38.72px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .social {
    padding-top: 60px;
  }
  .social__title {
    font-size: 58px;
  }
  .social__btn {
    margin-bottom: 60px;
  }
  .social__text-2 {
    font-size: 20px;
  }
  .rules {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .social {
    padding-top: 40px;
  }
  .social__title {
    font-size: 30px;
  }
  .social__text {
    font-size: 14px;
  }
  .social__btn {
    margin-bottom: 40px;
  }
  .social__text-2 {
    font-size: 18px;
  }
  .rules {
    padding: 40px 0;
  }
  .rules::before {
    opacity: 5%;
  }
  .rules__text {
    font-size: 16px;
  }
  .rules__title {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.footer {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 40px;
}
.footer__logo {
  margin: 0 auto 60px;
}
.footer__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-bottom: 60px;
}
.footer__block {
  max-width: 302px;
}
.footer__strong {
  display: block;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.footer__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 19px;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #D3D3D3;
}
.footer__logos {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 22px 18px;
  max-width: 378px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__link {
  display: block;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 28.75px;
  letter-spacing: 0%;
  text-align: right;
  color: #fff;
}
.footer__copyright {
  display: block;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .footer__logos {
    position: static;
    transform: unset;
  }
}
@media (max-width: 1024px) {
  .footer__flex {
    flex-wrap: wrap;
  }
  .footer__nav {
    margin-left: auto;
  }
}
@media (max-width: 576px) {
  .footer__flex {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__nav {
    order: 1;
    margin-left: unset;
  }
  .footer__link {
    font-size: 16px;
    text-align: left;
  }
  .footer__block {
    order: 2;
  }
  .footer__strong {
    font-size: 18px;
    line-height: 120%;
    text-align: left;
    margin-bottom: 14px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 130%;
  }
  .footer__logos {
    order: 3;
    grid-template-columns: 1fr;
  }
  .footer__copyright {
    font-size: 16px;
  }
}
.header {
  padding: 21px 0;
  background-color: #000000;
  position: relative;
  z-index: 1;
}
.header .header__logo {
  margin: 0 auto;
}

@media (max-width: 576px) {
  .header {
    padding: 15px 0;
  }
}
.modal {
  background-image: url(./img/main/modal-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  box-shadow: 0px 0px 43.3px 0px rgba(230, 230, 230, 0.0509803922);
  max-width: 620px;
  background-color: #1B1B1B;
  border-radius: 20px;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__icon {
  display: block;
  margin: 0 auto 20px;
}
.modal__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 31.85px;
  leading-trim: NONE;
  line-height: 38.65px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 12px;
}
.modal__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 26.99px;
  leading-trim: NONE;
  line-height: 29.68px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #828282;
  margin-bottom: 20px;
}
.modal__flex {
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: center;
}
.modal__btn {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 22.5px;
  leading-trim: NONE;
  line-height: 35.93px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  padding: 10px 20px;
  box-shadow: 0px 0px 26.1px 0px rgba(0, 0, 0, 0.4) inset;
  background: #F01A1A;
  border-radius: 125px;
  text-decoration: unset;
}
.modal__btn-2 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 22.5px;
  leading-trim: NONE;
  line-height: 35.93px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  padding: 10px 20px;
  border-radius: 125px;
  background-color: #D3D3D3;
  text-decoration: unset;
}

@media (max-width: 576px) {
  .modal {
    max-width: 90%;
  }
  .modal__icon {
    width: 120px;
    height: 120px;
  }
  .modal__title {
    font-size: 24px;
  }
  .modal__text {
    font-size: 16px;
    line-height: 130%;
  }
  .modal__btn {
    font-size: 14px;
    line-height: 120%;
  }
  .modal__btn-2 {
    font-size: 14px;
    line-height: 120%;
  }
}