html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  background-color: #F9F5EB;
  color: #48494A;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.container30 {
  max-width: 320px;
  padding: 0 30px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  padding: 34px 0 23px;
  background-color: #F9F5EB;
}

.hero__logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 26px;
}

.hero__text {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.hero__title {
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #F27A4A;
}

.hero__text2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.hero__text2 span {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.hero__text3 {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #F27A4A;
  padding: 8px 0;
  border: 1px solid #404040;
  border-radius: 35px;
  max-width: 162px;
  width: 100%;
  margin-bottom: 15px;
}

.hero__text4 {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #F27A4A;
}

.sphere {
  padding: 40px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E4FF), color-stop(0.01%, #E5E4FF), to(#E9E9FF));
  background: linear-gradient(180deg, #E5E4FF 0%, #E5E4FF 0.01%, #E9E9FF 100%);
  position: relative;
}

.sphere__bg {
  position: absolute;
  left: calc(50% - 160px);
  top: 77px;
  max-width: 320px;
}

.sphere__title {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.sphere__title span {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.sphere__img1 {
  margin-bottom: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 124px;
}

.sphere__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  display: block;
  margin-bottom: 15px;
}

.sphere__text span {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.sphere__text2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  display: block;
  margin-bottom: 15px;
}

.sphere__img2 {
  margin-bottom: 14px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sphere__text3 {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  margin-bottom: 15px;
}

.sphere__text4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.quetions {
  padding: 40px 0 25px;
  position: relative;
  background-color: #F9F5EB;
  background-image: url(../img/quetions__bg.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.quetions__title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #FF5E1E;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.quetions__list {
  margin-bottom: 27px;
}

.quetions__item {
  padding: 10px 0;
  background-color: #FDFBF7;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  width: 100%;
  border-radius: 14px;
  position: relative;
  color: #14426D;
}

.quetions__item svg {
  position: absolute;
}

.quetions__star1 {
  top: 20px;
  left: 20px;
}

.quetions__star2 {
  top: 14px;
  right: 6px;
}

.quetions__star3 {
  top: 26x;
  left: 14px;
}

.quetions__star4 {
  top: 40px;
  right: 13px;
}

.quetions__star5 {
  top: 24px;
  left: 57px;
}

.quetions__star6 {
  top: 69px;
  left: 9px;
}

.quetions__star7 {
  top: 86px;
  right: 23px;
}

.quetions__item:not(:last-child) {
  margin-bottom: 10px;
}

.quetions__card {
  background-color: #A8AEF5;
  -webkit-box-shadow: 0px 0px 25px 0px #8D97FF;
          box-shadow: 0px 0px 25px 0px #8D97FF;
  border-radius: 10px;
  padding: 28px 0 35px;
  background-image: url(../img/svg/quetions__card_bg.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.quetions__card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.quetions__img {
  margin-bottom: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 110px;
}

.quetions__text1 {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  mix-blend-mode: 15px;
}

.program {
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}

.program__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  text-align: left;
  color: #14426D;
  margin-bottom: 25px;
}

.program__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #8987E0;
  margin-bottom: 25px;
  position: relative;
  padding-left: 18px;
}

.program__subtitle::before {
  content: "";
  border: 1px solid #9997E2;
  max-width: 294px;
  width: 100%;
  height: 68px;
  top: -15px;
  left: -53px;
  display: block;
  border-radius: 15px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  position: absolute;
  border-left: unset;
}

.program__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  color: #14426D;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.program__text {
  color: #FF5E1E;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}

.program__text span {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #14426D;
}

.program__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  padding-left: 20px;
}

.program__item::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #14426D;
  border-radius: 100px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.program__card {
  -webkit-box-shadow: 0px 4px 4px 0px #97585840;
          box-shadow: 0px 4px 4px 0px #97585840;
  background-color: #FFFFFF;
  border-radius: 19px;
  padding: 24px 0;
  margin-bottom: 14px;
}

.program__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.program__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 14px;
  color: #14426D;
}

.program__result {
  display: block;
  margin-bottom: 15px;
  font-weight: 800;
  color: #14426D;
}

.program__result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.program__result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
  color: #14426D;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.program__result-item::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #14426D;
  border-radius: 100px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.program__item2::before {
  content: '';
  background-image: url(../img/svg/program__arrow.svg);
  background-repeat: no-repeat;
  width: 30.5px;
  height: 6px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.program__descr {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  display: block;
  margin-bottom: 18px;
  color: #14426D;
}

.program__btn {
  -webkit-box-shadow: 0px 0px 6px 0px #FF5E1E;
          box-shadow: 0px 0px 6px 0px #FF5E1E;
  background-color: #FF5E1E;
  color: #FFFFFF;
  padding: 14px 0;
  width: 100%;
  border-radius: 14px;
  z-index: 2;
  position: relative;
  display: block;
  text-align: center;
}

.master {
  padding: 20px 0 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8683FF), to(rgba(194, 192, 245, 0.99)));
  background: linear-gradient(180deg, #8683FF 0%, rgba(194, 192, 245, 0.99) 100%);
  position: relative;
  z-index: 2;
}

.master::after {
  top: -109px;
  content: "";
  background-image: url(../img/master.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  width: 320px;
  height: 695px;
  z-index: -1;
  left: calc(50% - 160px);
}

.master__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  z-index: 2;
  margin-bottom: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.master__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  z-index: 2;
  max-width: 233px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}

.master__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  z-index: 2;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.master__item::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 100px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.master__down {
  background-color: #F9F5EB;
  background-image: url(../img/master__Bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 45px 0 38px;
}

.master__card {
  padding: 30px 10px 30px 20px;
  background-color: #FFFFFF;
  border-radius: 19px;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px 0px #97585840;
          box-shadow: 0px 4px 4px 0px #97585840;
}

.master__card img {
  position: absolute;
  top: -15px;
  left: -40px;
  width: 92px;
}

.master__card:first-child {
  margin-bottom: 30px;
}

.master__card:nth-child(2) {
  margin-bottom: 15px;
}

.master__subtitle {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #F27A4A;
  margin-bottom: 20px;
  padding-left: 40px;
}

.master__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px;
}

.master__text2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.master__text2 span {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.master__descr {
  display: block;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: center;
  margin-bottom: 15px;
}

.master__text3 {
  display: block;
  color: #14426D;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.master__text3::after {
  content: "";
  width: 190px;
  height: 1px;
  display: block;
  background-color: #F27A4A;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.master__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  margin-bottom: 13px;
}

.master__item2 {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #14426D;
  padding: 18px 0;
  background-color: #FFFFFF;
  border: 1px solid #F27A4A;
  border-radius: 32px;
  position: relative;
}

.master__item2:not(:last-child)::after {
  content: "";
  background-image: url(../img/svg/master__arrow.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 26px;
  display: block;
  position: absolute;
  bottom: -26px;
  left: calc(50% - 6px);
  z-index: 2;
}

.master__descr {
  display: block;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: center;
  margin-bottom: 24px;
}

.master__text4 {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #14426D;
  background-color: #FFFFFF;
  padding: 28px 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px 0px #97585840;
          box-shadow: 0px 4px 4px 0px #97585840;
  margin-bottom: 50px;
}

.master__text7 {
  display: block;
  max-width: 235px;
  margin-right: auto;
  margin-left: auto;
}

.master__text5 {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #F95818;
  margin-bottom: 20px;
}

.master__text6 {
  display: block;
  color: #48494A;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 10px;
}

.chat {
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#8683FF), to(rgba(194, 192, 245, 0.99)));
  background: linear-gradient(180deg, #8683FF 0%, rgba(194, 192, 245, 0.99) 100%);
  position: relative;
}

.chat__title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.chat__icon {
  position: absolute;
  right: calc(50% - 132px);
  top: 74px;
}

.chat__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.chat__text2 {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.chat__btn {
  font-family: Commissioner;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  background-color: #FF5E1E;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px 0px #FFFFFF;
          box-shadow: 0px 0px 6px 0px #FFFFFF;
  border-radius: 14px;
  padding: 14px 0;
  width: 100%;
  display: block;
  text-align: center;
}

.taro {
  padding: 40px 0px 50px;
  background-color: #FFF5E4;
  position: relative;
}

.taro::before {
  content: "";
  background-image: url(../img/taro__bg.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 320px;
  height: 336px;
  top: 0;
  left: calc(50% - 160px);
}

.taro::after {
  content: "";
  background-image: url(../img/svg/taro__line.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 320px;
  height: 321px;
  left: calc(50% - 160px);
  top: 515px;
}

.taro__title {
  color: #48494A;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-bottom: 30px;
}

.taro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.taro__title_color {
  color: #FF5E1E;
}

.taro__procent {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #48494A;
}

.taro__descr {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 20px;
}

.taro__img {
  margin-bottom: 20px;
}

.taro__card {
  background: -webkit-gradient(linear, left top, left bottom, from(#8A87FF), to(#E9E9FF));
  background: linear-gradient(180deg, #8A87FF 0%, #E9E9FF 100%);
  -webkit-box-shadow: 6px 6px 6px 0px #DDDDDD;
          box-shadow: 6px 6px 6px 0px #DDDDDD;
  border-radius: 17px;
  padding: 25px 15px;
  margin-bottom: 50px;
}

.taro__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.taro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.taro__item::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100px;
  background-color: #FFFFFF;
  margin-right: 10px;
  position: absolute;
  top: 6px;
  left: 0;
}

.taro__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  position: relative;
  padding-left: 16px;
  color: #14426D;
}

.taro__item span {
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

.taro__card2 {
  padding: 15px 0;
  background-color: #E0E2F4;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 12px;
  margin-bottom: 57px;
  position: relative;
}

.taro__text {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #14426D;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.taro__swiper {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  max-width: 164px;
}

.taro__card3 {
  padding: 20px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9098EF), to(rgba(122, 128, 189, 0.51)));
  background: linear-gradient(180deg, #9098EF 0%, rgba(122, 128, 189, 0.51) 100%);
  -webkit-box-shadow: 0px 4px 30px 0px #BDC3FF;
          box-shadow: 0px 4px 30px 0px #BDC3FF;
  border-radius: 10px;
  position: relative;
}

.taro__card3::after {
  content: "";
  background-image: url(../img/svg/taro__card__bg.svg);
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
  width: 284px;
  height: 102px;
}

.taro__text2 {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  margin-bottom: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.taro__text3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.taro__icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 104px;
}

.tariff {
  background-color: #FFF5E4;
  padding: 43px 0 15px;
  position: relative;
  z-index: 1;
}

.tariff::before {
  content: "";
  background-image: url(../img/tariff__bg.png);
  background-repeat: no-repeat;
  width: 320px;
  position: absolute;
  height: 2250px;
  left: calc(50% - 160px);
  top: 0;
  background-size: cover;
  z-index: -1;
}

.tariff__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  color: #FF5E1E;
  text-align: center;
  margin-bottom: 34px;
}

.tariff__card {
  background-color: #FFFFFF;
  border: 1px solid #9997E2;
  border-radius: 15px;
  padding: 19px 20px 30px;
  position: relative;
}

.tariff__card:not(:last-child) {
  margin-bottom: 55px;
}

.tariff__card::after {
  content: "";
  background-image: url(../img/tariff1.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 87px;
  height: 87px;
  top: -24px;
  right: 0;
  background-size: contain;
}

.tariff__card2::after {
  content: "";
  background-image: url(../img/tariff2.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 124px;
  height: 96px;
  top: -7px;
  right: 0px;
  background-size: contain;
}

.tariff__card3::after {
  content: "";
  background-image: url(../img/tariff3.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 107px;
  height: 135px;
  top: -25px;
  right: -8px;
  background-size: contain;
}

.tariff__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #14426D;
}

.tariff__subtitle::after {
  content: "";
  width: 187.5px;
  height: 1px;
  display: block;
  background-color: #F27A4A;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 15px;
}

.tariff__subtitle_mb::after {
  content: "";
  width: 187.5px;
  height: 1px;
  display: block;
  background-color: #F27A4A;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  margin-bottom: 15px;
}

.tariff__list::after {
  content: "";
  width: 187.5px;
  height: 1px;
  display: block;
  background-color: #F27A4A;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 15px;
}

.tariff__item {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #14426D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff__item_v {
  color: #3ECF27;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.tariff__item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.tariff__item:not(:first-child) {
  padding-top: 10px;
}

.tariff__item:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
}

.tariff__price {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #14426D;
  display: block;
}

.tariff__old-price::after {
  content: "";
  width: 187.5px;
  height: 1px;
  display: block;
  background-color: #F27A4A;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 15px;
}

.tariff__price span {
  color: #FF5E1E;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
}

.tariff__old-price {
  display: block;
  color: #14426D;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: line-through;
  text-align: right;
  padding-right: 8px;
}

.tariff__text {
  color: #FF5E1E;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.tariff__btn {
  font-family: Commissioner;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  background-color: #FF5E1E;
  -webkit-box-shadow: 0px 0px 6px 0px #FF5E1E;
          box-shadow: 0px 0px 6px 0px #FF5E1E;
  padding: 14px 0;
  width: 100%;
  color: #FFFFFF;
  border-radius: 14px;
  margin-bottom: 10px;
  display: block;
}

.tariff__btn_color {
  background-color: #8D97FF;
  -webkit-box-shadow: 0px 0px 6px 0px #8D97FF;
          box-shadow: 0px 0px 6px 0px #8D97FF;
  font-size: 16px;
}

.quetion {
  padding: 48px 0 25px;
  background-color: #FFF5E4;
}

.quetion__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
  color: #FF5E1E;
  text-transform: uppercase;
}

.quetion__title::after {
  content: "";
  width: 1px;
  height: 30px;
  display: block;
  background-color: #FF5E1E;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.quetion__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #14426D;
}

.quetion__text_after::after {
  content: "";
  width: 1px;
  height: 30px;
  display: block;
  background-color: #FF5E1E;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.quetion__text a {
  color: #FF5E1E;
  text-decoration: underline;
}

.quetion__text_mb {
  margin-bottom: 35px;
}

.quetion__text2 {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #14426D;
}

.footer {
  padding: 33px 47px;
  background-color: #14426D;
}

.footer__link {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.modal__input {
  width: 100%;
  border: 1px solid #989898;
  border-radius: 8px;
  padding: 0 10px;
  height: 46px;
}

.modal__btn {
  width: 100%;
  background: #8387D6;
  -webkit-box-shadow: 0px 0px 6px #8387D6;
          box-shadow: 0px 0px 6px #8387D6;
  border-radius: 8px;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
  margin-top: 0;
  margin-top: 12px;
  margin-bottom: 20px;
}

.modal-header {
  border: unset;
}

.modal-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #2e2d2d;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-header {
  display: block;
}

.modal-content {
  border-radius: 9px;
}

a:hover {
  color: #FFFFFF;
}

button:focus {
  outline: none;
}

.hero__text3:hover {
  color: #F27A4A;
}
/*# sourceMappingURL=style.css.map */