@font-face {
    font-family: 'MullerLight';
    font-weight: 400;
    src: url('../fonts/MullerLight.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerLight';
    font-weight: 400;
    src: url('../fonts/MullerLight.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Muller';
    font-weight: 500;
    src: url('../fonts/MullerRegular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    font-weight: 500;
    src: url('../fonts/MullerRegular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerBold';
    font-weight: 700;
    src: url('../fonts/MullerBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerBold';
    font-weight: 700;
    src: url('../fonts/MullerBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerExtraBold';
    font-weight: 800;
    src: url('../fonts/MullerExtraBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerExtraBold';
    font-weight: 800;
    src: url('../fonts/MullerExtraBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    background-color: #F9F5EB;
    color: #48494A;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 400px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 400px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}


.hero {
    padding: 34px 0 23px;
    background-color: #F9F5EB;
}

.hero__logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 26px;
}

