@font-face {
  font-family: "MullerLight";
  font-weight: 400;
  src: url("../fonts/muller/MullerLight.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerLight";
  font-weight: 400;
  src: url("../fonts/muller/MullerLight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: url("../fonts/MullerRegular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerBold";
  font-weight: 700;
  src: url("../fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerBold";
  font-weight: 700;
  src: url("../fonts/MullerBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerExtraBold";
  font-weight: 800;
  src: url("../fonts/MullerExtraBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerExtraBold";
  font-weight: 800;
  src: url("../fonts/MullerExtraBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 393px;
  font-family: "MullerLight";
  font-weight: 400;
  background-color: #FCF9F6;
  color: #030303;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 317px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  padding: 44px 0 54px;
  background-color: #FCF9F6;
  position: relative;
  z-index: 5;
}

.hero__logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 41px;
}

.hero__text {
  font-family: "Muller";
  font-weight: 500;
  color: #343434;
  text-align: center;
  font-size: 16.246px;
  font-style: normal;
  line-height: 108.5%; /* 17.627px */
  margin-bottom: 20px;
}

.hero__title {
  color: #F16415;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
  margin-bottom: 300px;
}

.hero__text-2 {
  color: #313131;
  font-family: MullerBold;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 108.5%;
  text-align: center;
  margin-bottom: 40px;
}

.hero__text-2 span {
  color: #FF4C00;
}

.hero__text-3 {
  color: #9997E2;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
  padding: 20px 0;
  max-width: 277px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #9997E2;
  margin-bottom: 25px;
}

.hero__link {
  display: block;
  color: #FFF;
  text-align: center;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.5px; /* 77.5% */
  padding: 20px 0;
  max-width: 277px;
  width: 100%;
  background-image: linear-gradient(180deg, #F3684D 0%, #EA5B3E 100%);
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.hero__img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: absolute;
  top: 166px;
}

.hero__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.master {
  position: relative;
  padding: 60px 0 38px;
  background-image: linear-gradient(180deg, #FFEAE1 0%, #FFEBE2 0.01%, #FCF9F6 100%);
}

.master__img {
  position: absolute;
  right: 0;
  top: 17px;
}

.master__title {
  color: #FF5E1E;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
  margin-bottom: 50px;
}

.master__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.master__item {
  display: flex;
  gap: 15px;
}

.master__item::before {
  content: "";
  background-image: url(../images/svg/master-arrow.svg);
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  width: 44.213px;
  height: 20px;
}

.master__text {
  color: #030303;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
}

.master__text span {
  color: #030303;
  font-family: MullerBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 17.92px */
}

.master__relative {
  position: relative;
}

.master__img-2 {
  position: relative;
  z-index: 5;
}

.master__img-3 {
  position: absolute;
  top: -142px;
  left: calc(50% - 116px);
  z-index: 7;
}

.master__img-4 {
  position: absolute;
  top: -260px;
  z-index: 0;
}

.master__img-2 {
  margin-bottom: 160px;
}

.master__card {
  position: relative;
  z-index: 5;
  border-radius: 16px;
  background: #FFF;
  padding: 30px;
}

.master__item-2 {
  text-align: center;
  color: #030303;
  text-align: center;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%; /* 17.92px */
}

.master__item-2:not(:last-child):after {
  content: "";
  background-image: url(../images/svg/master-star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 22px;
  display: block;
  margin: 10px auto;
}

.master-card-bg {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}

.master-class {
  background: #FFFBF5;
  padding: 45px 0 58px;
}

.master-class__title {
  color: #343434;
  text-align: center;
  font-family: MullerBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.5%; /* 21.7px */
  margin-bottom: 35px;
}

.master-class__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  counter-reset: section;
  margin-bottom: 70px;
}

.master-class__item::before {
  counter-increment: section;
  content: counter(section);
  max-width: 46px;
  width: 100%;
  height: 46px;
  color: #FFF;
  display: flex;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
  background: #FF9D8A;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}

.master-class__item {
  font-family: Muller;
  font-weight: 500;
  color: #343434;
  font-size: 15px;
  font-style: normal;
  line-height: 108.5%; /* 16.275px */
  display: flex;
  gap: 17px;
}

.master-class__bg {
  background: #FFE9E4;
  position: relative;
  padding: 47px 0;
  margin-bottom: 40px;
}

.master-class__img {
  position: absolute;
  right: 0;
  top: -65px;
}

.master-class__text {
  color: #222;
  font-family: Caveat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 89%; /* 21.36px */
  margin-bottom: 20px;
}

.master-class__block {
  background-color: #fff;
  position: relative;
  padding: 25px 0 25px 40px;
  margin-bottom: 15px;
}

.master-class__img-2 {
  position: absolute;
  right: 0;
  top: -25px;
}

.master-class__text-2 {
  color: #232323;
  font-family: MullerBold;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.5%; /* 19.53px */
}

.master-class__text-3 {
  color: #131313;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%; /* 16.275px */
  margin-bottom: 15px;
  max-width: 289px;
}

.master-class__img-3 {
  position: absolute;
  top: 0;
  right: 0;
}

.master-class__text-2_fs {
  color: #232323;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%; /* 20.08px */
}

.master-class__text-4 {
  color: #131313;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 98.5%;
  max-width: 289px;
}

.master-class__list-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.master-class__item-2 {
  font-family: Muller;
  color: #131313;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.5%; /* 16.275px */
  display: flex;
  gap: 18px;
  align-items: baseline;
}

.master-class__item-2::before {
  content: "";
  background-image: url(../images/svg/star.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 16.851px;
  height: 16.851px;
  display: block;
  flex-shrink: 0;
}

.master-class__item-2_color {
  color: #F3684D;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}

.master-class__item-2_fw {
  color: #131313;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 98.5%;
}

.master-class__item-2_before::before {
  visibility: hidden;
}

.master-class__text-5 {
  color: #454545;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 23.6px */
  text-transform: uppercase;
  margin-bottom: 30px;
}

.edu {
  padding: 0 0 15px;
  background-color: #FFFBF5;
  position: relative;
}

.edu__text {
  color: #FF5E1E;
  text-align: center;
  font-family: MullerBold;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%; /* 18.9px */
  border-radius: 69px;
  border: 1px solid #F37961;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 17px;
}

.edu__text-2 {
  color: #131313;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-family: Muller;
  font-weight: 500;
  line-height: 111.5%; /* 16.725px */
  margin-bottom: 20px;
  max-width: 293px;
}

.edu__text-3 {
  color: #5B5B5B;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.5%; /* 14.495px */
  margin-bottom: 50px;
}

.edu__text-4 {
  color: #FF5E1E;
  font-family: MullerBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%; /* 30.12px */
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
}

.edu__text-4::before {
  content: "";
  background-image: url(../images/svg/edu-svg.svg);
  background-repeat: no-repeat;
  position: absolute;
  max-width: 339px;
  width: 100%;
  background-size: cover;
  height: 66px;
  top: -22px;
  left: 0;
}

.edu__img-2 {
  position: absolute;
  right: 0;
  bottom: 50px;
}

.edu__text-5 {
  color: #232323;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  text-transform: lowercase;
}

.program {
  position: relative;
  padding: 37px 0 53px;
  background: linear-gradient(180deg, #7D79FF 0.01%, #B7B6FC 114.82%);
  z-index: 5;
}

.program__bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.program__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
}

.program__title::after {
  content: "";
  display: block;
  background-image: url(../images/svg/program__title.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 238px;
  width: 100%;
  height: 11px;
  margin-bottom: 15px;
}

.program__text {
  color: #FFF;
  font-family: Muller;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%; /* 16.275px */
  margin-bottom: 15px;
}

.program__subtitle {
  color: #14426D;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 18px */
  position: relative;
  z-index: 5;
  margin-bottom: 20px;
  padding: 12px 20px 12px 50px;
  max-width: 276px;
  width: 100%;
  border-radius: 0 35px 35px 0;
  background: #E6E6FD;
}

.program__text-2 {
  color: #FFF;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  margin-bottom: 13px;
}

.program__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.program__item {
  color: #FFF;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 115.5%; /* 16.17px */
  display: flex;
  gap: 7px;
  align-items: baseline;
}

.program__item::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: #fff;
}

.program__text-3 {
  color: #FFF;
  font-family: Muller;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.5%; /* 14.495px */
}

.author {
  padding: 50px 0 90px;
  background-image: linear-gradient(180deg, rgba(202, 206, 255, 0.56) 0%, rgba(182, 186, 237, 0) 100%);
}

.author__title {
  color: #14426D;
  text-align: center;
  font-family: MullerBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 26.7px */
  text-transform: uppercase;
}

.author__img {
  display: block;
  margin-left: auto;
  margin-bottom: 40px;
}

.author__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: section;
}

.author__item {
  display: flex;
  gap: 33px;
  align-items: center;
  color: #14426D;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

.author__item span {
  color: #14426D;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.author__item::before {
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: section;
  content: counter(section);
  max-width: 63px;
  width: 100%;
  height: 63px;
  text-align: center;
  color: #14426D;
  font-family: Muller;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.5%; /* 35.68px */
  border-radius: 100px;
  border: 1px solid #14426D;
}

.tariff {
  background: #FFFBF5;
  padding: 0 20px 27px;
}

.tariff__title {
  color: #FF5E1E;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
  margin-bottom: 30px;
}

.tariff__block {
  position: relative;
}

.tariff__block_mt {
  margin-top: 55px;
}

.tariff__img {
  position: absolute;
  top: -32px;
  left: 0;
}

.tariff__subtitle {
  color: #14426D;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.5%;
  text-transform: uppercase;
  padding: 10px 0 0 140px;
  border-radius: 46px;
  border: 1px solid #FF5E1E;
  margin-bottom: 63px;
}

.tariff__subtitle span {
  color: #14426D;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 26.7px */
  text-transform: uppercase;
}

.tariff__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.tariff__item {
  color: #232323;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.5%; /* 20.08px */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tariff__item p span {
  color: #232323;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
}

.tariff__item::after {
  content: "V";
  color: #7EBA00;
  font-family: Muller;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.5%; /* 40.16px */
  text-transform: lowercase;
  display: inline-block;
  margin-left: auto;
}

.tariff__price {
  padding: 10px 0;
  border-radius: 30px;
  border: 1px solid #FF5E1E;
  width: 100%;
  margin-bottom: 25px;
}

.tariff__text-1 {
  color: #14426D;
  text-align: center;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

.traiff__old-price {
  color: #14426D;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
  text-align: center;
}

.traiff__new-price {
  color: #7EBA00;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
}

.tariff__link {
  display: block;
  color: #FFF;
  text-align: center;
  font-family: MullerBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 26.7px */
  padding: 20px 0;
  border-radius: 30px;
  background: #FF5E1E;
  width: 100%;
  margin-bottom: 20px;
}

.tariff__img-2 {
  top: -2px;
  z-index: 5;
  background-color: #FFFBF5;
  border-radius: 0 43px 43px 0;
}

.tariff__subtitle-2 {
  padding: 10px 0 10px 170px;
  position: relative;
  z-index: 1;
}

.review {
  background: #E4E6FF;
  padding: 24px 0 50px;
}

.review__title {
  color: #414141;
  text-align: center;
  font-family: Muller;
  font-size: 22.106px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.019px; /* 122.222% */
  margin-bottom: 25px;
}

.review__card {
  border-radius: 11.053px;
  background: #FFF;
  padding: 28px 15px;
  box-shadow: 1.22812px 2.45625px 11.05312px 0px rgba(0, 0, 0, 0.28);
  margin-bottom: 46px;
}

.review__pag {
  display: block;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #14426D;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.taro__card3 {
  padding: 20px 0 0;
  background: linear-gradient(180deg, #9098EF 0%, rgba(122, 128, 189, 0.51) 100%);
  box-shadow: 0px 4px 30px 0px #BDC3FF;
  border-radius: 10px;
  position: relative;
  margin-bottom: 33px;
}

.taro__card3::after {
  content: "";
  background-image: url(../images/svg/taro__card__bg.svg);
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
  width: 284px;
  height: 102px;
}

.taro__text2 {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  margin-bottom: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.taro__text3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.taro__icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 104px;
}

.quetion {
  padding: 48px 0 25px;
  background-color: #FFF;
}

.quetion__title {
  color: #FF5E1E;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  margin-bottom: 55px;
}

.quetion__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #14426D;
}

.quetion__text_mb {
  margin-bottom: 35px;
}

.quetion__text_after::after {
  content: "";
  width: 1px;
  height: 30px;
  display: block;
  background-color: #FF5E1E;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.quetion__text a {
  color: #FF5E1E;
  text-decoration: underline;
}

.quetion__text_mb {
  margin-bottom: 35px;
}

.quetion__text2 {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #14426D;
}

.footer {
  padding: 33px 47px;
  background-color: #14426D;
}

.footer__link {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */