@charset "UTF-8";
@font-face {
  font-family: "MullerLight";
  font-weight: 400;
  src: url("../fonts/MullerLight.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerLight";
  font-weight: 400;
  src: url("../fonts/MullerLight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: url("../fonts/MullerRegular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerBold";
  font-weight: 700;
  src: url("../fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerBold";
  font-weight: 700;
  src: url("../fonts/MullerBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerExtraBold";
  font-weight: 800;
  src: url("../fonts/MullerExtraBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MullerExtraBold";
  font-weight: 800;
  src: url("../fonts/MullerExtraBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Muller";
  background-color: #F9F5EB;
  color: #14426D;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 390px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 380px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  padding: 51px 0 61px;
  background: #F9F5EB;
}

.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}

.hero__text {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.hero__title {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero__title span {
  color: #FF5E1E;
}

.hero__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.hero__block {
  padding: 10px 0;
  width: 100%;
  border-radius: 14.105px;
  background: transparent;
  border: 1px solid #8D96FC;
  margin-bottom: 25px;
}

.hero__block-text {
  color: #8D96FC;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.hero__block-text span {
  font-family: Muller;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__item::before {
  content: "";
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 34px;
  height: 42px;
  display: block;
  flex-shrink: 0;
}

.hero__item {
  display: flex;
  align-items: center;
}

.hero__item p {
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.hero__item p span {
  font-family: Muller;
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.steps {
  padding: 35px 0 65px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.steps__title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.steps__title span {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.steps__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  counter-reset: section;
  padding: 0 55px;
  margin-bottom: 70px;
}

.steps__item {
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 17px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: flex-start;
  position: relative;
}

.steps__item::after {
  counter-increment: section;
  content: counter(section);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #8d96fc;
}

.steps__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5D66D0;
  box-shadow: 0px 4px 3px 0px rgba(12, 15, 57, 0.1294117647);
  border-radius: 17px;
  z-index: -9999;
  transform: rotate(2.89deg);
  top: 11px;
  left: -8px;
}

.steps__text {
  font-family: Muller;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  max-width: 281px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.steps__text::before {
  content: "";
  background-image: url(../images/text-decor.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -11px;
  left: 5px;
  width: 355px;
  max-width: 100%;
  height: 141px;
  z-index: -1;
}

.steps__text span {
  font-family: Muller;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.form-block {
  border-radius: 20px;
  background: #F2EFF8;
  box-shadow: 0px 10px 20px 0px #8358B9;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  width: 100%;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #5666F5;
  padding: 12px 23px;
}

.form input::-moz-placeholder {
  color: #111;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.form input::placeholder {
  color: #111;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.button {
  display: block;
  padding: 10px 0;
  width: 100%;
  background-color: #FF5E1E;
  filter: drop-shadow(0px 0px 6px #9D7CC6);
  color: #FFF;
  text-align: center;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px; /* 106.25% */
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.form__button {
  margin-bottom: 14px;
}

.form__block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.geo {
  flex-shrink: 0;
}

.form__text {
  font-size: 17.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.417px; /* 116.667% */
}

.result {
  padding: 21px 0 46px;
}

.result__title {
  font-family: Caveat;
  font-size: 34px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 113px;
}

.result__block {
  padding: 130px 35px 30px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  max-width: 282px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
}

.result__img {
  position: absolute;
  top: -95px;
  left: calc(50% - 102px);
}

.result__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 211px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

.result__item {
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.result__item::before {
  content: "";
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.result__item:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #FFE6DC;
}

.result__item p {
  font-family: Muller;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.result__item p span {
  font-family: Muller;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.result__text {
  font-family: Caveat;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 15px;
}

.result__button {
  max-width: 262px;
}

.program {
  padding: 40px 0;
  background: #999FE2;
  z-index: 1;
  position: relative;
}

.program__title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 25.442px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 30.53px */
  text-transform: uppercase;
  margin-bottom: 20px;
}

.program__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.program__item {
  position: relative;
}

.program__block {
  padding: 20px;
  border-radius: 17px;
  background: #F8F7F8;
  max-width: 318px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.program__subtitle {
  font-family: Muller;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #787878;
}

.program__text {
  color: #000000;
  font-family: Muller;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.program__text_mb {
  margin-bottom: 25px;
}

.program__img {
  position: absolute;
  right: 0;
  top: -25px;
}

.program__block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  max-height: 204px;
  transform: rotate(3.577deg);
  flex-shrink: 0;
  border-radius: 17px;
  background: #5D66D0;
  box-shadow: 0px 4px 3px 0px rgba(12, 15, 57, 0.13);
  z-index: -1;
  bottom: 17px;
  left: 30px;
  max-width: 318px;
}

.program__block-2 {
  background-image: url(../images/background-4.png);
  background-repeat: no-repeat;
}

.program__text-2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 25.442px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 30.53px */
  text-transform: uppercase;
  padding: 20px 0;
  max-width: 278px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #FFF;
  display: block;
  margin-bottom: 24px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

.program__text-3 {
  color: #FFF;
  font-family: Muller;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 117.5%; /* 21.15px */
  margin-right: auto;
  margin-left: auto;
  max-width: 291px;
}

.coach {
  padding: 40px 0 90px;
  background: #C7C6FA;
}

.coach__block {
  border-radius: 48.745px;
  background: #FDFBFB;
  padding: 20px 0;
  max-width: 326px;
  margin-right: auto;
  margin-left: auto;
}

.coach__title {
  text-align: center;
  font-family: Cormorant Infant;
  font-size: 29.247px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 40.946px */
  text-transform: uppercase;
  margin-bottom: 15px;
}

.coach__img {
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.coach__text {
  color: #14426D;
  text-align: center;
  font-family: Montserrat;
  font-size: 19.498px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 23.398px */
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #14426D;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 290px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.coach__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 208px;
  margin-right: auto;
  margin-left: auto;
}

.coach__item {
  font-family: Muller;
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: disc;
}

.coach__relative {
  position: relative;
}

.coach__bg {
  position: absolute;
  top: -90px;
  z-index: 0;
}

.coach__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tariff {
  padding: 47px 0 74px;
  background-color: #F9F5EB;
}

.tariff__title {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-size: 26.29px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 31.548px */
  text-transform: uppercase;
  padding: 25px 0;
  border-radius: 22.899px;
  border: 1.145px solid #14426D;
  max-width: 319px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.tariff__text {
  display: block;
  font-size: 32.647px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-decoration: line-through;
  margin-bottom: 10px;
  text-align: center;
}

.tariff__text-2 {
  color: #FF5E1E;
  font-size: 32.647px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-align: center;
  display: block;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.tariff__block {
  border-radius: 20px;
  background: #F2EFF8;
  box-shadow: 0px 10px 20px 0px #8358B9;
  padding: 30px;
}

.tarif__text-3 {
  text-align: center;
  font-family: Caveat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 81%; /* 25.92px */
  margin-bottom: 24px;
}

.tarif__text-3 span {
  color: #FF5E1E;
}

.review {
  padding: 36px 0 40px;
  background: #F9F5EB;
}

.review__title {
  font-family: Muller;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5D66D0;
  margin-bottom: 10px;
}

.review__logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.review__logo path {
  fill: #5D66D0;
}

.review__swiper {
  max-width: 273px;
  margin-right: auto;
  margin-left: auto;
}

.review__relative {
  position: relative;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 11px;
  margin-bottom: 45px;
}

.review__pagination {
  text-align: center;
}

.review__slide {
  text-align: center;
}

.review__slide img {
  border-radius: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #14426D;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.quetions {
  padding: 45px 0 65px;
  background-color: #F9F5EB;
}

.quetions__title {
  color: #FF5E1E;
  text-align: center;
  font-size: 32.647px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 37.544px */
  margin-bottom: 35px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-header svg {
  flex-shrink: 0;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 20.357px; /* 135.714% */
}

.accordion-item.active .accordion-content {
  margin-top: 15px;
  max-height: 500px; /* Здесь можно указать нужную максимальную высоту содержимого */
}

.accordion-item.active .accordion-header svg {
  transform: rotate(0deg);
}

form input {
  border-radius: 10px;
  border: 1px solid #5666F5;
  background: #FFF;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 23px;
}

form input::-moz-placeholder {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

form input::placeholder {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.iti {
  width: 100%;
  margin-bottom: 20px;
}

.form-section {
  padding: 40px 0;
  background-color: #999FE2;
}

.form-section__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
}

.form-section__text span {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.form-section__text-2 {
  font-family: Muller;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */