@media(max-width: 1440px) {

    .hero {
        &__img-3 {
            max-width: 60%;
        }
        &__img-2 {
            max-width: 60%;
        }
    }
    .rent__img {
        right: 0;
        max-width: 734px;
        width: 100%;
        height: 500px;
    }
    .callback {

        .team-banner__block h2 {
            font-size: 38px;
            line-height: 110%;
           
        }
    }
}

@media(max-width: 1240px) {
    .header {
        &__btn-2 span {
            display: none;
        }
        &__btn-2 {
            padding: unset;
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }
        &__contact a[href^="tel:"] {
            font-size: 18px;
        }
        &__contact strong {
            font-size: 18px;
        }
        & .logo__icon {
            max-width: 220px;
        }
        &__menu {
            max-width: 200px;
        }
    }
    .hero {
        &__rent {
            font-size: 200px;
            line-height: 110%;
        }
        
    }
    .rent {
        &__img {
            right: 0;
            max-width: 586px;
            width: 100%;
            height: 345px;
        }
    }
    .category {
        &__card {
            padding: 16px;
            gap: 16px;
        }
    }
    .trust  {
        &__img {
            left: -145px;
            max-width: 64%;
        }
    }
    .team {
        &__card {
            padding: 16px;
        }
        .text-20-28 {
            font-size: 18px;
        }
        &-banner {
            padding: 24px;
            .container {
                padding: unset;
            }
            &-banner__block h2 {
                font-size: 40px;
                line-height: 110%;
            }
        }
    }
    .product {
        h1 {
            font-size: 46px;
        }
        &__img {
            max-width: 470px;
        }
        &__block {
            gap: 18px;
        }
        &__block-4 {
            flex-wrap: wrap;
        }
    }
    .callback {

        .team-banner__block h2 {
            font-size: 30px;
            line-height: 110%;
           i {
            top: unset;
           }
        }
    }

}

@media(max-width: 976px) {
    .header {
        position: relative;
        
        &__burger-btn {
            display: block;
        }
        .menu {
            position: absolute;
            left: -100%;
            top: 100%;
            width: 100%;
            background-color: #fff;
            padding: 20px;
            transition: transform .5s;
            z-index: 2;
        }
        .menu__list {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 8px;
        }
        &.open .menu {
            transform: translateX(100%);
        }
        &__contact {
            display: none;
        }
        .hidden-976 {
            display: block;
            margin-top: 10px;
        }
        .hidden-976 &__contact {
            display: block;
        }
        .menu__dropdown {
            position: static;
            border: unset;
        }
        &__menu {
            margin-left: auto;
        }
    }
    .hero {
        &__rent {
            font-size: 167px;
        }
        &__img {
            max-width: 90%;
        }
    }
    .benefits {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
        &__card {
            padding: 18px;
            span {
                font-size: 18px;
                line-height: 110%;
            }
        }
        &__card:nth-child(7) {
            order: 6;
        }
        &__card:nth-child(6) {
            order: 7;
            grid-column: span 3;
            background-position: right;
            span {
                max-width: unset;
            }
        }

    }
    .rent {
        &__img {
            right: 0;
            max-width: 455px;
            width: 100%;
            height: 284px;    
        }
    }
    .category {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .trust  {
        &__block {
            display: none;
        }
        &__block-2 {
            border-right: 1px solid #eee;
            border-radius: 28px 28px 0 0;
        }
        &__flex {
            margin-bottom: 40px;
        }
        .swiper-slide {
            max-width: unset;
        }
    } 
    .banner {
        &__block {
            padding: 24px;
        }
    }
    .team {
       &__grid {
        grid-template-columns: repeat(3, 1fr);
       }
       &__card:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
       }
       &__card:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
       }
       &__card:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
       }
       &__card:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4;
       }
       &-banner__flex {
        flex-direction: column;
       }
    }
    .footer  {
       &__flex-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        &__adress {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
       &__contacts a[href^="mailto:"] {
            justify-content: start;
        }
       &__btn {
            margin-left: unset;
        }
    }
    .product {
        &__img {
            max-width: 340px;
        }
        &__block {
            gap: 14px;
        }
        h1 {
            font-size: 30px;
        }
        &__block-2 &__price strong {
            font-size: 24px;
        }
        &__block-3 span {
            margin-bottom: 16px;
        }
        &__block-3 ul {
            margin-bottom: 8px;
        }
        &__block-4 &__btn {
            max-width: unset;
            justify-content: center;
        }
        &__block-4 &__btn-2 {
            max-width: unset;
        }
        &__block-2 span {
            gap: 4px;
        }
    }

    .about {
        &__bg {
            padding: 40px 0;
        }
    }
    .callback {

        .team-banner__block h2 {
            max-width: unset;
            margin-bottom: unset;
        }
        .form {
            margin: 0 auto;
        }
    }
    .consult {
        .consult__card {
            padding: 16px;
            gap: 16px;
        }
        .swiper-slide {
            max-width: 460px;
        }
    }
   
}
@media(max-width: 768px) {
    .hero {
        &__rent {
            font-size: 130px;
        }
        .swiper-slide {
            min-height: 600px;
        }
        &__img-2 {
            max-width: 80%;
            bottom: -60px;
        }
        &__img-3 {
            max-width: 55%;
        }
    }

    .benefits {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
        &__card {
            padding: 18px;
            span {
                font-size: 18px;
                line-height: 110%;
            }
        }
        &__card:nth-child(7) {
            order: 6;
        }
        &__card:nth-child(6) {
            order: 7;
            grid-column: span 2;
            background-position: right;
            span {
                max-width: unset;
            }
        }

    }
    .rent {
        &__img {
            right: 0;
            max-width: 455px;
            width: 100%;
            height: 284px;    
        }
        &__block {
            padding-top: 20px;
            gap: 20px;
            padding-right: 20px;
        }
        &__block-2 {
            padding-top: 20px;
            padding-left: 20px;
        }
        &__flex  {
            min-height: 500px;
        }
    }
    h2 {
        font-size: 26px;
        line-height: 110%;
    }
    .category {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .banner {
        &__texts h2 {
            font-size: 28px;
            line-height: 110%;
        }
        &__texts {
            gap: 16px;
        }
    }
    .team {
        padding: 50px 0;
        &__bg {
            background-position: center;
    background-size: contain;
        }
        &__grid {
         grid-template-columns: repeat(2, 1fr);
         gap: 16px;
        }
        &__flex {
            flex-direction: column;
            gap: 16px;
            margin-bottom: 30px;
        }
        &__grid {
            margin-bottom: 40px;
        }
        &__card:nth-child(1) {
         grid-area: unset;
        }
        &__card:nth-child(2) {
         grid-area: unset;
        }
        &__card:nth-child(3) {
         grid-area: unset;
        }
        &__card:nth-child(4) {
         grid-area: unset;
        }
        &-banner__block h2 {
            margin-bottom: 20px;
        }
        &-banner__block h2 span {
                gap: 12px;
        }
        &-banner__block h2 i {
            width: 30px;
            height: 30px;
            
            svg {
                width: 14px;
                height: 14px;
            }
        }
     }
     .contacts {
        &__block {
            top: 30px;
            right: 30px;
            transform: unset;
        }
     }
     .product {
        &__flex {
            flex-direction: column;
        }
        &__block-4 &__btn-2 {
            padding: 12px 0;
        }
     }
     .callback {

        .form__flex span {
            max-width: unset;
        }
    }
    .about {
        .card__swiper .card__card {
            padding: 16px;
        }
    }


}

@media(max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    .header {
        position: relative;
        &__top, &__bottom {
            display: contents;
        }
        &__block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
        &__logo {
            order: 1;
        }
        &__btn-2 {
            order: 2;
            margin-left: auto;
            align-self: center;
        }
        &__menu {
            order: 4;
        }
        &__burger-btn {
            order: 3;
            align-self: center;
        }
        &__menu {
            max-width: unset;
        }
        &__btn {
            padding: 10px;
        }
        .menu {
            padding-top: unset;
        }
    }
    .yellow-btn {
        padding: 12px;
        justify-content: center;
    }
    .hero {
        .swiper-slide {
            background-image: url(../img/hero-bg-1-576.webp);
        }
        &__rent {
            font-size: 80px;
        }
        .hero__block {
            gap: 20px;
            h1 {
                font-size: 40px;
                line-height: 110%;
            }
        }
        .hero__btn {
            max-width: unset;
        }
        .swiper-slide {
            min-height: 460px;
        }
        &__img-3 {
            bottom: -30px;
        }
        .hero__rent-2 {
            font-size: 14px;
            line-height: 110%;
            padding-left: 12px;
        }
    }
    .yellow-icon {
        width: 45px;
        height: 45px;
        margin-left: 7px;
        margin-top: 7px;
    }
    .section-padding {
        padding: 25px 0;
    }
    .benefits {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }
        &__card {
            padding: 12px;
            min-height: 220px;
            span {
                font-size: 16px;
                line-height: 110%;
            }
        }
        &__card_big {
            min-height: 220px;
        }
        

    }
    .rent {
       &__flex {
        flex-direction: column;
        min-height: 600px;
        gap: 10px;
       }
       &__block {
        max-width: 100%;
        padding-right: unset;
        border-right: unset;
        border-radius: unset;
       }
       &__btn {
        max-width: 100%;
       }
       &__img  {
        height: 250px;
       }
       &__block-2 {
        border: unset;
        padding: unset;
       }
    }
    .category {
        &__swiper {
            padding-left: 50px;
        }
        &__bg {
            padding: 80px 0 20px;
        }
        &__grid {
            gap: 12px;
        }
        &__btn {
            padding: 12px;
        }
        &__swiper-btns .next {
            width: 45px;
            height: 45px;
        }
        &__swiper-btns .prev {
            width: 45px;
            height: 45px;
        }
    }
    .trust  {
        &__block-2 {
            padding: 16px;
            h2 {
                margin-bottom: 20px;
            }
            ul {
                gap: 12px;
            }
        }
        &__flex {
            margin-bottom: 20px;
        }
        .card__swiper .card__card {
            max-width: unset;
        }
        .card__swiper .swiper-slide {
            max-width: unset;
        }
    } 
    .text-20-28 {
        font-size: 18px;
        line-height: 110%;
    }
    .banner  {
        padding: 25px 0;
        &__icon {
            width: 30px;
            height: 45px;
        }
        &__block {
            padding: 16px;
            gap: 12px;
        }
        &__texts h2 {
            font-size: 24px;
        }
    }
    .partners {
        padding: 25px 0;
       &__flex {
            margin-bottom: 20px;
        }
        .swiper-slide {
            max-width: unset;
        }
       &__card {
            max-width: unset;
        }
    }
    .form__flex {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .form__btn {
        max-width: unset;
        width: 100%;
    }
    .contacts {
        &__block {
            position: static;
            top: 30px;
            right: 30px;
            transform: unset;
            border-radius: unset;
        }
        .contacts__link {
            font-size: 18px;
        }
     }

     .footer {
        &__flex {
            flex-direction: column;
            gap: 20px;
            padding-bottom: 25px;
            margin-bottom: 20px;
        }
        &__flex-2 {
            grid-template-columns: 1fr;
            margin-bottom: 25px;
        }
        &__adress {
            grid-column: span 1;
            display: grid;
            grid-template-columns: 1fr;
        }
        &__flex-3 {
            flex-direction: column;
            gap: 16px;
            margin-top: 25px;
        }
     }
     .bread-crumbs {
        padding-top: 16px;
        margin-bottom: 20px;
     }

     .about {
        padding-bottom: 50px;
        .about__bg {
            padding: 15px 0;
        }
        .card__swiper .card__card {
            max-width: unset;
        }
        .card__swiper .swiper-slide {
            max-width: unset;
        }
     }
     .consult {
        padding-bottom: 50px;
        h2 {
            margin-bottom: 14px;
        }
        p {
            margin-bottom: 20px;
        }
        
        &__card {
            padding: 16px;
            gap: 16px;
        }
        .swiper-slide {
            max-width: 460px;
        }
        &__img {
            max-width: 80px;
            height: 80px;
        }
        .next {
            right: -10px;
           
        }
        .prev {
            left: -10px;
        }
     }
     
     .within {
        padding-bottom: 50px;
     }
     .modal {
        width: 90%;
     }
     .form__flex span {
        max-width: unset;
     }
    
}

@media(max-width: 430px) {
    .within {
        .swiper-slide {
            max-width: unset;
        }
        .within__card {
            max-width: unset;
        }
        .within__texts {
            padding: 12px;
            max-width: unset;
            gap: 12px;
        }
        .within__img {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
        .within__btn {
            max-width: unset;
            padding: 10px 0;
        }
     }
}