

@media(max-width: 1024px) {
    .hero .hero__logo {
        max-width: 150px;
        height: 215px;
    }
    .members .members__block {
        flex-direction: column;
    }
    .members .members__card {
        max-width: unset;
        border-top: 2px solid #467de1;
        padding: 25px 0;
    }
    .members .members__block {
        border: unset;
        gap: unset;
        padding: unset;
    }
    .footer {
        position: relative;
    }
    .footer .footer__flex {
        flex-direction: column;
    }
    .footer .footer__block span {
        position: absolute;
        bottom: 20px;
    }
}

@media(max-width: 768px) {
    .hero {
        padding: 50px 0;
    }
    .structure .structure__flex-2 {
        flex-direction: column;
    }
    .structure .structure__block {
        display: contents;
        p {
            order: 1;
        }
        .relative {
            order: 3;
        }
    }
    .structure .structure__block-2 {
        p {
            order: 2;
        }
        .relative {
            order: 4;
        }
    }
    .docs .docs__grid {
        grid-template-columns: 1fr;
    }
    .container {
        padding: 0 12%;
    }
}

@media(max-width: 576px) {
    .hero__img {
        display: none;
    }

    .hero {
        background-image: url(../img/hero-576.svg);
        min-height: 964px;
        padding-top: 143px;
        display: block;
    }
    .hero .hero__logo {
        max-width: 100px;
        height: 137px;
        margin-bottom: unset;
    }
    .hero h1 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .hero__flex {
        display: flex;
        align-items: flex-start;
        gap: 33px;
    }
    .hero span {
        font-size: 20px;
    }
    .structure {
        padding: 40px 0 66px;
        background-image: url(../img/bg-576.svg);
    }
    .flex {
        gap: 24px;
        margin-bottom: 50px;
        img {
            width: 80px;
        }
        h2 {
            font-size: 32px;
            line-height: 36px;
        }
    }
    .structure .structure__block span {
        left: 24px;
        bottom: 20px;
        font-size: 13px;
    }
    .structure .structure__btn {
        font-size: 14px;
        max-width: unset;
        padding: 9px 18px;
        justify-content: center;
    }
    .structure .structure__btn img {
        width: 34px;
        height: 20px;
    }
    .structure .structure__btn span {
        line-height: 100%;
    }
    .members {
        padding: 60px 0 40px;
    }
    .members .members__card {
        flex-direction: column;
        padding: 45px 0 50px;
        gap: 30px;
    }
    .members .members__card img {
        max-width: 250px;
        height: 250px;
    }
    .members .members__texts h3 {
        margin-bottom: 20px;
    }
    .members .members__texts span {
        margin-bottom: 16px;
    }
    .members .hidden {
        display: none;
    }
    .members__card:last-child {
        border-bottom: 2px solid #467de1;
    }
    .docs {
        background-image: url(../img/bg-576.svg);
        padding: 60px 0 80px;
    }
    .docs .docs__grid a {
        gap: 45px;
    }
    .docs .docs__grid {
        gap: 45px;
    }
    .footer {
        padding: 66px 0 185px;
    }
    .footer .footer__block h2 {
        font-size: 32px;
        margin-bottom: 50px;
    }
    .footer .footer__block h3 {
        margin-bottom: 9px;
    }
    .footer .footer__block a {
        margin-bottom: 44px;
    }
    .footer .footer__block .footer__link-2 {
        margin-bottom: 90px;
    }
    .footer .footer__block-2 img {
        max-width: 74px;
        height: 83px;
    }
    .footer .footer__block-2 {
        gap: 20px;
    }
    .footer .footer__block-2 p {
        font-size: 15px;
        line-height: 16px;
    }
    .footer .footer__block span {
        bottom: 80px;
    }
}

@media(max-width: 450px) {
    .container {
        padding: 0 15px;
    }
}