@media (max-width: 1280px) {
  .about__flex {
    margin-bottom: 30px;
  }
  .swiper__img {
    min-height: unset;
  }
  .about__flex {
    flex-wrap: wrap;
    row-gap: 60px;
  }
  .about__block {
    top: 0;
  }
  .countries__flex {
    grid-template-columns: repeat(4, 1fr);
  }
  .countries_2 .countries__flex {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 978px) {
  .videos__card {
    min-width: unset;
    min-height: unset;
  }
  .videos__card img {
    max-height: unset;
    height: unset;
    max-width: 600px;
  }
  .videos__flex {
    margin-bottom: 50px;
    padding-left: 50px;
  }
  .clipping__flex {
    flex-direction: column;
    gap: 20px;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contacts__flex {
    flex-direction: column;
    align-items: center;
  }
  .contacts ul {
    align-items: center;
  }
  .clipping {
    background-size: 400px 400px;
  }
  .comments__form {
    padding-right: unset;
  }
  .countries__flex {
    grid-template-columns: repeat(3, 1fr);
  }
  .countries_2 .countries__flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .library-diary .library-diary__flex {
    flex-direction: column;
  }
  .library-diary .library-diary__height {
    padding-top: unset;
  }
  .library-diary .library-diary__flex {
    justify-content: center;
    gap: 20px;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .logo__img {
    width: 100px;
    height: 100px;
  }
  .hero__flex {
    flex-direction: column;
    gap: 20px;
  }
  .hero::after {
    width: 124px;
    height: 248px;
  }
  .adventures__flex {
    flex-direction: column;
  }
  .adventures::after {
    width: 256px;
    height: 256px;
  }
  .footer__flex {
    flex-wrap: wrap;
  }
  .about__flex p {
    max-width: unset;
  }
  .map {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 48px;
    line-height: 110%;
  }
  .hero__block {
    min-height: 700px;
  }
  .wrapper {
    min-height: 700px;
  }
  .countries__flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .header--burger .menu {
    top: 90px;
  }
  .wrapper video {
    min-height: 700px;
    max-height: 700px;
  }
  .map .map-frame__filter {
    display: none;
  }
  .hero__flex {
    align-items: self-start;
  }
  .clipping::after {
    width: 200px;
    height: 200px;
    top: 20px;
    right: 30px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .header__list {
    gap: 18px;
  }
  .logo__img {
    width: 50px;
    height: 50px;
  }
  .header {
    padding-top: 25px;
  }
  .header__link {
    font-size: 14px;
  }
  .hero h1 {
    font-size: 38px;
  }
  .wrapper {
    background-position: center;
  }
  .diaries {
    padding: 45px 0;
  }
  .diaries__card {
    max-width: 100%;
    height: unset;
    padding: 20px;
  }
  .diaries__card h2 {
    font-size: 24px;
    line-height: 110%;
  }
  .diaries__card span {
    font-size: 20px;
    line-height: 110%;
  }
  .diaries__card_new::before {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    font-size: 24px;
    line-height: 110%;
    width: 100px;
    height: 100px;
  }
  .diaries__flex {
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 30px);
    padding-top: 60px;
    padding-left: unset;
    margin: 0 auto 30px;
  }
  .map {
    min-height: 500px;
  }
  .videos {
    padding: 45px 0;
  }
  .videos__flex {
    margin-bottom: 30px;
    padding-top: 40px;
    padding-left: 30px;
  }
  .videos__card img {
    max-width: 324px;
  }
  .clipping .clipping__texts p {
    font-size: 20px;
    line-height: 110%;
  }
  .clipping {
    background-size: 200px;
    background-position: 80% 0;
    padding-bottom: 50px;
  }
  .clipping .clipping__block {
    min-height: 530px;
  }
  .notes {
    padding: 45px 0;
  }
  .notes__flex {
    padding-top: 40px;
    margin-bottom: 30px;
    padding-left: 30px;
  }
  .about {
    padding: 30px 0;
  }
  .about h2 {
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  .about__flex {
    gap: 20px;
  }
  .adventures__text {
    font-size: 38px;
    line-height: 110%;
  }
  .adventures__text-2 {
    font-size: 38px;
    line-height: 110%;
  }
  .adventures {
    min-height: 700px;
  }
  .contacts {
    padding: 30px 0;
  }
  .contacts h2 {
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 50px;
  }
  .other .menu.open {
    transform: translateX(-25%);
  }
  .comments__input {
    padding-left: 30px;
  }
  .comments__form {
    gap: 15px;
  }
  .comments__block-2 {
    padding-left: 10%;
  }
  .comments__block {
    gap: 15px;
  }
  .comments__text-block {
    padding: 20px 15px;
  }
  .footer-black .logo {
    right: 15px;
  }
  .diary__texts h1 {
    font-size: 36px;
    line-height: 120%;
  }
  .diary__texts span {
    font-size: 24px;
  }
  .notes-2 {
    max-height: 100vh;
  }
  .diary {
    max-height: 100vh;
  }
  .diary__block {
    min-height: 560px;
  }
  .countries__flex {
    grid-template-columns: repeat(1, 1fr);
  }
  .map-frame__filter {
    max-width: 346px;
    top: 370px;
    right: 15px;
    left: 15px;
  }
  .countries_2 .countries__flex {
    grid-template-columns: repeat(1, 1fr);
  }
  .library-diary .library-diary__text {
    text-align: center;
  }
  #map {
    height: 500px !important;
  }
  .wrapper .header--burger .menu {
    top: 42px;
  }
  .wrapper .header--burger.main-page.open .menu {
    transform: translateX(-45%);
  }
  .clipping::after {
    width: 100px;
    height: 100px;
  }
  .adventures::after {
    width: 200px;
    height: 200px;
    bottom: -100px;
  }
  .contacts__link {
    display: block;
    text-align: center;
  }
}/*# sourceMappingURL=media.css.map */