@media (max-width: 1440px) {
  .hero__img-3 {
    max-width: 60%;
  }
  .hero__img-2 {
    max-width: 60%;
  }
  .rent__img {
    right: 0;
    max-width: 734px;
    width: 100%;
    height: 500px;
  }
  .callback .team-banner__block h2 {
    font-size: 38px;
    line-height: 110%;
  }
}
@media (max-width: 1240px) {
  .header__btn-2 span {
    display: none;
  }
  .header__btn-2 {
    padding: unset;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .header__contact a[href^="tel:"] {
    font-size: 18px;
  }
  .header__contact strong {
    font-size: 18px;
  }
  .header .logo__icon {
    max-width: 220px;
  }
  .header__menu {
    max-width: 200px;
  }
  .hero__rent {
    font-size: 200px;
    line-height: 110%;
  }
  .rent__img {
    right: 0;
    max-width: 586px;
    width: 100%;
    height: 345px;
  }
  .category__card {
    padding: 16px;
    gap: 16px;
  }
  .trust__img {
    left: -145px;
    max-width: 64%;
  }
  .team__card {
    padding: 16px;
  }
  .team .text-20-28 {
    font-size: 18px;
  }
  .team-banner {
    padding: 24px;
  }
  .team-banner .container {
    padding: unset;
  }
  .team-banner-banner__block h2 {
    font-size: 40px;
    line-height: 110%;
  }
  .product h1 {
    font-size: 46px;
  }
  .product__img {
    max-width: 470px;
  }
  .product__block {
    gap: 18px;
  }
  .product__block-4 {
    flex-wrap: wrap;
  }
  .callback .team-banner__block h2 {
    font-size: 30px;
    line-height: 110%;
  }
  .callback .team-banner__block h2 i {
    top: unset;
  }
}
@media (max-width: 976px) {
  .header {
    position: relative;
  }
  .header__burger-btn {
    display: block;
  }
  .header .menu {
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    transition: transform 0.5s;
    z-index: 2;
  }
  .header .menu__list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
  .header__contact {
    display: none;
  }
  .header .hidden-976 {
    display: block;
    margin-top: 10px;
  }
  .hidden-976 .header__contact {
    display: block;
  }
  .header .menu__dropdown {
    position: static;
    border: unset;
  }
  .header__menu {
    margin-left: auto;
  }
  .hero__rent {
    font-size: 167px;
  }
  .hero__img {
    max-width: 90%;
  }
  .benefits__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .benefits__card {
    padding: 18px;
  }
  .benefits__card span {
    font-size: 18px;
    line-height: 110%;
  }
  .benefits__card:nth-child(7) {
    order: 6;
  }
  .benefits__card:nth-child(6) {
    order: 7;
    grid-column: span 3;
    background-position: right;
  }
  .benefits__card:nth-child(6) span {
    max-width: unset;
  }
  .rent__img {
    right: 0;
    max-width: 455px;
    width: 100%;
    height: 284px;
  }
  .category__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .trust__block {
    display: none;
  }
  .trust__block-2 {
    border-right: 1px solid #eee;
    border-radius: 28px 28px 0 0;
  }
  .trust__flex {
    margin-bottom: 40px;
  }
  .trust .swiper-slide {
    max-width: unset;
  }
  .banner__block {
    padding: 24px;
  }
  .team__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .team__card:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .team__card:nth-child(2) {
    grid-area: 1/3/2/4;
  }
  .team__card:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .team__card:nth-child(4) {
    grid-area: 2/3/3/4;
  }
  .team-banner__flex {
    flex-direction: column;
  }
  .footer__flex-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .footer__adress {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__contacts a[href^="mailto:"] {
    justify-content: start;
  }
  .footer__btn {
    margin-left: unset;
  }
  .product__img {
    max-width: 340px;
  }
  .product__block {
    gap: 14px;
  }
  .product h1 {
    font-size: 30px;
  }
  .product__block-2 .product__price strong {
    font-size: 24px;
  }
  .product__block-3 span {
    margin-bottom: 16px;
  }
  .product__block-3 ul {
    margin-bottom: 8px;
  }
  .product__block-4 .product__btn {
    max-width: unset;
    justify-content: center;
  }
  .product__block-4 .product__btn-2 {
    max-width: unset;
  }
  .product__block-2 span {
    gap: 4px;
  }
  .about__bg {
    padding: 40px 0;
  }
  .callback .team-banner__block h2 {
    max-width: unset;
    margin-bottom: unset;
  }
  .callback .form {
    margin: 0 auto;
  }
  .consult .consult__card {
    padding: 16px;
    gap: 16px;
  }
  .consult .swiper-slide {
    max-width: 460px;
  }
}
@media (max-width: 768px) {
  .hero__rent {
    font-size: 130px;
  }
  .hero .swiper-slide {
    min-height: 600px;
  }
  .hero__img-2 {
    max-width: 80%;
    bottom: -60px;
  }
  .hero__img-3 {
    max-width: 55%;
  }
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .benefits__card {
    padding: 18px;
  }
  .benefits__card span {
    font-size: 18px;
    line-height: 110%;
  }
  .benefits__card:nth-child(7) {
    order: 6;
  }
  .benefits__card:nth-child(6) {
    order: 7;
    grid-column: span 2;
    background-position: right;
  }
  .benefits__card:nth-child(6) span {
    max-width: unset;
  }
  .rent__img {
    right: 0;
    max-width: 455px;
    width: 100%;
    height: 284px;
  }
  .rent__block {
    padding-top: 20px;
    gap: 20px;
    padding-right: 20px;
  }
  .rent__block-2 {
    padding-top: 20px;
    padding-left: 20px;
  }
  .rent__flex {
    min-height: 500px;
  }
  h2 {
    font-size: 26px;
    line-height: 110%;
  }
  .category__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner__texts h2 {
    font-size: 28px;
    line-height: 110%;
  }
  .banner__texts {
    gap: 16px;
  }
  .team {
    padding: 50px 0;
  }
  .team__bg {
    background-position: center;
    background-size: contain;
  }
  .team__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .team__flex {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
  }
  .team__grid {
    margin-bottom: 40px;
  }
  .team__card:nth-child(1) {
    grid-area: unset;
  }
  .team__card:nth-child(2) {
    grid-area: unset;
  }
  .team__card:nth-child(3) {
    grid-area: unset;
  }
  .team__card:nth-child(4) {
    grid-area: unset;
  }
  .team-banner__block h2 {
    margin-bottom: 20px;
  }
  .team-banner__block h2 span {
    gap: 12px;
  }
  .team-banner__block h2 i {
    width: 30px;
    height: 30px;
  }
  .team-banner__block h2 i svg {
    width: 14px;
    height: 14px;
  }
  .contacts__block {
    top: 30px;
    right: 30px;
    transform: unset;
  }
  .product__flex {
    flex-direction: column;
  }
  .product__block-4 .product__btn-2 {
    padding: 12px 0;
  }
  .callback .form__flex span {
    max-width: unset;
  }
  .about .card__swiper .card__card {
    padding: 16px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .header {
    position: relative;
  }
  .header__top, .header__bottom {
    display: contents;
  }
  .header__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .header__logo {
    order: 1;
  }
  .header__btn-2 {
    order: 2;
    margin-left: auto;
    align-self: center;
  }
  .header__menu {
    order: 4;
  }
  .header__burger-btn {
    order: 3;
    align-self: center;
  }
  .header__menu {
    max-width: unset;
  }
  .header__btn {
    padding: 10px;
  }
  .header .menu {
    padding-top: unset;
  }
  .yellow-btn {
    padding: 12px;
    justify-content: center;
  }
  .hero .swiper-slide {
    background-image: url(../img/hero-bg-1-576.webp);
  }
  .hero__rent {
    font-size: 80px;
  }
  .hero .hero__block {
    gap: 20px;
  }
  .hero .hero__block h1 {
    font-size: 40px;
    line-height: 110%;
  }
  .hero .hero__btn {
    max-width: unset;
  }
  .hero .swiper-slide {
    min-height: 460px;
  }
  .hero__img-3 {
    bottom: -30px;
  }
  .hero .hero__rent-2 {
    font-size: 14px;
    line-height: 110%;
    padding-left: 12px;
  }
  .yellow-icon {
    width: 45px;
    height: 45px;
    margin-left: 7px;
    margin-top: 7px;
  }
  .section-padding {
    padding: 25px 0;
  }
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .benefits__card {
    padding: 12px;
    min-height: 220px;
  }
  .benefits__card span {
    font-size: 16px;
    line-height: 110%;
  }
  .benefits__card_big {
    min-height: 220px;
  }
  .rent__flex {
    flex-direction: column;
    min-height: 600px;
    gap: 10px;
  }
  .rent__block {
    max-width: 100%;
    padding-right: unset;
    border-right: unset;
    border-radius: unset;
  }
  .rent__btn {
    max-width: 100%;
  }
  .rent__img {
    height: 250px;
  }
  .rent__block-2 {
    border: unset;
    padding: unset;
  }
  .category__swiper {
    padding-left: 50px;
  }
  .category__bg {
    padding: 80px 0 20px;
  }
  .category__grid {
    gap: 12px;
  }
  .category__btn {
    padding: 12px;
  }
  .category__swiper-btns .next {
    width: 45px;
    height: 45px;
  }
  .category__swiper-btns .prev {
    width: 45px;
    height: 45px;
  }
  .trust__block-2 {
    padding: 16px;
  }
  .trust__block-2 h2 {
    margin-bottom: 20px;
  }
  .trust__block-2 ul {
    gap: 12px;
  }
  .trust__flex {
    margin-bottom: 20px;
  }
  .trust .card__swiper .card__card {
    max-width: unset;
  }
  .trust .card__swiper .swiper-slide {
    max-width: unset;
  }
  .text-20-28 {
    font-size: 18px;
    line-height: 110%;
  }
  .banner {
    padding: 25px 0;
  }
  .banner__icon {
    width: 30px;
    height: 45px;
  }
  .banner__block {
    padding: 16px;
    gap: 12px;
  }
  .banner__texts h2 {
    font-size: 24px;
  }
  .partners {
    padding: 25px 0;
  }
  .partners__flex {
    margin-bottom: 20px;
  }
  .partners .swiper-slide {
    max-width: unset;
  }
  .partners__card {
    max-width: unset;
  }
  .form__flex {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .form__btn {
    max-width: unset;
    width: 100%;
  }
  .contacts__block {
    position: static;
    top: 30px;
    right: 30px;
    transform: unset;
    border-radius: unset;
  }
  .contacts .contacts__link {
    font-size: 18px;
  }
  .footer__flex {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
    margin-bottom: 20px;
  }
  .footer__flex-2 {
    grid-template-columns: 1fr;
    margin-bottom: 25px;
  }
  .footer__adress {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer__flex-3 {
    flex-direction: column;
    gap: 16px;
    margin-top: 25px;
  }
  .bread-crumbs {
    padding-top: 16px;
    margin-bottom: 20px;
  }
  .about {
    padding-bottom: 50px;
  }
  .about .about__bg {
    padding: 15px 0;
  }
  .about .card__swiper .card__card {
    max-width: unset;
  }
  .about .card__swiper .swiper-slide {
    max-width: unset;
  }
  .consult {
    padding-bottom: 50px;
  }
  .consult h2 {
    margin-bottom: 14px;
  }
  .consult p {
    margin-bottom: 20px;
  }
  .consult__card {
    padding: 16px;
    gap: 16px;
  }
  .consult .swiper-slide {
    max-width: 460px;
  }
  .consult__img {
    max-width: 80px;
    height: 80px;
  }
  .consult .next {
    right: -10px;
  }
  .consult .prev {
    left: -10px;
  }
  .within {
    padding-bottom: 50px;
  }
  .modal {
    width: 90%;
  }
  .form__flex span {
    max-width: unset;
  }
}
@media (max-width: 430px) {
  .within .swiper-slide {
    max-width: unset;
  }
  .within .within__card {
    max-width: unset;
  }
  .within .within__texts {
    padding: 12px;
    max-width: unset;
    gap: 12px;
  }
  .within .within__img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .within .within__btn {
    max-width: unset;
    padding: 10px 0;
  }
}/*# sourceMappingURL=media.css.map */