@media(max-width:1600px) {

    .hero .swiper__btns {
        width: 97%;
    }

    .benefits__list {
        width: max-content;
    }

    .page-2__benefits .benefits__list {
        width: 100%;
    }

    .corp__tags span {
        font-size: 14px;
        line-height: 110%;
    }

    .page-2__about .page-2__about__block-3 {
        padding: 20px;
    }

    .page-2__about .page-2__about__block-4 {
        padding: 20px;
    }

    .page-2-banner img {
        max-width: 80%;
    }

    .page-2-banner .page-2-banner__text-1 {
        bottom: 48px;
        left: -109px;
    }

    .page-2-banner .page-2-banner__text-2 {
        bottom: 198px;
        left: -45px;
    }

    .page-2-banner .page-2-banner__text-3 {
        bottom: 304px;
        left: 73px;
        max-width: 228px;
    }

    .page-2-banner .page-2-banner__text-4 {
        bottom: 313px;
        right: 71px;
        max-width: 228px;
    }

    .page-2-banner .page-2-banner__text-5 {
        bottom: 201px;
        right: -62px;
    }

    .page-2-banner .page-2-banner__text-6 {
        bottom: 47px;
        right: -152px;
    }

    .page-2-delivery .page-2-delivery__btn-2 {
        font-size: 13px;
    }

    .page-2-catalog .page-2-catalog__button {
        max-width: 135px;
    }

    .page-3-coating__flex img {
        width: 40%;
    }

    .page-3-coating .page-3-coating__text-block {
        min-height: 240px;

        .button {
            padding: 12px 0;
        }
    }

    .page-3-banner .page-2-banner__text-1 {
        left: -170px;
    }

    .page-3-banner .page-2-banner__text-2 {
        left: -105px;
    }

    .page-3-banner .page-2-banner__text-5 {
        right: -110px;
    }

    .page-3-banner .page-2-banner__text-6 {
        right: -170px;
    }
    .aesthetics .white-bg {
        max-width: 526px;
    }
    .page-2-works img {
        max-width: 60%;
    }
    .page-6-about .page-2__about__block-4 {
        padding: 40px;
    }

}

@media(max-width:1400px) {
    .header .medium__block span {
        display: none;
    }

    .header .medium__block .logo img {
        max-width: 300px;
    }

    .hero__flex {
        flex-direction: column;
        gap: 20px;
    }

    .catalog__img {
        min-height: 300px;
        background-size: cover;
    }

    .catalog__card {
        max-height: 433px;
    }

    .corp__flex {
        flex-direction: column;
    }

    .corp__img {
        max-width: unset;
        max-height: unset;
    }

    .corp__block {
        max-width: unset;
        min-height: unset;
        gap: 24px;
    }

    .sales__cards {
        flex-direction: column;
    }

    .page-2-works img {
        max-width: unset;
    }

    .sales__card {
        max-width: unset;
    }

    .objects__block {
        padding-left: unset;
    }

    .install__flex-2 {
        flex-direction: column;
    }

    .install__img {
        max-width: unset;
        max-height: unset;
    }

    .install__block {
        max-width: unset;
        height: unset;
        gap: 8px;
    }

    .install__flex-2 {
        gap: 16px;
    }

    .consult__flex {
        flex-direction: column;
        gap: 20px;
    }

    .consult__block {
        text-align: center;
    }

    .footer__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .hero__block span {
        margin-bottom: 30px;
    }

    .hero__block h1 {
        font-size: 50px;
        line-height: 110%;
    }

    .hero .swiper-horizontal>.swiper-pagination-bullets,
    .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
    .hero .swiper-pagination-custom,
    .hero__pagination {
        bottom: 20px;
    }

    .hero__form {
        margin: 0 auto;
        padding: 20px;
    }

    .hero__slide {
        padding: 50px 0;
    }

    .hero__form h2 {
        font-size: 20px;
        line-height: 110%;
    }

    .header .menu__list a {
        font-size: 19px;
        text-wrap: nowrap;
    }

    .corp__tags span {
        font-size: 16px;
        line-height: 24px;
    }

    .page-2-catalog .page-2-catalog__swiper .swiper-slide {
        width: unset;
    }

    .page-2__consult h2 {
        text-align: center;
    }

    .consult__block h2 {
        text-align: center;
    }

    .page-2__about .page-2__about__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: unset;
    }

    .page-2__about .page-2__about__grid img {
        max-width: 54%;
    }

    .page-2__benefits .benefits__list {
        width: max-content;
    }

    .page-2-banner .page-2-banner__text {
        position: static;
        margin: 0 auto 16px;
        max-width: unset;
    }

    .page-2-banner img {
        max-width: 100%;
    }

    .page-2-delivery .page-2-delivery__block {
        flex-direction: column;
    }

    .page-2-delivery .page-2-delivery__texts {
        min-height: 450px;
    }

    .page-2-works .page-2-works__flex {
        flex-direction: column;
    }

    .page-2-works .page-2-works__block {
        max-width: unset;
        min-height: 440px;
    }

    .page-3-solution .page-3-solution__card {
        max-width: 293px;
        width: 100%;
    }

    .page-3-solution .page-3-solution__flex-2 {
        width: max-content;
    }

    .page-3-coating .page-3-coating__grid {
        display: flex;
        width: max-content;
    }

    .page-3-coating__flex img {
        width: 100%;
        max-width: 360px;
    }

    .page-3-coating .page-3-coating__text-block {
        min-height: 348px;
    }
    .aesthetics .aesthetics__flexbox {
        flex-wrap: wrap;
    }
    .aesthetics .black-bg {
        max-width: calc(50% - 8px)

    }
    .aesthetics .gray-bg {
        max-width: unset;
        width: 100%;
    }
    .aesthetics .light-gray-bg {
        max-width: unset;
        width: 100%;
    }
    .aesthetics .aesthetics__blocks:nth-child(1) {
        max-width: calc(50% - 8px);
    }
    .aesthetics .white-bg {
        max-width: unset;
    }
    .blinds img {
        width: 100%;
    }
    .page-6-about .page-2__about__grid img {
        max-width: unset;
    }
    .page-6-about .page-2__about__block {
        width: 100%;
    }
    .page-6-about .page-2__about__block-2 {
        gap: 20px;
        img {
            max-width: 250px;
        }
    }

}

@media (max-width: 1124px) {
    .container {
        padding: 0 40px;
    }

    .hero .swiper__btns {
        top: unset;
        bottom: 10px;
        width: 90%;
    }

    .header__burger-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        z-index: 5;
        background-color: var(--grey);
        border-radius: 100px;
        width: 40px;
        height: 40px;
    }

    .menu {
        position: absolute;
        left: calc(-101% + 32px);
        top: 210px;
        width: calc(100% - 32px);
        background-color: var(--white);
        padding: 30px 20px;
        transition: transform .5s;
        z-index: 2;
        border-radius: 20px;
        overflow: auto;
        max-height: calc(100dvh - 80px);
    }


    .menu__list {
        display: block;
    }

    .header.open .menu {
        transform: translateX(calc(101% + 16px));
    }

    .header .menu__list {
        flex-direction: column;
        max-width: max-content;
        align-items: baseline;
        margin: 0 auto;
    }

    .header .upper__nav ul {
        gap: 10px;
    }

    .header .medium__contacts {
        display: none;
    }

    .header .medium__block-2 {
        flex-basis: unset;
    }

    .header .medium__btn {
        padding: 12px;
    }

    .menu .hidden {
        display: block;
    }

    .menu .medium__contacts {
        display: block;
        background-color: var(--lightGray);
        padding: 16px 18px;
        border-radius: 20px;
    }

    .medium__contacts a {
        place-content: center;
    }

    .catalog__flex {
        flex-direction: column;
    }

    .catalog__grid {
        display: flex;
        width: max-content;
    }

    .catalog .tab-panel {
        overflow: auto;
    }

    .catalog .tab-panel::-webkit-scrollbar {
        display: none;
    }

    .catalog__card {
        padding: 15px;
        max-height: 300px;
    }

    .catalog__img {
        min-height: 205px;
        border-radius: 20px;
    }

    .catalog__bottom-content {
        padding-top: 12px;
        padding-left: 8px;
    }

    h3 {
        font-size: 24px;
    }

    .catalog__bottom-content p {
        font-size: 20px;
    }

    .benefits__flex {
        flex-direction: column;
    }

    .objects__grid {
        display: flex;
        width: max-content;
    }

    .objects__card {
        max-width: 460px;
        padding: 8px;
        border-radius: 20px;
    }

    .objects .object__img {
        margin-bottom: 12px;
    }

    .objects__block {
        padding-left: 8px;
    }

    .install_flex {
        flex-direction: column;
    }

    .contacts__card {
        max-width: 408px;
    }

    .news__swiper .swiper-slide {
        max-width: unset;
        width: unset;
    }

    .news__card {
        width: 100%;
    }

    .benefits__card {
        min-height: 651px;
    }

    .benefits__img {
        width: 100%;
    }

    .header .medium__socials {
        justify-content: center;
    }

    .header .medium__contacts a {
        display: block;
        text-align: center;
    }

    .page-2-hero .page-2-hero__block {
        min-height: 725px;
        border-radius: 20px;
    }

    .page-2-hero .page-2-hero__text {
        bottom: 9px;
        left: 8px;
        right: unset;
        top: unset;
    }

    .page-2__about .page-2__about__grid img {
        max-width: unset;
    }

    .page-2__about .page-2__about__block {
        width: 100%;
    }

    .page-2-reviews .swiper-slide {
        max-width: 712px;
    }

    .page-2-details .page-2-details__flex {
        flex-direction: column;
    }

    .page-2-details .page-2-details__block {
        min-height: 240px;
    }

    .page-2-questions .page-2-questions__flex {
        flex-direction: column;
        gap: unset;
        align-items: center;
    }

    .page-3-solution .page-3-solution__flex {
        flex-direction: column;
    }

    .page-3-solution .page-3-solution__flex span {
        text-align: left;
        max-width: unset;
    }

    .page-3-ready .swiper-slide {
        max-width: 293px;
    }

    .page-3-installation .page-3-installation__flex {
        width: max-content;
    }
    .service .service__grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .page-4-spices .swiper-slide {
        max-width: max-content;
    }
    .page-4-spices .page-4-spices__card {
        max-width: 328px;
        img {
            width: 100%;
        }
    }
    .header .upper__nav ul a {
        font-size: 15px;
    }
    .blinds .blinds__flex {
        flex-direction: column;
    }
    .blinds .blinds__blocks {
        max-width: unset;
    }
    .blinds .blinds__block {
        max-height: unset;
        min-height: 168px;
    }
    .aesthetics .black-bg {
        max-width: unset;
    }
    .aesthetics .aesthetics__blocks:nth-child(1) {
        max-width: unset;
    }
    .aesthetics .purple-bg {
        max-width: unset;
    }
    .aesthetics .black-bg {
        gap: 20px;
    }
    .lamellas .lamellas__flex {
        flex-direction: column;
        gap: 2px;
    }
    .lamellas .lamellas__flex span {
        text-align: left;
    }
    .page-6-details .page-2-details__block {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .upper__nav {
        display: none;
    }

    .hidden-768 {
        display: block;
    }

    .hidden-768 .upper__nav {
        display: block;
    }

    .header .upper__nav ul a {
        color: var(--blackGray);
        text-align: center;
    }

    .header .upper__nav ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .benefits__card {
        padding: 18px;
        min-height: 440px;
    }

    .benefits__img {
        min-height: unset;
        max-height: 440px;
        width: 100%;
    }

    iframe {
        height: 712px;
    }

    .contacts__card {
        padding: 20px;
        max-width: calc(100% - 16px);
        top: 8px;
        left: 8px;
        min-height: 377px;
    }

    .contacts__card h2 {
        margin-bottom: 24px;
    }

    .contacts__card ul {
        margin-bottom: 24px;
    }

    :root {
        --ver-gap-xl: 50px;
    }

    .page-2-hero .page-2-hero__block {
        min-height: 839px;
        border-radius: 20px;
    }

    .page-2__consult .consult__block span {
        color: var(--white);
    }

    .page-2__about .page-2__about__grid .overflow {
        overflow: auto;
    }

    .page-2-metall .page-2-metal__text-block span {
        br {
            display: block;
        }
    }

    .page-3-solution .page-3-solution__card {
        padding: 8px;
        border-radius: 20px;
    }

    .page-3-solution .page-3-solution__text-block {
        padding: 8px;
    }

    .page-3-coating .page-3-coating__flex {
        flex-direction: column;
    }

    .page-3-coating .page-3-coating__text-block {
        padding: 8px;
    }
    .page-4-spices__btns  {
        display: none;
    }
    .page-6-ready .page-2-reviews__btns {
        display: none;
    }
}

@media(max-width: 576px) {
    .header .upper {
        display: none;
    }

    .medium__btn {
        display: none;
    }

    .header .medium__block .logo img {
        max-width: 200px;
        height: 28px;
    }

    .header__burger-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .header .bottom {
        padding: unset;
    }

    .header .medium {
        background-color: var(--white);
        padding: 21px 0;
    }

    .menu {
        top: 16px;
    }

    .hero__swiper {
        min-height: unset;
    }

    .hero__flex {
        gap: 30px;
        padding-bottom: 35px;
    }

    .hero__block h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 4px;
    }

    .hero__block span {
        font-size: 21px;
        line-height: 29.4px;
        margin-bottom: 24px;
    }

    .hero__block ul {
        gap: 8px;
    }

    .hero__block ul li {
        align-items: baseline;
        gap: 10px;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;

    }

    .hero__form {
        max-width: unset;
        background-color: var(-white);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 4px;
    }

    .hero__form h2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 14px;
        text-transform: unset;
    }

    .button {
        padding: 12px 0;
        font-size: 14px;
        line-height: 21px;
    }

    .hero__btn {
        margin-bottom: 10px;
    }

    .hero .swiper__btns {
        display: none;
    }

    .hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .hero .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        max-width: 78px;
    }

    .hero .swiper-horizontal>.swiper-pagination-bullets,
    .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
    .hero .swiper-pagination-custom,
    .hero__pagination {
        max-width: 258px;
    }

    .header .menu__list {
        gap: 24px;
    }

    .header .menu__list a {
        font-size: 19px;
        line-height: 28.5px;

    }

    .medium__contacts a {
        color: var(--green) !important;
        margin-bottom: 20px;
    }

    .header .medium__socials a {
        color: var(--black) !important;
        margin-bottom: unset;
        font-size: 21px;
        font-weight: 400;
        line-height: 29.4px;
    }

    .menu .medium__contacts {
        margin: 50px 0;
    }

    .hidden-576 {
        display: block;
    }

    .header .upper__geo {
        color: var(--black);
        margin: 26px auto 0;
    }

    .fixed-block {
        background-color: var(--grey);
        position: fixed;
        bottom: 0;
        padding: 17.5px 12px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        z-index: 10;
        transition: bottom .25s ease;

        button {
            max-width: 154px;
        }
    }

    .fixed__flex {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .fixed__flex a {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #000;
    }

    .fixed__icons {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    h2 {
        font-size: 26px;
        line-height: 33.8px;
    }

    .catalog__flex span {
        font-size: 14px;
        line-height: 21px;


    }

    :root {
        --ver-gap-md: 24px;
        --hor-gap-xs: 6px;
        --ver-gap-xl: 50px;
        --ver-gap-s: 10px;
        --hor-gap-md: 24px;
    }

    .catalog__tab-buttons {
        flex-direction: column;
    }

    .tab-btn {
        max-width: unset;
        padding: 10px 0;
        font-size: 14px;
        line-height: 21px;
        text-align: center;

    }

    .arrow-btn {
        width: 36px;
        height: 36px;
    }

    .arrow-btn.white::after {
        top: -6px;
        left: -6px;
        width: 48px;
        height: 48px;
    }

    .arrow-btn.green::after {
        top: -6px;
        left: -6px;
        width: 48px;
        height: 48px;
    }

    .catalog__arrow-btn {
        top: 22px;
        right: 22px;
    }

    .catalog__card {
        padding: 8px;
        border-radius: 20px;
        max-height: 257px;
        max-width: 293px;
        flex-shrink: 0;
    }

    .catalog__img {
        min-height: 198px;
    }

    h3 {
        font-size: 21px;
        line-height: 110%;
    }

    .corp__block {
        gap: 24px;
        padding: 0 12px 12px;
    }

    .corp__banner {
        padding: 8px;
        border-radius: 20px;
    }

    .corp__flex {
        gap: 28px;
    }

    .corp__flex h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: unset;
    }

    .corp__flex p {
        font-size: 14px;
        line-height: 21px;
        text-align: left;
        margin-bottom: unset;
    }

    .corp__tags span {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 18px;
    }

    .corp__tags span:nth-child(n + 6) {
        display: none;
    }

    .show-btn {
        font-family: var(--main-font);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        text-decoration: underline;
    }

    .corp__btn {
        max-width: unset;
    }

    .sales__card {
        border-radius: 20px;
        padding: 20px;
        min-height: 252px;
    }

    .sales__card span {
        font-size: 12px;
        line-height: 18px;
        max-width: 188px;
    }

    .sales__card p {
        font-size: 16px;
        line-height: 24px;
    }

    .sales__arrow-btn {
        bottom: 16px;
        left: 16px;
    }

    .benefits__card {
        border-radius: 20px;
        min-height: 206px;
    }

    .benefits__card h2 {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        text-transform: unset;

    }

    .benefits__img {
        max-height: 206px;
    }

    .benefits__btn img {
        width: 46px;
        height: 46px;
    }

    .benefits__card-2 {
        padding: 20px;
        border-radius: 20px;
        min-height: 344px;
        background-color: var(--grey);
    }

    .benefits__card-2 h3 {
        font-size: 26px;
        line-height: 33.8px;
        text-align: left;
    }

    .benefits__card-2 span {
        font-size: 14px;
        line-height: 21px;
    }

    .benefits__card-2 p {
        font-size: 12px;
        line-height: 18px;
    }

    .benefits__btn-2 {
        max-width: 170px;
    }

    .benefits__item {
        max-width: 244px;
        min-height: 166px;
        border-radius: 20px;
        padding: 16px;
    }

    .benefits__item strong {
        font-size: 12px;
        line-height: 18px;
        max-width: 41px;
        height: 28px;
    }

    .benefits__item span {
        font-size: 12px;
        line-height: 18px;
    }

    .benefits__item p {
        font-size: 12px;
        line-height: 18px;
    }

    .objects__card {
        max-width: 293px;
    }

    .objects .object__img {
        max-height: 198px;
        border-radius: 12px;
    }

    .objects .object__img-card span {
        font-size: 12px;
        line-height: 18px;
        top: 12px;
        left: 12px;
        padding: 5px 14px;
    }

    .objects__block h3 {
        font-size: 21px;
        line-height: 27.3px;
    }

    .objects__block p {
        font-size: 14px;
        line-height: 21px;
    }

    .objects__card {
        padding: 8px 8px 14px;
    }

    .objects__grid {
        gap: 10px;
    }

    .objects__btn {
        max-width: 214px;
        margin: 0 auto 0 0;
    }

    .install_flex span {
        font-size: 14px;
        line-height: 21px;
    }

    .install__card {
        border-radius: 20px;
        padding: 8px;
    }

    .install__flex-2 {
        gap: 22px;
    }

    .install__banner {
        padding: 16px;
        border-radius: 12px;
        align-items: center;
    }

    .install .banner__block .banner__icon {
        width: 52px;
        height: 52px;
    }

    .install__block {
        gap: 8px;
    }

    .install__banner h3 {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        max-width: 160px;

    }

    .install .banner__block {
        gap: 12px;
    }

    .install__banner .arrow-btn.green {
        background-color: var(--black);

    }

    .install__banner .arrow-btn.green::after {
        border-color: var(--black);
    }

    .install__banner:nth-child(2) .arrow-btn.black {
        display: flex;
        background-color: var(--black);
    }

    .install__banner:nth-child(2) .arrow-btn.black::after {
        content: "";
        position: absolute;
        border: 1px solid var(--black);
        top: -6px;
        left: -6px;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        transition: border-color .25s ease;
    }

    .install__banner:nth-child(1) {
        background-size: 104px 93px;
    }

    .news__btns {
        display: none;
    }

    .news__tab-btn {
        max-width: calc(50% - 3px);
    }

    .news__tab-buttons {
        gap: 6px;
    }

    .news__card {
        max-width: 277px;
        min-height: 299px;

        border-radius: 20px;
        padding: 8px;
    }

    .news__swiper .swiper-slide {
        max-width: 293px;
    }

    .news__card span {
        top: 8px;
        left: 8px;
        font-size: 12px;
        line-height: 18px;
        max-width: 76px;
    }

    .news__block p {
        display: none;
    }

    .news__block {
        min-height: unset;
        padding: 10px 14px;
        border-radius: 10px;
    }

    .news__block h3 {
        font-size: 21px;
        line-height: 27.3px;
        text-align: left;

    }

    .news__card:nth-child(1) {
        background-image: url(../img/news-1-576.webp);
        background-size: contain;
    }

    .news__swiper {
        margin-bottom: 24px;
    }

    .news__btn {
        margin: 0 auto 0 0;
        max-width: 195px;
    }

    .form__block {
        flex-direction: column;
    }

    .consult .form__block input {
        max-width: unset;
    }

    .consult__block {
        text-align: left;
    }

    .consult__block h2 {
        margin-bottom: unset;
    }

    .consult__block span {
        font-size: 21px;
        line-height: 29.4px;
        text-align: left;
        color: var(--blackGray);
    }

    .consult__flex {
        gap: 24px;
    }

    .consult .form__block input {
        height: 44px;
        padding-left: 22px;
    }

    .consult .form__block input::placeholder {
        font-size: 12px;
        line-height: 18px;
    }

    .consult__form span {
        font-size: 12px;
        line-height: 18px;
    }

    .contacts__card {
        border-radius: 12px;
    }

    .contacts__card h2 {
        font-size: 26px;
        line-height: 33.8px;
    }

    .contacts__card span {
        font-size: 21px;
        line-height: 29.4px;
        margin-bottom: 14px;
    }

    .contacts__card li span {
        font-size: 14px;
        line-height: 21px;
    }

    .contacts__btn {
        margin-top: 26px;
    }

    .footer {
        padding-top: 70px;
    }

    .footer__list {
        flex-direction: column;
        gap: 30px;
    }

    .footer__list ul {
        gap: 30px;
        margin-bottom: unset;
    }

    .footer__list li:not(:first-child) ul {
        gap: 10px;
    }

    .footer__list ul a {
        font-size: 16px;
        line-height: 24px;
    }

    .footer__list ul .small-links a {
        font-size: 12px;
        line-height: 18px;
    }

    .footer__list span {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    .footer__flex {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer__adress a {
        text-align: left;
        font-size: 19px;
        line-height: 28.5px;
    }

    .footer__block-2 {
        padding: 20px 0 100px;
    }

    .footer__block-2 p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .footer__block-2 a {
        font-size: 12px;
        line-height: 18px;
    }

    .modal-3 {
        border-radius: 20px;
        padding: 20px;
        max-width: 328px;
    }

    .modal-3 h2 {
        font-size: 28px;
        line-height: 36.4px;
        max-width: 230px;
    }

    .modal-3 span {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 24px;
    }

    input {
        height: 44px;
        padding-left: 22px;
    }

    .form-btn-2 {
        background-color: var(--green);
    }

    .modal-3 strong {
        font-size: 12px;
        line-height: 18px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .modal__success-2 p {
        margin: 0 auto;
    }

    .modal__success-2 {
        margin: 0 auto;
    }

    .modal-container {
        height: 197px;
        width: 90%;
        margin: 0 auto;
    }

    .menu {
        box-shadow: 0px 0px 2px 2px var(--grey);
    }

    .news__swiper .swiper-slide {
        max-width: 293px;
        width: 100%;
    }

    .news__card {
        max-width: 277px;
        background-size: cover !important;
        width: 100%;
    }

    .news__arrow::after {
        top: -7px !important;
        left: -7px !important;
    }

    .news__block {
        min-height: 101px;
    }

    .footer .footer__btn {
        max-width: unset;
    }

    .footer__info {
        max-width: unset;
    }

    .contacts iframe {
        border-radius: 20px;
    }

    .map {
        display: none;
    }

    .hero__slide {
        padding: 30px 0;
        min-height: unset;
    }

    .input {
        height: 44px;
        padding-left: 22px;
    }

    .input::placeholder {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .header__icon-576 {
        display: block;
        width: 20px;
        height: 20px;
    }

    .header__icon-hide {
        display: none;
    }

    .header.open .menu-bg {
        position: fixed;
        top: 74px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--grey);
    }

    .bread-crumbs {
        margin-top: 16px;
        margin-bottom: 20px;
    }

    .bread-crumbs .bread-crumbs__flex a {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-2-hero {
        padding-bottom: 20px;
    }

    .page-2-hero .page-2-hero__block {
        padding: 8px;
        min-height: 827px;
        background-image: url(../img/page-2/hero-576.webp);
    }
    .page-3-hero .page-2-hero__block {
        background-image: url(../img/page-3/page-3-hero-576.webp);
    }
    .page-2-hero .page-2-hero__block-2 {
        border-radius: 12px;
        padding: 20px;
        min-height: unset;
    }

    .page-2-hero .page-2-hero__block-2 h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    .page-2-hero .page-2-hero__block-2 span {
        font-size: 21px;
        font-weight: 400;
        line-height: 29.4px;
        text-align: left;
        margin-bottom: 30px;
    }

    .page-2-hero .page-2-hero__block-2 ul {
        gap: 8px;
        margin-bottom: 30px;
    }

    .page-2-hero .page-2-hero__block-2 ul li {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        gap: 10px;

    }

    .page-2-hero .page-2-hero__block-2 ul li::before {
        width: 11px;
        height: 10px;
        background-size: contain;

    }

    .page-2-hero .page-2-hero__bottom-block {
        margin-top: unset;
    }

    .page-2-hero .page-2-hero__block-2 span {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        margin-bottom: 18px;
    }

    .page-2-hero .page-2-hero__buttons {
        flex-direction: column;
        gap: 10px;
    }

    .page-2-hero .page-2-hero__button {
        max-width: unset;
    }

    .page-2-catalog .page-2-catalog__btns {
        display: none;
    }

    .page-2-catalog .page-2-catalog__swiper .swiper-slide {
        max-width: 293px;
    }

    .page-2-catalog .page-2-catalog__card {
        padding: 8px;
        min-height: 415px;
    }

    .page-2-catalog .page-2-catalog__text-block {
        padding: 12px 8px 8px 8px;
    }

    .page-2-catalog .page-2-catalog__text-block h3 {
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 600;
        line-height: 27.3px;
        text-align: left;
        margin-bottom: 8px;
    }

    .page-2-catalog .page-2-catalog__text-block p {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-2-catalog .page-2-catalog__flex-2 {
        padding: 8px;
    }

    .page-2-catalog .page-2-catalog__button {
        max-width: 134px;
    }

    .page-2-catalog .page-2-catalog__block span:first-child {
        font-size: 19px;
        font-weight: 400;
        line-height: 28.5px;
        text-align: right;
    }

    .page-2-catalog .page-2-catalog__block span:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: right;

    }

    .consult__block h2 {
        text-align: left;
    }

    .page-2__consult .consult__flex {
        align-items: unset;
    }

    .page-2-products .page-2-products__card {
        padding: 8px;
        max-width: 293px;
        border-radius: 20px;
    }

    .page-2-products .page-2-products__card h3 {
        padding: 12px 8px 12px 8px;
    }

    .page-2-products .page-2-products__arrow-btn {
        top: 22px;
        right: 22px;
    }

    .page-2-products .page-2-products__flex {
        gap: 10px;
    }

    .page-2__about .page-2__about__grid {
        gap: 10px;
    }

    .page-2__about .page-2__about__block {
        padding: 20px;
        border-radius: 20px;
    }

    .page-2__about .page-2__about__grid-2 {
        width: max-content;
    }

    .page-2__about .page-2__about__block-2 {
        max-width: 293px;
        padding: 16px;
        border-radius: 20px;
        min-height: 182px;
    }

    .page-2__about .page-2__about__grid-2 {
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
        gap: 10px;

    }

    .page-2__about .page-2__about__block-3 {
        max-width: 293px;
        padding: 16px;
        border-radius: 20px;
    }

    .page-2__about .page-2__about__block-4 {
        max-width: 293px;
        padding: 16px;
        border-radius: 20px;
    }

    .page-2__about .page-2__about__grid .page-2__about__block-2 img {
        max-width: 127px;
    }

    .page-2__about .page-2__about__block-2 p {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-2__about .page-2__about__block-3 p {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-2__about .page-2__about__block-4 p {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-2-metall .page-2-metall__card-hidden {
        display: none;
    }

    .page-2-metall .page-2-metal__grid {
        display: block;
    }

    .page-2-metall .page-2-metall__btns {
        display: none;
    }

    .page-2-metall .page-2-metall__card {
        min-height: 128px;
        padding: 16px;
        border-radius: 20px;
        max-width: 293px;
    }

    .page-2-metall .page-2-metal__text-block span {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;

    }

    .page-2-metall .swiper-slide {
        max-width: 293px;
    }

    .page-2-banner .page-2-banner__block {
        padding: 20px 20px 0;
        border-radius: 20px;
    }

    .page-2-banner h2 {
        margin-bottom: 20px;
    }

    .page-2-banner .page-2-banner__text {
        padding: 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        margin-bottom: 8px;
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        margin-left: 20px;
    }

    .page-2-banner .page-2-banner__text::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: var(--orange);
        border-radius: 100px;
        position: absolute;
        left: -22px;
        top: 50%;
        transform: translateY(-50%);
    }

    .page-2-banner img {
        margin-top: 20px;
    }

    .page-2-consult-2 .consult__block span {
        color: var(--black);
    }

    .page-2-delivery .page-2-delivery__block {
        padding: 8px;
        border-radius: 20px;
        gap: 16px;
    }

    .page-2-delivery .page-2-delivery__texts {
        padding: 12px;
        min-height: unset;
    }

    .page-2-delivery .page-2-delivery__texts h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        margin-bottom: 24px;
    }

    .page-2-delivery .page-2-delivery__texts ul {
        gap: 8px;
        margin-bottom: 30px;
    }

    .page-2-delivery .page-2-delivery__texts ul li {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        gap: 10px;
    }

    .page-2-delivery .page-2-delivery__texts ul li::before {
        width: 11px;
        height: 10px;
        background-size: contain;
    }

    .page-2-delivery .page-2-delivery__btns {
        flex-direction: column;
    }

    .page-2-delivery .page-2-delivery__btn-2 {
        font-size: 14px;
    }

    .page-2-works .page-2-works__block {
        border-radius: 20px;
        padding: 20px;
    }

    .page-2-works .page-2-works__block h2 {
        margin-bottom: 10px;
    }

    .page-2-works .page-2-works__block span {
        font-size: 19px;
        font-weight: 400;
        line-height: 28.5px;
        text-align: left;
        margin-bottom: 20px;
    }

    .page-2-works .page-2-works__block p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        margin-bottom: 20px;

    }

    .page-2-guarantee .page-2-guarantee__card img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .page-2-guarantee .page-2-guarantee__card {
        padding: 16px 20px;
        border-radius: 20px;
        min-height: 218px;
        max-width: 293px;
    }

    .page-2-guarantee .page-2-guarantee__card .page-2-guarantee__text-block {
        padding: unset;
    }

    .page-2-guarantee .page-2-guarantee__card h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-bottom: 8px;
    }

    .page-2-guarantee .page-2-guarantee__card span {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-2-consult-3 .consult__block span {
        color: var(--white);
    }

    .page-2-reviews__btns {
        display: none;
    }

    .page-2-reviews .page-2-reviews__card {
        flex-direction: column;
        padding: 8px;
        border-radius: 20px;
        max-width: 293px;
        min-height: unset;
        gap: 16px;
    }

    .page-2-reviews .page-2-reviews__text-block {
        padding: 8px;
    }

    .page-2-reviews .page-2-reviews__user {
        max-width: 146px;
        width: 100%;
        padding: 6px;
        gap: 10px;
        margin-bottom: 12px;
    }

    .page-2-reviews .page-2-reviews__user-name {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    .page-2-reviews .page-2-reviews__user-date {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }

    .page-2-reviews .page-2-reviews__user img {
        width: 39px;
        height: 39px;
    }

    .page-2-reviews p {
        font-size: 12px;
        line-height: 18px;
    }

    .page-2-reviews .swiper-slide {
        max-width: 293px;
    }

    .page-2-company__btns {
        display: none;
    }

    .page-2-company .page-2-company__card {
        padding: 8px;
        border-radius: 20px;
        max-width: 277px;
    }

    .page-2-company .swiper-slide {
        max-width: 293px;
    }

    .page-2-details .page-2-details__block {
        padding: 20px;
        border-radius: 20px;
        min-height: 204px;
    }

    .page-2-details .page-2-details__block h2 {
        margin-bottom: 20px;
    }

    .page-2-details .page-2-details__block span {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    .page-2-details .page-2-details__block-2 {
        border-radius: 20px;
        padding: 20px;
        min-height: 448px;
    }

    .page-2-details .page-2-details__block-2 img {
        max-width: 250px;
        margin-bottom: 30px;
    }

    .page-2-details .page-2-details__block-2 h3 {
        font-size: 21px;
        font-weight: 400;
        line-height: 29.4px;
        text-align: left;
        margin-bottom: 16px;
    }

    .page-2-details .page-2-details__block-2 p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;

    }

    .page-2-details .open-text {
        max-width: unset;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        font-size: 14px;
    }

    .page-2-details .open-text img {
        margin-bottom: unset;
        width: 21px;
        height: 21px;
    }

    .page-2-questions .page-2-questions__block {
        border-radius: 20px;
    }

    .page-2-questions .page-2-questions__text-block {
        padding: unset;
    }

    .page-2-questions .page-2-questions__text-block h2 {
        margin-bottom: 10px;
    }

    .page-2-questions .page-2-questions__text-block span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-bottom: 20px;
    }

    .page-2-questions .page-2-questions__flex-2 {
        flex-direction: column;
    }

    .page-2-questions .page-2-questions__text-block span {
        margin-bottom: 32px;
    }

    .page-2-questions .page-2-questions__block-2 {
        min-height: 198px;
        background-image: url(../img/page-2/question-1-576.webp);
        padding: 10px;
        border-radius: 12px;
    }

    .page-2-questions .page-2-questions__block-2 a {
        font-size: 21px;
        font-weight: 600;
        line-height: 27.3px;
        text-align: left;

    }

    .page-2-questions .page-2-questions__block-2 a img {
        width: 24px;
        height: 24px;
    }

    .page-2-metall__icon {
        display: none;
    }

    .page-2-metall .page-2-metall__icon-576 {
        display: block;
    }

    .page-3-solution .page-3-solution__text-block span {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-bottom: 16px;
    }

    .page-3-coating .page-3-coating__card {
        max-width: 293px;
        padding: 8px;
        border-radius: 20px;
    }

    .page-3-coating .page-3-coating__flex {
        gap: 8px;
    }

    .page-3-coating .page-3-coating__text-block {
        min-height: 248px;
    }

    .page-3-coating .page-3-coating__text-block h3 {
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 600;
        line-height: 27.3px;
        text-align: left;
    }

    .page-3-coating .page-3-coating__flex-2 li {
        width: 35px;
        height: 35px;
    }

    .page-3-coating .page-3-coating__flex-2 {
        gap: 10px;
    }

    .page-3-coating .page-3-coating__text-block a {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;

    }

    .page-3-ready .page-2-ready__card {
        padding: 8px;
        border-radius: 20px;
    }

    .page-3-ready .page-2-ready__card span {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        top: 12px;
        left: 12px;
    }

    .page-3__benefits .benefits__item {
        max-width: 293px;
    }

    .page-3-about .page-2__about__block-2 {
        min-height: 128px;
    }

    .page-2-works img {
        border-radius: 20px;
    }

    .page-2-guarantee .page-2-guarantee__card .page-2-guarantee__text-block {
        min-height: 92px;
    }

    .page-2-guarantee .page-2-guarantee__card .page-2-guarantee__text-block span {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }

    .page-3-installation .page-3-installation__card {
        max-width: 293px;
        border-radius: 20px;
        padding: 8px;
    }

    .page-3-installation .page-3-installation__text-block {
        padding: 8px;

        h3 {
            font-family: Montserrat;
            font-size: 21px;
            font-weight: 600;
            line-height: 27.3px;
            text-align: left;
            margin-bottom: 8px;
        }

        span {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
            margin-bottom: 24px;
        }
    }

    .page-3-banner .page-2-banner__text::before {
        background-color: var(--blue);
    }

    .page-3-banner .page-2-banner__text {
        width: unset;
    }

    .page-3-consult-3 .consult__block span {
        color: var(--white);
    }

    .page-3-details .page-2-details__block {
        min-height: 170px;
    }

    .page-2-questions h2 {
        font-size: 24px;
    }
    .arrow-btn.red::after {
        width: 48px;
        height: 48px;
    }
    .page-4-spices .arrow-btn.red::after {
        top: -7px;
        left: -7px;
    }
    .card {
        border-radius: 20px;
        padding: 8px;
    }
    .page-4-spices .page-4-spices__text-block {
        padding: 8px;
    }
    .page-4-spices .page-4-spices__text-block h3 {
        font-size: 21px;
        line-height: 130%;
    }
    .service .service__text-block {
        padding: 8px;
    }
    .service .service__text-block h3 {
        font-family: Montserrat;
        font-size: 19px;
        font-weight: 400;
        line-height: 28.5px;
        text-align: left;

    }
    .service .service__card:nth-child(1) h3 {
        margin-bottom: 8px;
    }
    .service .service__card:nth-child(2) .service__text-block {
        padding: 12px;
    }
    .service .service__card:nth-child(3) .service__text-block {
        padding: 12px;
    }
    .page-4-hero .page-2-hero__block {
        background-image: url(../img/page-4/page-4-hero-576.webp);
    }
    .page-5-consult-2 h2 {
        margin-bottom: 10px;
    }
    .page-5-consult-2 .consult__block span {
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

    }
    .blinds span {
        font-family: Montserrat;
        font-size: 19px;
        font-weight: 400;
        line-height: 28.5px;
        text-align: left;
    }
    .blinds .blinds__block {
        min-height: 98px;
    }
    .blinds .blinds__blocks {
        gap: 10px;
    }
    .blinds .blinds__block {
        padding: 20px;
        border-radius: 20px;
    }
    .blinds .blinds__block:nth-child(1) {
        background-size: contain;
    }
    .blinds .blinds__text-block {
        padding: 8px 8px 16px;
        margin-bottom: unset;
    }
    .blinds img {
        border-radius: 20px;
    }
    .aesthetics .white-bg {
        min-height: unset;
        background-size: contain;
    }
    .aesthetics .aesthetics__block {
        padding: 20px;
        border-radius: 20px;
    }
    .aesthetics .aesthetics__blocks {
        gap: 10px;
    }
    .aesthetics span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    .aesthetics .black-bg {
        min-height: 190px;
        img {
            max-width: 200px;
        }
    }
    .page-5-works .page-2-works__block {
        min-height: 353px;
    }
    .lamellas img {
        border-radius: 20px;
    }
    .lamellas .lamellas__flex-2 .card {
        max-width: 293px;
    }
    .lamellas .lamellas__text-block {
        padding: 16px 8px 16px;
    }
    .lamellas .lamellas__text-block h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-bottom: 16px;
    }
    .lamellas .lamellas__flex span {
        line-height: 21px;
        font-size: 14px;
    }
    .page-5-benefits .benefits__item {
        max-width: 293px;
    }
    .page-5-about .page-2__about__grid-2 {
        min-height: 170px;
    }
    .page-5-consult .consult__block span {
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    .page-5-consult .consult__block h2 {
        margin-bottom: 10px;
    }
    .page-2-guarantee .page-2-guarantee__card .page-2-guarantee__text-block {
        justify-content: unset;
    }
    .page-6-catalog__flex {
        width: max-content;
    }
    .page-6-catalog .page-2-catalog__card  {
        max-width: 293px;
    }
    .page-6-consult-2 .consult__block span {
        color: var(--white);
    }
    .page-6-about__flex {
        width: max-content;
    }
    .page-6-about .page-2__about__block-2 {
        min-height: 151px;
    }
    .page-6-consult .consult__block span {
        color: var(--black);
    }
    .page-2-questions .page-2-questions__form span {
        font-size: 12px;
        line-height: 18px;
    }
    
}