@font-face {
  font-family: "GothamPro";
  font-weight: 400;
  src: url("../fonts/GothamPro.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GothamPro";
  font-weight: 500;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GothamPro";
  font-weight: 700;
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "GothamPro";
  font-weight: 400;
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1700px;
  padding: 0 100px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.hero .container {
  width: 100%;
  max-width: 1685px;
}
.hero .hero__img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 50vw;
}
.hero .hero__logo {
  margin-bottom: 80px;
  max-width: 173px;
  width: 100%;
  height: 255px;
}
.hero h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 48px;
  font-size: 36px;
  max-width: 647px;
}
.hero span {
  display: block;
  font-size: 36px;
  color: #FFFFFF;
  max-width: 622px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 45px;
}
.flex h2 {
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.flex img {
  max-width: 105px;
  width: 100%;
  aspect-ratio: 1/1;
}

.structure {
  background-color: #467de1;
  padding: 70px 0 180px;
  color: #FFFFFF;
  position: relative;
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.structure .structure__flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 60px;
}
.structure .structure__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 50%;
}
.structure .structure__block p {
  font-size: 20px;
  line-height: 24px;
}
.structure .structure__block img {
  max-width: 812px;
  width: 100%;
  max-height: 467px;
  height: 100%;
}
.structure .structure__block .relative {
  position: relative;
}
.structure .structure__block span {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 15px;
}
.structure .structure__block strong {
  font-weight: 700;
  text-transform: uppercase;
}
.structure .structure__btn {
  display: block;
  background-color: #003664;
  padding: 12px 36px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 25px;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  transition: background-color 0.25s ease;
}
.structure .structure__btn img {
  width: 42px;
  height: 34px;
}
.structure .structure__btn:hover {
  background-color: #0363b6;
}

.members {
  background-color: #fff;
  padding: 109px 0 90px;
}
.members .members__flex {
  color: #003664;
}
.members .members__flex-2 {
  display: flex;
  flex-direction: column;
}
.members .members__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 24px 0;
  border-top: 2px solid #467de1;
}
.members .members__block:last-child {
  border-bottom: 2px solid #467de1;
}
.members .members__card {
  display: flex;
  gap: 50px;
  max-width: 50%;
  width: 100%;
}
.members .members__card img {
  max-width: 200px;
  height: 200px;
  width: 100%;
  aspect-ratio: 1/1;
}
.members .members__texts h3 {
  font-size: 20px;
  line-height: 24px;
  color: #467de1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.members .members__texts span {
  font-size: 20px;
  line-height: 24px;
  color: #003664;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}
.members .members__texts p {
  font-size: 20px;
  line-height: 24px;
  color: #003664;
}

.docs {
  background-color: #467de1;
  padding: 50px 0 200px;
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  color: #FFFFFF;
}
.docs .docs__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 26px;
}
.docs .docs__grid a {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 20px;
  line-height: 26px;
  transition: color 0.25s ease;
}
.docs .docs__grid a img {
  width: 40px;
  height: 40px;
}
.docs .docs__grid a:hover {
  color: #003664;
}

.footer {
  background-color: #003664;
  padding: 84px 0 68px;
}
.footer .footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer__block {
  max-width: 350px;
}
.footer .footer__block h2 {
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.footer .footer__block h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer .footer__block a {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 50px;
  transition: color 0.25s ease;
}
.footer .footer__block a:hover {
  color: #0363b6;
}
.footer .footer__block .footer__link {
  margin-bottom: unset;
}
.footer .footer__block span {
  color: #FFFFFF;
  font-size: 15px;
}
.footer .footer__block-2 {
  display: flex;
  align-items: center;
  max-width: 540px;
}
.footer .footer__block-2 p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer .footer__block-2 img {
  max-width: 173px;
  width: 100%;
  height: 255px;
}/*# sourceMappingURL=style.css.map */