@font-face {
    font-family: 'GothamPro';
    font-weight: 400;
    src: url('../fonts/GothamPro.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 500;
    src: url('../fonts/GothamPro-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    font-weight: 700;
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'GothamPro';
    font-weight: 400;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1700px;
    padding: 0 100px;
    margin-right: auto;
    margin-left: auto;
}

.hero {
    background-image: url(../img/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    .container {
        width: 100%;
        max-width: 1685px;
    }
    .hero__img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 50vw;
    }
    
.hero__logo {
    margin-bottom: 80px;
    max-width: 173px;
    width: 100%;
    height: 255px;    
}
h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 48px;
    font-size: 36px;
    max-width: 647px;
}
span {
    display: block;
    font-size: 36px;
    color: #FFFFFF;
    max-width: 622px;
}
}

.flex {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 45px;
    h2 {
        font-size: 40px;
        line-height: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }
    img {
        max-width: 105px;
        width: 100%;
        aspect-ratio: 1/1;
    }
}

.structure {
    background-color: #467de1;
    padding: 70px 0 180px;
    color: #FFFFFF;
    position: relative;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    .structure__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 60px;
    }
    .structure__block {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 50%;
        p {
            font-size: 20px;
            line-height: 24px;
        }
        img {
            max-width: 812px;
            width: 100%;
            max-height: 467px;
            height: 100%;
        }
        .relative {
            position: relative;
        }
        span {
            position: absolute;
            bottom: 32px;
            left: 32px;
            font-size: 15px;
        
        }
        strong {
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .structure__btn {
        display: block;
        background-color: #003664;
        padding: 12px 36px;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        color: #fff;
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 25px;
        text-transform: uppercase;
        margin: 0 auto;
        max-width: 420px;
        width: 100%;
        transition: background-color .25s ease;
        img {
            width: 42px;
            height: 34px;
        }

    }
    .structure__btn:hover {
        background-color: #0363b6;
    }
}

.members {
    background-color: #fff;
    padding: 109px 0 90px;
    .members__flex {
        color: #003664;
    }
    .members__flex-2 {
        display: flex;
        flex-direction: column;
    }
    .members__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 24px 0;
        border-top: 2px solid #467de1;
    }
    .members__block:last-child {
        border-bottom: 2px solid #467de1;
    }
    .members__card {
        display: flex;
        gap: 50px;
        max-width: 50%;
        width: 100%;
        img {
            max-width: 200px;
            height: 200px;
            width: 100%;
            aspect-ratio: 1/1;
        }
    }
    .members__texts {
        h3 {
            font-size: 20px;
            line-height: 24px;
            color: #467de1;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 22px;
        }
        span {
            font-size: 20px;
            line-height: 24px;
            color: #003664;
            font-weight: 700;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
            color: #003664; 
        }
    }

}

.docs {
    background-color: #467de1;
    padding: 50px 0 200px;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    color: #FFFFFF;
    .docs__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 26px;
        a {
            display: flex;
            align-items: center;
            gap: 26px;
            font-size: 20px;
            line-height: 26px;
            transition: color .25s ease;

            img {
                width: 40px;
                height: 40px;
            }
        }
        a:hover {
            color: #003664;;
        }
    }
}

.footer {
    background-color: #003664;
    padding: 84px 0 68px;
    .footer__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer__block {
        max-width: 350px;
        h2 {
            font-size: 40px;
            line-height: 36px;
            font-weight: 700;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 50px;
        }
        h3 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        a {
            display: block;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            margin-bottom: 50px;
            transition: color .25s ease;
        }
        a:hover {
            color: #0363b6;
        }
        .footer__link {
            margin-bottom: unset;
        }
        span {
            color: #FFFFFF;
            font-size: 15px;
        }

    }
    .footer__block-2 {
        display: flex;
        align-items: center;
        max-width: 540px;
        p {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        img {
            max-width: 173px;
            width: 100%;
            height: 255px; 
        }
    }
}
