@font-face {
  font-family: "SuisseIntl-Regular";
  font-weight: 400;
  src: url("../fonts/suisseintl-regular-webfont.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl-Book";
  font-weight: 500;
  src: url("../fonts/suisseintl-book-webfont.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "SuisseIntl-Regular";
  font-weight: 400;
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  padding: 0 24px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.title {
  font-family: "SuisseIntl-Book";
  font-weight: 500;
  font-size: 54px;
  line-height: 88%;
  letter-spacing: -2px;
}

.text-20 {
  display: block;
  font-family: "SuisseIntl-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.32px;
}

.text-36 {
  display: block;
  font-family: "SuisseIntl-Regular";
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: -0.45px;
}

.hover-color-orange {
  transition: color 0.3s ease;
}

.hover-color-orange:hover {
  color: #ee7300;
}

.header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  transition: transform 0.3s ease;
}
.header__block {
  display: flex;
  align-items: center;
  gap: 4.3rem;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__link {
  font-size: 20px;
}
.header__search {
  height: 32px;
}
.header__burger-btn {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 0px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn:hover span {
  background-color: #ee7300;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-5px);
}
.header__burger-btn span:nth-child(2) {
  transform: translateY(5px);
}
.header.open .header__burger-btn span {
  background-color: #000;
}
.header.open .header__burger-btn:hover span {
  background-color: #ee7300;
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.header.search-open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.search-open .header__burger-btn span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.header .menu__list {
  display: flex;
}
.header .menu__link {
  font-size: 16px;
}
.header__burger-btn {
  display: block;
}
.header .menu {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 75px 20px 20px 20px;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
}
.header .search {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 75px 20px 20px 20px;
  transition: transform 0.5s;
}
.header.search-open .search {
  transform: translateX(-100%);
}
.header .search__input {
  margin-top: 55px;
  background-color: transparent;
  border: unset;
  height: 97px;
  font-size: 54px;
  line-height: 40px;
}
.header .search__input::-moz-placeholder {
  color: #dddedf;
}
.header .search__input::placeholder {
  color: #dddedf;
}
.header .search-icon {
  width: 32px;
  height: 32px;
  transition: color 0.3s ease;
}
.header .search-icon:hover {
  color: #ee7300;
}
.header .menu__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header .menu__link {
  color: #000;
  font-size: 36px;
  text-align: left;
}
.header.open .menu {
  transform: translateX(-100%);
}
.header .logo {
  z-index: 10;
}

.logo {
  width: 40px;
  height: 40px;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  70% {
    transform: rotate(-360deg) translate(2px, 2px);
  }
  100% {
    transform: rotate(-360deg) translate(0px, 0px);
  }
}
.logo {
  display: block;
}

.center {
  position: absolute;
  top: 2px;
  left: 2px;
}

.logo:hover .center {
  transform-origin: 50% 50%;
  animation: rotate 0.7s linear forwards;
}

.logo-icon-1 {
  width: 44px;
  height: 44px;
}

.logo-icon-2 {
  width: 29px;
  height: 29px;
}

.contacts {
  margin-top: 140px;
  margin-bottom: 74px;
}
.contacts__flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contacts__title {
  margin-bottom: 84px;
}
.contacts__text {
  display: block;
  margin-bottom: 16px;
}
.contacts__links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contacts__right {
  max-width: 630px;
  width: 100%;
}
.contacts__flexbox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contacts .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts .left .block {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.contacts .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts .right .block {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-24 {
  font-size: 24px;
  line-height: 133%;
}

.adress {
  margin-bottom: 120px;
}
.adress__links {
  display: flex;
  align-items: center;
}
.adress__img {
  margin-bottom: 44px;
}
.adress__text {
  display: block;
  margin-bottom: 73px;
}
.adress__text a {
  text-decoration: underline;
}
.adress__links-2 {
  display: flex;
  align-items: center;
  gap: 76px;
}

.mb-12 {
  margin-bottom: 12px;
}

.requisites__title {
  margin-bottom: 44px;
}
.requisites__link {
  display: block;
  text-decoration: underline;
  margin-bottom: 74px;
}
.requisites__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.requisites .left {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.requisites .right {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.text-36 {
  font-family: "SuisseIntl-Book";
  font-size: 36px;
  line-height: 110%;
  font-weight: 500;
}

.footer {
  padding-top: 8rem;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 92px;
}
.footer__title {
  max-width: 460px;
}
.footer__title a {
  text-decoration: underline;
}
.footer__flex-2 {
  display: flex;
  align-items: center;
}
.footer__link {
  display: block;
  max-width: 400px;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 110px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.footer__text-2 {
  color: #808080;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}/*# sourceMappingURL=style.css.map */