@font-face {
  font-family: "Onest";
  font-weight: 200;
  src: url("../fonts/Onest-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-weight: 300;
  src: url("../fonts/Onest-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-weight: 400;
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-weight: 500;
  src: url("../fonts/Onest-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-weight: 600;
  src: url("../fonts/Onest-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Onest";
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1500px;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
}

.section_padding {
  padding: 144px 0;
}

.brown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Onest;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.4px;
  color: #FFFFFF;
  background-color: #A18868;
  padding: 24px;
  transition: background-color 0.25s ease;
  width: 100%;
}

.btn__icon {
  fill: #fff;
  width: 11px;
  height: 11px;
}

.brown-btn:hover {
  background-color: #d8a96c;
}

h1 {
  font-family: Onest;
  font-size: 52px;
  font-weight: 300;
  line-height: 64px;
  color: #FFFFFF;
}

h2 {
  font-family: Onest;
  font-size: 48px;
  font-weight: 300;
  line-height: 64px;
  color: #000;
}

p {
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 20px;
  height: 16px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  background-color: #1E1E1E;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  border-radius: 50px;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-7px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(7px);
  max-width: 70%;
}

.header.open .header__burger-btn span {
  background-color: #000;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  max-width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
}

.menu__link {
  transition: color 0.25s ease;
}

.menu__link:hover {
  color: #A18868;
}

.header__burger-btn {
  display: block;
}

.menu {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 90px 20px 20px 20px;
  transition: transform 0.5s;
}

.menu__hidden, .menu__hidden-576 {
  display: none !important;
}

.header.open .menu {
  transform: translateX(100%);
}

.header {
  background-color: #fff;
  position: relative;
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__burger {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-right: 45px;
}

.header__burger::before {
  content: "";
  width: 1px;
  height: 94px;
  background-color: #EFEFEF;
}

.header__burger::after {
  content: "";
  width: 1px;
  height: 94px;
  background-color: #EFEFEF;
}

.header__logo {
  display: block;
  padding-right: 20px;
  border-right: 1px solid #EFEFEF;
  margin-right: 24px;
  z-index: 2;
}

.header__logo-icon {
  width: 59px;
  height: 56px;
}

.header__text {
  display: block;
  max-width: 148px;
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4196078431);
}

.header__flexbox {
  display: flex;
  align-items: center;
}

.header__flex-2 {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  width: 100%;
  flex-basis: 919px;
  gap: 10px;
}

.header__flex-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  flex-shrink: 0;
  max-width: 34px;
  max-height: 40px;
  width: 100%;
  padding-right: 18px;
  border-right: 1px solid #EFEFEF;
  margin-right: 25px;
}

.header__info span {
  display: block;
  font-family: Onest;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}
.header__info strong, .header__info a {
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #000000;
}
.header__info a {
  white-space: nowrap;
}

.hero {
  background-image: url(../img/hero-1920.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 728px;
}
.hero__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: auto 0;
  min-height: 728px;
}
.hero h1 {
  max-width: 877px;
}
.hero h1 span {
  color: rgba(255, 255, 255, 0.5019607843);
}
.hero p {
  color: #fff;
}
.hero__btn {
  max-width: 262px;
}
.hero__btn svg {
  fill: #fff;
}

.services h2 {
  margin-bottom: 32px;
}
.services__item {
  padding: 24px 0;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  gap: 40px;
  position: relative;
}
.services__item a {
  position: absolute;
  inset: 0;
}
.services__item:first-child {
  border-top: 1px solid #EFEFEF;
}
.services__img {
  max-width: 424px;
  width: 100%;
  height: 280px;
}
.services__texts {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 10px;
}
.services__texts h3 {
  font-family: Onest;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #000;
  margin-bottom: 32px;
}
.services__texts p {
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 2;
}
.services__texts span {
  width: 43px;
  height: 43px;
  border: 1px solid #EEEEEE;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  transition: background-color 0.25s ease;
}
.services__item:hover span {
  background-color: #A18868;
}
.services__item:hover .services__icon {
  fill: #fff;
}
.services__icon {
  width: 11px;
  height: 11px;
  fill: #A18868;
  transition: fill 0.25s ease;
}

.speciality .container {
  max-width: 2024px;
  padding: 0 24px;
}
.speciality__flex {
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: #F5F7F9;
}
.speciality__block {
  background-image: url(../img/specialty.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 50%;
  width: 100%;
  position: relative;
  min-height: 802px;
}
.speciality__corner {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 313px;
  width: 100%;
  background-color: #A18868;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  min-height: 268px;
}
.speciality__corner .speciality__icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  margin-bottom: auto;
  transform: rotate(90deg);
}
.speciality__corner span {
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #fff;
}
.speciality__corner strong {
  display: block;
  font-family: Onest;
  font-size: 28px;
  font-weight: 200;
  line-height: 100%;
  letter-spacing: -0.025em;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}
.speciality__corner strong span {
  font-family: Onest;
  font-size: 34px;
  font-weight: 200;
  line-height: 100%;
}
.speciality__texts {
  max-width: 600px;
}
.speciality__texts h2 {
  line-height: 56px;
  margin-bottom: 40px;
}
.speciality__texts p {
  color: rgba(0, 0, 0, 0.8);
}
.speciality__texts p:not(:last-child) {
  margin-bottom: 32px;
}
.speciality__texts li {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 24px;
}
.speciality__texts li p {
  color: #000;
  margin-bottom: unset;
}
.speciality__texts li .speciality__icon {
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  fill: #A18868;
}

.benefits {
  padding-bottom: 74px;
}
.benefits h2 {
  margin-bottom: 56px;
}
.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.benefits__block {
  min-height: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border: 1px solid #EFEFEF;
}
.benefits__block span {
  font-family: Onest;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #000;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__block_bg {
  background-image: url(../img/benefits.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}
.benefits__block_bg .benefits__abs {
  position: absolute;
  top: 46px;
  right: 90px;
}
.benefits__block_bg strong {
  display: block;
  font-family: Onest;
  font-size: 48px;
  font-weight: 200;
  line-height: 64px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #A18868;
}
.benefits__block_bg span {
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6980392157);
}

.projects {
  padding: 70px 0;
}
.projects h2 {
  margin-bottom: 56px;
}
.projects__flex {
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
}
.projects__img {
  margin-bottom: 32px;
}
.projects__block {
  position: relative;
}
.projects__link {
  position: absolute;
  inset: 0;
}
.projects__flex-2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.projects__flex-2 h3 {
  font-family: Onest;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #000;
}
.projects__flex-2 span:first-child {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: #707070;
  margin-bottom: 16px;
}
.projects__flex-2 span {
  display: block;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #000000;
}
.projects__btn {
  justify-content: center;
  gap: 16px;
}

.numbers {
  padding: 70px 0;
}
.numbers__flex {
  display: flex;
  align-items: center;
}
.numbers__block {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  min-height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-left: 53px;
  width: 100%;
}
.numbers__block h3 {
  font-family: Onest;
  font-size: 60px;
  font-weight: 200;
  line-height: 64px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #000000;
}
.numbers__block span {
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6980392157);
}
.numbers__block:nth-child(2) {
  max-width: 328px;
  position: relative;
  padding-left: unset;
  align-items: center;
}
.numbers__block:hover:nth-child(2) .numbers__icon {
  transform: translate(10px, -10px);
}
.numbers__block:nth-child(3) {
  max-width: 328px;
}
.numbers__block:nth-child(4) {
  border-right: 1px solid #EEEEEE;
}
.numbers__img {
  border-radius: 100%;
  max-width: 272px;
  width: 100%;
  height: 272px;
  aspect-ratio: 1/1;
}
.numbers__icon {
  width: 15px;
  height: 15px;
  fill: #A18868;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: transform 0.25s ease;
}
.numbers__link {
  position: absolute;
  inset: 0;
}

.partners {
  padding: 70px 0;
}
.partners__flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.partners__block-1 {
  max-width: 543px;
  position: sticky;
  top: 0px;
  align-self: start;
}
.partners__block-1 h2 {
  margin-bottom: 40px;
}
.partners__block-1 p {
  color: rgba(0, 0, 0, 0.6980392157);
}
.partners__link-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  border: 1px solid #EEEEEE;
  position: relative;
  gap: 10px;
}
.partners__link-block h3 {
  font-family: Onest;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  letter-spacing: -0.025em;
  color: #000;
  margin-bottom: 8px;
}
.partners__link-block span {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  color: #707070;
}
.partners__link-block:hover .partners__icon {
  background-color: #A18868;
}
.partners__icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EEEEEE;
  border-radius: 100%;
  transition: background-color 0.25s ease;
}
.partners__icon svg {
  width: 11px;
  height: 11px;
  fill: #000;
}
.partners__link {
  position: absolute;
  inset: 0;
}
.partners__block-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 700px;
  width: 100%;
}

.callback {
  padding-top: 90px;
}
.callback .container {
  max-width: 2024px;
  padding: 0 24px;
}
.callback__flex {
  display: flex;
  align-items: center;
}
.callback__block {
  border: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50%;
  min-height: 802px;
  padding: 20px;
}
.callback__block h2 {
  line-height: 56px;
  max-width: 558px;
  margin-bottom: 40px;
}
.callback__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 412px;
  width: 100%;
}
.callback__form p {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: #707070;
}
.callback__form p a {
  color: #A18868;
}
.callback__input {
  border: 1px solid #EEEEEE;
  height: 64px;
  background-color: transparent;
  padding-left: 26px;
}
.callback__input::-moz-placeholder {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  color: #707070;
}
.callback__input::placeholder {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  color: #707070;
}
.callback__textarea {
  border: 1px solid #EEEEEE;
  height: 113px;
  resize: none;
  background-color: transparent;
  padding-left: 26px;
  padding-top: 27px;
}
.callback__btn {
  margin-bottom: 8px;
}
.callback__block-2 {
  background-image: url(../img/callback.webp);
  min-height: 802px;
  background-size: cover;
  position: relative;
  width: 50%;
  background-position: center;
}
.callback__corner {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 268px;
  max-width: 313px;
  width: 100%;
  background-color: #A18868;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.callback__corner svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  transform: rotate(90deg);
}
.callback__corner strong {
  font-family: Onest;
  font-size: 48px;
  font-weight: 200;
  line-height: 64px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.callback__corner span {
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #FFFFFF;
}

.contacts {
  position: relative;
}
.contacts .container {
  max-width: 2024px;
  padding: 0 24px;
}
.contacts__map {
  background-color: #F5F7F9;
  min-height: 802px;
  width: 100%;
}
.contacts__block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30%;
  background-color: #fff;
  padding: 40px;
  max-width: 450px;
  width: 100%;
}
.contacts__block h2 {
  margin-bottom: 40px;
}
.contacts__block-2 {
  display: flex;
  align-items: center;
}
.contacts__block-2 {
  margin-bottom: 46px;
}
.contacts__block-2:not(:last-child) {
  margin-bottom: 24px;
}
.contacts__flex {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 46px;
}
.contacts__icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #EEEEEE;
  transition: border-color 0.25s ease;
}
.contacts__icon svg {
  width: 15px;
  height: 15px;
}
.contacts__icon:hover {
  border-color: #A18868;
}

.footer__top {
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__top span {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: right;
  color: #707070;
}
.footer__flex {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 109px;
  border-right: 1px solid #EEEEEE;
  padding-top: 30px;
  padding-bottom: 28px;
  max-width: 360px;
  width: 100%;
}
.footer__flex span {
  display: block;
  max-width: 148px;
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.4196078431);
}
.footer__logo {
  padding-right: 20px;
  border-right: 1px solid #EFEFEF;
}
.footer__logo-icon {
  width: 59px;
  height: 56px;
}
.footer__bottom {
  display: flex;
}
.footer__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 356px;
  padding-bottom: 32px;
  padding-top: 41px;
  padding-right: 52px;
  border-right: 1px solid #EEEEEE;
  flex-shrink: 0;
  max-width: 360px;
  width: 100%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contacts span {
  font-family: Onest;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
.footer__contacts strong {
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
.footer__flex-2 {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__block-2 {
  display: flex;
  flex-direction: column;
  min-height: 356px;
  padding-top: 31px;
  padding-left: 37px;
  width: 100%;
  padding-bottom: 32px;
}
.footer__block-2 nav {
  margin-bottom: 32px;
}
.footer__block-2 nav span {
  display: block;
  font-family: Onest;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}
.footer__block-2 nav a {
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #000000;
  text-decoration: unset;
}
.footer__block-2 nav a:not(:last-child) {
  margin-right: 32px;
}
.footer__block-2 a {
  font-family: Onest;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: #A18868;
  text-decoration: underline;
  transition: color 0.25s ease;
  white-space: nowrap;
}
.footer__block-2 a:hover {
  color: #d8a96c;
}
.footer__policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.footer__btn {
  background-color: #A18868;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
}
.footer__btn svg {
  width: 13.75px;
  height: 13.75px;
  transform: rotate(-45deg);
  fill: #fff;
}
.footer__btn:hover {
  background-color: #e6af69;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

.overlay.active {
  display: block;
}

.modal {
  border: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: unset;
  padding: unset;
  z-index: 10;
}
.modal__body {
  position: relative;
  padding: 16px;
}
.modal__btn {
  position: absolute;
  top: 5px;
  right: -27px;
  font-size: 24px;
  line-height: 100%;
  transform: translate(-100%, -100%);
  color: #fff;
}/*# sourceMappingURL=style.css.map */