@font-face {
    font-family: 'SuisseIntl-Regular';
    font-weight: 400;
    src: url('../fonts/suisseintl-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-Book';
    font-weight: 500;
    src: url('../fonts/suisseintl-book-webfont.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'SuisseIntl-Regular';
    font-weight: 400;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    min-width: 375px; 
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    padding: 0 24px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    position: relative;
    overflow: hidden;  
}


.title {
    font-family: 'SuisseIntl-Book';
    font-weight: 500;
    font-size: 54px;
    line-height: 88%;
    letter-spacing: -2px;
} 
.text-20 {
    display: block;
    font-family: 'SuisseIntl-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.32px;
} 
.text-32 {
    font-family: 'SuisseIntl-Book';
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.3px;
    font-size: 32px;
}
.text-36 {
    display: block;
    font-family: 'SuisseIntl-Regular';
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: -0.45px;
}

.text-68 {
    display: block;
    font-family: 'SuisseIntl-Regular';
    font-weight: 400;
    font-size: 68px;
    line-height: 100%;
    letter-spacing: -2px;
}

.sprite {
    display: none;
}

.hover-color-orange {
    transition: color .3s ease;
    }
    
  
    

.header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    transition: transform .3s ease;
    &__block {
        display: flex;
        align-items: center;
        gap: 4.3rem;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 36px;
    }
    &__icons {
        display: flex;
        align-items: center;
        gap: 24px;

    }
    &__link {
        font-size: 20px;
    }
    &__search {
        height: 32px;
    }
    &__burger-btn {
        display: none;
        position: relative;
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        z-index: 2;
    }
    
    &__burger-btn span {
        position: absolute;
        width: 32px;
        height: 2px;
        background-color: black;
        left: 0px;
        transition: transform .5s, opacity .5s, background-color .5s;
    }
    
    &__burger-btn:hover span {
        background-color: #ee7300;
    }
    
    &__burger-btn span:nth-child(1) {
        transform: translateY(-5px);
    }
    
    &__burger-btn span:nth-child(2) {
        transform: translateY(5px);
    }
    
    &.open &__burger-btn span {
        background-color: #000;
    }
    
    &.open &__burger-btn:hover span {
        background-color: #ee7300;
    }
    
    &.open &__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    
    &.open &__burger-btn span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
    }
    
    &.search-open &__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    
    &.search-open &__burger-btn span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
    }
    .menu__list {
        display: flex;
    }
    
    .menu__link {
        font-size: 16px;
    }
    
        &__burger-btn {
            display: block;
        }
        .menu {
            position: absolute;
            right: -100%;
            top: 0;
            width: 100%;
            background-color: #fff;
            height: 100vh;
            padding: 75px 20px 20px 20px;
            transition: transform .5s;
            display: flex;
            align-items: center;
        }
    
        .search {
            position: absolute;
            right: -100%;
            top: 0;
            width: 100%;
            background-color: #fff;
            height: 100vh;
            padding: 75px 20px 20px 20px;
            transition: transform .5s;
        }
    
        &.search-open .search {
            transform: translateX(-100%);
        }
    
        .search__input {
            margin-top: 55px;
            background-color: transparent;
            border: unset;
            height: 97px;
            font-size: 54px;
            line-height: 40px;   
        }
        .search__input::placeholder {
            color: #dddedf;
        }
        .search-icon {
            width: 32px;
            height: 32px;
            transition: color .3s ease;
        }
        .search-icon:hover {
            color: #ee7300;
        }
        .menu__list {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        .menu__link {
            color: #000;
            font-size: 36px;
            text-align: left;
            
        }
        &.open .menu {
            transform: translateX(-100%);
        }
    
        .logo {
            z-index: 10;
        }
}



.logo {
    width: 40px;
    height: 40px;
    position: relative;
}

.light {
    color: #FFFFFF;
}

.light .header__burger-btn span {
    background-color: #FFFFFF;
}

.light .search-icon {
    fill: #fff;
    color: #fff;
}

.light .logo-icon-1  {
    color: #fff;
    transition: color .5s ease .3s;
}

.light .logo-icon-2 {
  color: #000;
  transition: color .5s ease .3s;
}

.open .logo-icon-2 {
    color: #fff;
}

.open .logo-icon-1 {
    color: #000;
}

.search-open .logo-icon-2 {
    color: #fff;
}

.search-open .logo-icon-1 {
    color: #000;
}

.search-open.light .header__burger-btn span {
    background-color: #000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    
    .video {
        max-width: 1280px;
        width: 100%;
    }

}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    display: none;
    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        transform: rotate(45deg);
       
        .close-icon {
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            color: #dddedf;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    70% {
        transform: rotate(-360deg) translate(2px, 2px);
    }
    100% {
        transform: rotate(-360deg) translate(0px, 0px);
    }
}
.logo {
    display: block;
}
.center {
    position: absolute;
    top: 2px;
    left: 2px;
}

.logo:hover .center {
    transform-origin: 50% 50%;
    animation: rotate 0.7s linear forwards;
}



.logo-icon-1 {
    width: 44px;
    height: 44px;
}
.logo-icon-2 {
    width: 29px;
    height: 29px;
}


    // main 

    .video {
        width: 100%;
    }

    .video__bg {
        position: relative;
        z-index: 2;
    }

    .video__bg::after {
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.39%, #000000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 19.27%, rgba(0, 0, 0, 0) 65.62%, rgba(0, 0, 0, 0.4) 92.71%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 99.97%);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 0.3s ease;
      }
    
      .rotate {
        transform: rotate(180deg);
      }
      
      .content.open {
        grid-template-rows: 1fr;
      }
    
      .acc img {
        transition: transform .3s ease;
      }
      
      .text-wrapper {
        min-height: 0;
      }

    .hero {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 2;

        &__block {
            max-width: 750px;
            width: 100%;
        }

        &__title {
            color: #FFFFFF;
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            line-height: 98%;
            letter-spacing: -4px;
            font-size: 92px;
            margin-bottom: 40px;
        }
        &__text {
            color: #FFFFFF;
            margin-bottom: 70px;
        }
        &__btns {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        &__btn {
            display: flex;
            align-items: center;
            gap: 15px;
            color: #FFFFFF;
        }
    }

    .spacer {
        min-height: 100vh;
        color: #fff;
        position: relative;
        padding-bottom: 146px;
        z-index: 1;
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 1s ease-out;
            object-fit: cover;
        }
        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
        }
        &__title {    
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s ease-out, transform 1s ease-out;
            max-width: 1045px;
            
        }
        &__title.visible {
            opacity: 1;
            transform: translateY(0);
        }

        &__text {
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s ease-out, transform 1s ease-out;
            max-width: 840px;
            position: relative;
            z-index: 2;
        }
        &__text.visible {
            opacity: 1;
            transform: translateY(0);
        }
        &__gradient {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(0deg, rgba(0,0,0,1) 44%, rgba(0,0,0,0) 100%);
            z-index: 0;
        }
    }

    .numbers {
        background-color: #000;
        padding-bottom: 100px;
        position: relative;
        z-index: 2;
        &__title {
            color: #FFFFFF;
            margin-bottom: 50px;
        }
        &__flex {
            max-width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 84px;
        }
        &__block {
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: #FFFFFF;
            opacity: 0;
        transform: translateY(40px); /* начальное смещение для анимации */
        }
        &__block:first-child {
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        &__block:nth-child(2) {
            transition: opacity 0.5s ease 0.3s, transform 0.5s ease 0.3s;
        }
        &__block:nth-child(3) {
            transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
        }
        &__block.visible {
            opacity: 1;
            transform: translateY(0);
        }
        &__text {
            color: #808080;
        }
        &__link {
            display: block;
            background-color: #FFFFFF;
            border-radius: 100%;
            width: 62px;
            height: 62px;
            position: relative;
        }
        &__link span:first-child {
            display: block;
            width: 19px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__link span:nth-child(2) {
            display: block;
            width: 19px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .news { 
        padding: 50px 0;
        background-color: #FFFFFF;
        &__title {
            color: #808080;
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            margin-bottom: 79px;
        }
        &__block {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding-bottom: 26px;
            margin-bottom: 60px;
            border-bottom: 1px solid #000;
        }
        &__block:nth-child(4) {
            border-bottom: unset;
        }

        &__text {
            color: #808080;
        }
        &__subtitle {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            max-width: 890px;
        }
        &__link {
            display: block;
            background-color: #dddedf;
            border-radius: 100%;
            width: 62px;
            height: 62px;
            position: relative;
            margin-bottom: 76px;
        }
        &__link span:first-child {
            display: block;
            width: 19px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__link span:nth-child(2) {
            display: block;
            width: 19px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
        &__acc {
            cursor: pointer;
            color: #808080;
            margin-bottom: 54px;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 350px);
            gap: 24px;
            overflow: auto;
            width: 100%;
        }
        &__card {
            min-height: 370px;
            padding: 22px 17px;
            border: 1px solid #808080;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 100% 100%;
        }
        .text-wrapper {
            overflow: auto;
        }
        &__card-1 {
              background-image: url(../img/news-1.webp);
        }
        .card__text {
            display: block;
            margin-bottom: 16px;
            color: #808080;
            font-size: 15px;
        }
        .card__title {
            font-weight: 700;
            font-size: 17px;
            margin-bottom: 7px;
        }
        .card__btn {
            display: block;
            max-width: max-content;
            padding: 14px 36px;
            border: 1px solid #B2B5BA;
            border-radius: 5px;
            color: #000;
            background-color: #fff;
        }
        &__card-2 {
              background-image: url(../img/news-2.webp);
        }
        &__card-3 {
              background-image: url(../img/news-3.webp);
        }
        .card__text-2 {
            font-size: 15px;
            color: #0e0e0e;
            line-height: 120%;
        }
        &__card-4 {
              background-image: url(../img/news-4.webp);
        }
    }




//contacts
    .contacts {
        margin-top: 180px;
        margin-bottom: 74px;
        &__flex {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        &__title {
            font-size: 68px;
            margin-bottom: 84px;
        }     
        &__text {
            display: block;
            margin-bottom: 16px;
        }
        &__links {
            display: flex;
            align-items: center;
            gap: 24px;
            max-width: 500px;
            width: 100% ;
            justify-content: space-between;
        }
        &__ {
            max-width: 50%;
            width: 100%;
        }
        &__right {
            max-width: 50%;
            width: 100%;
        }
        &__flexbox {
            display: flex;
   
        
            gap: 24px;
        }
        &__left {
            max-width: 50%;
            width: 100%;
        }
        &__right {
            max-width: 50%;
            width: 100%;
        }
        .left {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 50%;
            width: 100%;
            .block {
                max-width: 433px;
                display: flex;
                flex-direction: column;
            }
        }
 
        .right {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 50%;
            width: 100%;
            .block {
                max-width: 300px;
                display: flex;
                flex-direction: column;
            }
        }
    }
   
    .mb-16 {
        margin-bottom: 16px;
    }
    .text-24 {
        font-size: 24px;
        line-height: 133%;
    }

    .adress {
        margin-bottom: 120px;
        &__links {
            display: flex;
            align-items: center;
        }
    
        &__img {
            margin-bottom: 44px;
        }
        &__text {
            display: block;
            margin-bottom: 73px;
        }
        &__text a {
            text-decoration: underline;
        }
        &__links-2 {
            display: flex;
            align-items: center;
            gap: 76px;
        }
    }

    .mb-12 {
        margin-bottom: 12px;
    }

    .requisites {
        &__title {
            margin-bottom: 44px;
        }
        &__link {
            display: block;
            text-decoration: underline;
            margin-bottom: 74px;
        }
        &__flex {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 30px;
        }
        .left {
            display: flex;
            flex-direction: column;
            gap: 44px;
            max-width: 50%;
            width: 100%;
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 44px;
            max-width: 50%;
            width: 100%;
        }
    }

    .text-36 {
        font-size: 36px;
        line-height: 110%;
    }


    .footer {
        padding-top: 8rem;
        padding-bottom: 36px;
        &__flex {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-bottom: 92px;
        }
        &__title {
            font-family: 'SuisseIntl-Regular';
            font-weight: 400;
            max-width: 481px;
        }
        &__title a {
            text-decoration: underline;
        }
        &__flex-2 {
            display: flex;
            align-items: center;
           
        }
        &__link {
            display: block;
            max-width: 400px;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 110px;
        }
        &__nav {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }
        &__text-2 {
            color: #808080;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
        }
    }

    .about {
        background-color: #000000;
        padding-top: 234px;
        padding-bottom: 72px;

        &__title {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            max-width: 1560px;
            font-size: 68px;
            line-height: 100%;
            letter-spacing: -0.3rem;
            margin-bottom: 48px;
            color: #FFFFFF;
        }
        &__text {
            max-width: 1045px;
            color: #FFFFFF;
            font-family: 'SuisseIntl-Regular';
            font-weight: 400;
        }
    }

    .image-section {
        background-color: #000;
        padding-bottom: 116px;
        &__img {
            display: block;
            width: 100%;
            margin-bottom: 12px;
        }
        &__text {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            color: #808080;
            max-width: 840px;
        }
    }

    .spices {
        background-color: #000;
        padding-top: 96px;
        padding-bottom: 24px;
        &__title {
            color: #FFFFFF;
            margin-bottom: 80px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
        &__item:not(:last-child) {
            padding-bottom: 60px;
            border-bottom: 1px solid #fff;
        }
        &__block {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;
            margin-bottom: 70px;
        }
        &__nubmer {
            display: block;
            max-width: 40%;
            width: 100%;
            color: #FFFFFF;
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            font-size: 128px;
            line-height: 88%;
            letter-spacing: -2px;
        }
        &__texts {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &__subtitle {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            color: #FFFFFF;
        }
        &__subtitle span {
            display: none;
        }
        &__text {
            color: #808080;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
        &__img-1 {
            grid-column: span 2;
        }
    }
  
    .mission {
        background-color: #000000;
        padding-top: 96px;
        padding-bottom: 64px;
        &__title {
            color: #FFFFFF;
            margin-bottom: 24px;
        }
        &__text {
            color: #FFFFFF;
            margin-bottom: 76px;
            max-width: 1085px;
        }
        &__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
        &__block {
            max-width: calc(33% - 20px);
            width: 100%;
        }
        &__number {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            display: block;
            color: #FFFFFF;
            padding-bottom: 10px;
            margin-bottom: 19px;
            border-bottom: 1px solid #FFFFFF;
        }
        &__text-2 {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            color: #FFFFFF;
        }
    }

    .map {
        background-color: #000;
        padding-bottom: 105px;
        &__title {
            color: #FFFFFF;
            margin-bottom: 24px;
        }
        &__text {
            color: #FFFFFF;
        }
        &__link {
            margin-top: 120px;
            display: block;
            background-color: #FFFFFF;
            border-radius: 100%;
            width: 62px;
            height: 62px;
            position: relative;
        }
        &__link span:first-child {
            display: block;
            width: 19px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__link span:nth-child(2) {
            display: block;
            width: 19px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
        iframe {
            pointer-events: none;
        }
    }

    .news-page {
      padding-top: 180px;
      padding-bottom: 54px;
        &__title {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            margin-bottom: 74px;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px 48px;
            margin-bottom: 74px;
        }
        &__link {
            display: block;
            width: 100%;
        }
        &__block {
            padding-top: 125%;
            width: 100%;
            position: relative;
            margin-bottom: 24px;
        }
        &__img {
            object-fit: cover;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &__subtitle {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            margin-bottom: 24px;
        }
        &__text {
            color: #c0c0c0;
        }
    }

    .corp {
        padding-top: 120px;
        &__title {
            margin-bottom: 84px;
        }
        &__subtitle {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
        }
        &__flex {
            display: flex;
            flex-direction: column;
            gap: 60px;
            margin-bottom: 50px;
        }
        &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 28px;
        }
        &__link:not(:last-child) {
            border-bottom: 1px solid #000;
        }
        &__date {
            color: #c0c0c0;
        }
    }

    .news-content {
        padding-top: 180px;
        &__title {
            font-family: 'SuisseIntl-Book';
            font-weight: 500;
            margin-bottom: 84px;
        }
        &__img {
            max-width: 100%;
            width: 100%;
            max-height: 1660px;
            height: 100%;
            margin-bottom: 52px;
        }
        &__flex {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 20px;
        }
        &__text-block {
            max-width: 72%;
        }
        &__flex-2 {
            display: flex;
            align-items: center;
            gap: 40px;
            span {
                display: block;
                font-family: "SuisseIntl-Regular";
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: -0.32px;
            }
            a {
                display: block;
                font-family: "SuisseIntl-Regular";
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: -0.32px;
                transition: color 0.3s ease;
                text-decoration: underline;
            }
            a:hover {
                color: #ee7300;
            }
            
            p {
                display: block;
                font-family: "SuisseIntl-Regular";
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: -0.32px;
            }
        }
    }


 
    .pagintaion {
        display: flex;
        align-items: center;
        gap: 22px;
    }
    .pagination__number {
        font-size: 36px;
        color: #c0c0c0;
    }
    .pagination__number_active {
        color: #000;
    }
    .pagination__arrow {
        font-size: 36px;
        color: #c0c0c0;
    }
 

    .dark {
        background-color: #000;
        color: #FFFFFF;
    }


    .hover-color-orange:hover {
        color: #ee7300;
    }

