html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    background-color: var(--white);
    margin-right: auto;
    margin-left: auto;
    min-width: 360px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1640px;
    padding: 0 100px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    .upper {
        background-color: var(--black);
        padding: 9px 0;
        &__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__geo {
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--white);
        
            img {
                width: 16px;
                height: 16px;
            }
        }
        
        &__nav {
            ul {
                display: flex;
                align-items: center;
                gap: 40px;
        
                a {
                    font-family: var(--main-font);
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    text-align: left;
                    transition: color .25s ease;
                }
        
                a:hover {
                    color: var(--green);
                }
            }
        }
    }
    
    
    
    .medium {
        background-color: var(--grey);
        padding: 16px 0;
    
        &__icon {
            height: 30px;
        }
        
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    
    &__block {
        display: flex;
        align-items: center;
        gap: 40px;
    
        span {
            display: block;
            max-width: 335px;
            width: 100%;
            font-family: var(--main-font);
            color: var(--blackGray);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
    
        }
    
        .logo {
            flex-shrink: 0;
        }
    
        .logo img {
            max-width: 372px;
            width: 100%;
            height: 53px;
        }
    }
    
    &__block-2 {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-basis: 591px;
    
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
    
        a {
            text-align: right;
            color: var(--blackGray);
            transition: color .25s ease;
        }
    
        a:hover {
            color: var(--green);
        }
    }
    
    &__socials {
        display: flex;
        align-items: center;
        gap: 7px;
    
        &__icon {
            width: 30px;
            height: 30px;
        }
    
        img {
            width: 30px;
            height: 30px;
    
        }
    
        a {
            flex-shrink: 0;
            font-family: var(--main-font);
            text-wrap: nowrap;
            font-size: 28px;
            font-weight: 400;
            line-height: 39.2px;
            text-align: left;
            color: #000;
        }
    }
    
    &__btn {
        max-width: 244px;
    }
    }
    
    
    .bottom {
        background-color: var(--lightGray);
        padding: 10px 0;
    }

    .header__icon-576 {
        display: none;
    }
    
    .menu__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: var(--main-font);
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            color: var(--black);
            transition: color .25s ease;
        }
    
        a:hover {
            color: var(--green);
        }
    
        .circle a::before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
        }
    
        .orange a::before {
            background-color: rgba(245, 110, 60, 1);
        }
    
        .purple a::before {
            background-color: rgba(151, 71, 255, 1);
        }
    
        .red a::before {
            background-color: rgba(80, 144, 235, 1);
        }
    
        .blue a::before {
            background-color: rgba(245, 60, 63, 1);
        }
    
        .yellow a::before {
            background-color: rgba(245, 60, 232, 1);
        }
    
    
    
    }
    
    
    &__burger-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 2;
    }
    
    &__icon {
        width: 30px;
        height: 30px;
        transition: opacity .25s ease;
    }
    
    &__icon:hover {
        opacity: 0.7;
    }
    
    &__burger-btn span {
        position: absolute;
        width: 14px;
        height: 2px;
        background-color: black;
        transition: transform .5s, opacity .5s, background-color .5s;
        border-radius: 100px;
    }
    
    &__burger-btn span:nth-child(1) {
        transform: translateY(-6px);
    }
    
    &__burger-btn span:nth-child(3) {
        transform: translateY(6px);
    }
    
    &.open &__burger-btn span {
        background-color: #000;
    }
    
    &.open &__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    
    &.open &__burger-btn span:nth-child(2) {
        opacity: 0;
    }
    
    &.open &__burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
    
    
    .menu__list {
        display: flex;
        align-items: center;
    }
}






.hero {
    margin-bottom: var(--ver-gap-xl);
    &__swiper {
        min-height: 780px;
        width: 100%;
    }
    &__img-576 {
        display: none;
    }
    
    &__icon {
        max-width: 21px;
        height: 22px;
    }
    
    
    
    &__slide {
        min-height: 800px;
        background-image: url(../img/hero.webp);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__flex {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
    }
    
    &__block {
        h1 {
            font-family: var(--secondary-font);
            text-transform: uppercase;
            font-size: 64px;
            font-weight: 500;
            line-height: 76.8px;
            text-align: left;
            color: var(--white);
            margin-bottom: 10px;
        }
    
        span {
            display: block;
            font-family: var(--main-font);
            font-size: 28px;
            font-weight: 400;
            line-height: 39.2px;
            text-align: left;
            color: var(--white);
            margin-bottom: 60px;
        }
    
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            li {
                display: flex;
                align-items: center;
                gap: 14px;
                color: var(--white);
                font-family: var(--main-font);
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                text-align: left;
    
            }
    
            li::before {
                content: "";
                display: block;
                background-image: url(../img/svg/tri.svg);
                background-repeat: no-repeat;
                width: 9px;
                height: 12px;
            }
        }
    }
    
    &__form {
        background-color: var(--white);
        border-radius: 20px;
        padding: 40px;
        max-width: 370px;
    
        h2 {
            font-family: var(--main-font);
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: left;
            color: var(--black);
            margin-bottom: 20px;
    
        }
    
        span {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--black);
        }
    }
    
    &__input {
        display: block;
        width: calc(100% - 30px);
        margin-bottom: 10px;
    }
    
    &__input::placeholder {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: var(--black);
    }
    
    &__btn {
        margin-bottom: 10px;
    }
    
    .swiper__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        max-width: 1680px;
    }
    
    &__prev {
        transform: rotate(180deg);
    }
    
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    &__pagination {
        position: absolute;
        bottom: 95px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 330px;
        z-index: 2;
    }
    
    & .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        max-width: 100px;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: var(--white);
        opacity: 0.5;
    }
    
    & .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
        opacity: 1;
    }
}




.catalog {
    padding-bottom: var(--ver-gap-xl);

    &__flex {
        margin-bottom: var(--hor-gap-md);
        align-items: flex-start;

        h2 {
            max-width: 672px;
        }

        span {

            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--blackGray);
        }

    }

    &__tab-buttons {
        display: flex;
        align-items: center;
        gap: var(--hor-gap-xs);
        margin-bottom: var(--ver-gap-md);
    }

    .tab-panel {
        display: none;
        opacity: 0;
        transition: opacity .25s ease;
    }

    .active {
        transition: opacity .25s ease;
    }

    .tab-panel.active {
        display: block;
        opacity: 1;
        animation: fadeIn .25s ease;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--ver-gap-xs);
        column-gap: var(--hor-gap-xs);
    }

    &__card {
        max-width: 712px;
        max-height: 619px;
        width: 100%;
        height: 100%;
        background-color: var(--grey);
        border-radius: 40px;
        padding: 20px 20px 40px;
        position: relative;
        overflow: hidden;
        border: 1px solid transparent;
        transition: background-color .25s ease, border-color .25s ease;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    &__arrow-btn {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    &__img {
        background-image: url(../img/catalog-1.webp);
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 20px;
        min-height: 483px;
    }

    &__img-2 {
        background-image: url(../img/catalog-1.webp);
    }

    &__img-3 {
        background-image: url(../img/catalog-3.webp);
    }

    &__img-4 {
        background-image: url(../img/catalog-4.webp);
    }

    &__bottom-content {
        background-color: var(--grey);
        padding-top: 40px;
        padding-left: 20px;
        position: relative;
        transition: transform 0.4s ease 0.15s, background-color .25s ease;

        span {
            display: block;
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--blackGray);
            margin-bottom: 14px;
        }

        p {
            font-family: var(--main-font);
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            text-align: left;
            color: var(--black);
        }
    }

    &__hidden-content {
        display: inline-block;
        padding-bottom: 24px;
        opacity: 0;
        transition: opacity 0.3s ease 0.25s;
    }

    &__card:hover {
        background-color: var(--white);
        border: 1px solid var(--black)
    }

    &__card:hover &__arrow-btn {
        background-color: var(--grey);
    }

    &__card:hover &__arrow-btn::after {
        border-color: var(--grey);
    }

    &__card:hover &__hidden-content {
        opacity: 1;

    }

    &__card:hover &__bottom-content {
        transform: translateY(-80px);
        background-color: var(--white);
    }

}

.corp {
    padding-top: var(--ver-gap-xl);
    padding-bottom: var(--ver-gap-xl);

    &__banner {
        background-color: var(--grey);
        padding: 20px;
        border-radius: 40px;
    }

    &__img {
        max-width: 656px;
        width: 100%;
        max-height: 592px;
        height: 100%;
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 52px;

        h2 {
            font-family: var(--secondary-font);
            font-size: 34px;
            font-weight: 500;
            line-height: 44.2px;
            text-align: left;
            text-transform: unset;
        }

        p {
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--black);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        min-height: 592px;
        max-width: 632px;
        width: 100%;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        span {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--blackGray);
            padding: 5px 18px;
            background-color: var(--white);
            border-radius: 5px;
        }
    }

    &__btn {
        max-width: 190px;
        margin-top: auto;
    }
}

.sales {
    padding: var(--ver-gap-xl) 0;
    background-color: var(--grey);

    h2 {
        margin-bottom: var(--ver-gap-md);
    }

    &__cards {
        display: flex;
        gap: var(--ver-gap-xs);
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    &__card {
        max-width: 469px;
        min-height: 345px;
        border-radius: 40px;
        padding: 40px 35px;
        background-repeat: no-repeat;
        background-position: right bottom;
        position: relative;
        cursor: pointer;

        span {
            display: block;
            max-width: 250px;
            width: 100%;
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: var(--white);
            padding: 5px 0px;
            border: 1px solid var(--white);
            border-radius: 40px;
            margin-bottom: var(--ver-gap-s);
        }

        p {
            font-family: var(--main-font);
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            text-align: left;


        }

       
    }

    &__arrow-btn {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }


    &__card:first-child {
        background-color: var(--white);
        background-image: url(../img/sales-1.webp);

        span {
            background-color: var(--black);
            border: 1px solid var(--black);
        }
    }

    &__card:nth-child(2) {
        background-color: var(--green);
        background-image: url(../img/sales-2.webp);

        p {
            color: var(--white);
        }
    }

    &__card:nth-child(3) {
        background-color: var(--black);
        background-image: url(../img/sales-3.webp);

        p {
            color: var(--white);
        }
    }

    &__icon {
        width: 61px;
        height: 61px;
        transform: rotate(0deg);
        transition: transform .25s ease;
    }

    &__arrow-btn {
        transform: rotate(0deg);
        transition: transform .3s ease, color .3s ease;
    }

    &__card:hover &__arrow-btn {
        transform: rotate(90deg);
    }

    &__card:hover .green {
        background-color: #01672F;
    }

    &__card:hover .white {
        background-color: var(--grey);
    }
}

.benefits {
    padding: var(--ver-gap-xl) 0;

    &__flex {
        display: flex;
        gap: var(--hor-gap-s);
        margin-bottom: var(--ver-gap-s);
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__card {
        min-height: 600px;
        position: relative;
        padding: 40px;
        border-radius: 40px;

        h2 {
            color: var(--white);
        }


    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 600px;
        z-index: -1;
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 76px;
            height: 76px;
        }
    }

    &__card-2 {
        background-color: var(--lightGray);
        padding: 40px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        background-image: url(../img/svg/benefits-bg.svg);
        background-repeat: no-repeat;
        background-position: bottom right;

        h3 {
            font-family: var(--secondary-font);
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 500;
            line-height: 52px;
            text-align: left;
            margin-bottom: var(--ver-gap-md);

        }

        span {
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--black);
            margin-bottom: var(--ver-gap-sm);
        }

        p {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--green);
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    &__btn-2 {
        margin-top: auto;
        max-width: 229px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: var(--ver-gap-s);
    }





    &__item {
        display: flex;
        flex-direction: column;
        min-height: 220px;
        max-width: 348px;
        width: 100%;
        border-radius: 40px;
        padding: 26px;
        position: relative;

        span {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            padding: 5px 18px;
            border-radius: 40px;

        }

        strong {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: var(--white);
            padding: 5px 0px;
            border: 1px solid var(--white);
            border-radius: 40px;
            max-width: 53px;
            width: 100%;
            text-align: center;
            background-color: transparent;
            flex-shrink: 0;
        }

        p {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--white);
            margin-top: auto;
        }
    }

    &__item-flex {
        display: flex;
    }

    &__item:nth-child(1) {
        background-color: var(--green);

        span {
            background-color: var(--white);
            color: var(--green);
        }

    }

    &__item:nth-child(2) {
        background-color: var(--black);

        span {
            background-color: var(--white);
            color: var(--black);
        }
    }

    &__item:nth-child(3) {
        background-color: var(--white);
        border: 1px solid var(--black);

        span {
            background-color: var(--black);
            color: var(--white);
        }

        strong {
            border: 1px solid var(--black);
            color: var(--black);
        }

        p {
            color: var(--black);
        }
    }

    &__item:nth-child(4) {
        background-color: var(--blackGray);

        span {
            background-color: var(--white);
            color: var(--blackGray);
        }
    }
}

.objects {
    padding: var(--ver-gap-xl) 0;

    h2 {
        margin-bottom: var(--ver-gap-md);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: var(--hor-gap-s);
        row-gap: var(--ver-gap-xs);
        margin-bottom: var(--hor-gap-md);
    }

    &__card {
        background-color: var(--grey);
        border-radius: 40px;
        padding: 20px 20px 40px;
    }

    &__card:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
    }

    &__card:nth-child(2) {
        grid-area: 1 / 3 / 2 / 5;
    }

    &__card:nth-child(3) {
        grid-area: 1 / 5 / 2 / 7;
    }

    &__card:nth-child(4) {
        grid-area: 2 / 1 / 3 / 4;
    }

    &__card:nth-child(5) {
        grid-area: 2 / 4 / 3 / 7;
    }

    .object__img-sm {
        max-width: 429px;
        width: 100%;
        max-height: 321px;
        height: 100%;
    }

    .object__img-bg {
        max-width: 672px;
        width: 100%;
        max-height: 321px;
        height: 100%;
    }

    .object__img-card {
        position: relative;

        span {
            position: absolute;
            top: 16px;
            left: 16px;
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--black);
            background-color: var(--white);
            padding: 5px 18px;
            border-radius: 40px;
        }
    }

    .object__img {
        border-radius: 40px;
        margin-bottom: 26px;
    }

    .object__zoom-btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .object__img-card {
        cursor: pointer;
    }

    .object__img-card:hover .object__zoom-btn {
        display: flex;
        animation: fadeIn .2s ease
    }

    &__btn {
        display: block;
        max-width: 285px;
        margin: 0 auto;

    }

    &__block {
        padding: 0 20px;

        h3 {

            font-family: var(--main-font);
            font-size: 28px;
            font-weight: 600;
            line-height: 36.4px;
            text-align: left;
            color: var(--black);
            margin-bottom: var(--ver-gap-xxs);
        }

        p {
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--blackGray);
        }
    }
}

.install {
    background-color: var(--grey);
    padding: var(--ver-gap-xl) 0;

    &__img {
        max-width: 668px;
        max-height: 536px;
        width: 100%;
        height: 100%;
    }

    &_flex {
        align-items: flex-start;
        margin-bottom: var(--ver-gap-md);

        span {
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--blackGray);
        }
    }

    &__card {
        background-color: var(--black);
        border-radius: 40px;
        padding: 20px;
    }

    &__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    &__block {
        max-width: 692px;
        height: 536px;
        justify-content: space-between;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__banner {
        border-radius: 20px;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        h3 {
            font-family: var(--secondary-font);
            font-size: 34px;
            font-weight: 500;
            line-height: 44.2px;
            text-align: left;
            max-width: 268px;
        }
    }

    &__banner:nth-child(1) {
        background-color: var(--white);
        background-image: url(../img/svg/install-4.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    &__banner:nth-child(2) {
        background-color: var(--green);

        h3 {
            color: var(--white);
        }
    }

    &__banner:nth-child(3) {
        background-color: transparent;
        border: 1px solid var(--white);

        h3 {
            color: var(--white);
        }
    }

    .banner__block {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: auto;

        .banner__icon {
            width: 88px;
            height: 88px;
        }
    }

    &__arrow-btn {
        position: relative;
        transform: rotate(90deg);
    }
}

.news {
    padding: var(--ver-gap-xl) 0;

    &__flex {
        margin-bottom: var(--hor-gap-md);
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__prev {
        transform: rotate(180deg);
    }

    &__icon {
        width: 20px;
        height: 22px;
    }

    &__tab-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: var(--ver-gap-md);
    }

    &__tab-btn {
        padding: 12px 0;
        max-width: 234px;
        width: 100%;
        text-align: center;
        border-radius: 8px;
    }

    &__tab-btn.active {
        background-color: var(--black);
        color: var(--white);
    }

    &__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--hor-gap-xs);
        margin-bottom: var(--ver-gap-sm);
    }

    &__swiper {
        margin-bottom: 30px;
        .swiper-slide {
            max-width: 469px;
            width: calc((100% - 2 * 16px) / 3); /* Ширина каждого слайда, рассчитанная для 3 слайдов */
            min-width: 100px; /* Минимальная ширина слайда */
        }
    }

    &__card {
        border-radius: 40px;
        padding: 20px;
        min-height: 522px;
        position: relative;
        max-width: 429px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--white);
            background-color: var(--black);
            max-width: 100px;
            width: 100%;
            min-height: 36px;
            text-wrap: nowrap;
            text-align: center;
            border-radius: 40px;
            position: absolute;
            top: 32px;
            left: 20px;
        }
    }

    .swiper-slide:nth-child(1) &__card {
        background-image: url(../img/news-1.webp);
    }

    .swiper-slide:nth-child(2) &__card {
        background-image: url(../img/news-2.webp);
    }

    .swiper-slide:nth-child(3) &__card {
        background-image: url(../img/news-3.webp);
    }
    .swiper-slide:nth-child(4) &__card {
        background-image: url(../img/news-1.webp);
    }

    .swiper-slide:nth-child(5) &__card {
        background-image: url(../img/news-2.webp);
    }

    .swiper-slide:nth-child(6) &__card {
        background-image: url(../img/news-3.webp);
    }

    &__arrow {
        position: absolute;
        top: 29px;
        right: 29px;
    }
    &__arrow.white::after {
        top: -9px;
        left: -9px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        background-color: var(--white);
        border-radius: 32px;
        padding: 26px 30px;
        min-height: 231px;
        max-width: 369px;

        h3 {

            font-family: var(--main-font);
            font-size: 28px;
            font-weight: 600;
            line-height: 36.4px;
            text-align: left;
            color: var(--black);
            margin-bottom: var(--ver-gap-s);
        }

        p {

            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--blackGray);
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            margin-top: auto;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        max-width: 261px;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    .tab-panel {
        display: none;
    }

    .tab-panel.active {
        display: block;
        animation: fadeIn .25s ease;
    }
}

.consult {
    padding: var(--ver-gap-xl) 0;
    background-color: var(--grey);

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
 
    }

    &__block {
        max-width: 473px;
        width: 100%;

        h2 {
            margin-bottom: var(--ver-gap-sm);
        }

        span {

            font-family: var(--main-font);
            font-size: 28px;
            font-weight: 400;
            line-height: 39.2px;
            text-align: left;
            color: var(--black);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--ver-gap-xxs);
        max-width: 712px;
        width: 100%;
        span {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--black);
        } 
    }

    .form__block {
        display: flex;
        align-items: center;
        gap: var(--hor-gap-xs);

        input {
            max-width: 50%;
            width: 100%;
            height: 66px;
            border: 1px solid var(--black);
            border-radius: 50px;
            background-color: transparent;
            padding-left: 30px;
        }

        input::placeholder {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--black);
        }
    }
}

.footer {
    &__list {
        display: grid;
        grid-template-columns: repeat(6, max-content);
        justify-content: space-between;
        gap: 30px;

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--hor-gap-s);
            margin-bottom: var(--ver-gap-sm);

            a {

                font-family: var(--main-font);
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                text-align: left;
                color: var(--black);
                transition: color .25s ease;
            }

            .small-links a {

                font-family: var(--main-font);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color: var(--blackGray);
            }

            a:hover {
                color: var(--green);
            }

        }

        .logo {
            display: block;
            margin-bottom: 4px;
        }

        .logo img {
            max-width: 335px;
            width: 100%;
            height: 46px;
        }

        span {
            display: block;
            font-family: var(--main-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: var(--blackGray);
            margin-bottom: 24px;

        }
    }

    &__info {
        max-width: 335px;
    }

    &__block {
        background-color: var(--grey);
        padding: 15px 0;
    }

    &__flex {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
            transition: opacity .25s ease;
        }

        a:hover {
            opacity: 0.6;
        }
    }

    &__icon {
        max-width: 30px;
        max-height: 30px;
    }

    &__adress {
        a {
            display: block;
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: right;
            color: var(--green);
            transition: color .25s ease;
        }

        a:hover {
            color: var(--black);
        }
    }

    &__flex-2 {
        display: flex;
        align-items: center;
        gap: 7px;

        a:nth-child(1) {
            width: 30px;
            height: 30px;
            transition: opacity .25s ease;
        }

        a:nth-child(2) {
            width: 30px;
            height: 30px;
            transition: opacity .25s ease;
        }

        a:nth-child(1):hover {
            opacity: 0.6;
        }

        a:nth-child(2):hover {
            opacity: 0.6;
        }

        a {
            font-family: var(--main-font);
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            color: #000;
            transition: color .25s ease;
        }

        a:hover {
            color: var(--green);
        }

    }

    &__block-2 {
        background-color: var(--black);
        padding: var(--ver-gap-s) 0;

        p {

            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            margin-bottom: var(--ver-gap-s);
            color: var(--grey);
        }

        a {
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--grey);
            text-decoration: underline;
            transition: color .25s ease;
        }

        a:hover {
            color: var(--green);
        }
    }
    .footer__btn {
        max-width: 244px;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    max-width: 100%;
    z-index: 99;
}

.modal__content {
    max-width: 100%;
}

.modal.show {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modal-container {
    height: 70vh;
}

.modal-button {
    width: 53px;
    height: 53px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color .25s ease;
}

.modal-button:hover {
    background-color: var(--blackGray);
}

.modal__icon {
    width: 22px;
    height: 22px;
}

.modal-button-prev {
    transform: rotate(180deg);
}

.modal__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.modal-wrapper img {
    width: 100%;
    height: 100%;
}

.modal-2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    max-width: 100%;
    z-index: 10;

    .relative {
        width: 100%;
    }

    .modal-2__icon {
        display: none;
        position: absolute;
        top: 28px;
        right: 30px;
        width: 18px;
        height: 13px;
    }

    h2 {
        font-family: var(--secondary-font);
        font-size: 34px;
        font-weight: 500;
        line-height: 44.2px;
        text-align: left;
        margin-bottom: 10px;
        text-transform: unset;
    }

    span {
        display: block;
        font-family: var(--main-font);
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: var(--blackGray);
        margin-bottom: 30px;
    }

    .modal-2__content {
        background-color: var(--white);
        padding: 40px;
        border-radius: 40px;
        max-width: 710px;
    }

    .modal-2__form {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .modal__block {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    strong {

        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: var(--blackGray);
    }
}

.modal__success {
    display: none;
    max-width: 330px;

    p {

        font-family: var(--main-font);
        font-size: 28px;
        font-weight: 600;
        line-height: 36.4px;
        text-align: center;
        margin-bottom: 10px;
        color: rgba(54, 54, 54, 1);
    }

    span {

        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: rgba(104, 104, 104, 1);
    }
}

.modal-3 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    max-width: 520px;
    width: 100%;
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 11;

    h2 {
        font-family: var(--secondary-font);
        font-size: 34px;
        font-weight: 500;
        line-height: 44.2px;
        text-align: left;
        margin-bottom: 10px;
        text-transform: unset;
    }

    span {
        display: block;
        font-family: var(--main-font);
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: var(--blackGray);
        margin-bottom: 30px;
    }

    .modal-3__form {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    strong {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: var(--blackGray);
    }

    .modal-3__icon {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        width: 18px;
        height: 13px;
    }
}

.modal__success-2 {
    display: none;
    max-width: 330px;

    p {
        font-family: var(--main-font);
        font-size: 28px;
        font-weight: 600;
        line-height: 36.4px;
        text-align: center;
        margin-bottom: 10px;
        color: rgba(54, 54, 54, 1);
    }

    span {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: rgba(104, 104, 104, 1);
    }
}

.contacts {
    padding-top: 60px;
    padding-bottom: var(--ver-gap-xl);

    iframe {
        border: none;
        border-radius: 40px;
    }

    &__card {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 571px;
        width: 100%;
        background-color: var(--green);
        background-image: url(../img/svg/contacts-bg.svg);
        background-repeat: no-repeat;
        background-position: center right;
        padding: 40px;
        min-height: 536px;
        border-radius: 40px;
        z-index: 2;

        h2 {
            color: var(--white);
            margin-bottom: 40px;
        }

        span {
            display: block;
            color: var(--white);
            font-family: var(--main-font);
            font-size: 28px;
            font-weight: 400;
            line-height: 39.2px;
            text-align: left;
            margin-bottom: 10px;

        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 40px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        li {
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--white);

            span {
                font-family: var(--main-font);
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                text-align: left;
                margin-bottom: unset;
            }

            a {
                display: flex;
                align-items: center;
                gap: 6px;
            }

        }

        &__btn {
            max-width: 230px;
        }
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
    width: 100%;
}

header.show {
    transform: translateY(0);
}

iframe {
    width: 100%;
    height: 576px;
}