@media (max-width: 1240px) {
    .header__img {
        width: 12%;
    }
    .header__tel-number {
        font-size: 16px;
    }
    .header__contacts {
        font-size: 16px;
    }
    .header__block-2 {
        padding-top: 6px;
    }
    .for-what__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 954px;
    }
    .header__tel {
        font-size: 22px;
    }
    .hero__img {
        max-width: 35%;
    }
    .hero__title {
        font-size: 50px;
    }
    .hero__text {
        font-size: 20px;
        max-width: 70%;
    }
    .title {
        font-size: 40px;
    }
    .advantages__name {
        font-size: 28px;
    }
    .advantages__list {
        gap: 30px 50px
    }
    .for-what__img {
        max-width: 35%;
    }
    .for-what__item:first-child {
        margin-right: 15px;
    }
    .calculation__descr {
        font-size: 20px;
    }
    .calculation__right {
        max-width: 45%;
    }
    .calculation__img-block {
        max-width: 700px;
    }
    .review__link, .review__text {
        font-size: 22px;
    }

    .calculation__img-text {
        padding: 21px;
    }
    .calculation__image-1 {
        gap: unset;
    }
    .calculation__img-block {
        max-width: unset;
        flex-direction: column;
        gap: 30px;
    }
    .calculation__line {
        display: none;
    }
    .calculation_width {
        align-self: center;
        width: unset;
    }
}

@media (max-width: 869px) {
    .container {
        max-width: 799px;
    }
    .header__tel {
        padding-top: 20px;
    }
    .hero__title {
        font-size: 45px;
    }
    .hero__img {
        top: -60px;
        right: 10px;
    }
    .title {
        font-size: 35px;
    }
    .advantages__list {
        gap: 20px 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .advantages__item:not(:last-child) {
        margin-bottom: unset;
    }
    .advantages__name {
        font-size: 24px;
    }
    .advantages__icon {
        padding: 15px;
    }
    .advantages__descr {
        font-size: 16px;
    }
    .for-what {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .advantages {
        padding-bottom: 20px;
    }
    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .calculation {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .calculation__img-block {
        margin-bottom: 20px;
    }
    .calculation__gift {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .for-what__flexbox {
        flex-direction: column;
        align-items: center;
    }
    .for-what__item:first-child {
        margin-right: unset;
        margin-bottom: 15px;
    }
    .calculation__left {
        margin-right: 15px;
    }
    .hero__img {
        max-width: 30%;
    }
    .calculation__img {
        max-width: 65%;
    }
    .callculation__img-2 {
        max-width: 65%;
    }
    .hero {
        padding-bottom: 20px;
    }
    .calculation__img-block {
        max-width: 600px;
    }
    .footer__adress, .footer__tel, .footer__email {
        font-size: 16px;
    }
    .calculation__flexbox {
        margin-bottom: 70px;
    }
    .review__link, .review__text {
        font-size: 20px;
    }
    
    .callculation__img-2 {
        float: unset;
    }
    .calculation__btn-3 {
        padding: 13px 50px;
    }
    .calculation__btn-3 {
        display: block;
    }

    
    
    .header {
        padding-bottom: 95px;
    }
    .header__block-2 {
        display: none;
    }
    .calculation__img-text2 {
        top: 15px;
    }
    .calculation__img-text3 {
        top: 130px;
    }
    .calculation__img-text4 {
        top: 250px;
    }
    .calculation__img-text6 {
        top: 110px;
    }
    .calculation__img-text7 {
        top: 221px;
    }
    .calculation__img-text8 {
        top: 337px;
    }
    .calculation__img-block {
        flex-direction: column;
    }
    .calculation__flexbox {
        margin-bottom: 123px;
    }
    .contacts__block-2 {
        display: block;
    }
    .contacts__block {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .header__tel {
        font-size: 17px;
    }
    .header__img {
        max-width: 16%;
    }
    .hero__title {
        font-size: 24px;
    }
    .hero__text {
        font-size: 16px;
        max-width: unset;
    }
    .hero__btn {
        padding: 13px 30px;
    }
    .title {
        font-size: 24px;
    }
    .advantages__title {
        margin-bottom: 20px;
    }
    .advantages__list {
        grid-template-columns: unset;
    }
    .advantages__item:not(:last-child) {
        margin-bottom: unset;
    }
    .for-what__text {
        font-size: 20px;
    }
    .calculation__flexbox {
        flex-direction: column;
    }
    .calculation__right {
        max-width: unset;
    }
    .calculation__descr {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .calculation__img-block {
        flex-direction: column;
    }
    .calculation__img {
        max-width: 40%;
    }
    .callculation__img-2 {
        max-width: 40%;
    }
    .footer__flexbox {
        flex-direction: column;
    }
    .footer__adress {
        margin-bottom: 10px;
    }
    .calculation__img-text {
        font-size: 24px;
    }
    .calculation__img-text span {
        font-size: 20px;
    }
    .calculation__img-text {
        padding: 20px;
    }
    .calculation__gift {
        font-size: 24px;
    }
    .calculation {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer {
        padding: 15px 0;
    }
    .header__img {
        margin-top: 10px;
    }
    .header__tel {
        padding-top: 12px;
    }
    .review__link, .review__text {
        font-size: 16px;
    }
    .calculation__image-1 {
        text-align: -webkit-center;
    }
    .calculation__image-1:first-child {
        margin-bottom: 70px;

    }
    .calculation__image-1 {
        display: flex;
        flex-direction: column;
    }
    
    .callculation__img-2, .calculation__img {
        align-self: center;
    }
    .calculation__img-text {
        position: static;
    }
    .calculation__img-text span {
        line-height: unset;
    }
    .calculation__div {
        flex-direction: row;
    }
    .calculation__img_mt {
        margin-top: unset;
    }
    .calculation__subtitle_align {
        text-align: center;
    }
    .calculation__subtitle {
        text-align: center;
    }
    .for-what__item img {
        max-width: 150px;
    }
}

@media (max-width: 400px) {
    .header {
        padding-bottom: 60px;
    }
    .hero__flexbox {
        margin-top: -40px;
    }
    .hero__img {
        top:0
    }
    .hero__title, .advantages__name {
        font-size: 20px;
    }
    .title {
        font-size: 20px;
    }
    .hero__text, .advantages__descr {
        font-size: 14px;
    }
    .advantages__icon {
        padding: 7px;
    }
    .for-what__text {
        font-size: 16px;
    }
  
}