

@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black';
    font-weight: 900;
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto-regular, sans-serif;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-bottom: 155px;
}

.header__bg {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.header__link {
    margin-right: 5px;
}

.header__block {
    display: flex;
    justify-content: space-between;
}

.header__block-2 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.header__slogan {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 111%;
    color: #FFFFFF;
}

.header__img {
    border-radius: 100px;
    margin-top: 21px;
    margin-left: 10%;
}

.header__tel {
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 111%;
color: #FFFFFF;
display: flex;
align-items: center;
margin-bottom: 8px;
}

.header__contacts {
    display: flex;
    align-items: center;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 111%;
color: #FFFFFF;
margin-bottom: 8px;
}

.header__tel-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.header__tel-number {
    margin-right: 10px;
}

.header__block-icon {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.hero {
    padding-bottom: 122px;
}

.hero__flexbox {
    display: flex;
    position: relative;
}

.hero__wb-logo {
    width: 29px;
    height: 29px;
}

.hero__title {
    font-family: Roboto-Bold;
    font-weight: 700;
font-size: 64px;
line-height: 100%;
text-transform: uppercase;
color: #000000;
margin-bottom: 20px;
}

.hero__img {
    max-width: unset;
    position: absolute;
    top: -100px;
}

.hero__text {
    font-family: 'Roboto-Medium';
    display: block;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 111%;
color: #454545;
max-width: 508px;
margin-bottom: 20px;
text-transform: uppercase;
}

.hero__btn {
    padding: 13px 12px;
    background: #EF810B;
border-radius: 6px;
font-family: 'Inter-SemiBold';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
color: #FFFFFF;
display: flex;
align-items: center;
max-width: 180px;
}

.hero__wb-logo {
    margin-left: 10px;
}

.hero__left-side {
    max-width: 55%;
}

.header__tel-icon, .header__block-icon path {
    fill: #fff;
}

.header__tel-icon path {
    stroke: #fff;
}


.advantages {
    padding-top: 25px;
    padding-bottom: 40px;
    background-color: #ECECEC;
}

.advantages__title {
    font-family: 'Roboto-Bold';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 114%;
text-transform: uppercase;
color: #000000;
margin-bottom: 43px;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px 100px;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.advantages__item:not(:last-child) {
    margin-bottom: 55px;
}

.advantages__name {
    display: block;
    font-family: 'Roboto-Medium';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 111%;
text-transform: uppercase;
color: #000000;
margin-bottom: 10px;
}

.advantages__descr {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 111%;
    color: #000000;
}

.advantages__icon {
    margin-right: 20px;
}

.for-what {
    padding-top: 66px;
    padding-bottom: 121px;
}

.for-what__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    display: block;
    max-width: 850px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.for-what__descr {
font-size: 28px;
font-weight: 400;
line-height: 31px;
text-align: left;
display: block;
margin-bottom: 50px;
text-transform: uppercase;

}

.for-what__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.for-what__item {
    display: flex;
    align-items: center;
}

.for-what__text {

    font-size: 42px;
font-weight: 400;
line-height: 100%;
text-transform: uppercase;
margin-left: 22px;
color: #454545;
}

.for-what__text2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: #454545;
text-align: left;
display: block;

}

.reviews {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: #ECECEC;
}

.reviews__title {
    font-family: 'Roboto-Bold';
    text-align: left;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 111%;
color: #000000;
margin-bottom: 45px;
}

.reviews__slide {
    max-width: 508px;
}

.reviews__swiper {
    overflow: hidden;
    margin-bottom: 20px;
}

.reviews__flex {
    display: flex;
    align-items: center;
}

.reviews__icon {
    margin-right: 24px;
    width: 44px;
    height: 44px;
}

.reviews__text {
font-size: 18px;
font-weight: 400;
line-height: 110%;

}

.reviews__link {
    color: #4EA55E;
    text-decoration: underline;
}

.calculation {
    padding-top: 80px;
    padding-bottom: 80px;
}

.calculation__flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 89px;
}

.calculation__title {
    display: block;
    font-family: 'Roboto-Bold';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 111%;
color: #000000;
max-width: 690px;
margin-bottom: 24px;
text-transform: uppercase;
}

.calculation__descr {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-Regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 111%;
color: #454545;
max-width: 690px;
}

.calculation__descr span {
    font-size: 20px;
}

.calculation__right {
    background: #ECECEC;
border-radius: 6px;
padding: 32px;
max-width: 486px;
}

.calculation__input {
    width: 100%;
    margin-bottom: 22px;
    padding: 11px 12px;
}

.calculation__input::placeholder {
    font-family: 'Inter-Regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #B3B3B3;
}



.calculation__div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.calculation__text {
    font-family: 'Inter-SemiBold';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #000000;
}
.calculation__text-2 {
    color: #a5a5a5;
}

.calculation__link {
    color: #EF810B;
}

.calculation__img-block {
    text-align: center;
    max-width: 943px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
}

.calculation_width {
    width: 40%;
}

.calculation__div_order {
    order: -1;
}


.calculation__image-1 {
    display: flex;
    gap: 35px;
}



.calculation__img-text {
    display: inline;
    flex-direction: column;
    background-color: #4EA55E;
    padding: 25px 16px;
    border-radius: 100px;
    font-family: 'Roboto-Bold';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 70%;
text-align: center;
color: #FFFFFF;

}

.calculation__line {
    background-color: #EF810B;
    width: 1px;
    height: 630px;
}

.calculation__flexbox {
    display: flex;
    justify-content: space-between;
}

.calculation__subtitle {
font-size: 26px;
font-weight: 400;
line-height: 29px;
text-transform: uppercase;
margin-bottom: 70px;
text-align: left;

}

.calculation__subtitle_align {
    text-align: right;
}

.calculation__btn {
    background-color: #4EA55E;
    padding: 11px;
    max-width: 422px;
    width: 100%;
    font-family: 'Inter-SemiBold';
font-size: 16px;
font-weight: 600;
line-height: 24px;
color: #FFFFFF;
margin-bottom: 22px;
text-transform: uppercase;
}

.calculation__btn2 {
    margin-right: auto;
    margin-left: auto;
}

.calculation__img_mt {
    margin-top: -70px;
}

.calculation__img-text2 {
    top: 50px;
}

.calculation__img-text3 {
    top: 200px;
}

.calculation__img-text4 {
    top: 350px;
}

.calculation__img-text span {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    display: block;
    font-family: 'Roboto-Regular';
}

.calculation__img-text5 {
    top: 0px;
    left: 270px;
}

.calculation__img-text6 {
    top: 150px;
    left: 270px;
}
.calculation__img-text7 {
    top: 300px;
    left: 270px;
}
.calculation__img-text8 {
    top: 450px;
    left: 270px;
}

.hidden {
    visibility: hidden;;
}

.calculation__gift {
    display: block;
    font-family: 'Roboto-Bold';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 100%;
text-align: center;
color: #000000;
margin-bottom: 84px;
}

.calculation__btn-2 {
    margin-right: auto;
    margin-left: auto;
    display: block;
}



.contacts__flexbox {
    display: flex;
}

.contacts__block {
    background-image: url(../img/contact1.jpg);
    background-repeat: no-repeat;
    padding: 225px 109px 78px 109px; 
    background-size: cover;
    width: 50%;
}

.contacts__block_bg {
    background-image: url(../img/contact2.jpg);
    background-repeat: no-repeat;
}

.modal-video {
    width: 100%;
}

.contacts__btn {
background-color: #EF810B;
padding: 13px;
max-width: 300px;
width: 100%;
color: #fff;
font-family: 'Inter-SemiBold';
font-size: 16px;
font-weight: 600;
line-height: 24px;
margin-bottom: 90px;
margin-right: auto;
    margin-left: auto;
    display: block;

}

.contatcs__tel {
    flex-direction: column;
    align-items: unset;
}

.contacts__text {
    font-family: 'Roboto-Bold';
font-size: 22px;
font-weight: 600;
line-height: 24px;
color: #FFFFFF;

}


.footer {
    padding: 40px 0px 20px;
    background-color: #4EA55E;
}

.footer__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__adress {
    font-family: 'Inter-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 111%;
color: #FFFFFF;
}

.footer__tel {
    display: block;
    font-family: 'Inter-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 111%;
text-decoration-line: underline;
color: #FFFFFF;
margin-bottom: 15px;
}

.footer__email {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-decoration-line: underline;
    color: #FFFFFF;
}