@media (max-width: 1500px) {
  .header__city {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .wrapper .header__sm-text {
    display: none;
  }
  .wrapper .header__block-1500 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .wrapper .header__btn {
    padding: 19px 30px;
  }
}
@media (max-width: 1240px) {
  .hero__img {
    max-width: 831px;
    width: 100%;
    max-height: 397px;
    height: 100%;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__title {
    font-size: 43px;
    line-height: 54px;
  }
  .section_mb {
    margin-bottom: 100px;
  }
  .title {
    font-size: 36px;
    line-height: 100%;
  }
  .about__flex {
    padding: 50px;
  }
  .about__title {
    font-size: 38px;
    line-height: 110%;
  }
  .contacts__flex {
    flex-direction: column;
  }
  .contacts .map {
    max-width: unset;
  }
  .contacts .map img {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
    margin-right: auto;
    z-index: 6;
  }
  .header__logo {
    position: relative;
    z-index: 6;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    max-width: 992px;
    background-color: rgb(27, 27, 27);
    padding: 75px 20px 20px 20px;
    transition: transform 0.5s;
    z-index: 5;
  }
  .menu__list {
    display: block;
  }
  .menu__link {
    color: #fff;
    font-size: 21px;
    display: block;
    padding: 10px 0;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
  .header.open .header__burger-btn span {
    background-color: #fff;
  }
  .hero__img {
    max-width: 633px;
    width: 100%;
    max-height: 326px;
    height: 100%;
    left: 0;
    transform: unset;
  }
  .criteria__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .criteria__block {
    display: contents;
  }
  .criteria__grid {
    display: contents;
  }
  .criteria__card_br {
    border-right: 1px solid rgb(236, 236, 236);
  }
  .criteria__card_bg {
    grid-column: span 2;
    max-width: unset;
  }
  .criteria__card_bg .subtitle {
    text-align: center;
  }
  .spices__grid {
    grid-template-columns: 1fr 1fr;
  }
  .spices-2__grid {
    grid-template-columns: 1fr;
  }
  .spices-2__card {
    max-width: unset;
  }
  .quetions__flex {
    flex-direction: column;
    align-items: center;
  }
  .quetions__title {
    padding-top: unset;
  }
  .footer__flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .footer__text-1 {
    grid-area: 2/1/3/2;
  }
  .footer__text-2 {
    grid-area: 2/2/3/3;
  }
  .footer__text-3 {
    grid-area: 2/3/3/4;
  }
  .footer__link {
    grid-area: 2/4/3/5;
  }
  .footer__btn {
    grid-area: 1/4/2/5;
  }
  .criteria__card {
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .hero__flex {
    flex-direction: column;
  }
  .hero__img {
    display: none;
  }
  .hero__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero__block-2 {
    margin-left: auto;
  }
  .section_mb {
    margin-bottom: 50px;
  }
  .criteria__title {
    margin-bottom: 30px;
  }
  .criteria__card {
    padding: 20px;
  }
  .projects__title {
    margin-bottom: 30px;
  }
  .consult__block {
    padding: 100px 0;
  }
  .spices__title {
    margin-bottom: 30px;
  }
  .spices__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .spices__card {
    padding: 20px;
    max-width: unset;
  }
  .spices-2__title {
    margin-bottom: 30px;
  }
  .spices-2__card {
    padding: 20px;
    max-width: unset;
  }
  .spices-2__grid {
    gap: 20px;
  }
  .about__flex {
    flex-direction: column;
    gap: 20px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__flex {
    padding: 30px;
  }
  .quetions {
    padding: 30px 0;
  }
  .form {
    padding: 20px;
  }
  .form__input {
    max-width: unset;
  }
  .form__textarea {
    max-width: unset;
  }
  .form__btn {
    max-width: unset;
  }
  .header__burger-btn {
    top: -3px;
  }
}
@media (max-width: 576px) {
  .wrapper .header__block {
    display: none;
  }
  .wrapper .header__btn {
    display: none;
  }
  .header__burger-btn {
    margin-right: unset;
    margin-left: auto;
  }
  .wrapper .header__logo-block {
    padding: 15px 15px 15px 0;
    border-right: unset;
  }
  .hero {
    padding-top: 30px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 110%;
  }
  .hero__block-2 {
    padding: 50px 20px 20px;
  }
  .criteria__flex {
    grid-template-columns: 1fr;
  }
  .criteria__card_bg {
    grid-column: unset;
  }
  .criteria__block .criteria__card {
    border-right: 1px solid rgb(236, 236, 236);
  }
  .title {
    font-size: 26px;
  }
  .section_mb {
    margin-bottom: 30px;
  }
  .projects__flex {
    flex-direction: column;
  }
  .consult__block {
    padding: 50px 0;
  }
  .consult__flex {
    gap: 15px;
  }
  .spices-2__card_bg-1 {
    grid-column: unset;
  }
  .spices-2__card_bg-2 {
    grid-column: unset;
  }
  .spices-2__card_bg-3 {
    grid-column: unset;
  }
  .spices-2__card_bg-4 {
    grid-column: unset;
  }
  .spices-2__card_bg-5 {
    grid-column: unset;
  }
  .about__title {
    font-size: 26px;
  }
  .about__flex {
    padding: 20px;
  }
  .contacts__grid {
    grid-template-columns: 1fr;
  }
  .contacts .form__block {
    flex-direction: column;
  }
  .footer__flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__text-1 {
    grid-area: 2/1/3/2;
  }
  .footer__text-2 {
    grid-area: 3/1/4/2;
  }
  .footer__text-3 {
    grid-area: 3/2/4/3;
  }
  .footer__link {
    grid-area: 2/2/3/3;
  }
  .footer__btn {
    grid-area: 1/2/2/3;
  }
  .projects .small-swiper {
    max-width: 100%;
  }
  .projects__flex {
    max-height: unset;
  }
  .projects .small-swiper img {
    max-width: unset;
  }
  .modal {
    width: 90%;
  }
}/*# sourceMappingURL=media.css.map */