@media (max-width: 1072px) {
  .about__flex {
    flex-direction: column;
  }
  .about__block {
    max-width: unset;
  }
  .about__img {
    margin: 0 auto;
  }
  .clinic__flex {
    padding-left: 15px;
  }
}
@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: var(--color-base-wh);
    padding: 75px 20px 20px 20px;
    z-index: 2;
    transition: transform 0.5s;
  }
  .menu__list {
    display: block;
  }
  .menu__link {
    color: var(--color-base-pr);
    font-size: 21px;
    display: inline-block;
    padding: 10px 0;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
  .hero__block {
    max-width: unset;
    margin-right: auto;
  }
  .drug__overflow {
    overflow: auto;
  }
  .drug__table {
    width: 1000px;
  }
  .drug__flex {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .treatment__flex {
    flex-direction: column;
  }
  .company__overflow {
    overflow: auto;
  }
  .company__flex {
    width: 1000px;
  }
  .quetions__flex {
    flex-direction: column;
  }
  .quetions__block {
    max-width: unset;
  }
  .treatment__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .mb-108 {
    margin-bottom: 54px;
  }
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech__grid {
    grid-template-columns: 1fr;
  }
  .clinic__flex {
    flex-direction: column;
  }
  .clinic__block {
    max-width: unset;
  }
  .treatment {
    padding-top: unset;
  }
  .quetions {
    margin-bottom: 100px;
  }
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .hero__block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header__logo-img {
    max-width: 100px;
  }
  .hero__block h1 {
    font-size: 54px;
    line-height: 110%;
  }
  .hero__block p {
    font-size: 20px;
    line-height: 100%;
  }
  .hero {
    min-height: unset;
  }
  .hero__flex {
    flex-direction: column-reverse;
  }
  .hero__swiper {
    min-height: unset;
  }
  .hero .swiper-slide {
    min-height: unset;
  }
  .hero .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 0.7;
  }
  .hero .swiper-pagination-bullet-active {
    opacity: 1;
  }
  h2 {
    font-size: 26px;
    line-height: 110%;
  }
  .about__block {
    gap: 16px;
  }
  .about__flex-2 {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .about__flex-2 a {
    text-wrap: nowrap;
  }
  .cards__grid {
    gap: 18px;
  }
  .cards {
    padding-bottom: 33px;
  }
  .drug {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .treatment__grid {
    grid-template-columns: 1fr;
    gap: 36px;
  }
  .treatment__card {
    min-height: unset;
    gap: 16px;
  }
  .quetions__form {
    gap: 16px;
  }
  .quetions__flex-3 {
    flex-direction: column;
    gap: 16px;
  }
  .quetions__input {
    border-radius: var(--radiussm);
  }
  .quetions__input:first-child {
    border-radius: var(--radiussm);
  }
  .quetions {
    margin-bottom: 60px;
  }
  .footer__card {
    max-width: unset;
  }
  .footer__grid {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=media.css.map */