@media(max-width: 1405px) {
    .hero .swiper-slide .block {
        max-width: 50%;
    }
    .hero .swiper-btns {
        width: 95%;
    }
    .numbers .grid {
        grid-template-columns: 1fr 1fr;
    }
    .consult .flex {
        flex-direction: column;
        .block {
            align-items: center;
            justify-content: center;
            flex-basis: unset;
            text-align: center;
            padding-bottom: 2rem;
            .form {
                margin: 0 auto;
            }
        }
    }
    .consult .block .form .checkbox-text a {
        display: inline;
    }
    .checkmark {
        left: 0;
    }
    .works .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer .phone {
        font-size: 33px;
    }
    .btn {
        padding: 0.9rem;
    }
    
}

@media(max-width: 1024px) {
    .header__burger-btn {
        display: block;
        z-index: 100;
    }
    .menu {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        background-color: rgb(27, 102, 131);
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        z-index: 99;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: #fff;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateX(100%);
    }
    .hero .title {
        font-size: 72px;
        line-height: 100%;
    }
    .numbers .block .number {
        font-size: 80px;
    }
    .services .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .works .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .projects .flex {
        flex-direction: column;
        align-items: center;
        .subtitle {
            text-align: center;
        }
    }
    .company .flex {
        flex-direction: column;
    }
    .footer .flex {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .logo {
        .logo__img {
            position: absolute;
            left: 50%;
            top: 22px;
            transform: translateX(-50%);
        }
    }
}

@media(max-width: 768px) {
    .hero .title {
        font-size: 4rem;
        line-height: 100%;
    }
    .hero .swiper-slide .block {
        max-width: 80%;
    }
    .hero .swiper-pagination .swiper-pagination-bullet {
        max-width: 10%;
    }
    .pins .flex {
        overflow: auto;
        gap: 3rem;
       
    }
    .pins .flex::-webkit-scrollbar {
        display: none;
    }

    .pins .flex::-webkit-scrollbar {
        scrollbar-width: none; 
    }
    .pins .block {
        max-width: unset;
    }
    .numbers .block {
        padding: 1rem;
        min-height: 270px;
    }
    .numbers .block .number {
        font-size: 4rem;
        line-height: 100%;
    }
    .title {
        font-size: 40px;
        line-height: 100%;
    }
    .projects, .services, .company, .numbers {
        padding: 3rem 0;
    }
    .header__btn svg {
        display: block;
        max-width: 20px;
    }
    .header__btn svg path {
        fill: #fff;
    }
    .header__btn span {
        display: none;
    }
    .header__btn  {
        padding: unset;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }

}

@media(max-width: 576px) {
   
    .logo .logo__img {
        max-width: 140px;
        top: 26px;
    }
    .hero .title {
        font-size: 3rem;
    }
    .hero .swiper-btns {
        display: none;
    }
    .pins {
        padding: 1.5rem 0;
    }
    .numbers .grid {
        grid-template-columns: 1fr;
    }
    .numbers .block {
        min-height: 190px;
    }
    .consult .flex {
        gap: 1.5rem;
    }
    .title {
        font-size: 2rem;
    }
    .text {
        font-size: 1rem;
    }
    .consult .block .form .checkbox-text a {
        display: block;
    }
    .custom-checkbox {
        max-width: 312px;
        margin: 0 auto 1rem;
    }
    .services .grid {
        grid-template-columns: 1fr;
    }
    .services .block {
        padding: 1rem;
        min-height: 200px;
    }
    .works .grid {
        grid-template-columns: 1fr;
    }
    .works .grid .title {
        grid-column: unset;
    }
    .works .block {
        padding: 1rem;
        max-width: unset;
    }
    .company .grid {
        grid-template-columns: 1fr;
    }
}