@media (max-width: 1240px) {
    .container {
        padding: 0 45px;
    }
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        top: -365px;
        left: 0;
        width: 100%;
        min-height: 365px;
        background-color: var(--color-base-wh);
        padding: 75px 20px 20px 20px;
        z-index: 2;
        transition: transform .25s;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: var(--color-base-pr);
        font-size: 21px;
        display: inline-block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateY(100%);
    }
    .company__overflow {
        overflow: auto;
    }
    .quetions__block {
        max-width: unset;
    }
    .about__img {
        width: 50%;
    }
    .menu__link_active::after {
        display: none;
    }

}

@media(max-width: 1072px) {
    .about__flex {
        flex-direction: column;
    }
    .about__block {
        max-width: unset;
    }
    .about__img  {
        margin: 0 auto;
    }
    .clinic__flex {
        padding-left: 15px;
    }
    .container-delete {
        display: contents;
    }
    .company__flex {
        width: 1000px;
    }
    .system__flex {
        flex-direction: column;
    }
    .system__img {
        margin-left: auto;
    }
    .system__grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .system__card a {
        text-align: center;
    }
    .system__card p {
        text-align: center;
    }
    .system__card .btn {
        margin: auto auto 0;
    }
    .info .container {
        padding: 0 15px;
    }
    .info h2 {
        font-size: 35px;
        line-height: 110%;
    }
    .quetions__flex {
        flex-direction: column;
    }
    .cards__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .spices__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
    .mb-bg {
        margin-bottom: 54px;
    }
    .cards__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .clinic__flex {
        flex-direction: column;
        padding-left: unset;
    }
    .clinic__block {
        padding-left: 15px;
        max-width: unset;
    }
    .quetions {
        margin-bottom: 100px;
    }
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .info__flex {
        flex-direction: column;
    }
    .info__block {
        max-width: 100%;
        min-height: unset;
    }
    .about__img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    .header {
        padding: 15px 0;
    }
    .hero__block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .header__logo-img {
        max-width: 100px;
    }
    .hero__block h1 {
        font-size: 54px;
        line-height: 110%;
    }
    .hero__block p {
        font-size: 20px;
        line-height: 100%;
    }
    .hero {
        min-height: unset;
    }
    .hero__flex {
        flex-direction: column-reverse;
    }
    .hero__swiper {
        min-height: unset;
    }
    .hero .swiper-slide {
        min-height: unset;
    }
    .hero .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        opacity: 0.7;
    }
    .hero .swiper-pagination-bullet-active {
        opacity: 1;
    }
    h2 {
        font-size: 26px;
        line-height: 110%;
    }
    .about__block {
        gap: 16px;
    }
    .about__flex-2 {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .about__flex-2 a {
        display: block;
        text-wrap: nowrap;
        min-width: max-content;
    }
    .cards__grid {
        grid-template-columns: 1fr;
        gap: 18px;
    }
    .cards {
        padding-bottom: 33px;
    }
    .quetions__form {
        gap: 16px;
    }
    .quetions__flex-3 {
        flex-direction: column;
        gap: 16px;
    }
    .quetions__input {
        border-radius: var(--radiussm);
    }
    .quetions__input:first-child {
        border-radius: var(--radiussm);
    }
    .quetions {
        margin-bottom: 60px;
    }
    .footer__card {
        max-width: unset;
    }
    .footer__grid {
        grid-template-columns: 1fr;
    }
    .company {
        padding: var(--page-ver-md) 0;
    }
    .company p {
        text-align: center;
    }
    .quetions__flex {
        gap: var(--page-hor-md);
    }
    .promo__flex {
        flex-direction: column;
    }
    .spices__grid {
        grid-template-columns: 1fr;
    }
    .system__grid {
        grid-template-columns: 1fr;
    }
    .modal {
        width: 100%;
    }
    .company__flex-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .tooltip:last-child {
        grid-column: span 2;
    }
}