:root {
    --color-base-wh: #FFFFFF;
    --color-base-bl: #000000;
    --color-base-ac: #007AFF;
    --color-base-ex: #7676AB;
    --color-base-br: #FDB813;
    --color-base-pr: #3C3C3C;
    --color-base-sc: #68686E;
    --color-base-tr: #94949D;
    --color-base-hover-ac: #297fdb;
    --color-text-tr: #94949e;
    --color-separator-sc: #00000012;
    --color-bg-gray-pale: #f9f9fb;
    --color-input-normal: #d0d0d4;
    --color-text-link-visited: #a888b7;

    --color-button-sc-normal: #ececf1;
    --color-button-sc-normal-hover: #c9c9c9;



    --font-family-regular: 'MuseoSansRegular', 'Arial';
    --font-family-medium: 'MuseoSansMedium', 'Arial';
    --font-family-bold: 'MuseoSansBold', 'Arial';

    --radiuslg: 24px;
    --radiusdf: 18px;
    --radiussm: 8px;

    --page-hor-lg: 72px;
    --page-hor-md: 48px;
    --page-hor-df: 36px;
    --page-hor-sm: 24px;
    --page-hor-tn: 18px;
    --page-hor-mn: 8px;
    --page-ver-hg: 144px;
    --page-ver-bg: 108px;
    --page-ver-lg: 66px;
    --page-ver-md: 48px;
    --page-ver-df: 32px;
    --page-ver-sm: 24px;
    --page-ver-tn: 16px;
    --page-ver-mn: 8px;
    --page-aside-w: 0px;
    --page-s90: 90px;
    --page-s100: 100px;
    --page-s120: 120px;
    --page-s130: 130px;
    --page-s140: 140px;
    --page-s170: 170px;
    --page-s180: 180px;
    --page-s220: 220px;
    --page-s270: 270px;
    --slider-h: 16px;
    --slider-w: 16px;
    --slider-w-selected: 32px;
    --slider-gap: 3px;
    --slider-border: 4px;
    --catalog-col-gap: 24px;
    --catalog-row-gap-sm: 36px;
    --catalog-row-gap-df: 48px;
    --catalog-item-4col-hack: 270px;
    --catalog-item-3col-hack: 380px;
    --catalog-item-2col-hack: 500px;
    --catalog-item-pic-h: 264px;
    --catalog-user-pic-sm: 64px;
    --catalog-detail-pic-h: 576px;
    --catalog-item-row-gap: 18px;
    --tool-col-gap: 24px;
    --tool-row-gap: 32px;
    --nav-ver: 32px;
    --nav-border: 8px;
    --nav-col-gap: 24px;
    --actionbar-df: 60px;
    --popup-hor: 24px;
    --popup-ver-sm: 18px;
    --popup-ver-df: 24px;
    --button-mn: 24px;
    --button-sm: 30px;
    --radius-tn: 3px;
    --input-lg: var(--button-lg);
    --input-hor-lg: var(--page-hor-tn);
    --input-ver-lg: var(--page-ver-tn);
    --input-checkbox: 21px;
    --radius-sm: 8px;
    --icon-sm: 16px;
    --hero-gap-hor: 144px;
    --hero-gap-ver: 32px;
    --icon-df: 24px;
    --icon-illustration: 60px;
    --radius-df: 18px;
    --radius-lg: 24px;
    --radius-max: 999px;
    --radius-no: 0px;

    --button-df: 36px;
    --button-lg: 48px;

    --button-hor-sm: 12px;
    --button-hor-df: 16px;
    --button-hor-lg: 22px;
    --button-gap-sm: 4px;
    --button-gap-df: 12px;
    --button-gap-lg: 18px;
    --button-group-gap-df: 12px;
    --button-group-gap-lg: 24px;
    --button-head-row-gap: 12px;
    --color-icon-pr: #8F8F9D;

    --color-icon-sc: #DDDDE8;
    --color-icon-tr: #ECECF1;
    --color-input-hover: #BCBCC2;
    --color-input-focused: #A2A2AA;
    --color-input-disabled: var(--color-base-transparent);
    --color-text-link: #007AFF;
    --color-text-pr-ondark: #FFFFFF;
    --color-base-sc-ondark: #FFFFFFB2;
    --color-text-br: var(--color-base-br);
    --color-button-ac-normal: var(--color-base-bl);
    --color-button-ac-normal-hover: #dd9c04;
    --color-button-pr-normal: var(--color-base-br);
    --color-button-sc-disabled: #00000005;
    --color-button-sc-selected: #FDB813;
    --color-button-sc-selected-border: #9EA552;
    --color-button-sc-preselected: #E6EABF;
    --color-separator-pr: #00000026;
    --color-separator-dash: #0000005E;
    --color-base-transparent: #FFFFFF00;
    --color-base-warning: #F44D00;

}

.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
}

.btn_lg {
    font-family: var(--font-family-bold);
    font-weight: 700;
    min-height: var(--button-lg);
    border-radius: var(--radius-lg);
    padding: 0 var(--button-hor-lg);
    gap: var(--button-gap-lg);
}

.btn_df {
    font-family: var(--font-family-medium);
    font-weight: 500;
    min-height: var(--button-df);
    border-radius: var(--radius-df);
    padding: 0 var(--button-hor-df);
    gap: var(--button-gap-df);
}

.btn_sm {
    font-family: var(--font-family-regular);
    font-weight: 400;
    min-height: var(--button-sm);
    border-radius: var(--radius-sm);
    padding: 0 var(--button-hor-sm);
    gap: var(--button-gap-sm);
}

.btn_ac {
    background-color: var(--color-button-ac-normal);
    color: var(--color-base-wh);
    transition: background-color .25s ease, color .25s ease;
}

.btn_ac:focus-visible {
    border: 1px solid #000;
}

.btn_pr {
    background-color: var(--color-button-pr-normal);
    color: var(--color-text-ac);
    transition: background-color .25s ease, color .25s ease;
}

.btn_pr:hover {
    background-color: var(--color-button-ac-normal-hover);
}


.btn_pr:focus-visible {
    border: 1px solid #000;
}

.btn_sc {
    background-color: var(--color-button-sc-normal);
    color: var(--color-base-pr);
    transition: background-color .25s ease, color .25s ease;
}

.btn_sc:focus-visible {
    border: 1px solid #000;
}

.btn_sc:hover {
    background-color: var(--color-button-sc-normal-hover);
}

.input {
    width: 100%;
    border: 1px solid var(--color-input-normal);
    height: var(--input-lg);
    padding-left: 18px;
    border-radius: var(--radiussm) var(--radiussm);
}

@font-face {
    font-family: 'MuseoSansLight';
    font-weight: 300;
    src: url('../fonts/Museo/MuseoSansLight.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansRegular';
    font-weight: 400;
    src: url('../fonts/Museo/MuseoSansRegular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansMedium';
    font-weight: 500;
    src: url('../fonts/Museo/MuseoSansMedium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MuseoSansBold';
    font-weight: 700;
    src: url('../fonts/Museo/MuseoSansBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'MuseoSansRegular';
    font-weight: 400;
    background-color: var(--color-base-wh);
    margin-right: auto;
    margin-left: auto;
    min-width: 375px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1222px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.mb-bg {
    margin-bottom: var(--page-ver-bg);
}

.mb-lg {
    margin-bottom: var(--page-ver-lg);
}

h2 {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-align: left;
    color: var(--color-text-ac);
}

.header {
    background-color: var(--color-base-pr);
    padding: 31.5px 0;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-img {
        max-width: 198px;
        max-height: 57px;
        width: 100%;
        height: 100%;
    }


    &__burger-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 3;
    }

    &__burger-btn span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: var(--color-base-wh);
        left: 5px;
        transition: transform .5s, opacity .5s, background-color .5s;
    }

    &__burger-btn span:nth-child(1) {
        transform: translateY(-10px);
    }

    &__burger-btn span:nth-child(3) {
        transform: translateY(10px);
    }

    &.open &__burger-btn span {
        background-color: var(--color-button-ac-normal);
    }

    &.open &__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    &.open &__burger-btn span:nth-child(2) {
        opacity: 0;
    }

    &.open &__burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }





}

.menu__list {
    display: flex;
    align-items: center;
    gap: var(--page-hor-sm);
}

.menu__item {
    font-family: var(--font-family-regular);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: var(--color-base-wh);
}

.menu__link {
    transition: color .25s ease, opacity .25s ease;
}

.menu__link:hover {
    color: var(--color-base-br);
}

.menu__link:active {
    opacity: 0.7;
}

.menu__link_active {
    color: var(--color-base-br);
    position: relative;
    padding-bottom: 47px;
}

.menu__link_active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    border-radius: 999px 999px 0 0;
    background-color: var(--color-base-br);
    left: 0;
}


.hero {
    min-height: 760px;
    position: relative;

    &__video {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 760px;
        width: 100%;
        z-index: 101;
        object-fit: fill;
    }

    .container {
        width: 100%;
    }

    &__swiper {
        min-height: 760px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        min-height: 760px;
        background-image: url(../img/hero.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__block {
        max-width: 617px;
        width: 100%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: var(--hero-gap-ver);

        h1 {
            font-family: var(--font-family-bold);
            font-weight: 700;
            font-size: 84px;
            line-height: 67.2px;
            text-align: left;
            color: var(--color-base-wh);
        }

        p {
            font-family: var(--color-text-ac);
            font-size: 24px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;
            color: var(--color-base-wh);

        }
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: var(--page-hor-sm);

        span {
            color: var(--color-base-br);
            font-family: var(--font-family-regular);
            font-size: 17px;
            font-weight: 400;
            line-height: 21.25px;
            text-align: left;
            max-width: 375px;
        }
    }



    &__icon {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 12px solid var(--color-base-bl);
        border-bottom: 7px solid transparent;
        transition: border-color .25s ease;
    }

    .swiper-pagination-fraction {
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 4px solid var(--color-base-wh);
        border-radius: var(--radiussm);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--color-base-wh);
        width: 32px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 30px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 1.5px;
    }
}

.close-video__btn {
    display: none;
    position: absolute;
    top: -60px;
    right: 20px;
    z-index: 101;
}

.text-20 p {
    font-family: var(--font-family-regular);
    font-size: 20px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    color: var(--color-base-sc);
}

.text-17 p {
    font-family: var(--font-family-regular);
    font-size: 17px;
    font-weight: 400;
    line-height: 21.25px;
    text-align: left;
    color: var(--color-base-tr);
}

.about {

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: var(--hero-gap-ver);
    }

    &__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        a {
            font-family: var(--font-family-medium);
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
            color: var(--color-base-ac);
            transition: color .25s ease;
            border-bottom: 1px dotted var(--color-base-ac);
        }


        a:hover {
            color: var(--color-base-hover-ac);
        }
    }

    &__img {
        max-width: 607px;
        width: 100%;
        max-height: 397px;
        height: 100%;
    }
}

h4 {
    font-family: var(--font-family-medium);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-base-pr);
    margin: 0;
}






.cards {
    padding-bottom: var(--page-ver-lg);
    border-bottom: 1px solid var(--color-separator-sc);

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: var(--page-hor-df);
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: var(--page-hor-sm);
        min-height: 316px;
    }

    &__img-1 {
        max-width: 47px;
        width: 100%;
        max-height: 58px;
        height: 100%;
    }

    &__img-2 {
        max-width: 50px;
        width: 100%;
        max-height: 58px;
        height: 100%;
    }

    &__img-3 {
        max-width: 56px;
        width: 100%;
        max-height: 56px;
        height: 100%;
    }

    &__img-4 {
        max-width: 120px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }

    .btn {
        margin-top: auto;
    }

}

h3 {
    font-family: var(--font-family-bold);
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: var(--color-text-ac);

}

.promo {
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &__block {
        max-width: 864px;
        display: flex;
        flex-direction: column;
        gap: var(--hero-gap-ver);
    }
    &__img {
        max-width: 214px;
        width: 100%;
        max-height: 311px;
        height: 100%;
    }
}

.clinic {
    background-color: var(--color-bg-gray-pale);
    background-image: url(../img/clinic-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 72px;
        max-width: 1294px;
        margin: 0 auto;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: var(--page-ver-df);
        flex-shrink: 0;
        max-width: 50%;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__img {
        max-width: 683px;
        width: 100%;
        max-height: 500px;
        height: 100%;
    }
    #playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 102;
    }
    #clinicVideo {
        display: block;
        position: relative;
        width: 100%;
        z-index: 101;
        max-height: 432px;
        width: 590px;
        height: 100%;
        object-fit: cover;
    }
}


.relative {
    position: relative;
}
.spices {
    h2 {
        margin-bottom: var(--page-ver-sm);
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 20px;
        margin-bottom: var(--page-ver-bg);
    }
    &__card {
        max-width: 383px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--page-ver-sm);
        strong {
            font-family: var(--font-family-medium);
            font-size: 20px;
            font-weight: 500;
            line-height: 22.5px;
            text-align: left;
            color: var(--color-base-pr);
        }   
        span {
            font-family: var(--font-family-regular);
            font-size: 17px;
            font-weight: 400;
            line-height: 21.25px;
            text-align: left;
            color: var(--color-text-tr);
        }
    }
    &__img {
        max-width: 280px;
        width: 100%;
        max-height: 217px;
        height: 100%;
    }
}

.system {
    padding-top: var(--page-ver-sm);
    padding-bottom: var(--page-ver-lg);
    border-top: 1px solid var(--color-separator-sc);
    border-bottom: 1px solid var(--color-separator-sc);
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 80px;
    }
    &__block {
        h2 {
            margin-bottom: var(--page-ver-df);
        }
        a {
            text-decoration: underline;
        }
    }
    &__img {
        max-width: 404px;
        width: 100%;
        max-height: 485px;
        height: 100%;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 40px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: var(--page-ver-sm);
        max-width: 270px;
        min-height: 234px;
        a {
            font-family: var(--font-family-medium);
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--color-text-ac);
        }
        .btn {
            margin-top: auto;
        }
    }
}

.info {
    padding-top: var(--page-ver-lg);
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--page-ver-md);;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: var( --page-ver-df);
        min-height: 333px;
        max-width: calc(50% - 20px);
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--page-ver-mn);
        max-width: 583px;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        p {
            display: flex;
            gap: 3px;
            color: var(--color-base-pr);
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        a {
            color: var(--color-base-ac);
            text-wrap: nowrap;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        span {
            text-wrap: nowrap;
            color: var(--color-base-tr);
        }
    }
    .btn_lg {
        gap: 5px;
    }
    .btn {
        margin-top: auto;
        span {
            color: var(--color-base-tr);
        }
    }
    .visited {
        color: var(--color-text-link-visited);
    }
    
}

.stories {
    position: relative;
    max-width: 1366px;
    margin: 0 auto var(--page-ver-bg);
    &__bg {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        top: 0;
        left: 0;
        }
        &__img-1 { grid-area: 1 / 1 / 3 / 3; }
        &__img-2 { grid-area: 1 / 3 / 2 / 4; }
        &__img-3 { grid-area: 2 / 3 / 3 / 4; }
        &__img-4 { grid-area: 1 / 4 / 3 / 5; }
    &__img {
        object-fit: cover;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: var(--page-hor-df);
        max-width: 539px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        left: 72px;
        h2 {
            color: var(--color-base-wh);
        }
        p {
            color: var(--color-base-sc-ondark);
        }
    }
    .btn {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .btn::before {
        content: "";
        width: 10px;  
        height: 12px; 
        background-color: #000;
        position: relative;
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    
    }
}







.company {
    border-top: 1px solid var(--color-separator-sc);
    padding: var(--page-ver-df) 0;

    h2 {
        text-align: center;
        margin-bottom: var(--page-ver-md);
        color: var(--color-text-tr);
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: var(--page-ver-md);
    }
    &__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: var(--page-ver-md);
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__img-1 {
        max-width: 74px;
        max-height: 80px;
    }

    &__img-2 {
        max-width: 113px;
        max-height: 83px;
    }

    &__img-3 {
        max-width: 208px;
        max-height: 64px;
    }

    &__img-4 {
        max-width: 155px;
        max-height: 59px;
    }

    &__img-5 {
        max-width: 285px;
        max-height: 25px;
    }

    p {
        text-align: right;
    }
    
    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%; 
        left: 50%;
        margin-left: -60px; 
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
        margin-top: -1px;
    }

    .tooltip .tooltiptext.visible {
        visibility: visible;
        opacity: 1;
    }
    &__cert img {
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    }
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
   box-shadow: rgba(0, 0, 0, 0.18) 0px 7px 18px 0px;
   background-color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    overflow: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 35px;
    line-height: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: color .25s ease;
}

.close:hover,
.close:focus {
    color: var(--color-base-br);
    text-decoration: none;
    cursor: pointer;
}

#modalImage {
    border-radius: var(--radiussm);
}


.quetions {


    &__flex {
        display: flex;
        justify-content: space-between;
        gap: var(--page-hor-sm);
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: calc(50% - 18px);
    }

    &__block-1 a {
        display: flex;
        align-items: center;
        gap: var(--page-hor-sm);
    }

    &__flex-2 {
        display: flex;
        flex-direction: column;
    }

    &__flex-2 span {
        font-family: var(--font-family-regular);
        font-weight: 400;
        font-size: 17px;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-base-tr);

    }

    &__flex-2 span:first-of-type {

        font-family: var(--font-family-bold);
        font-weight: 700;
        color: var(--color-base-pr);
    }

    &__icon {
        max-width: 46.67px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }

    &__block-2 h2 {
        color: var(--color-base-bl);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__flex-3 {
        display: flex;
        align-items: center;
        border-radius: var(--radiussm);
    }

    &__input {
        border-radius: 0 var(--radiussm) var(--radiussm) 0;
        margin-left: -1px;
    }

    &__input::placeholder {
        font-family: var(--font-family-regular);
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: var(--color-text-tr);
    }

    &__input:first-child {
        border-radius: var(--radiussm) 0 0 var(--radiussm);
        margin-left: unset;
    }

    &__textarea {
        border: 1px solid var(--color-input-normal);
        border-radius: var(--radiussm);
        min-height: 80px;
        padding-left: 18px;
        padding-top: 16px;
    }

    #checkbox1:focus + .checkbox {
        border: 1px solid var(--color-base-br);
    }
    #checkbox2:focus + .checkbox {
        border: 1px solid var(--color-base-br);
    }
    .checkbox {
        display: block;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        width: 21px;
        height: 21px;
    }

    .checkbox.focused {
        border: 2px solid red; /* Красная рамка при фокусе */
    }

    .gray-button {
        max-width: max-content;
    }

    .checkboxes {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .checker {
        display: flex;
        gap: 12px;
        font-family: var(--font-family-regular);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-base-sc);
        cursor: pointer;

    }

    &__links a:not(:last-child) {
        margin-bottom: 16px;
    }

    .checker a {
        color: var(--color-base-ac);
    }

    .checkbox {
        display: block;
        flex-shrink: 0;
        border: 1px solid var(--color-input-normal);
        border-radius: 4px;
        width: 21px;
        height: 21px;
    }

    .checked {
        background-image: url(../img/svg/checked.svg);
        border-color: var(--color-base-br);
    }
}

.footer {
    padding-bottom: var(--page-ver-lg);

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: var(--page-hor-df);
    }

    &__card {
        max-width: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: var(--page-ver-df);
        border-top: 2px solid var(--color-separator-sc);
    }

    h5 {
        font-family: var(--font-family-regular);
        font-size: 17px;
        font-weight: 600;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-base-pr);
        margin: unset;
        margin-bottom: var(--page-ver-tn);
    }

    a {
        font-family: var(--font-family-regular);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-tr);
    }

    span {
        font-family: var(--font-family-regular);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-tr);

    }

    &__icon {
        width: 30px;
        height: 20px;
    }

    &__icon-3 {
        width: 16px;
        height: 16px;
    }

    &__icon-2 {
        width: 16px;
        height: 16px;
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}