:root {
    --color-base-pr: #3C3C3C;
    --color-base-wh: #FFFFFF;
    --color-base-br: #FDB813;
    --color-text-ac: #000000;
    --color-text-sc: #68686e;
    --color-base-ac: #007aff;
    --color-text-tr: #94949e;
    --color-separator-sc: #00000012;
    --color-bg-gray-pale: #f9f9fb;
    --color-input-normal: #d0d0d4;

    --color-button-sc-normal: #ececf1;
    --color-button-ac-normal: #000000;


    --font-family: 'MuseoSansRegular';

    --radiuslg: 24px;
    --radiusdf: 18px;
    --radiussm: 8px;
}

@font-face {
    font-family: 'MuseoSansLight';
    font-weight: 300;
    src: url('../fonts/Museo/MuseoSansLight.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansRegular';
    font-weight: 400;
    src: url('../fonts/Museo/MuseoSansRegular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansMedium';
    font-weight: 500;
    src: url('../fonts/Museo/MuseoSansMedium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MuseoSansBold';
    font-weight: 700;
    src: url('../fonts/Museo/MuseoSansBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'MuseoSansRegular';
    font-weight: 400;
    background-color: var(--color-base-wh);
    margin-right: auto;
    margin-left: auto;
    min-width: 375px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1222px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.mb-108 {
    margin-bottom: 108px;
}

h2 {
    font-family: 'MuseoSansMedium';
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: var(--color-text-ac);
}

.header {
    background-color: var(--color-base-pr);
    padding: 31.5px 0;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-img {
        max-width: 198px;
        max-height: 57px;
        width: 100%;
        height: 100%;
    }

   
    &__burger-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 3;
    }
    
    &__burger-btn span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: var(--color-base-wh);
        left: 5px;
        transition: transform .5s, opacity .5s, background-color .5s;
    }
    
    &__burger-btn span:nth-child(1) {
        transform: translateY(-10px);
    }
    
    &__burger-btn span:nth-child(3) {
        transform: translateY(10px);
    }
    
    &.open &__burger-btn span {
        background-color: var(--color-button-ac-normal);
    }
    
    &.open &__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    
    &.open &__burger-btn span:nth-child(2) {
        opacity: 0;
    }
    
    &.open &__burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    
    
    
    
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.menu__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: var(--color-base-wh);
}
.menu__link_active {
    color: var(--color-base-br);
    position: relative;
    padding-bottom: 47px;
}
.menu__link_active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    border-radius: 100% 100% 0 0;
    background-color: var(--color-base-br);
    left: 0;
}


.hero {
    min-height: 760px;
    &__swiper {
        min-height: 760px;
    }
    .swiper-slide {
        min-height: 760px;
        background-image: url(../img/hero.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__block {
        max-width: 617px;
        width: 100%;
        margin-left: auto;
        padding-top: 215px;
        h1 {
        font-family: 'MuseoSansBold';
        font-weight: 700;
        font-size: 84px;
        line-height: 67.2px;
        text-align: left;
        color: var(--color-base-wh);
        margin-bottom: 32px;
        }
        p {
            font-family: var(--color-text-ac);
            font-size: 24px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;
            color: var(--color-base-wh);
            margin-bottom: 32px;
        }
    }
    &__flex {
        display: flex;
        align-items: center;
        gap: 24px;
        span {
            color: var(--color-base-br);
            font-family: var(--font-family);
            font-size: 17px;
            font-weight: 400;
            line-height: 21.25px;
            text-align: left;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        gap: 18px;
        background-color: var(--color-base-br);
        color: var(--color-text-ac);
        border-radius: var(--radiuslg);
        max-width: 116px;
        width: 100%;
        padding: 15px 24px;
    }
    &__icon {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 12px solid var(--color-text-ac);
        border-bottom: 7px solid transparent;
    }
    .swiper-pagination-fraction {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 4px solid var(--color-base-wh);
        border-radius: var(--radiussm);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--color-base-wh);
        width: 32px;
    }
}

.text-20 p {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    color: var(--color-text-sc);
}

.about {

    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__flex-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        a {
            font-family: var(--font-family);
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: var(--color-base-ac);
            text-decoration: underline;
        }
    }
    &__img {
        max-width: 607px;
        width: 100%;
        max-height: 397px;
        height: 100%;
    }
}

h4 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--color-base-pr);
    margin: 0;
}

.text-17 p{
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 21.25px;
    text-align: left;
    color: var(--color-text-tr);

}

.gray-button {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: var(--color-base-pr);
    padding: 10px 16px;
    background-color: var(--color-button-sc-normal);
    border-radius: var(--radiusdf);
}

.cards {
    padding-bottom: 66px;
    border-bottom: 1px solid var(--color-separator-sc);
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 36px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-height: 316px;
    }
   
    &__img-1 {
        max-width: 80px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }
    &__img-2 {
        max-width: 54px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }
    &__img-3 {
        max-width: 120px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }
    &__img-4 {
        max-width: 58px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }
    .gray-button {
        max-width: max-content;
        margin-top: auto;
    }

}

.tech {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__flex {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__img {
        max-width: 68px;
        width: 100%;
        max-height: 86px;
        height: 100%;
    }
    &__img-2 {
        max-width: 383px;
        width: 100%;
        max-height: 252px;
        height: 100%;
    }
    &__img-3 {
        max-width: 383px;
        width: 100%;
        max-height: 703px;
        height: 100%;
    }
    &__list {
        list-style-type: disc;
    }
    &__list li{
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-sc);
    }
    &__list li::before {
        content: "•";
        color: var(--color-base-br);
        margin-right: 3px;
    }
}

.clinic {
    background-color: var(--color-bg-gray-pale);
    background-image: url(../img/clinic-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    margin-bottom: 66px;
    
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 72px;
        max-width: 1294px;
        margin: 0 auto;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex-shrink: 0;
        max-width: 50%;
    }
    .gray-button {
        max-width: max-content;
        display: flex;
        align-items: center;
        gap: 18px;
    }
    &__icon {
        width: 16px;
        height: 16px;
    }
    &__img {
        max-width: 683px;
        width: 100%;
        max-height: 500px;
        height: 100%;
    }
}

.drug {
    padding-bottom: 48px;
    margin-bottom: 48px;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 66px;
    }
    &__block {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__btn {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        padding: 10px 16px;
        color: var(--color-base-pr);
        background-color: var(--color-button-sc-normal);
        border-radius: var(--radiusdf);
        transition: background-color .3s ease, color .3s ease;
    }
    &__btn_active {
        background-color: var(--color-base-br);
        color: var(--color-text-ac);
    }
    &__btn-2 {
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-tr);
        padding: 15px 22px;
        background-color: transparent;
        border-radius: var(--radiuslg);
        transition: background-color .3s ease, color .3s ease;
    }
    &__btn-2_active {
        background-color: var(--color-button-ac-normal);
        color: var(--color-base-wh);
    }
    &__tab-1, &__tab-2 {
        display: none;
        opacity: 0;
    }
    .active {
        display: block;
        opacity: 1;
        animation: fadeIn .3s ease;
    }
    &__img {
        display: none;
        max-width: 1222px;
        width: 100%;
        max-height: 385px;
        height: 100%;
        margin-bottom: 66px;
    }
    #tabImage-2 {
        transform: rotate(180deg);
    }
    .active-img {
        display: block;
    }
    &__table {
        width: 100%;
        border-collapse: collapse;
        tr {
            background-color: transparent;
            transition: background-color .3s ease;
        }
        tr:not(:first-child) {
            border-top: 1px solid var(--color-separator-sc);
        }
        th {
            padding: 24px 8px;
            text-align: left;
            font-family: 'MuseoSansMedium';
            font-weight: 500;
            font-size: 17px;
            line-height: 21.25px;
            text-align: left;
            color: var(--color-text-tr);
            text-wrap: nowrap;
        }
        .active-row {
            background-color: #F9F9FB;
        }
        td {
            padding: 24px 16px;
            vertical-align: top;
        }
        h6 {
            font-family: 'MuseoSansMedium';
            font-weight: 500;
            font-size: 17px;
            line-height: 21.25px;
            text-align: left;
            color: var(--color-base-pr);
            margin: unset;
        }
        p {
            font-family: 'MuseoSansMedium';
            font-weight: 500;
            font-size: 17px;
            line-height: 21.25px;
            text-align: left;
            color: var(--color-base-pr);
            margin-bottom: 24px;
        }
        span {
            display: block;
            font-family: var(--font-family);
            color: var(--color-text-sc);
            font-size: 17px;
            font-weight: 400;
            line-height: 21.25px;
            text-align: left;
        }
        li {
            font-family: var(--font-family);
            font-size: 17px;
            font-weight: 400;
            line-height: 21.25px;
            text-align: left;
            color: var(--color-text-sc);
        }
        li::before {
            content: "•";
            color: var(--color-base-br);
            margin-right: 3px;
        }


    }
}


.treatment {
    padding: 48px 0 66px;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &__block {
        display: flex;
        align-items: center;
    }
    &__btn {
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-tr);
        padding: 15px 22px;
        border-radius: var(--radiuslg);
        transition: background-color .3s ease, color .3s ease;
    }
    &__btn_active {
        color: var(--color-base-wh);
        background-color: var(--color-button-ac-normal);
        border-radius: var(--radiuslg);

    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 270px);
        justify-content: space-between;
        gap: 16px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-height: 306px;
    }
    &__img {
        max-width: 58px;
        width: 100%;
        height: 60px;
    }
    .gray-button {
        max-width: max-content;
        margin-top: auto;
    }
    
    &__tab-1, &__tab-2 {
        display: none;
        opacity: 0;
        transition: opacity .3s ease;
    }
    .active {
        display: block;
        opacity: 1;
        animation: fadeIn .3s ease;
    }
}

.company {
    border-top: 1px solid var(--color-separator-sc);
    padding: 32px 0;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 32px;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__img-1 {
        max-width: 74px;
        max-height: 80px;
    }
    &__img-2 {
        max-width: 113px;
        max-height: 83px;
    }
    &__img-3 {
        max-width: 208px;
        max-height: 64px;
    }
    &__img-4 {
        max-width: 155px;
        max-height: 59px;
    }
    &__img-5 {
        max-width: 285px;
        max-height: 25px;
    }
    p {
        text-align: right;
    }
}

.quetions {
    margin-bottom: 200px;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: calc(50% - 18px);
    }
    &__block-1 a {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__flex-2 {
        display: flex;
        flex-direction: column;
    }
    &__flex-2 span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 21.25px;
        text-align: left;

    }
    &__flex-2 span:first-of-type {

        font-family: 'MuseoSansBold';
        font-weight: 700;
        color: var(--color-base-pr);
    }
    &__icon {
        max-width: 46.67px;
        width: 100%;
        max-height: 60px;
        height: 100%;
    }
    &__block-2 h2 {
        color: var(--color-base-pr);
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__flex-3 {
        display: flex;
        align-items: center;
        border-radius: var(--radiussm);
    }
    &__input {
        width: 100%;
        border: 1px solid var(--color-input-normal);
        height: 48px;
        padding-left: 18px;
        border-radius:  0 var(--radiussm) var(--radiussm) 0;
    }
    &__input:first-child {
        border-radius: var(--radiussm) 0 0 var(--radiussm);
    }
    &__textarea {
        border: 1px solid var(--color-input-normal);
        border-radius: var(--radiussm);
        min-height: 80px;
        padding-left: 18px;
        padding-top: 16px;
    }
    .checkbox {
        display: block;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        width: 21px;
        height: 21px;
    }
    .gray-button {
        max-width: max-content;
    }
    .checkboxes {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .checker {
        display: flex;
        gap: 12px;
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        cursor: pointer;

    }
    &__links a:not(:last-child) {
        margin-bottom: 16px;
    }
    .checker a {
        color: var(--color-base-ac);
    }
    .checkbox {
        display: block;
        flex-shrink: 0;
        border: 1px solid var(--color-input-normal);
        border-radius: 4px;
        width: 21px;
        height: 21px;
    }
    .checked {
        background-image: url(../img/svg/checked.svg);
        border-color: var(--color-base-br);
    }
}

.footer {
    padding-bottom: 66px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 36px;
    }
    &__card {
        max-width: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 32px;
        border-top: 2px solid var(--color-separator-sc);
    }
    h5 {
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 600;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-base-pr);
        margin: unset;
        margin-bottom: 16px;
    }

    a {
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-tr);
    }
    span {
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: 400;
        line-height: 21.25px;
        text-align: left;
        color: var(--color-text-tr);

    }
    &__icon {
        width: 30px;
        height: 20px;
    }
    .gray-button {
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: max-content;
    }
    &__icon-3 {
        width: 16px;
        height: 16px;
    }
    &__icon-2 {
        width: 16px;
        height: 16px;
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
