@font-face {
    font-family: 'Cera Pro Light';
    font-weight: 300;
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 400;
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro Medium';
    font-weight: 500;
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cera Pro';
    font-weight: 400;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    min-width: 375px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1680px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: #000;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu {
    max-width: 392px;
    width: 100%;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;


}



.menu__link {
    font-family: Cera Pro Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #FFFFFF;
    transition: color .3s ease;
}

.menu__link:hover {
    color: rgb(24, 170, 189);
}

.wrapper {
    background-image: url(../img/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    .header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        &__logo-block {
            padding: 21px 50px 21px 0;
            border-right: 1px solid rgba(255, 255, 255, 0.15);;
        }
        &__block-1500 {
            display: contents;
        }
        &__logo img {
            max-width: 200px;
            width: 100%;
            max-height: 38px;
            height: 100%;
        }
        &__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        &__block {
            display: flex;
            gap: 15px;
        }
        &__block:hover svg path {
            fill: rgb(24, 170, 189);
        }
        &__block:hover svg path {
            transition: fill .3s ease;
        }
        &__text {
            font-family: Cera Pro Medium;
            font-size: 20px;
            font-weight: 500;
            line-height: 25.14px;
            text-align: left;
                color: #FFFFFF;
        }
        &__sm-text {
            display: block;
            font-family: Cera Pro;
            font-size: 15px;
            font-weight: 400;
            line-height: 18.85px;
            text-align: left;
            color: #FFFFFF;
        }
        &__btn {
            font-family: Cera Pro Medium;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            text-align: left;
            padding: 19px 0;
            background-color: rgba(27, 27, 27, 1);
            max-width: 193px;
            width: 100%;
            color: #FFFFFF;
            text-align: center;
            text-transform: uppercase;
            transition: background-color .3s ease;
        }
        &__btn:hover {
            background-color: rgb(24, 170, 189);

        }
        &__link {
            text-align: right;
        }
    }

}

.button {
    font-family: Cera Pro Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    color: #FFFFFF;
    padding: 25px 0;
    width: 100%;
    background-color: rgba(24, 170, 189, 1);
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease;
}

.button:hover {
    background-color: rgb(27, 27, 27);
}

.hero {
    padding-top: 130px;
    position: relative;
    min-height: 850px;
    .container {
        max-width: 1400px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
    &__block {
        max-width: 762px;
    }
    &__title {
        font-family: Cera Pro;
        font-size: 50px;
        font-weight: 400;
        line-height: 70px;
        text-align: left;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__btn {
        position: relative;
        z-index: 3;
        padding: 25px 0;
        max-width: 259px;
    }
  
    &__block-2 {
        background-color: #FFFFFF;
        padding: 50px 31px;
        max-width: 300px;
        clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: Cera Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(112, 118, 143, 1);
    }
    &__item:not(:last-child) {
        padding-bottom: 27px;
        border-bottom: 1px solid #EEEEEE;
    }
    &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1170px;
        width: 100%;
        max-height: 535px;
        height: 100%;
    }
}

.section_mb {
    margin-bottom: 140px;
}
.title {
    font-family: Cera Pro;
    font-size: 46px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    color: rgba(42, 50, 63, 1);
    text-transform: uppercase;
}

.subtitle {
    font-family: Cera Pro Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: rgba(42, 50, 63, 1);
    text-transform: uppercase;
} 
.text {
    font-family: Cera Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(112, 118, 143, 1);
}

.criteria {

    &__title {
        max-width: 892px;
        margin-bottom: 76px;
    }

    &__title span {
        color: rgba(124, 163, 187, 1);
    }

    &__flex {
        display: flex;
    }
    &__block {
        background-image: url(../img/criteria.webp);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 877px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
        .criteria__card {
            border-right: unset;
        }
    }
    &__card {
        padding: 45px 49px;
        background-color: #fff;
        max-width: 387px;
        width: 100%;
        border: 1px solid rgba(236, 236, 236, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 328px;
    }
    &__subtitle {
        margin-bottom: 22px;
    }

    &__text {
        max-width: 256px;
    }
  
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 14px;
        font-family: Cera Pro Medium;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #FFFFFF;

    }
    &__link:hover svg path{
        fill: rgb(27, 27, 27);
    }
    &__link svg path{
        transition: fill .3s ease;
    }
    &__card_bg {
        background-color: rgba(124, 163, 187, 1);
        border: unset;
    }
    &__card_bg .subtitle {
        color: #FFFFFF;
        margin-bottom: 68px;
    }
    &__card_bb {
        border-bottom: unset;
    }
    &__card_br {
        border-right: unset;
    }
}

.projects {
    &__title {
        margin-bottom: 66px;
    }
    &__flexbox {
        display: flex;
        gap: 30px;
        overflow: auto;
    }
    &__block {
        display: flex;
        flex-direction: column;
        max-width: 530px;
        width: 100%;
        gap: 36px;
    }
    &__flex {
        display: flex;
        max-height: 360px;
        gap: 13px;
    }
    .big-swiper {
        max-width: 420px;
        width: 100%;
        max-height: 360px;
    }
    .big-swiper img {
        max-width: 420px;
        max-height: 360px;
        width: 100%;
        height: 100%;
    }
    .small-swiper {
        max-width: 97px;
        max-height: 420px;
    }
    .small-swiper img {
        max-width: 97px;
        width: 100%;
        max-height: 113px;
        height: 100%;
    }
    .small-swiper .swiper-slide {
        max-height: 113px;
    }
    &__subtitle {
        max-width: 402px;
    }
    &__btn {
        font-family: Cera Pro Medium;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.6px;
        color: rgba(124, 163, 187, 1);
        text-transform: uppercase;
        padding: 17px 0;
        width: 100%;
        border: 1px solid rgba(238, 238, 238, 1);
        text-align: center;
        transition: background-color .3s ease, color .3s ease;
    }
    &__btn:hover {
        background-color: #7CA3BB;
        color: #fff;
    }
    &__btns {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        z-index: 2;
    }
.swiper-prev, .swiper-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    background-color: #7CA3BB;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color .3s ease;
}
.swiper-prev svg {
    width: 9px;
    height: 9px;
    transform: rotate(180deg);
}
.swiper-next svg {
    width: 9px;
    height: 9px;
}
.swiper-next:hover {
    background-color: rgb(24, 170, 189);
}
.swiper-prev:hover {
    background-color: rgb(24, 170, 189);
}
.swiper-button-disabled {
    background-color: #FFFFFF;
    border: 1px solid rgba(237, 238, 242, 1);
}
.swiper-button-disabled svg path {
    fill: #C8D4DD;
}
.swiper-button-disabled:hover.swiper-next {
    background-color: #FFFFFF;
    border: 1px solid rgba(237, 238, 242, 1);
}
.swiper-button-disabled:hover.swiper-prev {
    background-color: #FFFFFF;
    border: 1px solid rgba(237, 238, 242, 1);
}
}

.consult {
    background-image: url(../img/consult.webp);
    background-repeat: no-repeat;
    background-size: cover;
    &__block {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 162px 0 281px;
    }
    &__title {
        color: #FFFFFF;
        max-width:  766px;
    }
    &__flex {
        max-width: 581px;
        display: flex;
        gap: 34px;
        
    }
    &__flex svg {
        flex-shrink: 0;
    }
    &__subtitle {
        color: #FFFFFF;
    }
    &__btn {
        max-width: 259px;
    }
}

.spices {
    &__title {
        max-width: 1063px;
        margin-bottom: 69px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        row-gap: 50px;
        justify-content: space-between;
        width: 100%;
    }
    &__card {
        max-width: 520px;
        padding: 43px 48px;
        background-color: #F2F6F9;
    }
    &__card img {
        max-width: 72px;
        width: 100%;
        max-height: 72px;
        height: 100%;
        margin-bottom: 85px;
    }
    &__subtitle {
        max-width: 275px;
    }
}


.spices-2 {
    &__title {
        max-width: 1063px;
        margin-bottom: 70px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
        row-gap: 50px;
        justify-content: space-between;
        width: 100%;
    }
    &__grid a:hover svg path {
        fill: rgb(27, 27, 27);
    }
    &__grid a:hover svg path {
        transition: fill .3s ease;
    }
    &__card {
        padding: 48px;
        min-height: 296px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__card_bg-1 {
        background-image: url(../img/spices-bg-1.webp);
        max-width: 799px;
        width: 100%;
        grid-column: span 3;
    }
    &__subtitle {
        max-width: 195px;
        color: #FFFFFF;
    }
    &__card_bg-2 {
        background-image: url(../img/spices-bg-2.webp);
        max-width: 799px;
        width: 100%;
        grid-column: span 3;
    }
    &__card_bg-3 {
        background-image: url(../img/spices-bg-3.webp);
        grid-column: span 2;
        max-width: 520px;
        width: 100%;
    }
    &__card_bg-4 {
        background-image: url(../img/spices-bg-3.webp);
        grid-column: span 2;
        max-width: 520px;
        width: 100%;
    }
    &__card_bg-5 {
        background-image: url(../img/spices-bg-3.webp);
        grid-column: span 2;
        max-width: 520px;
        width: 100%;
    }
}



  .about {
 
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        background-color: rgba(242, 244, 251, 1);
        padding: 116px 140px;
    }
    &__title {
        font-family: Cera Pro;
        font-size: 46px;
        font-weight: 400;
        line-height: 70px;
        text-align: left;
        text-transform: uppercase;
        color: rgba(42, 50, 63, 1);
        max-width: 587px;
        margin-bottom: 55px;
    }
    &__btn {
        max-width: 259px;
    }
    &__acc {
        margin-bottom: 30px;
        max-width: 500px;
    }
    &__text_pb {
        padding-bottom: 42px;
    }
    &__squad {
        width: 35px;
        height: 35px;
        position: relative;
        border: 1px solid rgba(219, 222, 235, 1);
        flex-shrink: 0;
    }
    &__horizontal-line {
        position: absolute;
        width: 9px;
        height: 1.5px;
        background-color: rgba(24, 170, 189, 1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__vertical-line {
        position: absolute;
        width: 1.5px;
        height: 9px;
        background-color: rgba(24, 170, 189, 1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform .3s ease;
    }
    .acc {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        padding-bottom: 32px;
    }
    .content {
        border-bottom: 1px solid rgba(219, 222, 235, 1);
    }
    &__text_mb {
        margin-bottom: 20px;
    }
    &__text {
        font-family: Cera Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(112, 118, 143, 1);
    }


}

.content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease;
  }

  .rotate {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .content.open {
    grid-template-rows: 1fr;
  }

  .acc img {
    transition: transform .3s ease;
  }
  
  .text-wrapper {
    min-height: 0;
  }

.quetions {
    background-image: url(../img/quetions.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0;
    &__flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
    &__title {
        color: #FFFFFF;
        max-width: 762px;
        padding-top: 67px;
    }
    &__title span {
        color: rgba(124, 163, 187, 1);
    }

}

.form {
    background-color: #FFFFFF;
    padding: 65px;
    max-width: 581px;
    width: 100%;
}
.form__label {
    display: block;
    font-family: Cera Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-bottom: 21px;

}
.form__input {
    height: 64px;
    border: 1px solid rgba(238, 238, 238, 1);
    max-width: 450px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 25px;
}
.form__input::placeholder {
    font-family: Cera Pro Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(57, 60, 73, 1);
}
.form__textarea {
    padding-top: 27px;
    height: 128px;
    border: 1px solid rgba(238, 238, 238, 1);
    max-width: 450px;
    width: 100%;
    resize: none;
    padding-left: 30px;
    margin-bottom: 25px;
}
.form__check {
    display: flex;
    gap: 18px;
    cursor: pointer;
    margin-bottom: 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.form__Checkbox {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(24, 170, 189, 1);

}
.checked {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 7px;
    background-image: url(../img/check-gal.svg);
    background-color: rgba(24, 170, 189, 1);
}
.form__text {
    font-family: Cera Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;

}
.form__text a {
    color: rgba(24, 170, 189, 1);
    text-decoration: underline;
}
.form__btn {
    max-width: 450px;
}

.contacts {
    margin-bottom: 60px;
    &__title {
        margin-bottom: 75px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__subtitle {
        max-width: 511px;
        margin-bottom: 25px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 280px 180px;
        max-width: 600px;
        justify-content: space-between;
        row-gap: 30px;
        margin-bottom: 40px;
        .contacts__subtitle {
            margin-bottom: 14px;
        }
    }
    &__label {
        font-family: Cera Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(131, 131, 131, 1);
    }
    &__icon {
        margin-bottom: 20px;
    }

    &__text {
        color: rgba(131, 136, 158, 1);
    }
    &__form {
        display: flex;
        flex-direction: column; 
        gap: 15px;
    }
    .form__block {
        display: flex;
        align-items: center;
        gap: 22px;
    }
    &__input {
        max-width: 420px;
        width: 100%;
        height: 64px;
        border: 1px solid rgba(238, 238, 238, 1);
        padding-left: 29px;
    }
    &__btn {
        padding: 25px 0;
        max-width: 259px;
    }
    .map {
        max-width: 794px;
    }
    .map img {
        max-width: 794px;
        width: 100%;
        max-height: 519px;
        height: 100%;
    }
    .form__check {
        max-width: 635px;
        display: flex;
        align-items: center;
    }
    .form__text {
        color: rgba(131, 136, 158, 1);
    }
}

.footer {

    .container {
        padding: 33px 15px 42px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        max-width: 185px;
    }
    &__logo img {
        max-width: 185px;
        width: 100%;
        max-height: 41px;
        height: 100%;
    }
    &__text {
        font-family: Cera Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(131, 136, 158, 1);
    }
    &__link {
        font-family: Cera Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.015em;
        text-align: left;
        color: rgba(24, 170, 189, 1);

    }
    &__btn {
        font-family: Cera Pro Medium;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 19px 0;
        max-width: 193px;
        width: 100%;
        color: #FFFFFF;
        background-color: rgba(27, 27, 27, 1);
        transition: background-color .3s ease;
    }
    &__btn:hover {
        background-color: rgb(24, 170, 189);
    }
}


.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

.modal {
    display: none;
position: fixed;
max-width: 500px;
width: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
background-color: #FFFFFF;
border-radius: 20px;


    &__close {
        max-width: 20px;
        max-height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;

    }
    &__close svg {
        max-width: 20px;
        max-height: 20px;
    }
    &__close:hover svg path {
        fill: rgb(24, 170, 189);
    }
    &__close:hover svg path {
        transition: fill .3s ease;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
    
    @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}