@media(max-width: 576px) {
    .page {
        background-image: url(../img/page-576.svg);
        padding: 220px 0 40px;
    }
    .page__title {
        display: none;
    }
    .page__title-576 {
        display: block;
        margin-bottom: 32px;
    }
    .page__text {
        font-size: 20px;
line-height: 110%; /* 22px */
margin-bottom: 50px;
    }
    .page__text-2 {
font-size: 16px;    
line-height: 110%; /* 17.6px */
    }
    form {
        gap: 12px;
    }
    .page__input {
        height: 34px;
        padding: 10px;
    }
    .page__input::placeholder {
        font-size: 12px;
line-height: 110%; 
    }
    .page__btn {
        padding: 8px 0;
        font-size: 16px;
        max-width: 121px;
}
}