@media (max-width: 1160px) {
    .apple__flexbox-main {
        flex-direction: column;
    }
    .launches__flexboxes {
        flex-direction: column;
    }
}

@media (max-width: 978px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .seleers__btn {
        width: 100%;
    }
    .header__form {
        display: none;
    }
    .apple__flexboxes {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 630px;
        padding: 0 5px;
    }
    .header__list {
        gap: 10px;
    }
    .header__icon {
        display: none;
    }
    .header {
        padding: 20px 0;
    }
    .hero {
        padding: 20px 0;
    }
    .header__top {
        flex-direction: column;
        gap: 20px;
    }
    .hero__user, .hero__right {
        display: none;
    }
    .hero__title, .apple__bg, .purple__title, .title {
        font-size: 32px;
    }
    .title, .sellers__links, .launches__price {
        margin-bottom: 20px;
    }
    .button {
        font-size: 14px;
    }
    .hero__text, .purple__descr, .purple__link, .sellers__link {
        font-size: 14px;
    }
    .apple__flexbox-img img {
        width: 100px;
    }
    .purple__price {
        font-size: 14px;
    }
    .purple__price span {
        font-size: 14px;
    }
    .apple__flexbox-main {
        gap: 20px;
    }
    .sellers {
        padding: 30px 0 30px;
    }
    .sellers__link_active::after {
        content: "";
        position: absolute;
        top: -18px;
        left: -18px;
        z-index: -1;
        background-image: url(../img/Ellipse22.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 133px;
        height: 55px;
        display: block;
    }
    .launches__flexbox img {
        width: 100px;
    }
    .footer {
        padding-top: 20px;
    }
    .footer__lists-flexbox {
       width: 100%;
    }
    .footer__flexbox {
        flex-direction: column;
        gap: 20px;
    }
    .footer_social-flexbox {
        flex-direction: column;
    }
}