@media (max-width:768px) {
    .container {
        padding: 0 10px;
    }
    .hero {
        padding-top: 50px;
        padding-bottom: 35px;
    }
    .hero__flexbox {
        flex-direction: column;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__descr {
        margin-left: auto;
    }
    .steps {
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .steps__title {
        margin-bottom: 40px;
    }
    .results {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .results__list {
        flex-direction: column;
    }
    .results__item {
        max-width: unset;
    }
    .prices__flexbox {
        flex-direction: column;
        gap: 20px;
    }
    .prices__text {
        margin-bottom: 15px;
    }
    .hero__title span {
        font-size: 28px;
    }
    .results__title {
        margin-left: unset;
    }
    .results__title span {
        font-size: 28px;
        margin-left: unset;
    }
    .title {
        font-size: 28px;
    }
    .accordion-item .accordion-button {
        font-size: 22px;
    }
    .results__item-title, .prices__name, .prices__price {
        font-size: 22px;
    }
    .prices__item:not(:last-child) {
        margin-bottom: 20px;
    }
}