@font-face {
    font-family: 'Merriweather';
    font-weight: 400;
    src: url('../fonts/Merriweather-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MerriweatherBold';
    font-weight: 700;
    src: url('../fonts/Merriweather-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Golos';
    font-weight: 400;
    src: url('../fonts/GolosText-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosMedium';
    font-weight: 500;
    src: url('../fonts/GolosText-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosDemiBold';
    font-weight: 700;
    src: url('../fonts/GolosText-DemiBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Merriweather;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #313131;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1252px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    background-image: url(../img/ewr.webp);
    background-color: #E9DED4;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper__bg {
    background-image: url(../img/wq.webp);
    background-repeat: no-repeat;
    background-position: top;
}

.header {
    padding-top: 26px;
}

.hero {
    padding: 58px 0 71px;
    position: relative;
}

.hero__block {
    max-width: 542px;
}

.hero__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.hero__title span {
    display: block;
    text-align: center;
}

.hero__title_tal {
    text-align-last: end
}

.hero__descr {
    font-family: Golos;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-bottom: 40px;
}

.hero__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.hero__btn {
    font-family: GolosMedium;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0;
    border-radius: 66px;
    max-width: 263px;
    width: 100%;
    outline: 1px solid #1F1F1F;
}

.black-btn {
    background-color: #1F1F1F;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;
}

.black-btn:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
    outline: 1px solid #FBCE51;
}

.trans-btn {
    background-color: transparent;
    color: #1F1F1F;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;
}

.trans-btn:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
    outline: 1px solid #1F1F1F;
}




.running-text {
    background-color: #F54932;
    padding: 18px 0;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
}

.hero__running-text {
    position: relative;
    bottom: -90px;
}
.running-text p {
    animation: scroll 10s linear infinite;
    
  }
  
  @keyframes scroll {
    0%   { transform: translateX(115%); }
    100% { transform: translateX(-115%); }
  }

.tournament {
    padding: 80px 0 100px;
}

.tournament__flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 64px;
}

.tournament__text-block {
    max-width: 764px;
}

.tournament__text {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.tournament__text span {
    font-family: MerriweatherBold;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: #F54932;
}

.tournament__flex-2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 72px 0 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tournament__img-2 {
    position: relative;
    top: -27px;
}

.tournament__block-2 {
    max-width: 704px;
}

.tournamet__text-3 {
    margin-bottom: 44px;
}

.tournament__table {
    border-collapse: collapse;
    margin-bottom: 25px;
}


.tournament__table th {
    font-family: Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #6f6f6f;
    padding: 16px 21px 16px 0;
    border-right: 2px solid #D0D0D0;
    text-wrap: nowrap;

}

.tournament__table td {
    font-family: GolosDemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 0px 16px 16px;
    width: 100%;
}



.tournament__table tr {
    border-top: 2px solid #D0D0D0;
}

.tournament__table tr:first-child {
    border-top: unset;
}

.tournament__table tr:last-child {
    border-bottom: unset;
}

.tournament__old-price {
    text-decoration: line-through;
    text-decoration-color: #F54932;
    text-decoration-line: 2px;
    margin-right: 12px;
}

.tournament__link {
    font-family: Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #3057A2;

}

.steps {
    padding: 60px 0 100px;
    overflow: hidden;
}

.steps__relative {
    position: relative;
    max-width: 710px;
    margin-bottom: 54px;
}

.steps__title {
    font-size: 54px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.steps__abs {
    font-family: Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    bottom: 11px;
    right: 128px;
    color: #3057A2;
    max-width: 280px;

}

.steps__list {
    list-style: none;
    counter-reset: step-counter;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.steps__item-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.steps__item-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.steps__item-3 {
    grid-area: 1 / 3 / 3 / 4;
}

.steps__item-4 {
    grid-area: 2 / 1 / 3 / 2;
}

.steps__item-5 {
    grid-area: 2 / 2 / 3 / 3;
}

.steps__item-6 {
    grid-area: 3 / 1 / 4 / 2;
}

.steps__item-7 {
    grid-area: 3 / 2 / 4 / 4;
    position: relative;
}

.steps__item-7 .steps__text {
    max-width: 446px;
}

.steps__buttons {
    display: none;
}

.steps__img {
    position: absolute;
    right: -46px;
    top: -96px;
}

.steps__item {
    padding: 20px;
    background-image: url(../img/steps_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 16px;
}

.steps__item::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    color: #313131;
    background-color: #FFFFFF;
    border-radius: 60px;
    text-align: center;
    font-family: GolosDemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}



.steps__text {
    font-family: GolosMedium;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}

.members {
    padding: 100px 0 113px;
}

.members__block {
    position: relative;
}

.members__title {
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: 400;
}

.members__swiper-buttons {
    display: flex;
    gap: 14px;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 0;
}
.members__btn-next svg{
    transform: rotate(180deg);
}

.swiper-btn {
    background-color: #313131;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in-out;
}

.swiper-btn:hover  {
    background-color: #FBCE51;
}
.swiper-btn:disabled {
    background-color: #D6D6D6;
}
.wrapper1 {
    max-width: 1222px;
    width: 100%;
    position: relative;
  }


  .wrapper1 .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }

  @media screen and (max-width: 900px) {
    .wrapper1 .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper1 .carousel {
      grid-auto-columns: 100%;
    }
  }
  .members__img {
    margin-bottom: 28px;
    pointer-events: none;
  }
  .members__text {
    font-family: GolosDemiBold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 6px;

  }

  .members__text-2 {
    font-family: Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #151515;
    margin-bottom: 20px;
  }

  .members__btn {
    font-family: GolosMedium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: #3057A2;
    padding: 12px 0;
    max-width: 113px;
    width: 100%;
    border: 1px solid #3057A2;
    border-radius: 62px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }

  .members__btn:hover {
    background-color: #3057A2;
    color: #FFFFFF;
  }
  
  .footer {
    background-color: #E9DED4;
    padding: 40px 0 72px;
  }



  .footer__text {
    font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.6;
  }
