:root {
    --font-family: "Muller";
    --content-max-width: 400px;
    --content-width: 320px;
    --container: 420px;
    --container-offset: 15px;
    --container-max-width: calc(var(--content-max-width) + (var(--container-offset) * 2));
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --light-color: #fff;
    --swiper-theme-color: #EB6D4A;
}

input:focus {outline: none;}
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked+.custom-checkbox__content::after {
    opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
    outline: 2px solid #f00;
    outline-offset: 2px;
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
    opacity: 0.4;
    pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2.html") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2.html") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2.html") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2.html") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("https://edu.taroirena.ru/manager/templates/landing/fonts/Helvetica Neue Condensed Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Century";
    src: url("../fonts/CenturyGothicRegular.woff2.html") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl-500.woff2.html") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl-700.woff2.html") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Trojan";
    src: url("../fonts/trajanpro_bold.otf.html");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Domine";
    src: url("../fonts/Domine.ttf");
    font-weight: normal;
    font-style: normal;
}


/* свайпер */
._swiper {
    overflow: hidden;
}

._swiper .swiper-wrapper {
    width: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-pagination-bullet {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #c6c6c6;
    margin-right: 5px;
    opacity: 0.3;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.page {
    height: 100%;
    font-family: var(--font-family, sans-serif);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px;
    font-family: var(--font-family, sans-serif);
}

img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.is-hidden {
    display: none !important;
    /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
    display: none;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.max-container {
    margin: 0 auto;
    max-width: var(--container-max-width);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.centered {
    text-align: center;
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}

.page--ios .dis-scroll {
    position: relative;
}

.form-pay {
    background: #f7f4f4;
}

.form-pay__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 70px;
    max-width: 992px;
    width: 100%;
}

.form-pay__container.active-form-two {
    display: none;
}

.pay__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pay__block--one {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-bottom: 52px;
}

@media (max-width: 430px) {
    .pay__block--one {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 45px;
    }
}

.pay__title {
    font-family: "Book Antiqua";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 127.56%;
    text-transform: uppercase;
    color: #707070;
    margin: 0;
}

@media (max-width: 430px) {
    .pay__title {
        font-size: 20px;
        text-align: center;
        margin-right: 62px;
    }
}

.pay__block--two {
    position: relative;
}

.pay__item--one {
    position: relative;
}

.pay__item-subtitle {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    margin-left: 28px;
    margin-bottom: 22px;
}

.pay__item--data {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 358px;
    width: 100%;
    padding: 17px 10px 17px 30px;
    background: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
}

.pay__item--text {
    position: relative;
}

.pay__item--two {
    margin-top: 35px;
}

.pay__item--compound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 930px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 21px 30px 16px 30px;
}

@media (max-width: 640px) {
    .pay__item--compound {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 430px) {
    .pay__item--compound {
        padding: 21px 16px 16px 18px;
    }
}

.pay__item--thee {
    margin-top: 48px;
}

.pay__total--title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 124.5%;
    color: #262626;
    margin: 0;
    margin-left: 27px;
}

@media (max-width: 430px) {
    .pay__total--title {
        max-width: 260px;
    }
}

.pay__total--text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    margin-top: 4px;
    margin-left: 27px;
}

@media (max-width: 430px) {
    .pay__total--text {
        margin-top: 17px;
        max-width: 280px;
    }
}

.pay__block--thee {
    background: #fbfbfb;
    border-radius: 5px;
    margin: 0;
    margin-top: 52px;
    padding-left: 30px;
    padding-top: 42px;
    margin-bottom: 60px;
}

.data-text-pay {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 134.5%;
    color: #757575;
}

.data-text-compound {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #757575;
    max-width: 560px;
    margin: 0;
}

@media (max-width: 768px) {
    .data-text-compound {
        max-width: 460px;
    }
}

@media (max-width: 680px) {
    .data-text-compound {
        max-width: 420px;
    }
}

@media (max-width: 640px) {
    .data-text-compound:last-child {
        margin-top: 21px;
    }
}

.compound-text {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 124.5%;
    color: #757575;
}

.block__payment {
    position: relative;
}

.payment__item--one {
    position: relative;
}

.payment__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 240px;
    padding: 18px 28px 15px 28px;
    margin: 0;
    background: #ff5e1e;
    -webkit-box-shadow: 0px 4px 40px rgba(255, 211, 118, 0.65), 0px 2px 1px #b97002;
    box-shadow: 0px 4px 40px rgba(255, 211, 118, 0.65), 0px 2px 1px #b97002;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #ffffff;
    margin: 0;
}

@media (max-width: 430px) {
    .payment__btn {
        max-width: 235px;
    }
}

.payment__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 124.5%;
    color: #262626;
    margin: 0;
    margin-bottom: 26px;
    margin-right: 30px;
}

.payment__title span {
    color: #de9904;
}

@media (max-width: 430px) {
    .payment__title {
        font-size: 24px;
        max-width: 320px;
    }
}

.payment__item--two {
    margin: 0;
    margin-top: 42px;
}

.payment__item--thee {
    position: relative;
    margin: 0;
    margin-top: 74px;
}

.payment__installment--title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 124.5%;
    color: #262626;
    margin: 0;
    margin-bottom: 15px;
}

.payment__installment--image {
    position: relative;
}

@media (max-width: 430px) {
    .payment__installment--image img {
        width: 150px;
        height: 57px;
    }
}

.payment__installment-block {
    position: relative;
    margin: 0;
    margin-top: 24px;
}

.installment__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.installment__input {
    width: 18px;
    height: 18px;
    border: 1px solid #666363;
    border-radius: 100%;
    margin-right: 17px;
    cursor: pointer;
}

.installment__input.active-input-inst {
    background: #8ab2ee;
    border: 1px solid #666363;
}

.installment__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
}

@media (max-width: 430px) {
    .installment__text {
        font-size: 16px;
        max-width: 230px;
    }
}

.installment__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 227px;
    padding: 18px 28px 18px 28px;
    margin: 0;
    background: #ff5e1e;
    -webkit-box-shadow: 0px 4px 40px rgba(255, 211, 118, 0.65);
    box-shadow: 0px 4px 40px rgba(255, 211, 118, 0.65);
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #ffffff;
    margin: 0;
    margin-top: 52px;
    margin-bottom: 59px;
}

@media (max-width: 430px) {
    .installment__btn {
        max-width: 235px;
    }
}

.block__payment--one {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 964px;
    width: 100%;
    background: #fbfbfb;
    border-radius: 5px;
    margin-top: 56px;
    padding: 24px 30px 46px 30px;
}

@media (max-width: 430px) {
    .block__payment--one {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 423px;
        width: 100%;
    }
}

.pay__block--four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.payment__text {
    position: relative;
    font-family: "Museo Sans Cyrl" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 27px;
    max-width: 269px;
    width: 100%;
}

.btn__pay {
    max-width: 240px;
    width: 100%;
    font-size: 15px;
}

.main-oraganization {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1340px;
    width: 100%;
    margin-top: 3em;
}

@media (max-width: 430px) {
    .main-oraganization {
        max-width: 420px;
        margin-top: 1em;
    }
}

.main__cont {
    position: relative;
    margin: 0 auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@media (max-width: 430px) {
    .main__cont {
        max-width: 420px;
        padding: 20px;
    }
}

.oraganization__title {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__block {
    position: relative;
}

.oraganization__item-up {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-full-org {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-individum {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-address {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-ul {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-fact {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-inn {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-ogrnip {
    font-size: 18px;
    line-height: 120%;
}

.oraganization__item-sphere {
    font-size: 18px;
    line-height: 120%;
}

.block__requisite {
    padding-top: 40px;
}

.requisite__title {
    font-size: 18px;
    line-height: 120%;
}

.requisite__bank {
    font-size: 18px;
    line-height: 120%;
}

.requisite__r-score {
    font-size: 18px;
    line-height: 120%;
}

.requisite__cor-score {
    font-size: 18px;
    line-height: 120%;
}

.requisite__inn {
    font-size: 18px;
    line-height: 120%;
}

.requisite__buk {
    font-size: 18px;
    line-height: 120%;
}

.form__label:not(:last-child) {
    margin-bottom: 20px;
}

.form__input {
    height: 35px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #2e2d2d;
}

.form__container {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
}

.form__content {
    position: relative;
    max-width: 320px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 20px;
    border-radius: 10px;
    background: #EEE;
    z-index: 9;
    padding-bottom: 20px;
}


.form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #2e2d2d;
    margin: 0;
    margin-top: 20px;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 22px;
}

.form__flex {
    position: relative;
    display: block;
    padding-top: 20px;
}

.form__text-one {
    position: relative;
    color: #131313;
    text-align: center;
    font-size: 17px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 260px;
    height: 46px;
    background: #fff;
    border-radius: 8px;
    padding: 0 10px;
}

.form__label .focus-visible {
    outline: -webkit-focus-ring-color none;
}

.form__label:not(:last-child) {
    margin-bottom: 20px;
}

.form__input {
    height: 35px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #2e2d2d;
    padding: 0 5px;
}

.form__btn {
    position: relative;
    max-width: 260px;
    width: 100%;
    background: #FF5E1E;
    border-radius: 8px;
    font-family: "Commissioner", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 0;
    margin-top: 12px;
    margin-bottom: 20px;
}

.active-body {
    opacity: 0.6;
}

.form__subtitle {
    position: relative;
    display: block;
    color: #6B6B6B;
    font-size: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.form__subtitle a {
    text-decoration: underline;
}

.form__link--btn {
    position: absolute;
    display: block;
    top: 14px;
    right: 23px;
}

/* Второй поп-ап */
.marafon__container {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
    padding-bottom: 80px;
}

.marafon__content {
    position: relative;
    max-width: 320px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
    background: #EEE;
    z-index: 9;
    padding-bottom: 20px;
}

.marafon__flex {
    position: relative;
    display: block;
    padding-top: 20px;
}

.marafon__text-one {
    position: relative;
    color: #FF5E1E;
    font-size: 19px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-decoration: underline;
    margin: 0;
    right: 28px;
    padding-bottom: 25px;
    z-index: 1;
}

.program__list--item {
    position: relative;
    font-style: normal;
    font-family: "Muller";
    font-size: 16px;
    line-height: 115.5%;
    color: #14426D;
    list-style-type: disc;
    z-index: 9;
}

.program__list--item:not(:last-child) {
    margin-bottom: 15px;
}

.marafon__info--title {
    position: relative;
    display: block;
    color: #14426D;
    font-size: 14px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: underline;
}

.marafon__info--title span {
    color: #FF5E1E;
    text-decoration: underline #FF5E1E;
}

.marafon__info--text {
    position: relative;
    display: block;
    color: #14426D;
    font-size: 14px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.marafon__info--text span {
    color: #FF5E1E;
}

.marafon__content::after {
    content: "";
    position: absolute;
    top: 51px;
    left: 80px;
    width: 129px;
    height: 84px;
    background-image: url(https://edu.taroirena.ru/manager/templates/landing/img/mask/Group\ 24.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.marafon__content::before {
    content: "";
    position: absolute;
    bottom: 111px;
    left: 150px;
    width: 168px;
    height: 175px;
    background-image: url(../img/mask/Frame.png);
    background-repeat: no-repeat;
    background-size: cover;
}
