@media (max-width: 1400px) {
    .header__right {
        display: none;
    }
    .header-inner {
        position: relative;
    }
    .logo {
        padding-left: 26px;
    }
    .header__socials {
       display: none;
    }
    .header__socials-991 {
        display: flex;
        gap: 12px;
        justify-content: center;
        text-align: center;
        margin-bottom: 24px;
    }
    .lang {
       display: none;
 
    }
    .lang-991 {
        display: flex;
        gap: 12px;
        padding: 9px 16px;
        justify-content: center;
        margin-bottom: 36px;

    }
    .navbar {
        width: 100%;
    }
    .header {
        padding: 0; 
    }
    .navbar-toggler {
        background-color: #FFCC07;
        height: 80px;
        border-radius: unset;
        border: unset;
        padding: 0 27px;
        width: 100%;
    }
    .header__nav  {
        margin-right: auto;
        margin-left: auto;
        gap: 16px;
        border-bottom: 1px solid #FFCC07;
        padding-bottom: 36px;

        margin-bottom: 36px;
        max-width: 300px;
        align-items: center;
      
    }
    .navbar-collapse {
        margin-top: 30px;
        background-image: url(../img/festival/bg-burger.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-collapse.show + .lang,
.navbar-collapse.show + .header__socials {
  display: block;
}
.flex-998 {
    display: flex;
    gap: 32px;
    align-items: center;
}
.link-998 {
    display: block;
}
.carousel-control-prev {
    display: none;
}
.carousel-control-next {
    display: none;
}
.festival__text {
font-size: 18px;
line-height: 24px;


}

.festival {
    padding: 50px 0;
}

.pills__flexbox {
    flex-direction: column;
    gap: 40px;
}
.container {
 padding: 0 60px;

}
.pills__right {
    align-self: start;
}
.pills__left-text br {
    display: none;
}
.pills__block {
    padding-bottom: unset;
}
.footer__flexbox {
    flex-wrap: wrap;
    gap: 60px;
}
.footer__form-text br {
    display: none;
}
.footer__input {
    max-width: unset;
}

.footer__socials svg {
    width: 52px;
    height: 52px;
}

}

@media (max-width: 576px) {
    .container {
        padding: 0 35px;
    }
    .logo svg {
        width: 120px;
        height: 44px;
    }
    .link-998 {
        width: 36px;
        height: 36px;
        margin-top: -10px;
    }
    .navbar-toggler {
        height: 60px;
        padding: 0 19px;
    }
    .flex-998 {
        gap: 24px;
    }
    .carousel-item img {
        height: 375px;
        width: 100%;
    }
    .hero__title {

font-size: 30px;
line-height: 35px;
top: calc(80% - 17px);
left: calc(50% - 105px);

    }
    .carousel-indicators [data-bs-target] {
        width: 8px;
        height: 8px;
        border: unset;
        background-color: #FFFFFF;
    }
    .carousel-indicators .active {
        background-color: #FFCC07;
    }
    .festival__title {

font-size: 24px;
line-height: 28px;


    }
    .festival__text {
font-size: 16px;
line-height: 18px;
font-weight: 300;
font-family: 'FuturaFuturisLightC';
    }
    .pills__text {
        margin-bottom: unset;
    }
    .pills__name-title {
font-size: 30px;

line-height: 35px;


    }
    .pills__name-icon svg {
        width: 48px;
        height: 48px;
    }

    .pills__right {
        width: 100%;
    }

    .pills__button {
        max-width: unset;
    }
    .yellow-btn {
font-size: 16px;
line-height: 19px;


    }
    .pills__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .pills__grid-image-8, .pills__grid-image-9, .pills__grid-image-10, .pills__grid-image-11, .pills__grid-image-12, .pills__grid-image-13 {
        display: none;
    }
    .show-more {
        max-width: unset;
        
    }
    .empty-button {
font-size: 16px;

line-height: 19px;


    }
    .footer {
        padding: 36px 0 80px;
    }
    .footer__nav {
        padding-bottom: 60px;
        border-bottom: 1px solid #8C8C8C;
        width: 100%;
    }
    .footer__contacts {
        padding-bottom: 60px;
        border-bottom: 1px solid #8C8C8C;
        width: 100%;
    }
    .footer__form-flex {
        flex-direction: column;
    }
    .footer__btn {
        max-width: unset;
    }
    .footer__socials svg{
        width: 36px;
        height: 36px;
    }
    .footer__mail-2 {
font-size: 18px;
line-height: 21px;


    }
}