@font-face {
    font-family: "SignPainter";
    src: url(../fonts/232-font.otf) format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



body {
    margin: 0 auto;
    padding: 0;
    max-width: 430px;
    gap: 0;
    margin-right: auto;
    margin-left: auto;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.container {
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 14px;
}
.header{
    background-color: rgba(0, 0, 0, 0.3 );
    position: relative;
    height: 64px;
    
}
.header__menu{
    padding: 24px 30px;
}
.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__menu-lang{
    position: absolute;
    left: -70px;
    top: 40px;
    display: none;
}
.header__lang-link a{
    display: block;
}
.header__menu-lang_item{
    background-color: #631D00;
    color: #FFF;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px 12px;
}
.header__menu-list{
  
    position: absolute;
    right: -30px;
    top: 40px;
} 
.header__menu-list_item{
    color: #FFF;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #631D00;


}

.header__menu-list_item {
    padding: 0 23px;
}

.header__menu-list_item:first-child {
    padding: 23px 23px 0;
}

.header__menu-list_item:last-child {
    padding: 0px 23px 23px;
}
.header__link{
    display: block;
}
.header__btn-list{
    display: flex;
    flex-direction: column;
}


.header__btn-list span {
    display: block;
    height: 2px;
    background-color: #7B6152;
    width: 27px;
    margin: 3px 0;
}

.header__menu-list{
    display: none;
}
.active-btn{
    display: block;
}

.header__select {
    background-color: transparent;
    border: transparent;
    color: #fff;
}

.navbar-collapse {
    position: absolute;
    top: 64px;
    right: 0;
    width: 230px;
    border-radius: 20px 0 20px 20px;

}

.navbar-toggler-icon {
    background-image: url(../images/burger.svg);
    
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.header__menu-list_item:first-child {
    border-radius: 20px 0 0 0;
}

.header__menu-list_item:last-child{
    border-radius: 0 0 20px 20px;
}

.header__link {
border-bottom: 1px solid #8D2A00;
padding: 10px 0;
}

.header__link_border {
    border-bottom: unset;
    padding-bottom: 0;
}

.header__link_padding {
    padding-top: 0;
}


/* CONSULTATION */
.consultation{
    background-image: url('../images/consultation__bg.png');
    background-size: cover;
    margin-top: -64px;
    padding-bottom: 80px;
}
.consultation__inner{
    padding: 122px 0px 0;
}
.consultation__inner-top{
    text-align: center;
    margin-bottom: 281px;
}
.consultation__top-title{
    text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 109.5%; /* 16.425px */
letter-spacing: 3px;
text-transform: uppercase;
color: #BD9E4F;
}
.consultation__top-name{
    text-align: center;
text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
font-family: Piazzolla;
font-size: 43px;
font-style: normal;
font-weight: 600;
line-height: 109.5%; /* 50.37px */
letter-spacing: -0.23px;
text-transform: uppercase;
color: #BD9E4F;
background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.consultation__top-change{
    padding-top: 28px;
    color: #FFF;
text-align: center;
font-family: SignPainter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 116%; /* 41.76px */
letter-spacing: 0.36px;
}
.consultation__bottom-title{
    font-family: Piazzolla;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
text-transform: uppercase;
margin-bottom: 12px;
color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.consultation__bottom-text{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 28px;
    color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.consultation__bottom-about{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-bottom: 47px;

}
.consultation__btn{
    
    color: #3B4832;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 16px;
background-color: #FFF;
box-shadow: 0px 0px 10px 0px #FFF;
padding: 17px 35px;
margin: 0 auto;
width: 100%;


}
.about{
    background-color: #F0EBE6;
    background-image: url('../images/about-bg.png');
    background-repeat: no-repeat;
    padding: 64px 0 77px;
}
.about__title{


    color: #8D2A00;
text-align: center;
font-family: Piazzolla;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 50px;
}
.about__list-item {
    display: flex;
    align-items: center;
    gap: 13px;
    color: #8D2A00;
font-family: SignPainter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 90%; /* 23.4px */
letter-spacing: 0.26px;
padding-bottom: 35px;
}
.about__list-item svg {
    flex-shrink: 0;
}
.about__img1-item {
padding-top: 35px;
   width: 100%;
   text-align: center;
   margin-bottom: 57px;
}
.about__liststyle{
padding-right: 15px;
}

.about__video-title{
    color: #943206;
    text-align: center;
    font-family: Piazzolla;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 36px */
    text-transform: uppercase;
    margin-bottom: 25px;
}


.about__video-inner{
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

.about__video-container{
    border-radius: 15px;
    border: 5px solid #8D2A00;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}
.about__video-text{
    background-image: url(../images/video-bottom.png);
    background-repeat: no-repeat;
    padding: 35px 0;
    margin-top: -6px;
    color: #FFF;
text-align: center;
/* для золота */
text-shadow: 0px 4px 10px #742300;
font-family: Piazzolla;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 33.8px */
}
.about__video-text1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;    
    margin-bottom: 40px;
}
.advanced{

    background: linear-gradient(180deg, #902D02 0%, #A6450A 26.04%, #AB3F01 61.98%, #8D2A00 100%, #8D2A00 100%);

    color: #FFF;
    padding: 40px 0 78px;
}

.advanced__title{
    
text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 130.023%; /* 28.605px */
text-transform: uppercase;
margin-bottom: 56px;
}
.advanced__item{
    background-image: url(../images/advanced-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.advanced__item-new {
    background-image: url(../images/advanced-bg-new.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.advanced__item_margin {
    margin-bottom: 50px;
}
.advanced__img{
       display: block;
   
    margin: 0 auto;
}
.advanded__number{
    text-align: center;
font-family: Piazzolla;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 61.6px */
color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.advanced__text{
    text-align: center;
font-family: Piazzolla;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 110%;
}
.advanced__italic {
text-align: center;
font-family: 'SignPainter';
font-size: 39px;
font-style: normal;
font-weight: 550;
position: relative;


/* line-height: 128.51%; 50.119px */
color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.advanced__italic_first::after {
    content: 'изменить ход судьбы.';
    position: absolute;
    color: #000;
    top: 5px;
    text-align: center;
    font-family: Piazzolla;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.advanced__btn-inner{
width: 100%;
text-align: center;
}
.advanced__btn{
 
    color: #8D2A00;

}
.structure{
    padding: 0px 0 50px;

}

.structure__text-inner {
    padding-top: 38px;
}
.structure__image-img{
    width: 100%;
}
.sructure__title{

    color: #576C48;
text-align: center;
font-family: Piazzolla;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px */
text-transform: uppercase;
margin-bottom: 40px;
}
.structure__text{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.structure__text b{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.slider__inner-list{

  padding-top: 50px;
  background: linear-gradient(180deg, #F0EBE6 0%, #E1CAB7 100%);

    border-radius: 16px;
}
.itcss__item{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 40px;
}

.itcss__item_first {
    background-image: url(../images/slide-1.png);
  
}

.itcss__item_second {
    background-image: url(../images/slide-2.png);
  
}

.itcss__item_third {
    background-image: url(../images/slide-3.png);
  
}

.itcss__item_fourth {
    background-image: url(../images/slide-4.png);
  
}

.itcss__item_fivth {
    background-image: url(../images/slide-5.png);
  
}

.slider__result-title {
    margin-top: 45px;
}
.slider__inner-title{
    padding: 0 44px;
    color: #943206;
text-align: center;
font-family: Piazzolla;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 36px */
text-transform: uppercase;
margin-bottom: 30px;
}
.slider__btn{
    color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #922F04;
padding: 5px 55px;
margin-bottom: 40px;
}
.slider__inner-btn{
    width: 100%;
    text-align: center;
}
.slider__title{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;

margin-bottom: 27px;
}
.slider__text{
    max-width: 235px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 18.2px */
text-transform: uppercase;
margin-bottom: 115px;
margin-right: auto;
margin-left: auto;
}



.slider__text-main{
    
background-color: #fff;
margin-bottom: 36px;
padding: 25px 14px;
border-radius: 16px;
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 18px */
}
.slider__result-title{
    color: #FFF;
text-align: center;
font-family: Piazzolla;
font-size: 24px;
font-style: italic;
font-weight: 600;
line-height: 100%; /* 24px */
margin-bottom: 20px;

}

.swiper-buttons {
    width: 100%;
    position: absolute;
    top: 243px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10px;
}

.swiper-button-next {
    position: static;
    color: #fff;
}

.swiper-button-prev {
    position: static;
    color: #fff;
}

.slider__result-text{
    padding: 22px 0;
    color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.slider__result-text_list{
    padding: 0 30px;
}
.slider__btn-consultation_inner{
    text-align: center;
    
}
.slider_numbers{
    margin-right: 5px;
    display: inline-block
}
.slider--slide-text_end{
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #fff;
}
.slider__btn-consultation{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    border-radius: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #8D2A00;
    padding: 15px 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #8D2A00;

}
.slider__result-inner{
    display: flex;


    
}

.slider-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.slider__item {
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.active{
    background-image: url('../images/active-bg.png');
    background-color: #F0EBE6;
    padding: 58px 0 76px;
}
.active__title{
    color: #943206;
text-align: center;
font-family: Piazzolla;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 39px */
text-transform: uppercase;

margin-bottom: 40px;
}
.active__image{
    display: block;
    border-radius: 15px;
    width: 100%;


}

.active__block {
    margin-top: -110px;
}

.active__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active__number{
    color: #FFF;
text-align: center;
font-family: Piazzolla;
font-size: 74px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.active__text{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 18px;
    background-color: #fff;
    border: 2px solid #576C48;
    border-radius: 22px;
    margin-top: -26px;
    text-align: center;
    
}

.active__text span {
    font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 18px;
text-align: center;


}
.active__text b{
    color: #8D2A00;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.active__title-step{
    color: #576C48;
text-align: center;
font-family: Piazzolla;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 33px */
text-transform: uppercase;
margin-bottom: 31px;
max-width: 208px;
margin-right: auto;
margin-left: auto;
}

.active__image_margin {
    margin-bottom: 30px;
}

.active__text_bg {
    padding: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
    margin-top: unset;
    text-align: center;
    margin-bottom: 80px;
}

.active__step-text{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #fff;
border-radius: 20px;
padding: 15px 25px;
margin: 0 40px;
border: 2px solid #576C48;
}
.active__vector{
    display: block;
    margin: 0 auto 40px;
    padding-top: 32px;
}
.active__end-title{
    color: #576C48;
text-align: center;
font-family: Piazzolla;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 39px */
text-transform: uppercase;
margin-bottom: 32px;
}
.active__end-text{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 90px;
}
.activate__settings-inner{
    background-image: url('../images/active-settings.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    padding-bottom: 181px;
    margin-bottom: 40px;
    padding: 24px 15px 227px;
}
.activate_settings-title{
    text-align: center;
font-family: Piazzolla;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 39px */
text-transform: uppercase;
color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.activate__settings-text{
    display: flex;

    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
}
.activate__settings-text b{
    display: contents;
}
.activate__settings-number{
    font-family: Piazzolla;
font-size: 22px;
font-style: italic;
font-weight: 500;
line-height: 75%;
color: #BD9E4F;
align-items: start;
margin-right: 4px;
color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active__wheel-title{
    color: #576C48;
text-align: center;
font-family: SignPainter;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 5px;
}
.active__wheel-text{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 30px;
margin-bottom: 35px;
}
.active__wheel{
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.active__btn{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 14px 50px;
background-color: #3B4832;
box-shadow: 0px 0px 10px 0px #576C48;

border-radius: 15px;
display: block;
margin: 0 auto;
}
.need{
    padding: 72px 0 54px;
}
.need__title{
    color: #B53600;
text-align: center;
font-family: Piazzolla;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 41.8px */
margin-bottom: 41px;
}
.need__item{
    background-color: #EFE5DC;
    border-radius: 27px;
    margin-bottom: 32px;


}

.need__block {
    padding: 30px 25px 35px;
}
/* .need__item ul{
    padding-left: 10px;
 
} */
.need__item-img{
    margin-bottom: 30px;
    width: 100%;
}
.need__item-title{
    color: #B53600;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: italic;
font-weight: 800;
line-height: 126%; /* 25.2px */
text-transform: uppercase;
margin-bottom: 30px;
}
.need__item-list{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
list-style: inside;
list-style-position: inside;
margin-bottom: 15px;
}
.need__title-end{
    color: #B53600;
text-align: center;
font-family: Piazzolla;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 128.51%; /* 33.413px */
margin-bottom: 10px;
margin-top: 30px;
}
.need__title-text{
    color: #B53600;
text-align: center;
font-family: SignPainter;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 36px */
margin-bottom: 38px;
}
.need__img-vector{
    display: block;
    margin: 0 auto;
}



.buy{
    
background-image: url('../images/buy-bg.png');
   padding: 72px 0 40px;
}
.buy__title{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.023%; /* 33.806px */
    text-transform: uppercase;
    margin-bottom: 39px;
}

.buy__number{
    color: #D28F66;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.023%; /* 36.406px */
    text-transform: uppercase;
    margin-bottom: 14px;
}
.buy__text{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 128.51%; /* 20.562px */
    margin-bottom: 30px;
}
.buy__btn{
    display: block;
    color: #8D2A00;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border-radius: 16px;
background: #FFF;
padding: 15px 50px;
margin: 60px auto 30px;
box-shadow: 0px 0px 10px 0px #FFFFFF;


}

.buy__end-bg{
    padding-top: 90px;
background: url('../images/buy-end-img.png'), lightgray -0.591px -8.609px / 100.279% 109.783% no-repeat;
mix-blend-mode: multiply;
background-position: 50%;
}
.price{
padding: 60px 0 127px;
}
.price__title{
    color: #943206;
    text-align: center;
    font-family: Piazzolla;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 36px */
    text-transform: uppercase;
    margin-bottom: 27px;
    max-width: 340px;

}

.price__free {
    font-family: Inter;
font-size: 61px;
font-weight: 800;
line-height: 73px;
letter-spacing: 0em;
text-align: center;
color: #C70000;
display: flex;
flex-direction: column;
text-transform: uppercase;
}

.price__free span {
    font-family: Inter;
font-size: 26px;
font-weight: 800;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 32px;

}
.price__title-text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 52px;
    max-width: 315px;
    margin-right: auto;
    margin-left: auto;
}

.price__inner-wrapper{
border-radius: 22px 22px 0 0;
background-color: #EFD0B1;
padding: 40px;

}
.price__inner-1{
   
}
.price__item{
background-color: #fff;
border-radius: 16px;
}
.price__item-title{
    color: #5E1D00;
    text-align: center;
    font-family: Piazzolla;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
}
.price__item-price{
    color: #5E1D00;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
    padding-bottom: 30px;
}
.price__inner-2{
    background-color: #E8905A;
    position: relative;
    top: -17px;
}

.price__inner-5 {
    position: relative;
    top: -35px;
}
.price__item-old{
    color: #5E1D00;
text-align: center;
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 34.8px */
text-transform: uppercase;
margin-bottom: 9px;
text-decoration: line-through;
}
.price__item-price_2{
    color: #C70000;
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 43.2px */
text-transform: uppercase;
margin-bottom: 7px;
}
.price__item-end{
    color: #C70000;
text-align: center;
font-family: Inter;
font-size: 19px;
font-style: italic;
font-weight: 400;
line-height: 120%; /* 22.8px */
text-transform: uppercase;
padding-bottom: 24px;
}
.price__inner {
    margin-bottom: 40px;
}
.price__btn {
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #fff;
padding: 16px 0;
width: 100%;
background-color: #8D2A00;
box-shadow: 0px 0px 10px 0px #8D2A00;
border-radius: 16px;

}
.price__inner-3{
    position: relative;
    top: -52px;
    background-color:  #AC3030;
    border-radius: 22px;
   }
   .price__inner-4{
    background-color: #890505;
    position: relative;
    top: -213px;
    padding: 23px;
   }
   .price__end-title{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 22.8px */
text-transform: uppercase;
margin-bottom: 62px;
}

   .video__reviews{
    background-color: #F0EBE6;
    background-image: url('../images/advanced-bg.png');
    background-repeat: no-repeat;
    padding: 60px 0;
   }
   .video__block video {
    max-width: 320px;
    height: 568px;
    width: 100%;
    display: block;
    border-radius: 20px;
   }
   .video-slide {
    max-width: 320px;
   }
   .video__swiper {
    max-width: 320px;
   }
   .swiper_relative {
    position: relative;
    margin-bottom: 55px;
   }
   .video-swiper-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
    padding: 0 15px;
    top: 50%;
   }
   .video-swiper-button-next {
    color: #8D2A00;
   }
   .video-swiper-button-prev {
    color: #8D2A00;
   }
   .video__reviews-title{
    color: #000;
    text-align: center;
    font-family: Piazzolla;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    text-transform: uppercase;
    margin-bottom: 6px;
   }
.video__reviews-text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
    margin-bottom: 20px;
}
.video__rewiews-subtitle{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
max-width: 189px;
margin-right: auto;
margin-left: auto;
    margin-bottom: 33px;
}
.video__reviews-btn_top{
    color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #922F04;
padding: 5px 70px;
display: block;
margin-right: auto;
margin-left: auto;
margin-bottom: 55px;

}
.video__reviews-video{
display: block;
margin: 0 auto;
border-radius: 20px;
}
.video__reviews-btn{
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    border-radius: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #8D2A00;
    padding: 15px 40px;
    box-shadow: 0px 0px 10px 0px #8D2A00;
    margin-right: auto;
    margin-left: auto;

}
.reviews{
padding: 50px 0 80px;
position: relative;
}
.reviews::after {
    content: "";
    background-image: url('../images/reviews-bg.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    width: 430px;
    height: 174px;
    z-index: -1;

}
.reviews__title{
color: #943206;
text-align: center;
font-family: Piazzolla;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 36px */
text-transform: uppercase;
margin-bottom: 80px;


}
.reviews__inner{
    margin: 0 45px;
background-color: #922F04;
border-radius: 30px;
padding: 25px 0 30px;
margin-bottom: 75px;
}
.review-swiper-button-next {
    color: #8D2A00;
}
.review-swiper-button-prev {
    color: #8D2A00;
}
.reviews__swiper {
    max-width: 280px;
    margin-bottom: 80px;
}
.reviews__btn-title{
    
    color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
        background-color: #922F04;
 margin-bottom: 90px;
        display: block;
    border-radius: 51px;
    margin-right: auto;
    margin-left: auto;
}

.reviews__slider-item{
    margin-bottom: 120px;
}
.reviews__image{
display: block;
margin: 0 auto;
}
.reviews__btn{
    color: #8D2A00;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #FFFFFF;

}

.review__relative {
    position: relative;
}

.review-buttons {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    top: 50%;

}
.remember{

background-image: url('../images/remember-bg.png');
background-repeat: no-repeat;
background-size: cover;
padding: 64px 0 25px;
}
.remember__title{
    color: #FFF;
    text-align: center;
    font-family: Piazzolla;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 46.8px */
    text-transform: uppercase;
margin-bottom: 14px;  
}
.remember__text-top{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    margin-bottom: 400px;
}
.remember__text-bottom{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */

    margin-bottom: 20px;
}
.remember__vector{
    display: block;
    margin: 0 auto;
    padding-bottom: 26px;
}
.form{
background-image: url('../images/form-bg.png');
padding: 70px 0;
}
.form__title{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%; /* 36.4px */
    text-transform: uppercase;
    margin-bottom: 7px;
}
.form__subtitle{
    text-align: center;
    font-family: SignPainter;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.023%; /* 42.25px */
    color: #D9B65F;
    margin-bottom: 30px;
    color: #BD9E4F;
    background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.form__text{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 57px;
}
.form__inner{
margin-bottom: 70px;
}
.form__name{
display: block;
margin: 0 auto 30px;
padding: 9px 61px;
text-align: center;
color: #8F2C01;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 2px solid #8F2C02;
background: #FFF3D3;
}

.form__name::placeholder {
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #8F2C01;
}
.form__btn{
    color: #8D2A00;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px 55px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #FFFFFF;
    background-color: #fff;
}
.accordion-section{
background-image: url('../images/accordion-bg.png');
background-repeat: no-repeat;
background-size: cover;
padding: 60px 0;
}
.accordion__title{
    color: #943206;
    text-align: center;
    font-family: Piazzolla;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 36px */
    text-transform: uppercase;
    margin-bottom: 40px;
}

.accordion__item{
    border-radius: 20px;
    border: 2px solid #8D2A00;
    background: #FFF;
    padding: 15px;
    margin-bottom: 20px;
}
.accordion-buttons {
    width: 100%;
}

.accodion__item-top{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
.accordion__item-top_inner{
    display: flex;
}
.accordion__item-title{
    color: #943206;
    font-family: Piazzolla;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
}
.accordion__item-pres{
   color: #943206;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 9.6px */
text-transform: uppercase;
width: 130px;
display: flex;
gap: 10px;
}
.accordion__item-pres svg {
    flex-shrink: 0;
    transition: transform .3s ease-in-out;
}
.accordion {
    margin-bottom: 75px;
}
.accordion__item-btn{
    background-size: cover;
    display: block;
background-image: url('../fonts/%2085.svg');
width: 25px;
background-color: #fff;
border: none;
background-position: center;
}

/* Стили для иконки при наличии класса .show (когда контент развернут) */
.accordion-buttons[aria-expanded="true"] .accordion__svg {
    transform: rotate(180deg); /* Поворачиваем иконку на 180 градусов */
  }
  
  /* Стили для иконки при отсутствии класса .show (когда контент свернут) */
  .accordion-buttons[aria-expanded="false"] .accordion__svg {
    transform: rotate(0deg); /* Возвращаем иконку в исходное положение */
  }


.accordion__text{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.accordion-body {
    padding: unset;
}



.accordion__active{
    display: block;
}
.accordion__item-title_color {
    color: #CD5C17;
    text-align: left;
    margin-top: 40px;
    font-style: italic;
    margin-bottom: 20px;
}
.accordion__btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #8D2A00;
    padding: 15px 40px;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #8D2A00;
    
}

a:hover {
    color: #fff;
}
.last{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    padding: 87px 0;
}
.last__text{
    text-align: center;
    font-family: SignPainter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.023%; /* 48.011px */
    color: #BD9E4F;
background: linear-gradient(90.78deg, #BD9E4F 15.58%, #C5A65A 29.83%, #E9D49D 60.11%, #C2A25B 89.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    background-color: #8F2C01;
    padding: 0 0 45px;

}

.footer__link_border {
    padding: 30px 0 0;
    border-top: 1px solid #fff;
}

.footer__link {
font-size: 17px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
display: block;
margin-bottom: 15px;
color: #FFFFFF;

}

.navbar-toggler-icon-select {
    background-image: unset;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: Inter;
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
color: #fff;
}

.navbar-toggler-icon-select svg {
    flex-shrink: 0;
}

.navbar-collapse-select {
    left: 20px;
    top: 30px;
    border-radius: 0 20px 20px 20px;
    width: 120px;
    background-color: #631D00;
}

.select-item {
    padding: 25px 20px 20px;
    color: #FFF;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.select-item:first-child {
    border-bottom: 1px solid #8D2A00;
}





