@media(max-width: 768px) {
    .header {
        padding: 20px 0 0;

        &__logo svg {
            max-width: 100px;
        }
    }

    .hero {
        padding: 50px 0;

        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }

        &__descr {
            font-size: 18px;
            line-height: 110%;
        }

        &__img {
            top: 0;
        }
    }

    .with-us {
        padding: 40px 0;

        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }

        &__flex {
            gap: 24px;
        }

        &__flexbox {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
        }

        &__swiper {
            text-align: center;
        }
    }

    .footer {
        padding: 30px 0 0;

        &__title {
            font-size: 24px;
        }

        &__descr {
            font-size: 18px;
        }

        &__form {
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
        }

        &__btn {
            padding: 12px 0;
            font-size: 14px;
        }

        &__logo svg {
            max-width: 100px;
        }
    }

}