html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1246px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.background {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 40px 0 20px;

    &__flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__btn {
        padding: 8px 0;
        max-width: 180px;
    }

}

.button {
    color: #5101A6;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    /* 200% */
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 6px;
    background: #FFF;
    width: 100%;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
        color: #FFF;
        background-color: #5101A6;
    }
}

.hero {
    padding: 100px 0 200px;
    position: relative;

    &__title {
        font-family: Montserrat;
        color: #FFF;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        /* 116.667% */
        margin-bottom: 48px;
    }

    &__descr {
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 140% */
        max-width: 547px;
        margin-bottom: 48px;
    }

    &__flexbox {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__btn {
        padding: 12px 0;
        max-width: 156px;
    }

    &__play-btn {
        max-height: 48px;
    }

    &__play-btn:hover svg path {
        fill: #fff;
        stroke: #5101A6;
    }

    &__relative {
        position: relative;
        z-index: 3;
    }

    &__img {
        position: absolute;
        right: 0;
        top: -5px;
        max-width: 50vw;
        z-index: -1;
        max-height: 640px;

    }

}

.with-us {
    padding: 168px 0 90px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    &__title {
        color: #200142;
        text-align: center;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        /* 120% */
        margin-bottom: 75px;
    }

    &__flex {
        display: flex;
        gap: 48px;
        margin-bottom: 32px;
    }

    &__button {
        color: #200142;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.5px;
        padding-bottom: 10px;
        transition: color .3s ease-in-out;
    }

    &__button:hover {
        color: #5101A6;
    }

    &__button_active {
        color: #5101A6;
        border-bottom: 2px solid #5101A6;
    }

    &__swiper {
        max-width: 100%;
    }

    &__img {
        margin-bottom: 24px;
    }

    &__subtitle {
        color: #5101A6;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.14px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__text {
        color: #000;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 153.846% */
    }

    &__flexbox {
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        display: none;
        gap: 16px;
        cursor: pointer;
    }

    &__buttons_active {
        display: flex;

    }

    &__button-next svg {
        transform: rotate(180deg);

    }

    &__button_hover:hover svg rect {
        fill: #5101A6;
    }

    &__button_hover:hover svg path {
        stroke: #FFF;
    }

    &__button-next-2 svg {
        transform: rotate(180deg);

    }


    &__wrapper {
        margin-bottom: 40px;
    }

    &__pagination {
        text-align: center;
    }

    &__pagination-2 {
        text-align: center;
    }

}

.footer {
    background-image: url(../img/quetions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0 0;


    &__anim {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 2s ease, transform 2s ease;
    }

    &__anim.show {
        opacity: 1;
        transform: translateX(0);
    }

    &__title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__descr {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        max-width: 576px;
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: auto;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 112px;
    }

    &__input {
        color: #BB6BD9;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        max-width: 256px;
        padding: 24px 0 24px 24px;
        width: 100%;
        border: unset;
        background-image: url(../img/svg/inputDo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        outline: unset;
        background-color: transparent;
        transition: border .3s ease-in-out;
    }

    &__input:focus {
        border: none;
        background-image: url(../img/svg/input.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__input_tel:focus {
        background-image: url(../img/svg/inputTel.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__btn {
        padding: 24px 0;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
        text-transform: uppercase;
        background-color: #5101A6;
        max-width: 256px;
        width: 100%;
        border-radius: 10px;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;
    }

    &__btn:hover {
        color: #5101A6;
        background-color: #FFF;
    }

    &__copy {
        padding: 24px 0;
        background: rgba(10, 10, 10, 0.4);
    }

    &__logo {
        display: block;
        text-align: center;
    }

    &__input:focus+.placeholder-label {
        top: -11px;
        left: 22px;
        font-size: 12px;
    }

}

.browser-error {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .browser-error.browser-error-show {
    display: flex;
  }
  .browser-error__body {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }


.input-container {
    position: relative;
    max-width: 256px;
    width: 100%;
}


.placeholder-label {
    position: absolute;
    top: 24px;
    left: 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}




.swiper-slide {
    max-width: 256px;
}

.swiper-pagination-bullet {
    background-color: #e0e0e0;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #5101A6;
}


.tab-content {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
}

.tab-content.active {
    opacity: 1;
    display: block;
}

.input-container {
    position: relative;
}